@model string
@{
    ViewData["Title"] = "Thank you";
    ViewData["og:title"] = "Thank you";

    Layout = "../Shared/_Layout.cshtml";
}

<div class="grid-container-full-width">
    <div class="grid-container grid-100">

        <div class="l-body-section-filled l-short-content mobile-grid-100 tablet-grid-100 grid-100">
            <section aria-label="Thank you message" class="grid-100 mobile-grid-100">
                <div class="l-content-container l-article-container">
                    <h1>Thank you for contacting us</h1>
                    <p>We will aim to respond to your enquiry within 10 working days.</p>
                    <stock-button href="@Model">Return to previous page</stock-button>
                </div>
            </section>
        </div>

    </div>
    </div>
