@model string
@{
    ViewData["Title"] = "Thank you";
    ViewData["og:title"] = "Thank you";

    Layout = "../Shared/_Layout.cshtml";
}

<div class="grid-container-full-width">
    <div class="grid-container grid-100">
        <div class="l-body-section-filled mobile-grid-100 tablet-grid-100 grid-100">
            <section aria-label="Thank you message" class="grid-100 mobile-grid-100">
                <div class="l-content-container thank-you">
                    <div class="grid-100">
                        <h1>Thank you for contacting us</h1>
                        <div class="icon-bordered icon-bordered-fixed">
                            <i class="fa fa-check fa-5x" aria-hidden="true"></i>
                        </div>
                        <p>We will aim to respond to your enquiry within 10 working days.</p>
                        <a class="button-default" href="@Model">Return to previous page</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
