@model ThankYouMessageViewModel
@{
    ViewData["Title"] = "Thank you";
    ViewData["og:title"] = "Thank you";
    Layout = "../Shared/_Layout2023.cshtml";
}

<div class="grid-container-full-width">
    <div class="grid-container">
        <div class="grid-100">
            <div class="article--70 article--margin-bottom">
                <h1 class="article__title article__title--no-margin-bottom article__title--margin-top">Thank you for contacting us</h1>

                <section class="article">
                    <div class="article--70">
                        <p class="lead article-lead">We’ll respond to your enquiry as soon as possible.</p>
                    
                        <a href="@Url.Action("Index", "Home")" class="btn btn--chevron-forward btn--width-30">Go to the homepage</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>