@using StockportWebapp.Models
@model string
@{
    ViewData["Title"] = "Thank you";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="grid-container-full-width">
    <div class="grid-container grid-100">

        <div class="l-body-section-filled l-short-content mobile-grid-100 tablet-grid-100 grid-100">
            <section class="grid-100 mobile-grid-100">
                <div class="l-content-container l-article-container">
                    <h1>Thank you for contacting us</h1>
                    <p>We will endeavour to respond to your enquiry within 10 working days.</p>
                    <a class="button button-outline button-partialrounded button-call-to-action" href="@Model">Return To Previous Page</a>
                </div>
            </section>
        </div>

    </div>
    </div>
