<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
    <tr>
        <td valign="top" class="bodyContent" mc:edit="body_content">
            <h1>Thank you for adding an event</h1>
            <p>Before your event is added to the calendar, it will be reviewed and if it is successful then it will be published on the website.</p>
            <h2>Your event</h2>
            <p>
                Event name: {{ title }}<br />
                Event date: {{ eventdate }}<br />
                Start time: {{ starttime }}<br />
                End time: {{ endtime }}<br />
                Frequency: {{ frequency }}<br />
                End date: {{ enddate }}<br />
                Price: {{ fee }}<br />
                Location: {{ location }}<br />
                Organiser name: {{ submittedby }}<br />
                Description: {{ description }}<br />
                Event image: {{ imagepath }}<br />
                Categories: {{ categories }}<br />
                Additional event document: {{ attachmentpath }}<br />
                Organiser email address: {{ submitteremail }}<br />
            </p>
            <h2>Changes to your event</h2>
            <p>You can let us know about a change to this event by emailing us at:</p>
            <p><a href="mailto:website.updates@stockport.gov.uk">website.updates@stockport.gov.uk</a></p>
            <p>Thank you,</p>
            <p>Stockport Council</p>
        </td>
    </tr>
</table>

<plaintext>
    Thank you for adding an event
    
    Before your event is added to the calendar, it will be reviewed and if it is successful then it will be published on the website.

    Your event

    Event name: {{ title }}
    Event date: {{ eventdate }}
    Start time: {{ starttime }}
    End time: {{ endtime }}
    Frequency: {{ frequency }}
    End date: {{ enddate }}
    Price: {{ fee }}
    Location: {{ location }}
    Organiser name: {{ submittedby }}
    Description: {{ description }}
    Event image: {{ imagepath }}
    Categories: {{ categories }}
    Additional event document: {{ attachmentpath }}
    Organiser email address: {{ submitteremail }}
    
    Thank you,

    Stockport Council

</plaintext>