@model StockportWebapp.ViewModels.ArticleViewModel

<article class="clearfix">
    <h2 id="@Model.DisplayedSection.Slug">@Model.DisplayedSectionIndex. @Model.DisplayedSection.Title</h2>
    @Html.Raw(Model.DisplayedSection.Body)
</article>