@model string
@{
    Layout = "_LayoutSemantic";
    ViewData["Title"] = "Payment declined";
}

<div class="ineligible-warning">
    <div class="header-container">
        <div>
            <span class="fa fa-exclamation" aria-hidden="true"></span>
        </div>
        <h1>Your payment was declined</h1>
    </div>
    <section class="body-container">
        <p>Contact your bank for more details. No money has been taken from your account.</p>
        <a href="@Url.Action("Detail", "ServicePayPayment", new { slug = Model })" class="button-primary">Go back to try the payment again</a>
        <a href="@Url.Action("Index", "Home") class="button-secondary">Go to the homepage</a>
    </section>
</div>