@model ProcessedEvents
@{
    ViewData["Title"] = Model.Title;
    ViewData["og:title"] = Model.Title;
    ViewData["Description"] = Model.MetaDescription;
    ViewData["Location"] = Model.Location;
    Layout = "../Shared/_Layout.cshtml";
    var crumb = new List<Crumb> {new Crumb("What's on at Stockroom", "events", "event")};
}

<section class="article-hero" style="background-position: 50%; background-size: cover; height: 700px; width: 100%; background-image: url(@Model.ImageUrl?q=89&fm=webp);  margin-bottom:3em;">
    <div class="grid-container" style="height:700px; position:relative;">
        <div style="display: inline-block; position:absolute; bottom:-25px;">
            <h1 class="h-xl" style="display:inline-block;margin: 0px; background-color:#ff522a; border-radius:5px; padding:1em;">@Model.Title</h1>
        </div>
    </div>
</section>

<section class="grid-container" style="margin-top:2em;">
    <div class="grid-60">
        <p class="h-m">02 September 2024</p>
        <p class="lead">Lorem ipsum odor amet, consectetuer adipiscing elit. Integer dolor dignissim at sed; porttitor quam viverra. Penatibus vitae amet pulvinar iaculis arcu dis per dui himenaeos. Habitant efficitur sem dictum et; taciti dolor nam eget. Semper libero erat id vivamus vehicula sem arcu.</p>

        <hr style="height:2px; width:40%; margin-bottom:1em; border-top:5px solid #ff522a;" />
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Vivamus habitant fringilla ipsum vulputate erat ut phasellus. Dis vel conubia dis risus dapibus tortor justo. Orci pharetra fames accumsan risus quisque dignissim. Mattis hendrerit torquent interdum sodales erat. Eu vehicula integer aliquam elit scelerisque vivamus. Ut nibh potenti tempus magna velit maecenas enim maecenas. Malesuada scelerisque hendrerit maecenas ornare sodales turpis proin.</p>

        <p>Integer dignissim himenaeos ultrices habitasse ligula consequat dapibus senectus. Ullamcorper venenatis laoreet eros porta magna imperdiet volutpat semper. Vulputate nulla maecenas finibus fusce phasellus; turpis condimentum integer. Sit magnis rhoncus potenti arcu arcu pretium. Vehicula augue dolor lorem dignissim sodales dictum sociosqu primis quisque. Inceptos tortor iaculis ex vulputate; metus amet tempor. Nibh mattis molestie ultricies curae; interdum at platea?</p>

        <p>Consequat diam primis mi accumsan amet pulvinar. Viverra semper varius aliquam blandit felis nibh. Laoreet efficitur vel purus aliquet ut cubilia consequat. Natoque mauris interdum dui tellus molestie laoreet aliquam aliquet elit. Nunc scelerisque euismod risus tortor dis posuere. Consequat duis potenti taciti ultricies aliquet habitant. Aliquam mi in cras luctus, sapien ultricies dolor.</p>
    </div>

    <div class="grid-40">
        <a style="display:block; padding: 1em; background-color:#FCCB48; border-radius:5px; color:black; text-decoration: none; font-weight:bold; text-align: center" href="#">BOOK NOW!</a>

        <hr style="height:2px; width:30%; margin-top: 1em; margin-bottom:1em; border-top:5px solid #ff522a;" />
        <h3>Information</h3>
        <p><strong>Duration :</strong> 1 Hour</p>
        <p><strong>Location :</strong> Bramall Park</p>
        <p><strong>Cost : </strong> FREE</p>

        <hr style="height:2px; width:30%; margin-top: 1em; margin-bottom:1em; border-top:5px solid #ff522a;" />
        <h3>Contact details</h3>
        <p><strong>Email :</strong> bramall@parkrun.co.uk</p>
        <p><strong>X :</strong> #bramall-parkrun</p>
    </div>
</section>
<section class="grid-container" style="margin-top:2em; margin-bottom: 2em;">
    <div class="grid-100">
        
        <h2>>More events in cutlure</h2>
    </div>
    <div class="grid-33">
        <img src="~/assets/stockroom/live-local-meet-here.jpg" style="width:100%; height:auto; border-top-left-radius:20px; border-top-right-radius:20px; " />
        <div style="padding:1em; background-color:#ff522a;  border-bottom-left-radius:5px; border-bottom-right-radius:5px;">
            <h3>Event</h3>
            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Integer dolor dignissim at sed; porttitor quam viverra.</p>
            <p><stong>01/03/2025</stong></p>
        </div>
    </div>

    <div class="grid-33">
        <img src="~/assets/stockroom/explosion.jpg" style="width:100%; height:auto; border-top-left-radius:20px; border-top-right-radius:20px; " />
        <div style="padding:1em; background-color:#ff522a;  border-bottom-left-radius:5px; border-bottom-right-radius:5px;">
            <h3>Event</h3>
            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Integer dolor dignissim at sed; porttitor quam viverra.</p>
            <p><stong>01/03/2025</stong></p>
        </div>
    </div>

    <div class="grid-33">
        <img src="~/assets/stockroom/live-local-meet-here.jpg" style="width:100%; height:auto; border-top-left-radius:20px; border-top-right-radius:20px; " />
        <div style="padding:1em; background-color:#ff522a;  border-bottom-left-radius:5px; border-bottom-right-radius:5px;">
            <h3>Event</h3>
            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Integer dolor dignissim at sed; porttitor quam viverra.</p>
            <p><stong>01/03/2025</stong></p>
        </div>
    </div>
</section>
