@using System.Web
@model EventCalendar
@{
    var category = Model.Homepage.Categories.Where(c => c.Slug == Model.Category).FirstOrDefault();
    ViewData["og:title"] = string.IsNullOrWhiteSpace(Model.Category) 
                            ? "What's on in Stockport" 
                            : category is null 
                                ? HttpUtility.HtmlEncode(Model.Category) 
                                : HttpUtility.HtmlEncode(category.Name);

    ViewData["Title"] = ViewData["og:title"];
    ViewData["Description"] = Model.Homepage.MetaDescription;
    Layout = "../Shared/_Layout.cshtml";
}

@if (Model.HeroCarouselItems is not null && Model.HeroCarouselItems.Any())
{
    <partial name="HeroCarousel" model="@Model.HeroCarouselItems" />
}

<nav aria-label="Event category navigation" class="grid-container">
    <div class="grid-100">
        <ul class="event-homepage__categories">
            @foreach (var eventCategory in Model.Homepage.Categories)
            {
                <li class="event-homepage__categories-item">
                    <a href="events?category=@eventCategory.Slug">@eventCategory.Name</a>
                </li>
            }
        </ul> 
    </div>
</nav>


<section class="grid-container" style="margin-top:2em;">
    <div class="grid-33">
        <img src="~/assets/stockroom/live-local-meet-here.jpg" style="width:100%; height:auto; border-top-left-radius:20px; border-top-right-radius:20px; " />
        <div style="padding:1em; background-color:#ff522a;  border-bottom-left-radius:5px; border-bottom-right-radius:5px;">
            <h3>Event</h3>
            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Integer dolor dignissim at sed; porttitor quam viverra.</p>
            <p><stong>01/03/2025</stong></p>
        </div>
    </div>

    <div class="grid-33">
        <img src="~/assets/stockroom/explosion.jpg" style="width:100%; height:auto; border-top-left-radius:20px; border-top-right-radius:20px; " />
        <div style="padding:1em; background-color:#ff522a;  border-bottom-left-radius:5px; border-bottom-right-radius:5px;">
            <h3>Event</h3>
            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Integer dolor dignissim at sed; porttitor quam viverra.</p>
            <p><stong>01/03/2025</stong></p>
        </div>
    </div>

    <div class="grid-33">
        <img src="~/assets/stockroom/live-local-meet-here.jpg" style="width:100%; height:auto; border-top-left-radius:20px; border-top-right-radius:20px; " />
        <div style="padding:1em; background-color:#ff522a;  border-bottom-left-radius:5px; border-bottom-right-radius:5px;">
            <h3>Event</h3>
            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Integer dolor dignissim at sed; porttitor quam viverra.</p>
            <p><stong>01/03/2025</stong></p>
        </div>
    </div>
</section>

<section class="grid-container" style="margin-top:2em; margin-bottom:2em;">
    <div class="grid-33">
        <img src="~/assets/stockroom/explosion.jpg" style="width:100%; height:auto; border-top-left-radius:20px; border-top-right-radius:20px; " />
        <div style="padding:1em; background-color:#ff522a;  border-bottom-left-radius:5px; border-bottom-right-radius:5px;">
            <h3>Event</h3>
            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Integer dolor dignissim at sed; porttitor quam viverra.</p>
            <p><stong>01/03/2025</stong></p>
        </div>
    </div>

    <div class="grid-33">
        <img src="~/assets/stockroom/live-local-meet-here.jpg" style="width:100%; height:auto; border-top-left-radius:20px; border-top-right-radius:20px; " />
        <div style="padding:1em; background-color:#ff522a;  border-bottom-left-radius:5px; border-bottom-right-radius:5px;">
            <h3>Event</h3>
            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Integer dolor dignissim at sed; porttitor quam viverra.</p>
            <p><stong>01/03/2025</stong></p>
        </div>
    </div>

    <div class="grid-33">
        <img src="~/assets/stockroom/explosion.jpg" style="width:100%; height:auto; border-top-left-radius:20px; border-top-right-radius:20px; " />
        <div style="padding:1em; background-color:#ff522a;  border-bottom-left-radius:5px; border-bottom-right-radius:5px;">
            <h3>Event</h3>
            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Integer dolor dignissim at sed; porttitor quam viverra.</p>
            <p><stong>01/03/2025</stong></p>
        </div>
    </div>
</section>