@using StockportWebapp.Models
@model StockportWebapp.Models.Footer
@inject IStaticAssets StaticAssets

<footer>
    @Html.Partial("AToZStockportGov", "")
    @*This script enables the feedback button.*@
    <script>(function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = 'typeform', b = 'https://s3-eu-west-1.amazonaws.com/share.typeform.com/'; if (!gi.call(d, id)) { js = ce.call(d, 'script'); js.id = id; js.src = b + 'share.js'; q = gt.call(d, 'script')[0]; q.parentNode.insertBefore(js, q) } })()</script>
    <div class="l-container-footer">
        <div class="grid-container grid-parent">
            <div class="grid-100 grid-parent">
                <div class="grid-30 tablet-grid-30 tablet-push-70 push-70 footer-social-container">
                </div>
                <div class="grid-25 tablet-grid-25 tablet-pull-30 pull-30 mobile-grid-100">
                    <div class="footer-stockport-logo">
                        <a href="http://www.stockport.gov.uk"><img src="@StaticAssets.UrlFor("logo-stockport-footer%402x.png")" alt="Stockport Council Logo" /></a>
                    </div>
                </div>
                <div class="footer-links tablet-grid-45 pull-30 tablet-pull-30 grid-45 grid-100-mobile">
                    <div class="grid-100 tablet-grid-100 mobile-grid-100">
                        <ul class="footer-nav">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-100 footer-bottom">
        <p>
        </p>
    </div>
</footer>