@using StockportWebapp.Config
@using StockportWebapp.Models
@model Footer
@inject IStaticAssets StaticAssets
@inject BusinessId BusinessId

<footer>
    <partial name="AToZStockportGov" model='""' />

    <div class="l-container-footer">
        <div class="grid-container grid-parent">
            <div class="grid-100 grid-parent">
                <div class="grid-25 tablet-grid-25 mobile-grid-100">
                    <div class="footer-stockport-logo">
                        <a href="https://www.stockport.gov.uk"><img src="@StaticAssets.UrlFor("logo-stockport-footer%402x.png")" alt="Stockport Council Logo" /></a>
                    </div>
                </div>
                <div class="grid-75">

                </div>
            </div>
        </div>
    </div>
    @if (BusinessId.ToString() == "stockportgov")
    {
        <div class="grid-parent grid-container footer-logo-links">
            <a href="https://www.gov.uk/" target="_blank" class="grid-20">
                <img src="https://s3-eu-west-1.amazonaws.com/live-iag-static-assets/gov-uk-logo.png" alt="GOV UK" />
            </a>
            <a href="https://www.greatermanchester-ca.gov.uk/" target="_blank" class="grid-20">
                <img src="https://s3-eu-west-1.amazonaws.com/live-iag-static-assets/GMCA-logo.png" alt="Greater Manchester Combined Authority" />
            </a>
            <a href="https://idea.org.uk/" target="_blank" class="grid-20">
                <img src="https://s3-eu-west-1.amazonaws.com/live-iag-static-assets/Pioneer-logo.png" alt="Pioneer" />
            </a>
        </div>
    }
    <div class="grid-100 footer-bottom">
        <p id="ami-trigger" >
            © @DateTime.Now.Year Stockport Metropolitan Borough Council
        </p>
    </div>
</footer>