@using StockportWebapp.Models;
@using StockportWebapp.ViewModels
@model StockportWebapp.ViewModels.TopicViewModel
@{
    var topic = Model.Topic;
    ViewData["Title"] = topic.Name;
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Description"] = topic.Teaser;
    ViewData["og:title"] = topic.Name;
}


@if(!string.IsNullOrEmpty(Model.Topic.CampaignBanner.Image))
{
    @section BackgroundImage
    {
        <partial name="ScaleImageByDevice" model='new Image("l-background-hs-image", Model.Topic.CampaignBanner.Image)' />
    }
}
else
{
    @section BackgroundImage
    {
    <partial name="ScaleImageByDevice" model='new Image("l-background-hs-image", Model.Topic.BackgroundImage)' />
    }
}

@section Breadcrumbs
{
    <partial name="Breadcrumb" model='Model.Topic.Breadcrumbs' />
}

@if (!string.IsNullOrEmpty(topic.BackgroundImage) && string.IsNullOrEmpty(topic.CampaignBanner.Image))
{
    <div class="grid-100 l-background-hs-image">
    </div>
}

<section aria-label="@Model.Topic.Name content" class="grid-100 mobile-grid-100 topic-container">
    <div class="grid-100 topic-container-holder">

        <div tabindex="-1" id="content" class="topic-container-holder-alert">
            @if (topic.Alerts is not null)
            {
                foreach (var alert in topic.Alerts)
                {
                    <partial name="DisplayTemplates/Alert" model='alert' />
                }
            }
        </div>
         @if (!string.IsNullOrEmpty(Model.Topic.CampaignBanner.Title))
        {
        <div role="banner" class="l-background-hs-image">
            <partial name="CampaignBanner" model='Model.Topic.CampaignBanner'/>
        </div>
        }


        <div class="topic-container-holder-item">
            <h1>@topic.Name</h1>
            <hr>
            @Html.Raw(topic.Summary)
        </div>

        <ul class="article-list article-list-container grid-100 matchbox-parent">
            @if (topic.SubItems.Any())
            {
                foreach (var item in topic.SubItems)
                {
                    <partial name="SubItem-List" model="item" />
                }
            }
        </ul>

        <ul class="article-list article-list-container grid-100 topic-secondary">
            @if (topic.SecondaryItems.Any())
            {
                int itemLength = topic.SecondaryItems.Count();
                foreach (var item in topic.SecondaryItems.Select((value, index) => new { index, value }))
                {
                    ViewData["IsLast"] = item.index.Equals(itemLength - 1);
                    <partial name="SecondaryItem" model="item.value" />
                }
            }
        </ul>

    </div>

    @if (topic.DisplayContactUs)
    {
        <div class="grid-100 topic-contactus">
            <div class="topic-contactus-container">

                <partial name="../Shared/ContactUs-Nav" />
            </div>
        </div>
    }
</section>

