<footer>
    <div class="center-wrapper">
        <div id="footer-logo">
            <a href="http://www.stockport.gov.uk">Stockport Metropolitan Borough Council Homepage</a>
        </div>
        <ul class="footer-links">
            <li>
                <a target="_blank" href="https://stockportcouncil.typeform.com/to/dXTax7">Feedback</a>
            </li>
        </ul>
    </div>
    <div class="footer-copyright">
        <div class="center-wrapper">
            <p><i class="fa fa-copyright" aria-hidden="true"></i>2018 Stockport Metropolitan Borough Council</p>
            <a href="http://digitalstockport.info/">Built by the Digital Team in Stockport</a>
        </div>
    </div>
</footer>