<footer>
    <div class="center-wrapper">
        <div id="footer-logo">
            <a href="http://www.stockport.gov.uk">Stockport Metropolitan Borough Council Homepage</a>
        </div>
        <ul class="footer-links">
            <li>
                <a target="_blank" href="https://stockportcouncil.typeform.com/to/dXTax7">Feedback</a>
            </li>
        </ul>
    </div>
    <div class="center-wrapper">
        <div class="footer-logo-links">
            <a href="https://www.gov.uk/" target="_blank">
                <img src="https://s3-eu-west-1.amazonaws.com/live-iag-static-assets/gov-uk-logo.png" alt="GOV UK" />
            </a>
            <a href="https://www.greatermanchester-ca.gov.uk/" target="_blank">
                <img src="https://s3-eu-west-1.amazonaws.com/live-iag-static-assets/GMCA-logo.png" alt="Greater Manchester Combined Authority" />
            </a>
            <a href="https://idea.org.uk/" target="_blank">
                <img src="https://s3-eu-west-1.amazonaws.com/live-iag-static-assets/Pioneer-logo.png" alt="Pioneer" />
            </a>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="center-wrapper">
            <p><i class="fa fa-copyright" aria-hidden="true"></i>2018 Stockport Metropolitan Borough Council</p>
            <a href="http://digitalstockport.info/">Built by the Digital Team in Stockport</a>
        </div>
    </div>
</footer>