@model StockportWebapp.QuestionBuilder.Entities.Question

<div class="form-section question-section">
    <div class="question-date-picker">
        <label for="Response">@Model.Label</label>
        <input id="DatePicker" type="date" class="grid-33 tablet-grid-50 mobile-grid-100 form-control datepicker" novalidate="" value="">
        <div id="Spinner"></div>
        <input id="Response" name="Questions[0].Response" type="hidden" value="">
    </div>
    <div class="appointment-select">
        <ol id="appointments"></ol>
    </div>
    <div class="no-appointments question-alert">
        <span class="question-alert-icon"><span class="fa fa-exclamation-circle fa-2x fa-center fa-orange" aria-hidden="true"></span></span><span> There are no available appointments on this date. Select another date.</span>
    </div>
</div>

<div class="grid-100 notification notification-error unexpected-error appointment-picker-error">
    <div class="icon-bordered icon-bordered-fixed">
        <span class="fa fa-exclamation fa-5x" aria-hidden="true"></span>
    </div>

    <h2>We're currently unable to show you any appointment times because of an unexpected issue. Try again later.</h2>
</div>

@if (Model.ValidationResult != null && !Model.ValidationResult.IsValid)
{
    <span class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent field-validation-error">
        <span>@Model.ValidationResult.Message</span>
    </span>
}

<script type="text/javascript">
    require(['jquery','questionComponent/appointmentPickerController', 'questionComponent/appointmentPickerView'],
        function ($, appointmentPickerController, appointmentPickerView) {
            $(function () {
                appointmentPickerView().init();
                appointmentPickerController(appointmentPickerView(), '@Model.Options[0].Value').init();
            });            
        });
</script>