@model StockportWebapp.QuestionBuilder.Entities.Question

<div class="form-section question-section">
    <label for="Response">@Model.Label</label>
    @if (Model.SecondaryInfo != null)
    {
        Html.Raw(Model.SecondaryInfo);
    }
    @Html.TextArea("Response", "", new { data_questionid = Model.QuestionId })

    @Html.Partial("_ValidationError.cshtml", Model)
</div>