/* Brand colors*/
$colorBrand: $colorPrimary;
$brandSecondary: $carrotOrange;
$brandBorder: $lightTeal;

/* Text colors */
$bodyText: $greyDarkest;
$headingColor: $greyDarkest;

/* Layout colors */
$backgroundSite: $offWhite;
$backgroundContent: $white;
$borderDefault: $blackOpaque1;
$borderLight: $greyLight;
$footerBottomBackground: $colorPrimaryDarkest;
$darkOverlayBackground: $blackOpaque2;
$completedSectionBackground: $grey875;

/* Menu colors */
$menuLightText: $white;
$menuLightDetail: $whiteOpaque2;
$menuLightActive: $blackOpaque1;
$menuLightActiveDetail: $blackOpaque2;
$menuLightHover: $whiteOpaque2;

/* Link colors */
$linkDefault: $colorPrimary;
$linkInactive: $greyDarkest;

/* Profile colors */
$profileBackgroundLight: $offWhite;

/* Button colors */
$buttonDarkBackground: $greyDark;
$buttonSidebarBackground: $carrotOrange;
$button-primary: $tealDarker;

/* Banner Colors */
$bannerBackground: $colorPrimarySuperDark;

/* Alert Colors */
$alertText: $white;

/*Warning*/
$alertWarningHeading: $white;

/*New site*/
$stockport-green: #006666;
$stockport-grey: #5a5a59;
$stockport-orange: #d67b03;
$stockport-teal: #2aa294;
$stockport-pink: #b32384;
$stockport-purple: #794795;
