/* Brand colors*/
$colorBrand: #055c58;
$brandSecondary: #ef8a17;
$brandBorder: #00b79b;

/* Text colors */
$bodyText: #333333;
$headingColor: #333333;

/* Layout colors */
$backgroundSite: #ebebeb;
$backgroundContent: #ffffff;
$borderDefault: rgba(0,0,0,0.1);
$borderLight: $greyLight;
$footerBottomBackground: #092726;
$darkOverlayBackground: rgba(0,0,0,0.2);
$completedSectionBackground: #dfdfdf;

/* Menu colors */
$menuLightText: #ffffff;
$menuLightDetail: rgba(255,255,255,0.2);
$menuLightActive: rgba(0,0,0,0.1);
$menuLightActiveDetail: rgba(0,0,0,0.2);
$menuLightHover: rgba(255,255,255,0.2);

/* Link colors */
$linkDefault: #055c58;
$linkInactive: #333333;

/* Profile colors */
$profileBackgroundLight: #ebebeb;

/* Button colors */
$buttonDarkBackground: $greyDark;
$buttonSidebarBackground: #ef8a17;
$button-primary: $tealDarker;

/* Banner Colors */
$bannerBackground: #124a47;

/* Alert Colors */
$alertText: #ffffff;

/*Warning*/
$alertWarningHeading: #ffffff;

/*New site*/
$stockport-green: #006666;
$stockport-green-95: lighten($stockport-green, 5%);
$stockport-grey: #5a5a59;
$stockport-dark-grey: #454240;
$stockport-mid-grey: lighten($stockport-grey, 30%);
$stockport-light-grey: #f2f2f2;
$stockport-grey-accent: rgba($stockport-grey, 30%);
$stockport-orange: #d67b03;

$stockport-teal: #2aa294;
$stockport-teal-lighter: rgba($stockport-teal, 70%);
$stockport-teal-lightest: rgb(237,247,246);
$stockport-teal-darker: #008080;

// This is the accessible version of the teal that can be used with White.
$stockport-pink: #b32384;
$stockport-pink-darker: #991e70;
$stockport-purple: #794795;
$stockport-blue: #3c65b0;
$stockport-black: #333333;
$stockport-alert-red: #B33A2D;
$stockport-grey-lighter: #ccc;

$stockport-red-validation: #c83725;

$one-stockport-purple: #410099;
$one-stockport-pink: rgb(250,133,143);

$govuk-black: #0b0c0c;