.l-short-content {
    @media #{$desktop, $tablet} {
        min-height: 50vh;
    }
}

.l-fixed-footer {
    @media #{$desktop, $tablet} {
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
}

.l-page-content {
    margin-bottom: 30px;
}

.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}


.skip-to-main-content {
    display: block;

    a.skip-main {
        left: -999px;
        position: absolute;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
        z-index: -999;
    }

    a.skip-main:focus, a.skip-main:active {
        color: #fff;
        background-color: #FFB733;
        left: auto;
        top: auto;
        width: 140px;
        height: auto;
        overflow: auto;
        display: inline-block;
        margin: 0.75em 0 0 30px;
        padding: 5px;
        text-align: center;
        font-size: 1.2em;
        z-index: 999;
        color: #0b0c0c;
        line-height: 1.5;
        font-weight: 400;
        font-size: .875em;
    }
}

.grid-container-full-width {
    max-width: none;

    .l-container {
        margin: 0;
    }

    .l-content-container {
        border: none;
        padding-bottom: 50px;

        h1 {
            padding: 20px 0;
            font-size: 50px;
            margin-bottom: 0;
            color: $colorPrimary;

            @media #{$mobile} {
                font-size: 30px;
            }
        }

        h1.centered {
            text-align: center;
        }
    }
}

.text-align-right {
    text-align: right;
}

h1.centered {
    text-align: center;
    color: $colorPrimary;
    font-size: 50px;
}

a:focus, button:focus, input:focus, textarea:focus, select:focus , label:focus {
    outline: #ef8a16 solid 3px !important;
}

// trumbowyg-editor is the wysiwyg editor
.focusable, .trumbowyg-editor {
    &:focus {
        outline: #ef8a16 solid 3px !important;
    }
}


.notification {
    text-align: center;

    .icon-bordered {
        width: 80px;

        &.red {
            color: $red;
        }

        &.green {
            color: $green;
        }
    }
}

.digital-link {
    text-align: right;

    @media #{$mobile} {
        text-align: center;
    }

    p {

        a {
            font-weight: unset;
            text-decoration-line: underline;
        }
    }
}

.copyright {
    text-align: left;
}
