.l-short-content {
    @media #{$desktop, $tablet} {
        min-height: 50vh;
    }
}

.l-fixed-footer {
    @media #{$desktop, $tablet} {
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
}

.l-page-content {
    margin-bottom:30px;
}

a.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}

a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color: #000;
    left: auto;
    top: auto;
    width: 10%;
    height: auto;
    overflow: auto;
    margin: 10px 35%;
    padding: 5px;
    border-radius: 15px;
    border: 4px solid yellow;
    text-align: center;
    font-size: 1.2em;
    z-index: 999;

    @media #{$tablet} {
        width: 25%;
    }

    @media #{$mobile} {
        width: 60%;
    }
}

.grid-container-full-width {
    max-width:none;

    .l-container {
        margin:0;   
    }

    .l-content-container {
        border:none;
        padding-bottom: 50px;

        h1 {
            padding:20px 0;
            font-size: 50px;
            margin-bottom: 0;
            color: $colorPrimary;

            @media #{$mobile} {
                font-size: 30px;
            }
        }
       
        h1.centered {
            text-align:center;
        }
        
    }
}
