$fontStack: 'Lexend', 'Noto Sans', sans-serif;

/*------ Base Styles ------*/
body {
    font: 1.1875em / 1.5 $fontStack;
    background-color: white;
}

html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

.btn,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontStack;
}

a {
    color: $colorPrimary;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: .1em;
  
    &:hover {
      text-decoration-thickness: 3px;
      text-decoration-skip-ink: none;
    }
}

/*------ View more services button spacing ------*/
@media #{$mobile} {
    .featured-content-button-wrapper {
        margin-left: 5px;
        margin-right: 5px;
    }
}

/*------ Placeholders ------*/
.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;

    &__full-width-block {
        display: block;
        position: relative;

        h1, h2, p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
        }
    }

    &__padded-top {
        padding-top: 30px;
    }

    &__padded-bottom {
        padding-bottom: 30px;
    }

    &__left-align {
        display: block;
        padding-left: 20px;
    }

    &-bg-green {
        background-color: $stockport-green;

        h1, h2, p {
            color: white !important; 
        }   
    }

    &-bg-teal {
        background-color: $stockport-teal;

        h1, h2, p {
            color: white !important;
            text-align: center;
        }   
    }

    &-bg-orange {
        background-color: $stockport-orange;

        h1, h2, p {
            color: white !important; 
        }   
    }

    &-bg-grey {
        background-color: $stockport-light-grey;
        text-align: center;
    }

    &-topic {
        &-title {
            padding: 5px 0;
            font-size: 2.5em;
            margin: 0;
            text-align: center;
        }
    
        &-header-description{
            font-size: 1.2em;
            font-weight: 300;
        }
    }

    &-xs {
        height: 100px;
    }

    &-small {
        height: 200px;
    }

    &-medium {
        height: 300px;
    }

    &-large {
        height: 500px;
    }

    &-close-button {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 20px;

        button {
            background: none;
            border: none;
            font-size: 1em;
        }
    }
}

.icon-bordered {
    @media #{$desktop, $tablet} {
        border: 0px;
        padding: 5px;
    }
}

.footer-social-links .icon-container {
    margin: 0 5px 0 5px;

    @media #{$mobile} {
        margin: 0px;
    }
}

.grid-container {
    max-width: 1260px
}

.hidden {
    display: none;
}

.grid-container-full-width .grid-container {
    @media #{$tablet} {
        padding: 0 10px 0 10px;
    }

    @media #{$mobile} {
      padding: 0;
    }
}

.logo-main {
    padding: 0;
}

.banner-header {
    display: block;
    padding: 10px 0 10px 0;
    max-width: 1200px;
    margin: 0px auto;
    line-height: 1.5em;
  
    @media #{$mobile} {
      .banner-body, .banner-title {
        display: block;
      }
    }
  
    p {
      text-align: left;
      color: $white;
      font-family: $fontStack;
      font-size: 0.938em;
      font-weight: 400;
      margin: 0;
    }
  
    a {
      color: $white;
      display: inline-block;
    }
  }
  
  .banner-title {
    font-family: $fontStackHeadings;
    font-size: 1.125em;
    margin-right: 10px;
    font-weight: 700;
  }
  
  .banner-header-container {
    background-color: $bannerBackground;
    width: 100%;
  }
  
  .banner-header-standard {
    background-color: $bannerBackground;
  }
  
  .banner-header-warning {
    background-color: $carrotOrange;
  }
  
  .banner-header-warning-unsupported {
    background-color: $carrotOrange;
  }
  
  .banner-header-warning, .banner-header-warning-unsupported {
    .banner-header {
      p, a {
        color: $colorPrimaryDarkest;
      }
  
      a:hover, a:active {
        color: $colorPrimary;
      }
    }
  }
  
  .banner-links {
    display: inline-block;
  }

html[dir="rtl"] {
    #header {
        overflow-y: hidden;
    }
}