$fontStack: "Noto Sans", sans-serif;

/*------ Base Styles ------*/
body {
    font: 1.2em / 1.5 $fontStack;
    background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontStack;
}

/*------ Alerts ------*/
.close-alert {
    line-height: 2;
}

@media #{$mobile} {
    .global-alert-text-container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .global-alert-close-container {
        padding-right: 15px !important;
    }
}

/*------ View more services button spacing ------*/
@media #{$mobile} {
    .featured-content-button-wrapper {
        margin-left: 5px;
        margin-right: 5px;
    }
}

/*------ Placeholders ------*/
.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    h2 {
        color: white;
    }
}

.large-gray-placeholder {
    background-color: #aaa;
    height: 500px;
    margin-bottom: 2em;
}

.call-to-action-banner-placeholder {
    background-color: $stockport-teal-darker;
    height: 200px;
}
