$fontStack: "Noto Sans", sans-serif;

/*------ Base Styles ------*/
body {
    font: 1.1875em / 1.5 $fontStack;
    background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontStack;
}

/*------ Alerts ------*/
.close-alert {
    line-height: 2;
}

@media #{$mobile} {
    .global-alert-text-container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .global-alert-close-container {
        padding-right: 15px !important;
    }
}

/*------ View more services button spacing ------*/
@media #{$mobile} {
    .featured-content-button-wrapper {
        margin-left: 5px;
        margin-right: 5px;
    }
}

/*------ Placeholders ------*/
.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;

    &__full-width-block {
        display: block;
        position: relative;

        h1, h2, p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
        }
    }

    &__padded-top {
        padding-top: 30px;
    }

    &__padded-bottom {
        padding-bottom: 30px;
    }

    &__left-align {
        display: block;
        padding-left: 20px;
    }

    &-bg-green {
        background-color: $stockport-green;

        h1, h2, p {
            color: white !important; 
        }   
    }

    &-bg-orange {
        background-color: $stockport-orange;

        h1, h2, p {
            color: white !important; 
        }   
    }

    &-bg-grey {
        background-color: $stockport-light-grey;
    }

    &-topic {
        &-title {
            padding: 5px 0;
            font-size: 2.5em;
            margin: 0;
        }
    
        &-header-description{
            font-size: 1.2em;
            font-weight: 300;
        }
    }

    &-xs {
        height: 100px;
    }

    &-small {
        height: 200px;
    }

    &-medium {
        height: 400px;
    }

    &-large {
        height: 600px;
    }

    &-close-button {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 20px;

        button {
            background: none;
            border: none;
            font-size: 1em;
        }
    }
}

// Temporary fix for header styling
.menu > * { 
    font-size: 18px !important;
}

.icon-bordered {
    @media #{$desktop, $tablet} {
        border: 0px;
        padding: 5px;
    }
}

.footer-social-links .icon-container {
    margin: 0 5px 0 5px;

    @media #{$mobile} {
        margin: 0px;
    }
}

.l-header-container {
    width: 100%;
    border-bottom: 0px;

    #header {
        max-width: 1260px;
    }
}

.grid-container {
    max-width: 1260px
}