$fontStack: 'Noto Sans', sans-serif;

/*------ Base Styles ------*/
body {
    font: 1.2em / 1.5 $fontStack;
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $fontStack;
}

.h-xl {
    font-size: 2.5em;
}

.h-l {
    font-size: 2em;
}

.h-m {
    font-size: 1.8em;   
}

.h-sm {
    font-size: 1.5em;
}

.h-xs {
    font-size: 1.2em;   
}

/*------ Alerts ------*/
.close-alert {
    line-height: 2;
}

.search-bar {
    margin: 0;
    box-shadow: none;

    input.search-input {
        border: 1px solid #aaa;
        border-radius: 0;

        @media #{$mobile}, #{$tablet} {
            font-size: 15px;
        }
    }

    .search-button {
        height: -webkit-fill-available;
        margin-top: -25px;
        background-color: $stockport-teal;
        color: white;
        padding: 0;
        text-align: center;
    
        &:hover{
            background-color: $stockport-green;
            opacity: 1;
        }
    }
}

/*------ Search + Welcome message + Skyline ------*/
.top-tasks-wrapper {
    height: 550px;
    background-image: url("/assets/images/content/SKSkyline.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 85% auto;
    margin-bottom: 1em;

    @media #{$mobile} {
        background: none;
        height: auto;
    }

    .--text-center {
        text-align: center;
    }
}


/*------ Placeholders ------*/
.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    h2 {
        color: white;
    }
}
.condolence-banner-placeholder {
    background-color: black;
    height: 250px;
}

.top-tasks-placeholder {
    background-color: $stockport-pink;
    height: 150px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.large-gray-placeholder {
    background-color: #aaa;
    height: 500px;
}

.call-to-action-banner-placeholder {
    background-color: $stockport-teal;
    height: 200px; 
}