.vs
*/**/*.xproj.user
*.userprefs
*.iml
*/**/project.lock.json
.idea
artifacts
.vscode
src/StockportWebapp/node_modules
src/StockportWebapp/sha.txt
src/StockportWebapp/version.txt
StockportWebapp.sln.DotSettings.user
*/**/bin/Debug
*/**/obj/Debug
test/UI/node_modules/
test/UI/
test/UI/global.js
test/UI/reports/**
test/UI/screenshots/**
*.log
test/StockportWebappTests/UI/node_modules
test/StockportWebappTests/UI/reports/**
test/StockportWebappTests/UI/screenshots/**
test/StockportWebappTests/UI/global.js
node_modules
performanceTest/ab-reports/*
src/StockportWebapp/app-config/injected/*.secrets.json
src/StockportWebapp/app-config/appsettings.dev-local.json
iag-webapp.zip
src/StockportWebapp/bin/
src/StockportWebapp/obj/
src/StockportWebapp/publish/
