.vs
*/**/*.xproj.user
*/**/*.csproj.user
*.userprefs
*.iml
*/**/project.lock.json
.idea
artifacts
.vscode
src/StockportWebapp/node_modules
src/StockportWebapp/sha.txt
src/StockportWebapp/version.txt
StockportWebapp.sln.DotSettings.user
*/**/bin/Debug
*/**/obj/Debug
*/**/bin/Release
*/**/obj/Release
test/UI/node_modules/
test/UI/
test/UI/reports/**
test/UI/screenshots/**
*.log
test/StockportWebappTests/UI/node_modules
test/StockportWebappTests/UI/reports/**
test/StockportWebappTests/UI/screenshots/**
node_modules
performanceTest/ab-reports/*
src/StockportWebapp/app-config/injected/*.secrets.json
src/StockportWebapp/app-config/injected/*.secrets.json.encrypted
src/StockportWebapp/app-config/appsettings.dev-local.json
src/StockportWebapp/publish/
src/StockportWebapp/obj/
src/StockportWebapp/bin/
test/StockportWebappTests/obj/
test/StockportWebappTests/bin/
global.js
