/* ------ Breadcrumbs ------- */
.breadcrumb-container {
    background-color: #09656C;
    width: 100%;
    min-height: 40px;

    .breadcrumb {
        max-width: 1200px;
        margin-bottom: 0;
        color: $white;
        padding-bottom: 0px;
        padding-top: 3px;

        @media #{$mobile} {
            padding: 0px;
        }

        @media #{$desktop} {
            padding-left: 10px;
        }

        @media #{$tablet} {
            padding-left: 10px;
        }

        li a {
            color: $white;
            text-transform: none;
            font-weight: normal;

            &:hover {
                color: $colorPrimaryPale;
            }
        }

        li.current span {
            font-size: .875em;
        }

        li.current a {
            text-decoration: none;

            &:hover {
                color: $white;
            }
        }

        .chevron {
            color: $white;
        }
    }
}
