#event-listing-container {

    .event-li {
        margin-left: 0;
        list-style-type: none;

        @media #{$desktop, $tablet} {
            margin-bottom: 40px;
        }

        @media #{$desktop} {
            padding-left: 10px;
            padding-right: 10px;
        }

        @media #{$tablet} {
            padding-left: 10px;
            padding-right: 10px;
        }

        @media #{$mobile} {
            padding-left: 0px;
            padding-right: 0px;
        }

        @media #{$mobile} {
            padding-bottom: 20px;
        }

        a {
            text-decoration: none;
        }

        .event-card {
            background-color: #ffffff;
            padding: 0 0 10px 0;
            border-radius: 4px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.05);
            transition-duration: 0.5s;
            display: block;
            border: solid 1px #ebebeb;

            &:hover {
                box-shadow: 0 10px 20px rgba(0,0,0,0.2);
            }

            .event-card-information {
                color: black;
                padding-left: 15px;
                padding-right: 15px;
                word-wrap: break-word;
                display: block;

                .event-title {
                    h3 {
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }

                .event-card-icon {
                    font-size: 0.9em;
                }

                .event-card-text {
                    font-size: 0.9em;
                }
            }

            .event-image {
                height: 233px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                display: inline-block;
                width: 100%;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
        }
    }
}

.event-listing-container {
    overflow: auto;
}
