.hs-event-header {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
    padding-left:20px;


    .hs-event-icon-container {
        padding: 0;
        color: #f2af29;
        font-size: 3em;
        display: inline-block;
        padding-right: 10px;
        vertical-align: middle;
    }

    .hs-event-title {
        text-align: left;
        padding-top: 15px;
        padding-bottom: 15px;

        @media #{$mobile, $tablet} {
            text-align: center;
        }

        @media #{$desktop} {
            padding-left: 0px;
        }
    }

    .hs-event-summary {
        text-align: left;
    }

    .hs-event-title-container {
        font-size: 3em;
        font-weight: 300;
        line-height: 1.3;
        letter-spacing: -.01em;
        vertical-align: middle;

        @media #{$mobile} {
            font-size: 2em;
        }
    }
}

#event-listing-container {
    margin-top: 0;

    &.no-margin {
        margin-top: -20px;
        margin-bottom: -30px;
    }

    .no-results {
        margin-bottom: 125px;
    }

    h2 {
        clear: both;
        margin: 0 0 10px 10px;
        font-size: 1.6em;
    }

    .group-li {
        margin-bottom: 0px;
    }

    .pagination-section {
        clear: both;
        margin-bottom: 0;
    }

    .home-page-row {
        .event-li {
            margin-bottom: 20px;
        }
    }

    .pagination-margin-bottom{
        padding-left:20px;
    }
}

.events-grid-container-margins {
    margin-top: -20px;
    margin-bottom: -30px;
}

.events-refine-by-bar-container {
    margin-top: -20px;
}

.events-events-container {
    .events-events {
        padding-bottom: 15px;
        text-align: center;

        @media #{$mobile, $tablet} {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding-top: 10px;
            padding-bottom: 35px;
        }

        h2 {
            margin-top: 0px;
            padding-top: 0px;
        }

        p {
            text-align: center;
            margin: auto;
            margin-bottom: 20px;
            max-width: 400px;
        }

        .button {
            color: #666666;
            min-width: 200px;
        }
    }
}

.custom-date-title {
    border-bottom-width: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    padding-top: 0px;
    padding-bottom: 0px;
}

.events-article-grid {
    background-color: white;

    @media #{$mobile, $tablet} {
        margin-top: 15px;
    }

    .events-article-not-found {
        min-height: 50vh;
    }
}

.nav-card-events {

    .nav-card-events-teaser {
        padding-top: 10px;
        color: #666666;
    }

    .nav-card-events-detail {
        padding-left: 10px;

        @media #{$tablet, $desktop} {
            padding-right: 10px;
            padding-left: 0;
        }
    }
}

h2.nav-card-events-title {
    margin: 0;
    margin-top: -7px;
    margin-bottom: 10px;
    line-height: 1.2;
    font-size: 1.6em;

    @media #{$mobile} {
        margin: 0;
        margin-top: -7px;
        margin-left: 8px;
        line-height: 1.2;
        font-size: 1.6em;
    }

    @media #{$tablet} {
        margin: 0;
        margin-top: -7px;
        margin-left: 0px;
        line-height: 1.2;
        font-size: 1.6em;
    }
}

.nav-card-events-fee {
    font-weight: bold;

    @media #{$mobile} {
        margin-left: 8px;
    }
}


ul.nav-card-events-list {
    border: none;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 15px;
    list-style-type: none;
    display: table;
    background: $white;

    @media #{$mobile} {
        margin-top: 0px;
    }

    .events-bottom-border {
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 10px;
    }

    li {
        padding: 15px 0 0;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    li:last-child .events-bottom-border {
        border-bottom: none;
    }
}


.nav-card-events-item {
    a {
        color: #666666;
        text-decoration: none;

        &:hover {
            h3 {
                text-decoration: underline;
            }
        }
    }
}

.nav-card-events-thumbnail {
    height: 150px;
    max-width: 100%;

    @media #{$mobile} {
        height: 100px;
    }
}

.nav-card-events-thumbnail-background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
}

.nav-no-left-padding {
    padding-left: 0px;
}

.nav-left-padding {
    padding-left: 35%;
}

.li-left-padding {
    padding-left: 3%;
}

.nav-no-right-padding {
    padding-right: 0px;
    padding-top: 10px;
}

.events-title-image {
    margin-bottom: 10px;
    width: 100%;
}

.events-teaser {
    line-height: 1.6em;
    margin-bottom: 20px;
    margin-top: 0;
}

.grid-container-full-width .l-content-container .events-article-title {
    padding-top: 0;
    margin-top: 0;
}

.events-article-date {
    margin-bottom: 0;
    padding-top: 15px;
}

.event-by-date-header {
    margin-bottom: 25px;
    border-bottom: 2px solid #ccc;
}

.events-ul {
    list-style: outside none none;
    margin-bottom: 0px;
}

.events-margin {
    margin-top: 20px;
}

.nav-card-events-location {
    line-height: 1.2em;
    margin-bottom: 5px;
}

.events-calender-container {
    padding: 0px;
    overflow: hidden;
    display: flex;
    margin-bottom: 20px;

    @media #{$mobile, $tablet} {
        display: inline;
    }
}

.events-calender-container-description {
    padding: 0px;
    flex: 1;
    margin-right: 30px;

    @media #{$mobile, $tablet} {
        margin-top: 30px;
        margin-right: 0px;
        flex: none;
        margin-bottom: 20px;
    }
}

.events-calender-container-image {
    flex: 1;
    padding-left: 0px;

    @media #{$mobile} {
        flex: none;
        min-height: 300px;
    }

    @media #{$tablet} {
        flex: none;
        min-height: 400px;
    }
}

.events-details {
    background: #e1e1e1;
    border: 1px solid #ebebeb;
    margin-left: 0px;
}

.events-details-symbol-containter {
    min-height: 65px;
    text-align: center;
    padding-top: 10px;
}

.events-details-symbol {
    color: #666666;
}

.events-details-heading {
    color: #666666;
    margin-bottom: 0px;
}

.events-details-content {
    background: #f5f5f5;
    word-wrap: break-word;
}

.events-date {
    color: $colorPrimary;

    i {
        padding-right: 5px;
        padding-bottom: 15px;
    }

    p {
        margin-bottom: 0px;
    }

    @media #{$tablet, $desktop} {
        margin-bottom: -5px;
    }
}

.schedule_multiple_events {
    text-decoration: none;
    display: none;

    &:hover {
        text-decoration: none;
    }
}

.thank-you {
    text-align: center;

    .icon-bordered {
        color: #18914c;
        margin-bottom: 15px;
    }

    .thank-you-text {
        text-align: left;
    }
}

.event-map-container {
    .map-container {
        height: 500px;
    }
}

.no-js {
    .event-map-container {
        display: none;
    }
}

.grid-container.grid-100.event-details {
    background-color: white;

    .event-details-content {
        .recurring-event {
            margin-bottom: 10px;
        }

        margin-bottom: 20px;

        h1 {
            font-size: 50px;
            margin-bottom: 0;
            color: $colorPrimary;
        }

        h3 {
            padding-bottom: 10px;
        }

        p {
            line-height: 25px;
            margin-bottom: 0px;
        }
    }

    .details-button {
        margin-bottom: 10px;
    }
}

.add-button-container {
    position: relative;
    top: 30px;

    .grid-container {
        padding: 0 5px;
    }
}

#event-listing-container {
    margin-top: 0;

    &.no-margin {
        margin-top: -20px;
        margin-bottom: -30px;
    }

    .no-results {
        margin-bottom: 125px;
    }

    h2 {
        clear: both;
        margin: 0 0 10px 10px;
        font-size: 1.6em;
    }

    .group-li {
        margin-bottom: 0px;
    }

    .pagination-section {
        clear: both;
        margin-bottom: 0;
    }

    .home-page-row {
        .event-li {
            margin-bottom: 20px;
        }
    }
}

.home-page-row {
    padding-bottom: 20px;

    .grid-container.homepage {
        padding-left: 10px;
        padding-right: 10px;
    }

    .event-header {
        margin: 10px 0 15px 15px;

        @media #{$mobile, $tablet} {
            margin: 10px 0 15px 5px;
        }
    }

    .event-button {
        padding-left: 5px;
        padding-right: 5px;
    }

    h3 {
        display: inline-block;
        margin-top: 0;
    }

    .view-more {
        text-decoration: underline;
        margin-left: 30px;
    }

    &:nth-child(odd) {
        background-color: #ffffff;
    }

    .group-card {
        border: solid 1px #d3d3d3;
    }

    .white {
        background-color: #ffffff;
        margin-top: 0;
        margin-bottom: 20px;
    }
}

#events-filter-bar {
    color: #ffffff;
    margin-top: -20px;
    background-color: #055c58;

    h2 {
        color: #ffffff;
        font-size: 1.6em;
        margin: 0;
    }

    .button-container {
        @media #{$tablet} {
            text-align: center;
            padding-top: 10px;
        }

        .button-default {
            min-width: 190px;
            box-sizing: border-box;
            width: 100%;
            box-shadow: 0 10px 20px rgba(0,0,0,.05);
            background-color: #06b79b;
            border-color: #06b79b;

            &:hover {
                background-color: #07d0b0;
                color: #fff;
                cursor: pointer;
                -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,.3);
                box-shadow: 0 5px 20px 0 rgba(0,0,0,.3);
                text-decoration: none;
            }

            &:active {
                border-color: #059e86;
                background-color: #059e86;
            }

            @media #{$mobile} {
                margin-top: 10px;
            }

            @media #{$tablet} {
                margin: 0 auto;
                width: 250px;
            }
        }
    }

    .form-section {
        padding-bottom: 10px;
        margin-bottom: 0;

        @media #{$mobile} {
            &.closed {
                display: none;
            }
        }

        .form-control {
            box-sizing: border-box;
            height: auto;
            width: 100%;
            box-shadow: 0 10px 20px rgba(0,0,0,.05);
        }

        label {
            font-size: 1.4em;
        }
    }

    .form-field {
        padding-left: 20px;
    }

    .invisible {
        visibility: hidden;
    }

    select {
        background-color: $white;
        border: 1px solid rgba(177, 177, 177, 0.8);
        border-radius: 3px;
        color: #666666;
        font-size: 1.5em;
        padding: 10px;
        display: block;
        margin-bottom: 10px;
        height: 52px;
    }

    .edit-search {
        border-top: 1px solid #00937c;
        margin-top: 10px;
        text-align: center;
        padding-top: 10px;

        a {
            color: #ffffff;
            text-decoration: none;
            font-weight: 600;
            font-size: 1.4em;
            display: block;

            &:before {
                float: right;
                text-align: right;
                margin-top: 10px;
                margin-right: 10px;
                font-size: 1em;
                content: "\f106";
                font: normal normal normal 1em/1 FontAwesome;
            }

            &.open:before {
                content: "\f107";
            }
        }
    }
}

.hideThisDiv {
    @media #{$mobile} {
        display: none;
    }
}

.group-event-name {
    @media #{$mobile} {
        font-weight: bold;
    }
}

.recurring-event {
    margin-bottom: 20px;
}

#refine-by-bar-container {
    margin-top: -20px;
}

@media #{$mobile} {

    .mobile-pull-right {
        float: right;
    }

    .mobile-pull-left {
        float: left;
    }
}

.direction {
    margin-top: 20px;

    @media #{$desktop} {
        padding-right: 10px;

        &:last-child {
            padding-right: 0px;
        }
    }

    @media #{$tablet,$mobile} {
        padding-bottom: 10px;
        border-bottom: solid 1px #ccc;
    }

    .button-default {
        background-color: #ffffff;
        color: #000000;
        box-sizing: border-box;
        min-width: 100px;
        width: 100%;
        text-decoration: none;
        color: #3a716e;
        transition-duration: 0.5s;

        &:hover {
            -webkit-box-shadow: 5px 5px 10px #ccc;
            box-shadow: 5px 5px 10px #ccc;
        }

        i {
            color: #999999;
            width: 20px;
        }

        @media #{$tablet,$mobile} {
            border: none;
            box-shadow: none;
            -webkit-box-shadow: none;
            text-decoration: none;
            color: #000000;
            font-size: 1.2em;
            font-weight: 800;
            text-align: left;

            i {
                margin-right: 20px;
            }
        }
    }

    .directions-button {
        border-color: $greyMiddle;
        background-color: $white;
        color: #666666;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 10px;    

        &:hover {
            box-shadow: 5px 5px 10px #e1e1e1;
        }
    }
}

.embed-map-container {
    display: none;
}

.accessibleLink {
    padding-top: 10px;
}

.share {
    padding-top: 10px;

    &.top-border {
        border-top: 1px solid #ccc;
    }

    &.padding-bottom {
        padding-bottom: 10px;
    }

    a {
        color: #666666;
        font-size: 2em;
        padding-right: 0.4em;
    }

    p {
        margin-bottom: 0px;
        font-size: .875em;
        font-weight: 600;
    }

    .events-to-calendar {
        @media #{$mobile, $tablet} {
            padding-top: 15px;
        }
    }
}

.event-details-heading {
    font-size: 1.375em;
    font-weight: 600;
    margin: 10px 0;
    letter-spacing: 0;
}

.group-calender-container-image {
    flex: 1;
    padding-left: 0px;

    @media #{$mobile} {
        flex: none;
        min-height: 300px;
    }

    @media #{$tablet} {
        flex: none;
        min-height: 400px;
    }
}