.hs-event-header {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
  padding-left: 20px;


  .hs-event-icon-container {
    padding: 0;
    color: $goldenRod25;
    font-size: 3em;
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
  }

  .hs-event-title {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;

    @media #{$mobile, $tablet} {
      text-align: center;
    }

    @media #{$desktop} {
      padding-left: 0px;
    }
  }

  .hs-event-summary {
    text-align: left;
  }

  .hs-event-title-container {
    font-size: 3em;
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: -.01em;
    vertical-align: middle;
    display: inline;

    @media #{$mobile} {
      font-size: 2em;
    }
  }
}

.events-grid-container-margins {
  margin-top: -20px;
  margin-bottom: -30px;
}

.events-refine-by-bar-container {
  margin-top: -20px;
}

.events-events-container {
  .events-events {
    padding-bottom: 15px;
    text-align: center;

    @media #{$mobile, $tablet} {
      border-bottom: 1px solid $blackOpaque1;
      padding-top: 10px;
      padding-bottom: 35px;
    }

    h2 {
      margin-top: 0px;
      padding-top: 0px;
    }

    p {
      text-align: center;
      margin: auto;
      margin-bottom: 20px;
      max-width: 400px;
    }

    .button {
      color: $greyDark;
      min-width: 200px;
    }
  }
}

.custom-date-title {
  border-bottom-width: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  padding-top: 0px;
  padding-bottom: 0px;
}

.events-article-grid {
  background-color: white;

  @media #{$mobile, $tablet} {
    margin-top: 15px;
  }

  .events-article-not-found {
    min-height: 50vh;
  }
}

.nav-card-events {

  .nav-card-events-teaser {
    padding-top: 10px;
    color: $greyDark;
  }

  .nav-card-events-detail {
    padding-left: 10px;

    @media #{$tablet, $desktop} {
      padding-right: 10px;
      padding-left: 0;
    }
  }
}

h2.nav-card-events-title {
  margin: 0;
  margin-top: -7px;
  margin-bottom: 10px;
  line-height: 1.2;
  font-size: 1.6em;

  @media #{$mobile} {
    margin: 0;
    margin-top: -7px;
    margin-left: 8px;
    line-height: 1.2;
    font-size: 1.6em;
  }

  @media #{$tablet} {
    margin: 0;
    margin-top: -7px;
    margin-left: 0px;
    line-height: 1.2;
    font-size: 1.6em;
  }
}

.nav-card-events-fee {
  font-weight: bold;

  @media #{$mobile} {
    margin-left: 8px;
  }
}


ul.nav-card-events-list {
  border: none;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 15px;
  list-style-type: none;
  display: table;
  background: $white;

  @media #{$mobile} {
    margin-top: 0px;
  }

  .events-bottom-border {
    border-bottom: 1px solid $greyLightest;
    padding-bottom: 10px;
  }

  li {
    padding: 15px 0 0;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  li:last-child .events-bottom-border {
    border-bottom: none;
  }
}


.nav-card-events-item {
  a {
    color: $greyDark;
    text-decoration: none;

    &:hover {
      h3 {
        text-decoration: underline;
      }
    }
  }
}

.nav-card-events-thumbnail {
  height: 150px;
  max-width: 100%;

  @media #{$mobile} {
    height: 100px;
  }
}

.nav-card-events-thumbnail-background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.nav-no-left-padding {
  padding-left: 0px;
}

.nav-left-padding {
  padding-left: 35%;
}

.li-left-padding {
  padding-left: 3%;
}

.nav-no-right-padding {
  padding-right: 0px;
  padding-top: 10px;
}

.events-title-image {
  margin-bottom: 10px;
  width: 100%;
}

.events-teaser {
  line-height: 1.6em;
  margin-bottom: 20px;
  margin-top: 0;
}

.grid-container-full-width .l-content-container .events-article-title {
  padding-top: 0;
  margin-top: 0;
}

.events-article-date {
  margin-bottom: 0;
  padding-top: 15px;
}

.event-by-date-header {
  margin-bottom: 25px;
  border-bottom: 2px solid $greyLighter;
}

.events-ul {
  list-style: outside none none;
  margin-bottom: 0px;
}

.events-margin {
  margin-top: 20px;
}

.nav-card-events-location {
  line-height: 1.2em;
  margin-bottom: 5px;
}

.events-calender-container {
  padding: 0px;
  overflow: hidden;
  display: flex;
  margin-bottom: 20px;

  @media #{$mobile, $tablet} {
    display: inline;
  }
}

.events-calender-container-description {
  padding: 0px;
  flex: 1;
  margin-right: 30px;

  @media #{$mobile, $tablet} {
    margin-top: 30px;
    margin-right: 0px;
    flex: none;
    margin-bottom: 20px;
  }
}

.events-calender-container-image {
  flex: 1;
  padding-left: 0px;

  @media #{$mobile} {
    flex: none;
    min-height: 300px;
  }

  @media #{$tablet} {
    flex: none;
    min-height: 400px;
  }
}

.events-details {
  background: $greyLightest;
  border: 1px solid $backgroundSite;
  margin-left: 0px;
}

.events-details-symbol-containter {
  min-height: 65px;
  text-align: center;
  padding-top: 10px;
}

.events-details-symbol {
  color: $greyDark;
}

.events-details-heading {
  color: $greyDark;
  margin-bottom: 0px;
}

.events-details-content {
  background: #f5f5f5;
  word-wrap: break-word;
}

.events-date {
  color: $colorPrimary;

  i {
    padding-right: 5px;
    padding-bottom: 15px;
  }

  p {
    margin-bottom: 0px;
  }

  @media #{$tablet, $desktop} {
    margin-bottom: -5px;
  }
}

.schedule_multiple_events {
  text-decoration: none;
  display: none;

  &:hover {
    text-decoration: none;
  }
}

.thank-you {
  text-align: center;

  .icon-bordered {
    color: $green1467233;
    margin-bottom: 15px;
  }

  .thank-you-text {
    text-align: left;
  }
}

.event-map-container {
  .map-container {
    height: 500px;
  }
}

.grid-container.grid-100.event-details {
  background-color: white;

  .event-details-content {
    .recurring-event {
      margin-bottom: 10px;
    }

    margin-bottom: 20px;

    h1 {
      font-size: 50px;
      margin-bottom: 0;
      color: $colorPrimary;
    }

    h3 {
      padding-bottom: 10px;
    }

    p {
      line-height: 25px;
      margin-bottom: 0px;
    }
  }

  .details-button {
    margin-bottom: 10px;
  }
}

.add-button-container {
  position: relative;
  top: 30px;

  .grid-container {
    padding: 0 5px;
  }
}

#event-listing-container {
  margin-top: 0;

  &.no-margin {
    margin-top: -20px;
    margin-bottom: -30px;
  }

  .no-results {
    margin-bottom: 125px;
  }

  h2 {
    clear: both;
    margin: 0 0 10px 10px;
    font-size: 1.6em;
  }

  .group-li {
    margin-bottom: 0px;
  }

  .pagination-section {
    clear: both;
    margin-bottom: 0;
  }

  .pagination-margin-bottom {
    padding-left: 20px;
  }

  .home-page-row {
    .event-li {
      margin-bottom: 20px;
    }
  }
}

.home-page-row {
  padding-bottom: 20px;

  .grid-container.homepage {
    padding-left: 10px;
    padding-right: 10px;
  }

  .event-header {
    margin: 10px 0 15px 15px;

    @media #{$mobile, $tablet} {
      margin: 10px 0 15px 5px;
    }
  }

  .event-button {
    padding-left: 5px;
    padding-right: 5px;
  }

  h3 {
    display: inline-block;
    margin-top: 0;
  }

  .view-more {
    text-decoration: underline;
    margin-left: 30px;
  }

  &:nth-child(odd) {
    background-color: $white;
  }

  .group-card {
    border: solid 1px #d3d3d3;
  }

  .white {
    background-color: $white;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

#events-filter-bar {
  color: $white;
  margin-top: -20px;
  background-color: $colorPrimary;

  h2 {
    color: $white;
    font-size: 1.6em;
    margin: 0;
  }

  .button-container {
    @media #{$tablet} {
      text-align: center;
      padding-top: 10px;
    }

    .button-default {
      min-width: 190px;
      box-sizing: border-box;
      width: 100%;
      box-shadow: 0 10px 20px $blackOpaque05;
      background-color: $tealDarker;
      border-color: $tealDarker;

      &:hover {
        color: $white;
        cursor: pointer;
        box-shadow: 0 5px 20px 0 $blackOpaque3;
        text-decoration: none;
      }

      &:active {
        border-color: $tealPale;
        background-color: $tealPale;
      }

      @media #{$mobile} {
        margin-top: 10px;
      }

      @media #{$tablet} {
        margin: 0 auto;
        width: 250px;
      }
    }
  }

  .form-section {
    padding-bottom: 10px;
    margin-bottom: 0;

    @media #{$mobile} {
      &.closed {
        display: none;
      }
    }

    .form-control {
      box-sizing: border-box;
      height: auto;
      width: 100%;
      box-shadow: 0 10px 20px $blackOpaque05;
    }

    label {
      font-size: 1.4em;
    }
  }

  .form-field {
    padding-left: 20px;
  }

  .invisible {
    visibility: hidden;
  }

  select {
    background-color: $white;
    border: 1px solid $greyLMOpaque8;
    border-radius: 3px;
    color: $greyDark;
    font-size: 1.5em;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    height: 52px;
  }
}

.hideThisDiv {
  @media #{$mobile} {
    display: none;
  }
}

.group-event-name {
  @media #{$mobile} {
    font-weight: bold;
  }
}

.recurring-event {
  margin-bottom: 20px;
}

#refine-by-bar-container {
  margin-top: -20px;
}

@media #{$mobile} {

  .mobile-pull-right {
    float: right;
  }

  .mobile-pull-left {
    float: left;
  }
}

.direction {
  margin-top: 20px;

  @media #{$desktop} {
    padding-right: 10px;

    &:last-child {
      padding-right: 0px;
    }
  }

  @media #{$tablet,$mobile} {
    padding-bottom: 10px;
    border-bottom: solid 1px $greyLighter;
  }

  .button-default {
    background-color: $white;
    color: $black;
    box-sizing: border-box;
    min-width: 100px;
    width: 100%;
    text-decoration: none;
    color: $colorPrimaryLight;
    transition-duration: 0.5s;

    &:hover {
      box-shadow: 5px 5px 10px $greyLighter;
    }

    i {
      color: $greyMiddle;
      width: 20px;
    }

    @media #{$tablet,$mobile} {
      border: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      text-decoration: none;
      color: $black;
      font-size: 1.2em;
      font-weight: 800;
      text-align: left;

      i {
        margin-right: 20px;
      }
    }
  }

  .directions-button {
    border-color: $greyMiddle;
    background-color: $white;
    color: $greyDark;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;

    &:hover {
      box-shadow: 5px 5px 10px $greyLightest;
    }
  }
}

.embed-map-container {
  display: none;
}

.accessibleLink {
  padding-top: 10px;
}

.share {
  padding-top: 10px;

  &.top-border {
    border-top: 1px solid $greyLighter;
  }

  &.padding-bottom {
    padding-bottom: 10px;
  }

  a {
    color: $greyDark;
    font-size: 2em;
    padding-right: 0.4em;
  }

  p {
    text-transform: none;
    font-size: 1em;
    margin: 0;
    font-weight: 600;
    letter-spacing: 0;
    font-family: "Source Sans Pro",sans-serif;
  }

  .events-to-calendar {
    @media #{$mobile, $tablet} {
      padding-top: 15px;
    }
  }
}

.event-details-heading {
  font-size: 1.375em;
  font-weight: 600;
  margin: 10px 0;
  letter-spacing: 0;
}

.group-calender-container-image {
  flex: 1;
  padding-left: 0px;

  @media #{$mobile} {
    flex: none;
    min-height: 300px;
  }

  @media #{$tablet} {
    flex: none;
    min-height: 400px;
  }
}
