.footer-links ul.footer-nav li {
    margin: 0 0 0px;
    padding: 0;
}

footer {
    .grid-container .grid-parent {
        @media #{$desktop} {
            padding-left: 30px;
        }
    }

    @media #{$mobile} {
        .l-container-footer, .grid-container {
            padding-right: 0;
        }

        .footer-social-container {
            margin-right: 0;
        }        
    }
}
