.profile-container {
  padding: 0px 40px;

  @media #{$tablet} {
    padding: 0px 20px;
  }

  @media #{$mobile} {
    padding: 0px 5px;
  }
}

.hs-profile-header {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
  text-align: center;

  @media #{$desktop} {
    text-align: left;
  }

  .hs-profile-icon-container {
    padding: 0;
    color: goldenrod;
    font-size: 4em;
    display: inline-block;
    padding-right: 10px;
  }

  .hs-profile-title {
    text-align: left;
    padding-top: 15px;

    @media #{$mobile, $tablet} {
      text-align: center;
    }

    @media #{$desktop} {
      padding-left: 0px;
    }
  }

  .hs-profile-title-container {
    font-size: 3em;
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: -.01em;

    @media #{$mobile} {
      font-size: 2em;
    }
  }

  article {
    text-align: left;
  }
}

.profile-success-story-new {
  text-decoration: none;
  color: $greyDarkest;
  background-color: $white;
  padding: 20px 20px 0 20px;
  border-radius: 4px;
  box-shadow: 0 10px 20px $blackOpaque05;
  transition-duration: .5s;
  display: block;
  border: 1px solid $backgroundSite;

  &.profile-link:hover {
    box-shadow: 0 10px 20px $blackOpaque2;
  }

  &:hover {
    text-decoration: none;
    color: $greyDarkest;
  }

  .read-more {
    @media #{$desktop} {
      display: none;
    }

    color: $greyDarkest;
    padding-left: 50px;
    padding-bottom: 25px;
    text-decoration: underline;
  }

  @media #{$mobile} {

    .headings {
      padding-left: 10px;
      margin-top: 20px;
    }

    i.open {
      position: relative;
      left: -20px;
    }
  }

  .profile-image-mask {

    @media #{$desktop,$tablet} {
      padding-bottom: 50px;
      padding-top: 30px;
    }

    @media #{$mobile} {
      text-align: center;
    }

    img {
      border-radius: 50%;
      width: 125px;
      height: 125px;
    }
  }

  h2 {
    margin: 0;
    line-height: 1em;
  }

  p {
    margin-bottom: 10px;
  }

  .summary {
    color: $grey46;
    font-style: italic;
    font-size: .9em;
  }

  .body {
    padding-top: 10px;

    .main-body {
      text-align: left;
    }
  }

  i {
    color: $colorPrimary;
  }

  .closing-quote {
    position: relative;
    top: -30px;

    @media #{$mobile} {
      /*top: -90px;*/
    }
  }
}
