@model StockportWebapp.ProcessedModels.ProcessedEvents
@{
    var url = ViewBag.CurrentUrl != null ? ViewBag.CurrentUrl : string.Empty;
}

<p>Add to calendar</p>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_toolbox">
    <div class="custom_images">
        <a href="@Url.Action("AddToCalendar", "Events", new {type = "windows", eventUrl = @url, slug = Model.Slug, eventDate = ViewBag.Eventdate, name = Model.Title, location = Model.Location, startTime = Model.StartTime, endTime = Model.EndTime, summary = Model.Teaser})"
            aria-label="Add to Outlook Calendar"><span class="fa fa-windows" aria-hidden="true"></span></a>
        <a href="@Url.Action("AddToCalendar", "Events", new {type = "google", eventUrl = @url, slug = Model.Slug, eventDate = ViewBag.Eventdate, name = Model.Title, location = Model.Location, startTime = Model.StartTime, endTime = Model.EndTime, summary = Model.Teaser})"
            target="_blank" aria-label="Add to Google  Calendar"><span class="fa fa-google"
                aria-hidden="true"></span></a>
        <a href="@Url.Action("AddToCalendar", "Events", new {type = "apple", eventUrl = @url, slug = Model.Slug, eventDate = ViewBag.Eventdate, name = Model.Title, location = Model.Location, startTime = Model.StartTime, endTime = Model.EndTime, summary = Model.Teaser})"
            aria-label="Add to Apple Calendar"><span class="fa fa-apple" aria-hidden="true"></span></a>
        <a class="hide-on-mobile hide-on-tablet"
            href="@Url.Action("AddToCalendar", "Events", new {type = "yahoo", eventUrl =@url, slug = Model.Slug, eventDate = ViewBag.Eventdate, name = Model.Title, location = Model.Location, startTime = Model.StartTime, endTime = Model.EndTime, summary = Model.Teaser})"
            target="_blank" aria-label="Add to Yahoo  Calendar"><span class="fa fa-yahoo" aria-hidden="true"></span></a>
    </div>
</div>