@model Alert

<div class="grid-100 alert-inline alert-inline--warning">
    <h2><span class="fa-solid fa-circle-exclamation alert-inline-icon"></span> @Model.Title</h2>
    @Html.Raw(Model.Body)
</div>

