@model List<StockportWebapp.Models.CarouselContent>
<div class="carousel" role="application">
    @{ int counter = 1; }
    @foreach (var carouselContent in Model)
    {
        <a href="@carouselContent.URL">
            <div class="stockport-carousel webcast-@counter">

                <div class="stockport-carousel-text">
                    <h2>@carouselContent.Title</h2>
                    <p>
                        @carouselContent.Teaser
                    </p>
                </div>

                <div class="stockport-carousel-gradient"></div>
            </div>
        </a>
        counter++;
    }
</div>