@model Document

<div class="document grid-100 grid-100-mobile test-documents">
    <div class="document-icon">
        <span class="si-documents si-default" aria-hidden="true"></span>
    </div>
    <div class="grid-90 tablet-grid-90 mobile-grid-85 document-detail">
        <a href="@Model.Url" target="_blank" class="document-detail-title" rel="nofollow"> @Model.Title</a>
        @{
            var Megabytes = Model.Size / (1048576.0);
            var Kilobytes = (Model.Size % 1048576) / 1024;
        }
        <p>
            @if (Megabytes >= 1.0)
            {
                @:PDF, @Megabytes.ToString("#.##") MB
            }
            else
            {
                @:PDF, @Kilobytes.ToString("#.##") KB
            }
        </p>
        <p class="text-small assistive-disclaimer">This file may not be suitable for users of assistive technology.</p>
    </div>
</div>