@model Document

<div class="document">
    <div class="grid-100">
        <div class="document-icon">
            <span class="fa-solid fa-files" aria-hidden="true"></span>
        </div>

        <div class="grid-90 tablet-grid-90 mobile-grid-100 document-detail">
            <a href="@Model.Url" target="_blank" class="document-detail__title" rel="nofollow"> @Model.Title</a>
            @{
                var Megabytes = Model.Size / (1048576.0);
                var Kilobytes = (Model.Size % 1048576) / 1024;
            }
            <p>
                @if (Megabytes >= 1.0)
                {
                    @:PDF, @Megabytes.ToString("#.##") MB
                }
                else
                {
                    @:PDF, @Kilobytes.ToString("#.##") KB
                }
            </p>
            <p class="text-small assistive-disclaimer">This file may not be suitable for users of assistive technology.</p>
        </div>
    </div>
</div>