@model IEnumerable<SubItem>
@{
    string cssClasses = (string)ViewData["cssClasses"] ?? string.Empty;
}


@foreach (var link in Model)
{
    <li class="@cssClasses mobile-grid-100">
        <div class="footer__info-container">
            <a data-cy="footer-links" href="@link.NavigationLink">@link.Title</a>
        </div>
    </li>
}
