@using StockportWebapp.Models.Mappers;
@using StockportWebapp.Models.Enums;
@model InlineQuote
@{
    string themeTag = $"profile-quote__border-{CssClassMapper.GetCssClass(Model.Theme)}";
}

<div class="profile-quote">
    @if (!string.IsNullOrEmpty(Model.Author))
    {
        <h3>@Model.Author</h3>
    }
    <div class="profile-quote__border @themeTag">
        <p class="profile-quote__text lead">
            <span class="h-s fa fa-quote-left profile-quote__marks" aria-hidden="true"></span>
            @Model.Quote
            <span class="h-s fa fa-quote-right profile-quote__marks" aria-hidden="true"></span>
        </p>
    </div>
</div>