@model InlineQuote

<div class="inline-quote-container">
    <img src="@Model.Image" alt="@Model.ImageAltText" />
    <h2>@Model.Author</h2>
    <div class="quote-body">
        <span class="green open fa fa-2x fa-quote-left" aria-hidden="true"></span>
        <p class="lead-paragraph">@Model.Quote</p>
        <span class="green fa fa-2x fa-quote-right" aria-hidden="true"></span>
    </div>
</div>