@model StockportWebapp.Models.InlineQuote
<div class="inline-quote-container">
    <img src="@Model.Image" alt="@Model.ImageAltText" />
    <h4>@Model.Author</h4>
    <div class="quote-body">
        <i class="green open fa fa-2x fa-quote-left" aria-hidden="true"></i>
        <p class="lead-paragraph">@Model.Quote</p>
        <i class="green fa fa-2x fa-quote-right" aria-hidden="true"></i>
    </div>
</div>