@using StockportWebapp.Models.Mappers;
@using StockportWebapp.Models.Enums;
@model InlineQuote
@{
    string colourScheme = CssClassMapper.GetCssClass(Model.Theme);
    string themeTag = CssClassMapper.GetCssClass(Model.Theme).Equals(EColourScheme.None.ToString()) ? $"profile-quote__border{EColourScheme.Pink.ToString()}" : $"profile-quote__border{CssClassMapper.GetCssClass(Model.Theme)}";
    @* string themeTag = !string.IsNullOrEmpty(Model.Theme.ToString()) ? $"profile-quote--border-{Model.Theme.ToString()}" : "profile-quote--border-pink"; *@
}

<div class="profile-quote">
    @if (!string.IsNullOrEmpty(Model.Author))
    {
        <h3>@Model.Author</h3>
    }
    <div class="profile-quote__border @themeTag">
        <p class="profile-quote__text lead">
            <span class="h-s fa fa-quote-left profile-quote__marks" aria-hidden="true"></span>
            @Model.Quote
            <span class="h-s fa fa-quote-right profile-quote__marks" aria-hidden="true"></span>
        </p>
    </div>
</div>