@model InlineQuote
@{
    var themeTag = !string.IsNullOrEmpty(Model.Theme) ? $"profile-quote--border-{Model.Theme}" : "profile-quote--border-pink";
}

<div class="profile-quote">
    @if (!string.IsNullOrEmpty(Model.Author))
    {
        <h3>@Model.Author</h3>
    }
    <div class="profile-quote--border @themeTag">
        <div class="profile-quote__text">
            <p>
                <span class="open h-s fa fa-quote-left" aria-hidden="true"></span>
                    @Model.Quote
                <span class="h-s fa fa-quote-right" aria-hidden="true"></span>
            </p>
        </div>
    </div>
</div>