@model InlineQuote
@{
    string themeTag = !string.IsNullOrEmpty(Model.Theme) ? $"profile-quote--border-{Model.Theme}" : "profile-quote--border-pink";
}

<div class="profile-quote">
    @if (!string.IsNullOrEmpty(Model.Author))
    {
        <h3>@Model.Author</h3>
    }
    <div class="profile-quote--border @themeTag">
        <p class="profile-quote__text lead">
            <span class="h-s fa fa-quote-left profile-quote__marks" aria-hidden="true"></span>
            <span class="h-s fa-solid fa-quote-right profile-quote__marks--rtl" aria-hidden="true"></span>
            @Model.Quote
            <span class="h-s fa fa-quote-right profile-quote__marks" aria-hidden="true"></span>
            <span class="h-s fa-solid fa-quote-left profile-quote__marks--rtl" aria-hidden="true"></span>
        </p>
    </div>
</div>