@using System.Collections.Generic
@model IEnumerable<StockportWebapp.Models.PrivacyNotice>

@ViewBag.FileInfo

@{
    foreach (var privacyNotice in Model)
    {
        <div><a href="/privacy-notices/@privacyNotice.Slug">@privacyNotice.Category </a></div>
    }
}

