@using System.Collections.Generic
@model IEnumerable<StockportWebapp.Models.PrivacyNotice>

@ViewBag.FileInfo

<section>List of privacty noticesss</section>

@{
    foreach (var privacyNotice in Model)
    {
        // needs to use the title + category but this hasn't been brought through yet
        <div><a href="/privacy-notice/@privacyNotice.Slug">@privacyNotice.Category </a></div>
    }
}

