@model ProfileViewModel

@{
    string businessId = Context.Request.Headers["BUSINESS-ID"];
}

@if(businessId.Equals("stockportgov") && Model.Redesigned)
{
    string profileColour =  $"profile-tag-parser-{CssClassMapper.GetCssClass(Model.Profile.Colour)}";

    <section class="section section--white">
        @if(string.IsNullOrEmpty(Model.Profile.Body))
        {
            <div class="profile-tag-parser @profileColour section" data-cy="profile-tag-parser">
                <partial name="ProfileTagParserContent" view-data='@(new ViewDataDictionary(ViewData) { {"additionalClasses", "profile-tag-parser-quote--black"} })' />
            </div>
        }
        else
        {
            <a href="/profile/@Model.Profile.Slug" class="profile-tag-parser @profileColour section" data-cy="profile-tag-parser">
                <partial name="ProfileTagParserContent" />
            </a>
        }
    </section>
}
else
{
    <partial name="ProfileOldDesign" />
}