@model StockportWebapp.Models.S3BucketSearch

@ViewBag.FileInfo

@{ 
    var ServiceURL = "https://"+Model.AWSLink+"/"+Model.S3Bucket;
}

@if (Model.Files.Count > 0)
{       
    foreach (var element in Model.Files)
    {                    
        <a target="_blank" href ="@ServiceURL/@element"><p>@Html.DisplayFor(m => element)</p></a>
    }
}

<form method="post" role="form" action="/@Model.Slug">
     <div class="form">
         <div class="form-section">
            <fieldset>
                    <label name="slug" style="display:none">brian-blessed-to-vistit-hatworks</label>
                    <label asp-for="SearchTerm"></label>
                    <input class="grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control" asp-for="SearchTerm" />
                    <span asp-validation-for="SearchTerm" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>
                    @Html.HiddenFor(e => e.SearchFolder)
                    <stock-button id="uitest-contact-form-submit" class="button-contact-us">Search</stock-button>                
            </fieldset>            
        </div>        
    </div>    
</form>