@model string
@{
    var url = ViewBag.CurrentUrl != null ? ViewBag.CurrentUrl : string.Empty;
    var title = ViewData["Title"];
}

<div class="grid-20">
    <p>Share this</p>
    <div class="addthis_toolbox">
        <div class="custom_images">
            <a class="addthis_button_facebook" href="http://www.facebook.com/share.php?url=@url"
                aria-label="share @Model on facebook"><span class="fa fa-facebook-official"
                    aria-hidden="true"></span></a>
            <a class="addthis_button_twitter" href="http://twitter.com/intent/tweet?url=@url&text=@title"
                aria-label="share @Model on twitter"><span class="fa fa-twitter-square" aria-hidden="true"></span></a>
            <a href="mailto:?body=@url&subject=@title" aria-label="share @Model by email"><span class="fa fa-envelope" aria-hidden="true"></span></a>
        </div>
    </div>
</div>