@model string
@{
    string url = ViewBag.CurrentUrl is not null
        ? ViewBag.CurrentUrl
        : string.Empty;
    
    string title = (string)ViewData["Title"] ?? string.Empty;
}

<div class="grid-20">
    <p>Print this page</p>
    <div class="addthis_toolbox">
        <div class="custom_images">
            <a class="print-this" href="#" aria-label="print @Model"><span class="fa fa-print" aria-hidden="true"></span></a>
        </div>
    </div>
</div>