@model IEnumerable<StockportWebapp.Models.SocialMediaLink>
@inject BusinessId BusinessId
@{ 
        var nameOfSite = BusinessId.ToString() == "stockportgov" ? "stockport council" : string.Empty; 
        if (BusinessId.ToString() == "healthystockport")
            nameOfSite = "healthy stockport ";
}

<div class="footer-social-links">
    @foreach (var socialMediaLink in Model)
    {
        string socialMediaCSS = socialMediaLink.Icon.Replace("fa-", "icon-");
        <a href="@socialMediaLink.Link" aria-label="@socialMediaLink.ScreenReader" target="_blank" data-cy="social-media-links">
            <div class="icon-bordered icon-bordered-fixed icon-container icon-twitter @socialMediaCSS">
                <span class="fa fab fa-2x @socialMediaLink.Icon"></span>
            </div>
        </a>
    }
</div>