@model IEnumerable<StockportWebapp.Models.SocialMediaLink>
@inject BusinessId BusinessId
@{ 
    string nameOfSite = BusinessId.ToString().Equals("stockportgov")
        ? "stockport council"
        : string.Empty;
     
    if (BusinessId.ToString().Equals("healthystockport"))
        nameOfSite = "healthy stockport ";
}

<div class="footer-social-links">
    @foreach (SocialMediaLink socialMediaLink in Model)
    {
        string socialMediaCSS = socialMediaLink.Icon.Replace("fa-", "icon-");
        <a href="@socialMediaLink.Link" aria-label="@socialMediaLink.ScreenReader" target="_blank" data-cy="social-media-links">
            <div class="icon-bordered icon-bordered-fixed icon-container icon-twitter @socialMediaCSS">
                @if (socialMediaLink.Icon.Equals("fa-brands fa-x-twitter"))
                {
                    <span class="fa fab fa-2x fa-brands fa-twitter fa-x-twitter"></span>
                }
                else
                {
                    <span class="fa fab fa-2x @socialMediaLink.Icon"></span>
                }
            </div>
        </a>
    }
</div>