@model ArticleViewModel
@{
    ViewData["Title"] = Model.Article.Title;
    ViewData["Description"] = Model.MetaDescription;
    ViewData["og:title"] = Model.OgTitleMetaData;
    Layout = "../Shared/_Layout.cshtml";
}

<section class="article-hero" style="background-position: 50%; background-size: cover; height: 700px; margin-bottom:3em; width: 100%; background-image: url(@Model.Article.Image?q=89&fm=webp);">
    <div class="grid-container" style="height:700px; position:relative;">
        <div style="display: inline-block; position:absolute; bottom:-25px;">
            <h1 class="h-xl" style="display:inline-block;margin: 0px; background-color:#ff522a; border-radius:5px; padding:1em;">@Model.Article.Title</h1>
        </div>
    </div>
</section>

<section class="grid-container">
    <div class="grid-80 body">
        <p class="lead">Lorem ipsum odor amet, consectetuer adipiscing elit. Integer dolor dignissim at sed; porttitor quam viverra. Penatibus vitae amet pulvinar iaculis arcu dis per dui himenaeos. Habitant efficitur sem dictum et; taciti dolor nam eget. Semper libero erat id vivamus vehicula sem arcu.</p>
        <p style="font-size:1em;">Author: <strong>A. Writer</strong> | Photos: <strong>A Photographer</strong></p>
        <p style="font-size:1rem;">02 September 2024</p>
        <hr style="height:2px; width:40%; margin-bottom:1em; border-top:5px solid #ff522a;" />
        @Html.Raw(Model.Article.Body)
    </div>
</section>