@model StockportWebapp.Models.Alert
<div class="grid-100 tablet-grid-100 mobile-grid-100">
    @{
        var severity = Model.Severity.ToLowerInvariant();
        var icon = "fa-info-circle";
        if (severity == "error")
        {
            icon = "fa-exclamation-circle";
        }
        if (severity == "warning")
        {
            icon = "fa-exclamation-triangle";
        }
    }
    <div class="alert alert-@Model.Severity.ToLowerInvariant()">
        <div class="alert-icon">
            <i class="fa @icon fa-3x"></i>
        </div>
        <div tabindex="0" class="alert-content">
            <h3>@Model.Title</h3>
            @if (!string.IsNullOrEmpty(Model.SubHeading))
            {
                <p class="alert-subheading">@Model.SubHeading</p>
            }
            @Html.Raw(Model.Body)
        </div>
        <div class="alert-close">
            <a href="#">
                <span class="visuallyhidden"> Close Alert</span>
                <i class="fa fa-times fa-2x" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>