<aside class="sidebar-right grid-30 tablet-grid-100 mobile-grid-100">
    <div class="sidebar-block">
        <p>TALK WITH US</p>
            <a class="button button-outline button-partialrounded button-sidebar" href="/contact-us">Contact Us</a>
    </div>
    <div class="sidebar-block">
        <p>HOW ARE YOU?</p>
        <a class="button button-outline button-partialrounded button-sidebar" href="https://www.nhs.uk/oneyou/hay" target="_blank">
            Start Quiz
        </a>
    </div>
</aside>