<aside class="sidebar-right grid-30 tablet-grid-100 mobile-grid-100">
    <div class="sidebar-block">
        <h6>Talk with us</h6>
            <a class="button button-outline button-partialrounded button-sidebar" href="/contact-us">Contact Us</a>
    </div>
    <div class="sidebar-block">
        <h6>How are you?</h6>
        <a class="button button-outline button-partialrounded button-sidebar" href="https://www.nhs.uk/oneyou/hay" target="_blank">
            Start Quiz
        </a>
    </div>
</aside>