@model string

<div class="grid-10 hide-on-mobile hide-on-tablet">
    <div class="page-icon">
        <div class="icon-bordered icon-bordered-responsive">
            <i class="fa @Model" aria-hidden="true"></i>
        </div>
    </div>
</div>