@using StockportWebapp.Models
@using StockportWebapp.Utils
@model InsetText
@inject ICookiesHelper CookiesHelper

<div class="grid-100 tablet-grid-100 mobile-grid-100">
    <div class="alert alert-insetText">
        <div tabindex="0" class=" focusable alert-content">
            <h2>@Model.Title</h2>
            @if (!string.IsNullOrEmpty(Model.SubHeading))
            {
                <p class="alert-subheading">@Model.SubHeading</p>
            }
            @Html.Raw(Model.Body)
        </div>
    </div>
</div>
