@model StockportWebapp.Models.Topic
@{ var allTopics = Model.SubItems.Concat(Model.SecondaryItems);}
<ul class="article-list">
    @foreach (var subItem in allTopics)
    {
        <li class="article-list-item">
            <a href="@subItem.NavigationLink">
                <div class="article-icon hide-on-mobile hide-on-tablet">
                    <div class="icon-bordered icon-bordered-fixed">
                        <span aria-hidden="true" class="fa @subItem.Icon fa-4x default-icon"></span>
                    </div>
                </div>
                <div>
                    <h2>@subItem.Title</h2>
                    <p>@subItem.Teaser</p>
                </div>
                <div class="article-chevron hide-on-mobile l-right-align">
                    <span aria-hidden="true" class="fa fa-4x fa-angle-right"></span>
                </div>
            </a>
        </li>
    }   
</ul>