@model DirectoryViewModel
@{
    ViewData["Title"] = Model.Directory.Title;
    ViewData["og:title"] = Model.Directory.Title;
    ViewData["Description"] = Model.Directory.MetaDescription;
    Layout = "../Shared/_Layout2023.cshtml";

    var subdirectories = Model.Directory.SubDirectories;
}

<partial name="GlobalAlerts" model='Model.Directory.Alerts' />

<div class="grid-container-full-width" style="background-color:white;">
    <div class="grid-container">
        <div class="grid-100">
            <h1>@Model.Directory.Title</h1>
            <div class="directory-body lead">@Model.Directory.Body</div>
        </div>
    </div>

    @if (Model.Directory.CallToAction is not null)
    {
        <partial name="CallToAction" model='Model.Directory.CallToAction' />
    }

    <div class="grid-container">
        <div class="grid-100" data-cy="navcard-list">
            <div class="section__content section__content--no-margin">
                <ul class="navcard-wrapper navcard-wrapper--no-margin">
                    @foreach(var subdirectory in subdirectories){
                        <li class="navcard navcard--width-33 navcard-all navcard--border-top-10 navcard--theme-teal navcard--theme-teal-all" style="text-align:center;">
                            <a href="/this-is-an-article-with-sections-with-image-linked-to-a-topic" class="navcard__link" data-cy="nav-card-link">
                                <div class="navcard__content" >
                                    <div class="navcard__icon">
                                        <span class="si-group si-default" aria-hidden="true"></span>
                                    </div>

                                    <div class="navcard-content--padding">
                                        <h3 class="navcard__title navcard__title--black">@subdirectory.Title</h3>
                                        <p class="navcard__teaser">@subdirectory.Teaser</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>

                <p>
                    <span class="bold">Disclaimer</span> : The content on this page has not been created by Stockport Council. For more information read the full Terms and Conditions.
                </p>
            </div>
        </div>
    </div>
</div>