@model DirectoryViewModel
@{
    var directory = Model.Directory;
    ViewData["Title"] = directory.Title;
    ViewData["og:title"] = directory.Title;
    ViewData["Description"] = directory.MetaDescription;
    Layout = "../Shared/_Layout2023.cshtml"; 
}
<div class="grid-container-full-width">
    <div class="placeholder placeholder-bg-green placeholder-small">
        <h1>TITLE & SEARCH</h1>
    </div>
    <div class="placeholder placeholder-bg-orange placeholder-xs">
        <p>BREADCRUMBS</p>
    </div>
    <div class="placeholder grid-container">
        <div class="grid-30 placeholder-large placeholder-bg-grey">
            ORGANISATION DETAILS
        </div>

        <div class="placeholder-large grid-70">
            DESCRIPTION
        </div>
    </div>
</div>