@model DirectoryViewModel
@{
    var directory = Model.Directory;
    ViewData["Title"] = directory.Title;
    ViewData["og:title"] = directory.Title;
    ViewData["Description"] = directory.MetaDescription;
    Layout = "../Shared/_Layout2023.cshtml"; 
}
<div class="grid-container-full-width">
    <div class="placeholder placeholder-bg-teal placeholder-small">
        <h1>TITLE & SEARCH</h1>
    </div>
    <div class="placeholder placeholder-bg-orange placeholder-xs">
        <p>BREADCRUMBS</p>
    </div>
    <div class="placeholder placeholder-small placeholder-bg-green">
        <p>CALL TO ACTION</p>
    </div>
    <div class="placeholder placeholder-large placeholder-bg-grey">
        DIRECTORIES
    </div>
    <hr>
    <div class="placeholder placeholder-medium">
        EXTERNAL LINKS
    </div>
</div>