@model DirectoryViewModel
@{
    var directory = Model.SubDirectory;
    ViewData["Title"] = directory.Title;
    ViewData["og:title"] = directory.Title;
    ViewData["Description"] = directory.MetaDescription;
    Layout = "../Shared/_Layout2023.cshtml"; 
}
<div class="grid-container-full-width">
    <div class="placeholder placeholder-bg-teal placeholder-small">
        <h1>@directory.Title</h1>
    </div>
    <div class="grid-container-full-width">
        <partial name="DirectoryBreadcrumb" model='@Model.Breadcrumbs'/>
    </div>
    <div class="placeholder placeholder-small placeholder-bg-green">
        <p>CALL TO ACTION</p>
    </div>
    <div class="placeholder placeholder-large placeholder-bg-grey">
        DIRECTORIES
    </div>
    <hr>
    <div class="placeholder placeholder-medium">
        EXTERNAL LINKS
    </div>
</div>