@{
    ViewData["Title"] = Model.Title;
    ViewData["Form"] = "true";
    Layout = "../Shared/_Layout.cshtml";
}
@model StockportWebapp.ViewModels.SmartAnswerViewModel
<div class="container-header grid-container" id="smart-answers-container">
    <div class="grid-100">
        <h1 tabindex="-1" id="content">@ViewData["Title"]</h1>
        @Html.Partial("Components/QuestionRenderer/QuestionForm", Model.Page)
    </div>
</div>

@section Script {
    <script type="text/javascript">
        require(["stockportgov/questioncomponent/questionmodule"],
            function(module) {
                module.Init("smart/@Model.Slug");
            });
    </script>
}