@{   
    ViewData["Form"] = "true";
    var page = ViewData["page"] as Page;
    Layout = "../Shared/_Layout.cshtml";    
}

@using StockportWebapp.QuestionBuilder.Entities
@model StockportWebapp.ViewModels.SmartAnswerSummaryViewModel


<div class="container-header grid-container" id="smart-answers-container">
    <div class="grid-100">
        <h1>@ViewData["pageTitle"]</h1>
        <label class="smart-answers-container-label">Check your answers before we give you your results</label>
    @foreach (var previousAnswer in page.PreviousAnswers)
    {
        <div class="smart-answers-container">
            <div class="grid-50 tablet-grid-50 mobile-grid-100"><strong>@previousAnswer.QuestionText</strong></div>
            <div class="grid-50 tablet-grid-50 mobile-grid-100">@previousAnswer.Response</div>
        </div>        
    }
    </div>
</div>
