@model Tuple<string, string, string>

<!DOCTYPE html>
<html lang="en-GB" class="no-js">
<head>

    <link type="text/css" href="http://maps.stockport.gov.uk/css/jQuery/jquery.core.css" rel="stylesheet">
    <link type="text/css" href="http://maps.stockport.gov.uk/css/jQuery/jquery.autocomplete.css" rel="stylesheet">
    <link type="text/css" href="http://maps.stockport.gov.uk/css/jQuery/astun/ui.all.css" rel="stylesheet">
    <link type="text/css" href="http://maps.stockport.gov.uk/css/Map_base.css" rel="stylesheet">
    <link type="text/css" href="http://maps.stockport.gov.uk/css/responsive/normalize.css" rel="stylesheet">
    <link type="text/css" href="http://maps.stockport.gov.uk/css/responsive/responsive.css" rel="stylesheet">
    <link type="text/css" href="http://maps.stockport.gov.uk/custom.smbc/css/stockport.min.css" rel="stylesheet">
    <link type="text/css" href="http://maps.stockport.gov.uk/custom.smbc/css/overrides.min.css" rel="stylesheet">

    <script type="text/javascript" src="http://maps.stockport.gov.uk/js/responsivedesign.js"></script>
    <script type="text/javascript" src="http://maps.stockport.gov.uk/custom.smbc/js/jquery-1.10.1.js"></script>
    <script type="text/javascript" src="http://maps.stockport.gov.uk/custom.smbc/js/jquery-ui.js"></script>


    <script type="text/javascript">
        if (!window.astun) { window.astun = {}; }
        if (!window.astun.settings) { window.astun.settings = {}; }
        window.astun.settings.addressSearch = {
            'showRecordsCount': true
        }
        window.astun.settings.mapOptions = {};
        window.astun.settings.mapOptions.showSearchResultsUnderMap = true;
        var responsiveDesign = new astun.ResponsiveDesign(240);
    </script>
    <script type="text/javascript" src="http://maps.stockport.gov.uk/js/lib/prototype-1.6.0.3.js"></script>
    <script type="text/javascript" src="http://maps.stockport.gov.uk/FileIncluderJS.aspx?language="></script>
</head>
<body>
    <style type="text/css">
        #atButtonBar {
            display: none;
        }

        .atBaseMapSwitcher {
            position: absolute;
            top: 7px;
            right: 5px;
            z-index: 10000;
            border: medium none;
            background: none repeat scroll 0% 0% transparent;
        }

            .atBaseMapSwitcher ul {
                list-style-type: none;
                margin: 0px;
                padding: 0px;
            }

            .atBaseMapSwitcher li {
                position: relative;
                display: block;
                margin: 0px;
            }

            .atBaseMapSwitcher ul li a.atBM-active {
                background-color: #138A26;
                border-width: 2px;
                border-color: white;
            }

            .atBaseMapSwitcher a {
                padding: 3px 6px;
                border: 2px solid white;
                font-size: inherit;
                display: block;
                float: none;
                text-decoration: none;
                box-shadow: none;
                background-color: #55565A;
                color: white;
                text-align: center;
            }

            .atBaseMapSwitcher ul li:last-child a {
                border-width: 0 2px 2px 2px;
            }

            .atBaseMapSwitcher ul li:first-child a.atBM-active {
                box-shadow: inset 0.5em 0.5em 0.5em rgba(64, 32, 32, 0.1);
            }

        div#atPanelToggle {
            left: 11px;
            top: 18px;
            height: 30px;
        }

        div#atPanelToggle, div#atZoomControls {
            position: absolute;
            z-index: 1000;
        }

        div#atZoomControls {
            left: 11px;
            top: 80px;
        }

        div#atPanelToggle a {
            background-image: url(menu.png);
            background-size: 18px;
            background-repeat: no-repeat;
            background-position: 50%;
        }

        div#atZoomControls a {
            display: block;
            font-size: 26px;
            line-height: 25px;
            margin-top: 5px;
        }

        div#atZoomControls a, div#atPanelToggle a {
            width: 40px;
            height: 50px;
            display: inline-block;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            padding: 10px;
            border-radius: 4px;
            border: 2px solid white;
            background-color: #55565A;
            color: white;
            box-shadow: none;
            text-decoration: none;
        }
    </style>

    <form name="atMapSpurForm" method="post" action="myhouse.aspx" id="atMapSpurForm" class="astunContainer atJSEnabled">

        <div id="atButtonBar"><input type="submit" name="atButtonBar$btnOtherThings" value="Show side panel" id="atButtonBar_btnOtherThings" class="ui-state-default ui-corner-all" /><input type="submit" name="atButtonBar$btnResetPage" value="Reset" id="atButtonBar_btnResetPage" class="ui-state-default ui-corner-all" /></div>

        <div id="atMyMaps" class="atModule atVersion2">
            <div id="atContent" class="atMapContent">
                <div class="atPanelContainer">
                    <div class="atPanelContent" id="atMap" style="padding:0">
                        <div id="atInitialLoader" class="ui-state-default" style=" margin:180px auto auto;width: 75px; background: none repeat scroll 0% 0% rgb(255, 255, 255); z-index: 800; text-align: center; padding: 10px; border-width: 5px; -moz-border-radius: 15px 15px 15px 15px; -moz-box-shadow: 5px 5px 3px rgb(129, 129, 129); display: block;">
                            <img src="http://maps.stockport.gov.uk/images/stopwatch.gif" id="atMapTimer" style="float:none" alt="stopwatch" />
                            <span>
                                <br><span style="display:block; padding-top:7px">Loading...</span>
                            </span>
                        </div>
                    </div>
                </div> <!-- .atPanelContainer -->
            </div> <!-- #atContent -->
        </div> <!-- #atMyMaps -->
    </form>

    <script type="text/javascript">
        //var intTime = new Date();
        Event.observe(window, 'load', function () {
            pageType = $('atMap') ? 'isharemaps.mymaps' : 'isharemaps.simple';
            Astun.JS.IncludeJS(pageType, function () {
                atMyCouncil();
                if ($('atMap')) {
                    loadMap();
                }
                if (astun && astun.customJS && typeof astun.customJS == "function") {
                    astun.customJS();
                }
            });
        });

        function atMyCouncil() {
            if (!window.astun) {
                window.astun = {};
                astun = window.astun;
            }
            if (!astun.settings) {
                astun.settings = {};
            }

            astun.settings.themeName = astun.settings.themeName || 'base';
            astun.settings.popupDelay = astun.settings.popupDelay || 500;

            if (!astun.mypages) astun.mypages = {};
            astun.mypages.eventElement = $('atMapSpurForm');

            if (jQuery('#atMyNearest').length > 0) jQuery('.atPanelContainer').panelsaccordion();

            //My Alerts accordion
            if (jQuery('#atMyAlerts').length > 0) jQuery('#atMyAlertsLocationBased .atPanelContent:first').myalertsaccordion();

            //Address finder
            var addressfinder = new Astun.JS.GetData.AddressFinder(astun.mypages.eventElement, 'getdata.aspx');
            jQuery('#atLocationBar').addresssearch("", "", "", { addressBarSearch: true });

            //On Pagereset button click, delete the cookies first - bug 1932
            jQuery('#atButtonBar_btnResetPage').click(Astun.JS.Common.clearAstunCookies);
        }

        function loadMap() {
            var loader = {};
            if (!window.astun.settings.mapOptions) {
                window.astun.settings.mapOptions = {};
            }
            loader.mapID = 'atMap';

            Event.observe($(loader.mapID), 'astun:sourceLoad', function (evt) {
                var panels =
                    [
                        {
                            cssClass: 'atMapSourceSwitcher',
                            pluginName: 'mapsourceswitcher',
                            pluginData: evt,
                            pluginOpts: { collapseInStart: true }
                        }
                            ,
                        {
                            cssClass: 'atPanelSearchFor',
                            pluginName: 'searchfor',
                            pluginData: evt,
                            pluginOpts: { collapseInStart: true }
                        }
                        ,
                        {
                            cssClass: 'atPanelFindNearest',
                            pluginName: 'findnearest',
                            pluginData: evt,
                            pluginOpts: { collapseInStart: true }
                        }
                        ,
                        {
                            cssClass: 'atTakeMeTo',
                            pluginName: 'takemeto',
                            pluginData: evt,
                            pluginOpts: { collapseInStart: true }
                        }
                        ,
                        {
                            cssClass: 'atShowmapCategories',
                            pluginName: 'showmapcategories',
                            pluginData: evt,
                            pluginOpts: {}
                        }
                    ],
                    //Options to pass to the function
                    options = {
                        panelWrapperTopPosition: 1,
                        attachPanelWrapperTo: '#' + loader.mapID
                    };
                //Call the function which will start all jQuery plugins having these options
                jqueryFunctions(jQuery, jQuery('#' + loader.mapID), panels, options);

                //On map page toggle the panel wrapper if user click 'other things that may interest you'
                jQuery('#atButtonBar_btnOtherThings').live('click', function () {
                    jQuery('#' + loader.mapID).trigger('togglePanelWrapper');
                    return false;
                });


                // Attempt to ensure the popup is not obscured by base map buttons
                astun.mapWrapper.map.paddingForPopups.right = 120;

                // Remove the PanZoomBar control, we will add a set of plain
                // links which work reliably on all devices
                astun.mapWrapper.map.removeControl(
                    jQuery.grep(astun.mapWrapper.map.controls, function (control, idx) {
                        return control.displayClass == 'olControlPanZoomBar'
                    })[0]
                );

                //// Attempt to open the info popup if InfoEasting and InfoNorthing
                //// parameters are passed on the query string
                //try {
                //    var params = Astun.JS.Common.getObjectFromQuerystring(window.location.search);
                //    if (params.InfoEasting && params.InfoNorthing) {
                //        var e = parseFloat(params.InfoEasting);
                //        var n = parseFloat(params.InfoNorthing);
                //        astun.mapWrapper.interactions.showMapToolTip({ 'lonLat': new OpenLayers.LonLat(e, n) });
                //    }
                //} catch (e) {
                //    if (console && console.warn) {
                //        console.warn('Unable to display popup', e);
                //    }
                //}

                function fixPanelPosition() {
                    // Ensure the vertical positon of the panel is correct
                    jQuery('.atPanelWrapperParent').css('top', Math.round(jQuery('#atMap').offset().top));
                }

                // New bolder menu toggle button
                jQuery('<div id="atPanelToggle" class="atPanelToggle"><a href="#" title="Menu">&nbsp;</a></div>').appendTo('.atPanelContent.olMap').click(function () {
                    if (isSmallWindow()) {
                        openDialog();
                    } else {
                        fixPanelPosition()
                        // Toggle the panel
                        jQuery('.atJqOpenClose').click();
                    }
                    return false;
                });

                fixPanelPosition();

                jQuery('<div id="atZoomControls" class="atZoomControls"><a href="#zoomin" class="zoomin" title="Zoom in">+</a><a href="#zoomout" class="zoomout" title="Zoom out">-</a></div>').appendTo('.atPanelContent.olMap').click(function (e) {
                    if (e.target.hash === '#zoomin') {
                        astun.mapWrapper.map.zoomIn()
                    } else {
                        astun.mapWrapper.map.zoomOut()
                    }
                    return false;
                });

            });
            //Start the map
            loader.map = new Astun.JS.Map(loader.mapID, { mapSource: '@Model.Item1', layers: '@Model.Item3' });


            //Initialize the address finder
            loader.addressFinder = new Astun.JS.GetData.AddressFinder(loader.map.mapElement, loader.map.dataUrl);
        }
    </script>
</body>
</html>