<div id="atMyMaps">
    <div id="atMap" class="atPanelContent">
        <div id="atInitialLoader" class="ui-state-default" style="padding: 10px; margin: 125px auto auto; text-align: center; width: 75px; font-family: Helvetica; -moz-border-radius: 5px; -webkit-border-radius: 5px;">
            Loading...
        </div>
    </div>
    <div style="clear: both">&nbsp;</div>
    <p>Can't use the map? Please call 0161 217 6111 to report the fault.</p>
</div>