// Colours method inspired by https://standards.usa.gov/colors/

// Primary Colours
$colorPrimary: #055c58;
$colorPrimaryDark: #1d3837;
$colorPrimaryDarkest: #092726;
$colorPrimaryLight: #3a716e;
$colorPrimaryPale: #83aeac;
$colorPrimaryLightest: #99a6a7;
$colorPrimarySuperDark: #124a47;

// Secondary Colours
$teal: #06b79b;
$teal-darker: #188479;
$paleRed: #cf606a;
$softBlue: #207eab;
$green: #15863A;
$richGreen: #62ac0b;
$orange: #ef8a16;
$red: #c83725;

// Tertiary 
$brown: #a2591f;
$purple: #8e5572;
$tealDark: #00937c;
$orangeSunburnt: #d8572a;

// Greys
$white: #ffffff;
$offWhite: #ebebeb;
$greyLightest: #e1e1e1;
$greyLighter: #cccccc;
$greyLight: #bcbcbc;
$greyMiddle: #999999;
$greyDark: #666;
$greyDarkest: #333333; 
$black: #000000;