@using StockportWebapp.Models
@model NewsroomViewModel
@{
    ViewData["og:title"] = "News";
    ViewData["Title"] = "News";
    Layout = "../Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    @Html.Partial("Breadcrumb", new List<Crumb>())
}

<div class="l-page-content">
    <div class="full-width-title">
        <div class="grid-container grid-parent grid-100">
            <div class="grid-70 tablet-grid-70 mobile-grid-100">
                <h1 class="full-width-title-with-button">News</h1>
            </div>
            <div class="header-right-button grid-30 tablet-grid-30 mobile-grid-100">
                @if (Model.Newsroom.EmailAlerts)
                {

                    <stock-button as-link="true" class="button-outline-white-transparent" href="@Model.EmailAlertsUrl" target="_blank"><i class="fa fa-envelope-o fa-1x"></i>Email alerts</stock-button>
                }
                else
                {
                    <stock-button as-link="true" class="button-outline-white-transparent" href="@Url.Action("Rss", "News")"><i class="fa fa-rss fa-1x"></i>News RSS feed</stock-button>
                }
            </div>
        </div>
    </div>
    
    @Html.Partial("NewsListing", Model)
</div>