@model NewsroomViewModel
@{
    ViewData["og:title"] = "News";
    ViewData["Title"] = "News";
    Layout = "../Shared/_Layout2023.cshtml";
}

<div class="grid-container-full-width" data-cy="newsroom">
    <partial name="CondolenceAlerts" model='Model.Newsroom.CondolenceAlerts' />
    <partial name="GlobalAlerts" model='Model.Newsroom.Alerts' />
    <partial name="Breadcrumb2023" model='new List<Crumb> { new Crumb("News and media", "news-room", "Newsroom") }' view-data="@(new ViewDataDictionary(ViewData) {{"landingBreadcrumb", "topic-breadcrumb-container"}})"/>

    <section class="news-article" data-cy="title-and-summary">
        <div class="grid-container">
            <div class="news-article__container">
                <div class="grid-100">
                    <h1 class="news-article__title">News</h1>
                    <p class="lead news-article__teaser--no-margin">Keep up to date with the latest news in Stockport.</p>
                </div>
            </div>
        </div>
    </section>
    
    @if (Model.Pagination?.CurrentPageNumber == 1 && Model.Newsroom.LatestArticle is not null)
    {
        <section class="section section--white section--margin-top section--no-margin" data-cy="featured-news">
            <div class="grid-container">
                <div class="grid-100">
                    <div class="section__content section__content--no-margin">
                        <partial name="NewsArticlesNewsBanner" model="Model.Newsroom.LatestArticle.Items.FirstOrDefault()" />
                    </div>
                </div>
            </div>
        </section>
    }
    
    <section class="section section--grey section--no-margin @(Model.Pagination?.CurrentPageNumber == 1 && Model.Newsroom.LatestArticle is not null ? "section--margin-top" : "section--padded")" data-cy="all-news">
        <div class="grid-container">
            <div class="grid-100">
                <div class="section__content">
                    @if (Model.Pagination?.CurrentPageNumber == 1 && Model.Newsroom.News.Any())
                    {
                        <h2 class='@(Model.Newsroom.LatestArticle is not null ? "news-article__title--margin-top" : string.Empty)'>Latest news</h2>

                        <partial name="NewsCards" model="Model.Newsroom.LatestNews" view-data='new ViewDataDictionary(ViewData) { { "twoGrid", false }, { "BorderCssClass", "border-colour-multi" } }' />
                    }
               
                    @if (Model.Pagination?.CurrentPageNumber == 1 && Model.Newsroom.CallToAction is not null)
                    {
                        <partial name="NewsCallToAction" model='Model.Newsroom.CallToAction' view-data='new ViewDataDictionary(ViewData) { { "AdditionalCssClass", "section--margin-top" } }' />
                    }

                    @if (Model.Newsroom.NewsItems is not null && Model.Newsroom.NewsItems.Items.Any())
                    {
                        @if (Model.Pagination?.CurrentPageNumber == 1 && Model.Newsroom.CallToAction is not null)
                        {
                            <h2 class="news-article__title--margin-top">All news</h2>
                        }
                        
                        <partial name="NewsCards" model="Model.Newsroom.NewsItems" view-data='new ViewDataDictionary(ViewData) { { "twoGrid", false }, { "BorderCssClass", "border-colour-multi" } }' />
                    }

                    @if ((Model.Newsroom.NewsItems is null || !Model.Newsroom.NewsItems.Items.Any()) && (Model.Newsroom.LatestNews is null || Model.Newsroom.LatestNews.Items.Any()) )
                    {
                        <div class="grid-100 news-article-not-found">
                            <h2>No news articles found</h2>
                        </div>
                    }
                </div>

                <partial name="Pagination2024" model='Model.Pagination' view-data='new ViewDataDictionary(ViewData) { { "PaginationMarginBottom", "pagination--margin-bottom" } }' />
            </div>
        </div>
    </section>

    <partial name="PreFooter" />
    <partial name="NewsArchiveBanner" />
</div>