@model NewsroomViewModel
@{
    ViewData["og:title"] = "News";
    ViewData["Title"] = "News";
    Layout = "../Shared/_Layout2023.cshtml";
}

<div class="grid-container-full-width" data-cy="news-page">
    @section Breadcrumbs {
        <div class="grid-container-full-width">
            <partial name="TopicBreadcrumb" model='new List<Crumb> { new Crumb("News and media", "news-room", "Newsroom") }' />
        </div>
    }

    <section class="topic-title" data-cy="title-and-summary">
        <div class="grid-container">
            <div class="grid-100">
                <h1 class="event-homepage__title">News</h1>
            </div>
        </div>

        <form action="@Url.Action("NewsArticle", "News")" method="get">
            <div class="grid-container grid-parent event-homepage--no-padding">
                <div class="grid-100 event-homepage__filters">
                    <div class="grid-25">
                        <label class="h-l">Category</label>
                        <div class="event-homepage__filters-options">
                            <select asp-items="@Model.Newsroom.CategoryOptions()" placeholder="All categories" name="category" id="category" aria-label="Select category" autocomplete="off"></select>
                        </div>
                    </div>

                    <div class="grid-25">
                        <button class="btn btn--inverse btn--bold btn--width-25 btn--chevron-forward event-homepage__filters-button" data-cy="find-whats-on">
                            <span class="btn_text">Search news</span>
                        </button>
                    </div>

                   @{
                        var earliestDate = Model.Newsroom.Dates.OrderByDescending(d => d).FirstOrDefault();
                        var firstDayOfMonth = new DateTime(earliestDate.Year, earliestDate.Month, 1);
                        var lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);

                        var dateFrom = firstDayOfMonth.ToString("yyyy-MM-dd");
                        var dateTo = lastDayOfMonth.ToString("yyyy-MM-dd");
                    }

                    <div class="grid-25 push-25 event-homepage__button hide-on-tablet hide-on-mobile">
                        <a href="@Url.Action("NewsArchive", "News", new { DateFrom = dateFrom, DateTo = dateTo })"
                            class="btn btn--white-outline btn--width-25 btn--chevron-forward btn--bold btn--chevron-bold event-homepage__filters-button"
                            data-cy="add-your-event">
                            <span class="btn_text">News archive</span>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </section>

    <partial name="GlobalAlerts" model='Model.Newsroom.Alerts' />
    
    <section class="section section--white section--margin-top section--no-margin" data-cy="all-news">
        <div class="grid-container">
            <div class="grid-100" data-cy="navcard-list">
                <div class="section__content section__content--no-margin">
                    @if (Model.Pagination?.CurrentPageNumber == 1 && Model.Newsroom.News.Any())
                    {
                        <partial name="NewsItemsForArticles3" model="Model.Newsroom" view-data='new ViewDataDictionary(ViewData) { { "ShowLastUpdated", true }, { "twoGrid", false } }' />
                    }
                    
                    @if ((Model.Newsroom.NewsItems is null || !Model.Newsroom.NewsItems.Items.Any()) && (Model.Newsroom.LatestNews is null || Model.Newsroom.LatestNews.Items.Any()) )
                    {
                        <div class="grid-100 news-article-not-found">
                            <h2>No news articles found</h2>
                        </div>
                    }
                </div>
                </div>
            </div>
        </div>
    </section>

    <partial name="Pagination2024" model='Model.Pagination' view-data='new ViewDataDictionary(ViewData) { { "PaginationMarginBottom", "pagination--margin-bottom" } }' />
</div>