// Colours method inspired by https://standards.usa.gov/colors/

// Primary Colours
$colorPrimary: #66280E;
$colorPrimaryDark: #B2694A;
$colorPrimaryDarkest: #2E0C01;
$colorPrimaryLight: #AD7261;
$colorPrimaryPale: #7D4C3E;
$colorPrimaryLightest: #99a6a7;

// Secondary Colours
$teal: #220A00;
$paleRed: #cf606a;
$softBlue: #207eab;
$green: #18914c;
$richGreen: #62ac0b;
$orange: #ef8a16;
$red: #c83725;

// Tertiary 
$brown: #a2591f;
$purple: #8e5572;
$tealDark: #00937c;
$orangeSunburnt: #d8572a;

// Greys
$white: #ffffff;
$offWhite: #ebebeb;
$greyLightest: #e1e1e1;
$greyLighter: #cccccc;
$greyLight: #bcbcbc;
$greyMiddle: #999999;
$greyDark: #666666;
$greyDarkest: #333333; 
$black: #000000;