/* Base colors, should not be referenced in classes
    http://chir.ag/projects/name-that-color
*/
$white: #ffffff;
$black: #000000;
$mediumDarkCyan: #00818a;
$darkCyan: #09656c;
$easternBlue: #1AA9A1;
$darkEasternBlue: #086964;
$tuscanyOrange: #CD5334;
$waterCourseBlue: #055C58;
$carrotOrange: #EF8A17;
$mercuryGray: #E5E5E5;
$galleryGray: #EEEEEE;
$doveGray: #666666;
$bushTeal: #061a19;
$tePapaGreen: #1C3837;
$bottleGreen: #072726;
$fireBushOrange: #E39024;
$mineShaftGray: #373737;
$ebbGray: #EBEBEB;
$dustyGray: #999999;
$christiGreen: #62AC0B;
$strikemasterPurple: #8E5572;
$persianGreen: #00B79B;
$blackHazeGray: rgba(0,0,0,0.1);
$alabasterGray: rgba(0,0,0,0.2);
$transparentWhite: rgba(255,255,255,0.2);
$stoneBlue: #005C57;
$silverChaliceGray: #AAAAAA;
$tallPoppyRed: #C83725;
$paymentGreen: #33CA7F;
$refundOrange: #FE7F2D;
$discountBlue: #00798C;
$chargeRed: #D7263D;
$greyMiddle: #999999;
$greyDarker: #505A5F;
$greyDarkest: #333333;
$colorPrimaryDark: #1d3837;
$colorPrimaryLight: #3a716e;
$colorPrimaryPale: #83aeac;
