@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic");

$fontStack: "Open Sans", Arial, sans-serif;
$fontStackHeadings: 'Source Sans Pro', sans-serif;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 600;

$fontSmall: 0.875em;
$fontDefault: 1em;
$fontMedium: 1.375em;
$fontLarge: 1.875em;
$fontExtraLarge: 3em;

body {
  font: 1em / 2 $fontStack;
  color: $bodyText;
  -webkit-font-smoothing: antialiased;
}

pre,
code {
  font-family: "DejaVu Sans Mono", Monaco, Consolas, monospace;
}

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

.subtitle {
  margin-top: -20px;
  font-style: italic;
}

/*------------------- Headings -------------------*/

h1 {
  font-size: $fontExtraLarge;
  font-weight: $fontWeightLight;
  margin: 10px 0 40px 0;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: $headingColor;

  @media #{$mobile} {
    font-size: 2.4em;
  }
}

h2 {
  font-size: $fontLarge;
  font-weight: $fontWeightRegular;
  margin: 10px 0 20px 0;
  letter-spacing: 0.015em;
  color: $headingColor;

  @media #{$mobile} {
    font-size: 1.5em;
  }
}

h3 {
  font-size: $fontMedium;
  font-weight: $fontWeightMedium;
  margin: 10px 0 10px 0;
  color: $headingColor;

  @media #{$mobile} {
    font-size: 1.2em;
  }
}

h4 {
  font-size: $fontMedium;
  font-weight: $fontWeightRegular;

  @media #{$mobile} {
    font-size: 1.2em;
  }
}

h5 {
  font-size: $fontMedium;
  font-weight: $fontWeightMedium;

  @media #{$mobile} {
    font-size: 1.2em;
  }
}

h6 {
  font-size: $fontSmall;
  font-weight: $fontWeightMedium;
  text-transform: uppercase;
}

/*------------------- Text Classes -------------------*/

.text-light {
  font-weight: $fontWeightLight;
}

.text-regular {
  font-weight: $fontWeightRegular;
}

.text-small {
  font-size: $fontSmall;
}

.text-medium {
  font-weight: $fontWeightMedium;
  font-size: $fontMedium;
}

.text-large {
  font-size: $fontLarge;
}

.text-extra-large {
  font-size: $fontExtraLarge;
}

caption {
  font-size: $fontSmall;
}

.text-centre {
  text-align: center;
}

/*------------------- Links and Buttons -------------------*/

a {
  text-decoration: underline;
  color: $linkDefault;
  text-decoration-thickness: 1px;
  text-underline-offset: .1em;

  &:hover {
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: none;
  }
}

/*------------------- Spacing -------------------*/

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
}
