@model CallToActionBanner

@if (Model is not null)
{
    <section class="section image-banner image-banner-content-width" data-cy="call-to-action-content-width">
        <div class="grid-container">
            <div class="grid-100">
                <div class="image-banner__wrapper">
                    <a href="@Model.Link"
                        class="image-banner__background image-banner__background--position"
                        style="background-image: url(@Model.Image?fm=webp)">
                        <div class="image-banner__content image-banner__content--border-radius">
                            <h2 class="image-banner__title font--bold-extra-squeezed">@Model.Title</h2>
                            
                            @if (!string.IsNullOrEmpty(Model.Teaser))
                            {
                                <p>@Model.Teaser</p>
                            }
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
}