@model CallToActionBanner

@if (Model is not null)
{
    <section class="section image-banner" data-cy="image-banner-screen-width">
        <div class="image-banner__background" style="background-image: url(//images.ctfassets.net/6jh3uby2vw58/10FdH2tPyvmC6pY99qa5nH/5996990a4299e6253c2b47cf4b60873a/Pink.jpg?fm=webp)"></div>
        <div class="image-banner__content">
            <h2 class="image-banner__title font--bold-extra-squeezed">SIGN UP TO OUR NEWSLETTER</h2>

            <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=nvZeoElhuk-kDN8ziBD2RMceoQ0Zw1tDovjBJ8Th7bxUNkYwQ0lCSk9QOFA2SkdWV0JCVzdSQkJMOC4u"
                target="_blank"
                class="btn">Sign up</a>
        </div>
    </section>
}