@using StockportWebapp.Models;
@model EventCalendar
@{
    string categoryMarginTop = Model.CarouselContents is not null && Model.CarouselContents.Any()
        ? string.Empty
        : "event-homepage__categories--margin-top";
}

<nav aria-label="Event category navigation" class="event-homepage__category-wrapper">
    <div class="grid-container">
        <div class="grid-100">
            <div class="btn-container btn-container--no-padding-bottom">
                <button class="btn btn--on-grey card-item__container-btn event-homepage__filter-toggle">Show filters</button>
            </div>

            <ul class="event-homepage__categories @categoryMarginTop" id="eventFilters">
                @foreach (EventCategory eventCategory in Model.Homepage.Categories)
                {
                    <li class="event-homepage__categories-item">
                        <a href="@($"{Url.Action("Index", "Events")}?category={eventCategory.Slug}&free={Model.Free}")">@eventCategory.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<noscript>
    <style>
        .event-homepage__filter-toggle {
            display: none;
        }

        .event-homepage__categories {
            display: block;
        }
    </style>
</noscript>

<script>
    require(['/assets/javascript/config-33ce7fb5.min.js'], function () {
        require(['eventCategories'],
            function (eventCategories) {
                eventCategories.Init();
            }
        );
    });
</script>