@inject IStaticAssets StaticAssets

<div class="site-header grid-container-full-width">
    <nav aria-label="Skip to main content">
        <div class="skip-to-main-content">
            <a href="#content" class="skip-main">Skip to main content</a>
        </div>
    </nav>

    <header role="banner" id="header" class="grid-container" data-cy="header-new">
        <div class="grid-20 tablet-grid-100 mobile-grid-100">
            <a href="https://www.stockrm.org">
                STOCKROOM
            </a>
        </div>

        <div class="grid-80 tablet-grid-100 mobile-grid-100">
            <nav class="site-header_menu">
                <ul>
                    <li><a href="#" class="primary">Instagram</a></li>
                    <li><a href="#" class="secondary">Location</a></li>
                    <li><a href="#" class="tertiary">Menu</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>