@inject IStaticAssets StaticAssets

<div class="site-header grid-container-full-width">
    <nav aria-label="Skip to main content">
        <div class="skip-to-main-content">
            <a href="#content" class="skip-main">Skip to main content</a>
        </div>
    </nav>

    <header role="banner" id="header" class="grid-container" data-cy="header-new">
        <div class="grid-20 tablet-grid-100 mobile-grid-100">
            <a href="https://www.stockrm.org">
                <img src="~/assets/stockroom/stockroom_logo.png"
                     alt="Stockroom logo"
                     class="site-header_logo"
                     width="394"
                     height="50">
            </a>
        </div>

        <div class="grid-80 tablet-grid-100 mobile-grid-100">
            <nav class="site-header_menu">
                <ul>
                    <li class="site-header_dropdown">
                        <a href="#" class="tertiary">Menu</a>
                        <div class="site-header_dropdown--content">
                            <div class="grid-container">
                                <div class="grid-100">
                                    <ul style="font-size:4rem; margin-bottom:1em;">
                                        <li>
                                            What's On
                                        </li>
                                        <li>
                                            Take Part
                                        </li>
                                        <li>
                                            About Us
                                        </li>
                                        <li>
                                            Visit Us
                                        </li>
                                        <li>
                                            Stockport Stories
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="#" class="secondary">Location</a></li>
                    <li><a href="#" class="primary">Instagram</a></li>
                    
                    
                </ul>
            </nav>
        </div>
    </header>
</div>