@model List<Event>;
@{
    bool isOnHomepage = (bool)ViewData["isOnHomepage"];   
}

<div class="grid-container-full-width" style="background-color:#f2f2f2;" data-cy="article">
    <div class="grid-container">
        <div class="grid-100">
            <section class="article">
                @if (isOnHomepage)
                {
                    <h2 class="card-title h-xl">What's on</h2>
                }
                else
                {
                    <h2 class="card-title card-title--no-margin-top h-xl">Related events</h2>
                }
                
                <ul class="card-wrapper">
                    @foreach (Event relatedContent in Model)
                    {
                        <partial name="EventCard" model="@relatedContent" />
                    }
                </ul>
            </section>
        </div>
    </div>
</div>