<section class="section image-banner" data-cy="image-banner-screen-width">
    <div class="image-banner__background" style="background-image: url(//images.ctfassets.net/6jh3uby2vw58/Vqjq4yD37DxPI7XYo3b74/34702304383a49ce1767ab62d395ef86/runners.jpg?q=89&fm=webp)"></div>
    <div class="image-banner__content">
        <h2 class="image-banner__title font--bold-extra-squeezed">SIGN UP TO OUR NEWSLETTER</h2>

        <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=nvZeoElhuk-kDN8ziBD2RMceoQ0Zw1tDovjBJ8Th7bxUNkYwQ0lCSk9QOFA2SkdWV0JCVzdSQkJMOC4u"
            target="_blank"
            class="btn">Sign up</a>
    </div>
</section>