@model SubItem;

<li class="card-item">
    <img src="@Model.Image" class="card-item__image">

    <div class="card-item__container">
        <div class="card-item__content">
            <h3 class="card-item__content-title">@Model.Title</h3>
            <p class="card-item__content-teaser">@Model.Teaser</p>
        </div>
        <a href="@Model.NavigationLink" class="btn card-item__container-btn">Read more</a>
    </div>
</li>