@model List<SubItem>;
@{
    List<SubItem> itemsToDisplay = (List<SubItem>)ViewData["itemsToDisplay"];
}

<div class="grid-container-full-width" style="background-color:#f2f2f2;" data-cy="article">
    <div class="grid-container">
        <div class="grid-100">
            <section class="article">
                <h2 class="card-title h-xl">More like this</h2>
                <ul class="card-wrapper">
                    @foreach (SubItem relatedContent in itemsToDisplay)
                    {
                        <partial name="RelatedContentCard" model="@relatedContent" />
                    }
                </ul>
            </section>
        </div>
    </div>
</div>