@using StockportWebapp.Models;
@model List<KeyFact>
@{
            var i = 0;
            var number = Model.Count();
}
<div class="matchbox-parent">
    @foreach (var fact in Model)
    {
        var bottomrow = i == number - 1 || (i == number - 2 && i % 2 == 0) ? "bottomrow" : "";
        var href = string.IsNullOrWhiteSpace(fact.Link) ? string.Empty : $"href=\"{fact.Link}\"";
        <div class="grid-50 tablet-grid-50 mobile-grid-100 grid-parent fact">
            <a @Html.Raw(href) class="grid-100 grid-parent @bottomrow matchbox-child">
                <div class="grid-20 mobile-grid-25 tablet-grid-20 icon-holder"><i class="fa @fact.Icon" aria-hidden="true"></i></div>
                <div class="grid-80 mobile-grid-75 tablet-grid-80">@fact.Text</div>
            </a>
        </div>
        i++;
    }
</div>

<hr class="thick-divider" />
<article class="did-you-know">
    <h2>Key Facts</h2>
    @foreach (var fact in Model)
    {
        <div class="grid-5 mobile-grid-10 tablet-grid-5"><span class="si si-@fact.Icon"></span></div>

        <div class="grid-95 mobile-grid-90 tablet-grid-95"><p>@fact.Text</p></div>
    }
</article>