@using StockportWebapp.Config
@using StockportWebapp.Utils
@{
    ViewData["Title"] = "{pagetitle}";
    ViewData["og:title"] = "{pagetitle}";

    Layout = "/Views/stockportgov/Shared/_LayoutExternal.cshtml";
}
@inject IApplicationConfiguration appConfig;

@{ var democracyHomeLink = appConfig.GetDemocracyHomeLink();}

<div class="breadcrumb-container">
    <div class="grid-container grid-100">
        <ul class="breadcrumb">
            <li><a href="@democracyHomeLink/">Home</a></li>
            <li class="chevron">&rsaquo;</li>
            <li><a href="@democracyHomeLink/topic/about-your-council">About your council</a></li>
            <li class="chevron">&rsaquo;</li>
            <li><a href="@democracyHomeLink/councillors">Councillors</a></li>
            <li class="chevron">&rsaquo;</li>
            {breadcrumb}
        </ul>
    </div>
</div>
<div class="grid-container-full-width">
    <div  tabindex="-1" id="content" class="grid-container grid-100">
        <div id="uitest-page-has-loaded" class="l-body-section-filled mobile-grid-100 tablet-grid-100  push-30 grid-70">
            <section class="grid-100 mobile-grid-100">
                <div class="l-content-container">
                    <div class="grid-100">                        
                        {content}
                    </div>
                </div>
            </section>
        </div>
        <div class="pull-70 l-left-side-bar grid-30 tablet-grid-100 mobile-grid-100 grid-parent">
            <div class="l-left-side-bar-section">
                <ul>
                    <li><a href="mgCalendarMonthView.aspx?GL=1&amp;bcr=1" title="Link to calendar of meetings">Calendar</a></li>

                    <li><a href="mgListCommittees.aspx?bcr=1" title="Link to committee structure">Committees</a></li>

                    <li><a href="ieListMeetings.aspx?CId=587&amp;info=1&amp;md=constitution" title="Link to the Constitution">Constitution</a></li>

                    <li><a href="mgMemberIndex.aspx?bcr=1" title="Link to your Councillors">Councillors</a></li>

                    <li><a href="mgDelegatedDecisions.aspx?bcr=1" title="Link to register of decisions">Decisions</a></li>

                    <li><a href="mgmanageelectionresults.aspx?bcr=1" title="Link to Election Results">Election results</a></li>

                    <li><a href="mgPlansHome.aspx?bcr=1" title="Link to Forward Plans">Forward plans</a></li>

                    <li><a href="ecCatDisplay.aspx?bcr=1&amp;sch=doc" title="Link to library of standard documents">Library</a></li>

                    <li><a href="ieDocHome.aspx?bcr=1" title="Link to information about committee meetings">Meetings</a></li>

                    <li><a href="mgMemberIndexMEP.aspx?bcr=1" title="Link to your MEPs">MEPs</a></li>

                    <li><a href="mgMemberIndexMP.aspx?bcr=1" title="Link to your MPs">MPs</a></li>

                    <li><a href="mgListOutsideBodies.aspx?bcr=1" title="Link to Outside Bodies">Outside bodies</a></li>

                    <li><a href="mgepetitionlistdisplay.aspx?bcr=1" title="Petitions">Petitions</a></li>

                    <li><a href="ieDocSearch.aspx?bcr=1" title="Link to free text search">Search documents</a></li>

                    <li><a href="mgRegisterKeywordInterest.aspx?bcr=1" title="Link to Subscribe to Updates">Subscribe to updates</a></li>

                    <li><a href="mgGeneric.aspx?MD=mgwardflexibilityfunding" title="Link to Ward Funding">Ward Funding</a></li>

                    <li><a href="http://www.stockport.public-i.tv/core/portal/home" title="Link to Webcasting">Webcasting</a></li>

                    <li><a href="mgWhatsNew.aspx?bcr=1" title="Link to what's new">What's new</a></li>
                </ul>                   
            </div>
        </div>
    </div>
</div>

