@{
    ViewData["Title"] = "{pagetitle}";
    ViewData["og:title"] = "{pagetitle}";
    Layout = "/Views/stockportgov/Shared/_LayoutExternal2025.cshtml";

    string democracyHomeLink = "https://www.stockport.gov.uk";
}

<nav class="directories-breadcrumb-container">
    <div class="grid-container">
        <div class="grid-100">
            <ul class="breadcrumb">
                <li><a href="@democracyHomeLink/">Home</a></li>
                <li><a href="@democracyHomeLink/topic/about-your-council">About your council</a></li>
                <li><a href="@democracyHomeLink/councillors">Councillors</a></li>
                <li>{breadcrumb}</li>
            </ul>
        </div>
    </div>
</nav>

<div class="grid-container-full-width">
    <div class="grid-container">
        <div class="grid-100">
            <div class="directory directory--margin-bottom directory--margin-top external-templates">
                <div class="directory--30">
                    <ul class="external-templates__list">   
                        <li><a href="mgCalendarMonthView.aspx?GL=1&amp;bcr=1" title="Link to calendar of meetings">Calendar</a></li>
                        <li><a href="mgListCommittees.aspx?bcr=1" title="Link to committee structure">Committees</a></li>
                        <li><a href="ieListMeetings.aspx?CId=587&amp;info=1&amp;md=constitution" title="Link to the Constitution">Constitution</a></li>
                        <li><a href="mgMemberIndex.aspx?bcr=1" title="Link to your Councillors">Councillors</a></li>
                        <li><a href="mgDelegatedDecisions.aspx?bcr=1" title="Link to register of decisions">Decisions</a></li>
                        <li><a href="mgManageElectionResults.aspx?bcr=1" title="Elections">Elections</a></li>
                        <li><a href="mgPlansHome.aspx?bcr=1" title="Link to Forward Plans">Forward plans</a></li>
                        <li><a href="ecCatDisplay.aspx?bcr=1&amp;sch=doc" title="Link to library of standard documents">Library</a></li>
                        <li><a href="ieDocHome.aspx?bcr=1" title="Link to information about committee meetings">Meetings</a></li>
                        <li><a href="mgMemberIndexMP.aspx?bcr=1" title="Link to your MPs">MPs</a></li>
                        <li><a href="mgListOutsideBodies.aspx?bcr=1" title="Link to Outside Bodies">Outside bodies</a></li>
                        <li><a href="mgepetitionlistdisplay.aspx?bcr=1" title="Petitions">Petitions</a></li>
                        <li><a href="ieDocSearch.aspx?bcr=1" title="Link to free text search">Search documents</a></li>
                        <li><a href="mgStatsReports.aspx?bcr=1" title="Link to statistics reports">Statistics</a></li>
                        <li><a href="mgRegisterKeywordInterest.aspx?bcr=1" title="Link to Subscribe to Updates">Subscribe to updates</a></li>
                        <li><a href="mgGeneric.aspx?MD=mgwardflexibilityfunding" title="Link to Ward Funding">Ward Funding</a></li>
                        <li><a href="http://www.stockport.public-i.tv/core/portal/home" title="Link to Webcasting">Webcasting</a></li>
                        <li><a href="mgWhatsNew.aspx?bcr=1" title="Link to what's new">What's new</a></li>
                        <li><a href="mgWorkToDo.aspx?bcr=1" title="Link to your Work to Do">Work to do</a></li>
                        <li><a href="ieLogon.aspx?bcr=1" title="Link to Logon">Logon</a></li>
                    </ul>
                </div>

                <div class="directory--70">
                    <section>
                        <div class="grid-100">                        
                            {content}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>