@{
    ViewData["Title"] = "{pagetitle}";
    ViewData["og:title"] = "{pagetitle}";
    Layout = "/Views/stockportgov/Shared/_LayoutExternal2025.cshtml";

    string democracyHomeLink = "https://www.stockport.gov.uk";
}

<div class="grid-container-full-width">
    <nav class="directories-breadcrumb-container" aria-label="Breadcrumb" data-cy="breadcrumb-navigation">
        <div class="grid-container">
            <div class="grid-100">
                <ul class="breadcrumb">
                    <li><a href="@democracyHomeLink/">Home</a></li>
                    <li><a href="@democracyHomeLink/topic/about-your-council">About your council</a></li>
                    <li><a href="@democracyHomeLink/councillors">Councillors</a></li>
                    <li>{breadcrumb}</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="grid-container">
        <div class="grid-100">
            <section class="article">
                <div class="article--70">
                    <section>
                        {content}
                    </section>
                </div>

                <div class="article--30">
                    <nav aria-labelledby="navcard__title">
                        <ul class="navcard navcard-wrapper--no-margin navcard--border-top-10 navcard--no-padding-right-rtl navcard--theme-teal-lighter-top navcard--width-100">
                            <li class="navcard navcard--grey navcard--no-margin navcard--no-padding-right-rtl navcard--width-100">
                                <div class="navcard--border-left-1 navcard--border-right-1 navcard--theme-grey-accent-all">
                                    <a class="navcard--padding navcard__link" href="mgCalendarMonthView.aspx?GL=1&amp;bcr=1">
                                        <h3 class="navcard__title navcard__title--no-margin navcard__title--normal-weight">
                                            Calendar
                                        </h3>
                                    </a>
                                </div>
                            </li>

                            <li class="navcard navcard--grey navcard--no-margin navcard--no-padding-right-rtl navcard--width-100">
                                <div class="navcard--border-left-1 navcard--border-right-1 navcard--theme-grey-accent-all">
                                    <a class="navcard--padding navcard__link" href="mgListCommittees.aspx?bcr=1">
                                        <h3 class="navcard__title navcard__title--no-margin navcard__title--normal-weight">
                                            Committees
                                        </h3>
                                    </a>
                                </div>
                            </li>

                            <li class="navcard navcard--grey navcard--no-margin navcard--no-padding-right-rtl navcard--width-100">
                                <div class="navcard--border-left-1 navcard--border-right-1 navcard--theme-grey-accent-all">
                                    <a class="navcard--padding navcard__link" href="ieListMeetings.aspx?CId=587&amp;info=1&amp;md=constitution">
                                        <h3 class="navcard__title navcard__title--no-margin navcard__title--normal-weight">
                                            Constitution
                                        </h3>
                                    </a>
                                </div>
                            </li>

                            <li class="navcard navcard--grey navcard--no-margin navcard--no-padding-right-rtl navcard--width-100">
                                <div class="navcard--border-left-1 navcard--border-right-1 navcard--theme-grey-accent-all">
                                    <a class="navcard--padding navcard__link" href="mgMemberIndex.aspx?bcr=1">
                                        <h3 class="navcard__title navcard__title--no-margin navcard__title--normal-weight">
                                            Councillors
                                        </h3>
                                    </a>
                                </div>
                            </li>

                            <li class="navcard navcard--grey navcard--no-margin navcard--no-padding-right-rtl navcard--width-100">
                                <div class="navcard--border-left-1 navcard--border-right-1 navcard--theme-grey-accent-all">
                                    <a class="navcard--padding navcard__link" href="mgDelegatedDecisions.aspx?bcr=1">
                                        <h3 class="navcard__title navcard__title--no-margin navcard__title--normal-weight">
                                            Decisions
                                        </h3>
                                    </a>
                                </div>
                            </li>

                            <li class="navcard navcard--grey navcard--no-margin navcard--no-padding-right-rtl navcard--width-100">
                                <div class="navcard--border-left-1 navcard--border-right-1 navcard--theme-grey-accent-all">
                                    <a class="navcard--padding navcard__link" href="mgmanageelectionresults.aspx?bcr=1">
                                        <h3 class="navcard__title navcard__title--no-margin navcard__title--normal-weight">
                                            Election results
                                        </h3>
                                    </a>
                                </div>
                            </li>

                            <li class="navcard navcard--grey navcard--no-margin navcard--no-padding-right-rtl navcard--width-100">
                                <div class="navcard--border-left-1 navcard--border-right-1 navcard--theme-grey-accent-all">
                                    <a class="navcard--padding navcard__link" href="mgPlansHome.aspx?bcr=1">
                                        <h3 class="navcard__title navcard__title--no-margin navcard__title--normal-weight">
                                            Forward plans
                                        </h3>
                                    </a>
                                </div>
                            </li>

                            <li class="navcard navcard--grey navcard--no-margin navcard--no-padding-right-rtl navcard--width-100">
                                <div class="navcard--border-left-1 navcard--border-right-1 navcard--theme-grey-accent-all">
                                    <a class="navcard--padding navcard__link" href="ecCatDisplay.aspx?bcr=1&amp;sch=doc">
                                        <h3 class="navcard__title navcard__title--no-margin navcard__title--normal-weight">
                                            Library
                                        </h3>
                                    </a>
                                </div>
                            </li>

                            <li class="navcard navcard--grey navcard--no-margin navcard--no-padding-right-rtl navcard--width-100">
                                <div class="navcard--border-left-1 navcard--border-right-1 navcard--theme-grey-accent-all">
                                    <a class="navcard--padding navcard__link" href="ieDocHome.aspx?bcr=1">
                                        <h3 class="navcard__title navcard__title--no-margin navcard__title--normal-weight">
                                            Meetings
                                        </h3>
                                    </a>
                                </div>
                            </li>

                            <li class="navcard navcard--grey navcard--no-margin navcard--no-padding-right-rtl navcard--width-100">
                                <div class="navcard--border-left-1 navcard--border-right-1 navcard--theme-grey-accent-all">
                                    <a class="navcard--padding navcard__link" href="mgMemberIndexMP.aspx?bcr=1">
                                        <h3 class="navcard__title navcard__title--no-margin navcard__title--normal-weight">
                                            MPs
                                        </h3>
                                    </a>
                                </div>
                            </li>

                            <li class="navcard navcard--grey navcard--no-margin navcard--no-padding-right-rtl navcard--width-100">
                                <div class="navcard--border-left-1 navcard--border-right-1 navcard--theme-grey-accent-all">
                                    <a class="navcard--padding navcard__link" href="mgListOutsideBodies.aspx?bcr=1">
                                        <h3 class="navcard__title navcard__title--no-margin navcard__title--normal-weight">
                                            Outside bodies
                                        </h3>
                                    </a>
                                </div>
                            </li>

                            <li class="navcard navcard--grey navcard--no-margin navcard--no-padding-right-rtl navcard--width-100">
                                <div class="navcard--border-left-1 navcard--border-right-1 navcard--theme-grey-accent-all">
                                    <a class="navcard--padding navcard__link" href="mgepetitionlistdisplay.aspx?bcr=1">
                                        <h3 class="navcard__title navcard__title--no-margin navcard__title--normal-weight">
                                            Petitions
                                        </h3>
                                    </a>
                                </div>
                            </li>

                            <li class="navcard navcard--grey navcard--no-margin navcard--no-padding-right-rtl navcard--width-100">
                                <div class="navcard--border-left-1 navcard--border-right-1 navcard--theme-grey-accent-all">
                                    <a class="navcard--padding navcard__link" href="ieDocSearch.aspx?bcr=1">
                                        <h3 class="navcard__title navcard__title--no-margin navcard__title--normal-weight">
                                            Search documents
                                        </h3>
                                    </a>
                                </div>
                            </li>

                            <li class="navcard navcard--grey navcard--no-margin navcard--no-padding-right-rtl navcard--width-100">
                                <div class="navcard--border-left-1 navcard--border-right-1 navcard--theme-grey-accent-all">
                                    <a class="navcard--padding navcard__link" href="mgRegisterKeywordInterest.aspx?bcr=1">
                                        <h3 class="navcard__title navcard__title--no-margin navcard__title--normal-weight">
                                            Subscribe to updates
                                        </h3>
                                    </a>
                                </div>
                            </li>

                            <li class="navcard navcard--grey navcard--no-margin navcard--no-padding-right-rtl navcard--width-100">
                                <div class="navcard--border-left-1 navcard--border-right-1 navcard--theme-grey-accent-all">
                                    <a class="navcard--padding navcard__link" href="mgGeneric.aspx?MD=mgwardflexibilityfunding">
                                        <h3 class="navcard__title navcard__title--no-margin navcard__title--normal-weight">
                                            Ward Funding
                                        </h3>
                                    </a>
                                </div>
                            </li>

                            <li class="navcard navcard--grey navcard--no-margin navcard--no-padding-right-rtl navcard--width-100">
                                <div class="navcard--border-left-1 navcard--border-right-1 navcard--theme-grey-accent-all">
                                    <a class="navcard--padding navcard__link" href="http://www.stockport.public-i.tv/core/portal/home">
                                        <h3 class="navcard__title navcard__title--no-margin navcard__title--normal-weight">
                                            Webcasting
                                        </h3>
                                    </a>
                                </div>
                            </li>

                            <li class="navcard navcard--grey navcard--no-margin navcard--no-padding-right-rtl navcard--width-100">
                                <div class="navcard--border-left-1 navcard--border-right-1 navcard--theme-grey-accent-all navcard--border-bottom-1 navcard--radius-bottom-left navcard--radius-bottom-right">
                                    <a class="navcard--padding navcard__link navcard--padding-bottom" href="mgWhatsNew.aspx?bcr=1">
                                        <h3 class="navcard__title navcard__title--no-margin navcard__title--normal-weight">
                                            What's new
                                        </h3>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
        </div>
    </div>
</div>