@using StockportWebapp.Models
@using StockportWebapp.ViewModels
@using StockportWebapp.Utils
@model List<Group>

<div class="grid-container-full-width group-favourites-print" id="group-favourites">
    <div class="grid-container grid-100">
        <div class="l-body-section-filled l-article-content mobile-grid-100 tablet-grid-100 grid-100">
            <div class="l-content-container grid-100 group-margin" id="group-padding">
                <h1 id="manage-group-title-print" class="group-article-title">Favourite groups</h1>
                <div class="grid-container grid-parent">

                    @if (Model.Any())
                    {
                        <table>
                            @foreach (var group in Model)
                            {
                                var cost = group.Cost;
                                cost = cost == "Paid" && !string.IsNullOrEmpty(group.CostText) ? group.CostText : cost;
                                <tr id="print-favourite-group-item-@group.Slug">
                                    <td width="200">
                                        <image style="width:200px;" src="@GroupImageUrlHelper.GetImageUrl(group)"></image>
                                    </td>
                                    <td>
                                        <div class="group-card-information grid-100">
                                            <div class="group-title">
                                                <h3>@group.Name</h3>
                                            </div>
                                            @if (!string.IsNullOrWhiteSpace(cost))
                                            {                                               
                                                <div class="group-card-text">
                                                    <div class="group-card-icon">
                                                        <i class="fa fa-gbp" aria-hidden="true"></i>
                                                        @cost
                                                    </div>
                                                </div>
                                            }                                           
                                            <div class="group-card-text">
                                                <div class="group-card-icon">
                                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    @(group.Address)
                                                </div>
                                                
                                            </div>

                                            @if (!string.IsNullOrWhiteSpace(group.AbilityLevel))
                                            {
                                                <div class="group-card-icon">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </div>
                                                <div class="group-card-text">@group.AbilityLevel</div>
                                            }
                                            
                                            <div class="group-card-text">
                                                <div class="group-card-icon">
                                                    <i class="fa fa-link" aria-hidden="true"></i>
                                                    <span class="link-inside-text">groups/@group.Slug</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

