<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPMO2lE7np9cG_zG63JH_pNVmRfoajZjg&libraries=places"></script>
<div class="group-home-filter">
    <div class="grid-container">
        <div>
            <h2 class="group-homepage-title">Find local support, activities and volunteering opportunities in Stockport</h2>
        </div>
           <div class="mobile-grid-100 hide-on-tablet hide-on-desktop grid-parent favourites-container">
               <partial name="FavouritesBar" />
           </div>
        <div class="group-homepage-list">
            <div class="grid-25 tablet-grid-50 group-homepage-container" id="search-everything">
                <a href="/groups/results?Category=all&latitude=53.405817&longitude=-2.158046&Location=Stockport&Order=Nearest">
                    <div class="group-block-content">
                        <i class="fa  fa-search fa-3x default-icon hide-on-tablet hide-on-mobile" aria-hidden="true"></i>
                        <div class="hide-on-desktop group-block-icon-container">
                            <i class="fa  fa-search fa-2x default-icon" aria-hidden="true"></i>
                        </div>
                        <h3>Search everything</h3>
                        <div class="group-chevron hide-on-desktop l-right-align">
                            <i aria-hidden="true" class="fa fa-2x fa-angle-right"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="grid-25 tablet-grid-50 group-homepage-container" id="find-help-and-support">
                <a href="/groups/results?Category=help-and-support&latitude=53.405817&longitude=-2.158046&Location=Stockport&Order=Nearest">
                    <div class="group-block-content">
                        <i class="fa  fa-heart fa-3x default-icon hide-on-tablet hide-on-mobile" aria-hidden="true"></i>
                        <div class="hide-on-desktop group-block-icon-container">
                            <i class="fa  fa-heart fa-2x default-icon" aria-hidden="true"></i>
                        </div>
                        <h3>Find help and support</h3>
                        <div class="group-chevron hide-on-desktop l-right-align">
                            <i aria-hidden="true" class="fa fa-2x fa-angle-right"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="grid-25 tablet-grid-50 group-homepage-container">
                <div class="groups-location-search">
                    <a href="" id="currentLocationgroup">
                        <div class="group-block-content">
                            <i class="fa fa-map-marker fa-3x default-icon hide-on-tablet hide-on-mobile" aria-hidden="true"></i>
                            <div class="hide-on-desktop group-block-icon-container">
                                <i class="fa fa-map-marker fa-2x default-icon" aria-hidden="true"></i>
                            </div>
                            <h3>What's near me?</h3>
                            <div class="group-chevron hide-on-desktop l-right-align">
                                <i aria-hidden="true" class="fa fa-2x fa-angle-right"></i>
                            </div>
                        </div>
                    </a>
                    <div class="hidden form-field-validation-error">
                        <span id="currentLocationgrouperror"></span>
                    </div>
                </div>
            </div>
            <div class="grid-25 tablet-grid-50 group-homepage-container" id="find-where-to-volunteer">
                <a href="/groups/results?category=all&latitude=53.405817&longitude=-2.158046&location=stockport&order=nearest&keeptag=&fromsearch=true&getinvolved=yes">
                    <div class="group-block-content">
                        <i class="fa  fa-users fa-3x default-icon hide-on-tablet hide-on-mobile" aria-hidden="true"></i>
                        <div class="hide-on-desktop group-block-icon-container">
                            <i class="fa fa-users fa-2x default-icon" aria-hidden="true"></i>
                        </div>
                        <h3>Find where to volunteer</h3>
                        <div class="group-chevron hide-on-desktop l-right-align">
                            <i aria-hidden="true" class="fa fa-2x fa-angle-right"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>