.advertisement-container.grid-container{
    height:200px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    
    @media #{$mobile} {
        height:150px; 
    }
 
    .advertisement-image {
        height:100%;
        width: 100%; 
        background: $colorPrimary no-repeat center;
        background-size: cover;
        display: inline-block;
        padding-bottom: 20px;
        border-radius: 3px;
        transition-duration: 0.5s;
        

        &:hover {
            box-shadow: 0 16px 20px 0 rgba(0,0,0,.1);
        }
        
        a{
            text-decoration: none;
        }
        
        .title-card {
            width: 100%;
            height: 100%;
            background-color: rgba(20, 20, 20, 0.5);
            padding-bottom:20px;
            border-radius: 3px;
            
            .advertisement-banner{ 
                position: absolute;
                background-color: $colorPrimary;
                color: $white;
                font-size: 10px;
                font-weight: 600;
                padding:1px 10px;
                margin-top:10px;
            }
            
            .advertisement-text{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                color: $white;
                margin-left: 20px;
                margin-right: 20px;
                margin-bottom: 20px;
                line-height: 1.5;
                text-decoration: none;
                
                .advertisement-title{
                    font-weight: 600;
                    color: $white;
                }

                .advertisement-teaser{

                }
            }
        }
    }
}