.article {
    display: flex;
    flex-direction: row;
    
    @media #{$mobile} {
        margin-inline: 5px;
    }

    @media #{$tablet} {
        display: block;
    }

    &--70 {
        margin-inline-end: 0.8em;
        width: calc(70% - 0.8em);

        @media #{$tablet} {
            width: 100%;
            margin-inline-end: 0;
            padding: 0;
        }
    }

    &--30 {
        margin-inline-start: 0.8em;
        width: calc(30% - 0.8em);

        &--margin-top {
            margin-block-start: 1.5em;

            @media #{$tablet} {
                margin-block-start: 1em;
            }
        }

        @media #{$tablet} {
            width: 100%;
            margin-inline: 0;
            padding: 0;
        }
    }

    &-hero {   
        margin-bottom: 1.1em;
        
        &__image {
             box-sizing: border-box;
             height: auto;
             width: 100%;
             border-radius: 3px;
        }
    }

    &-date {
        color: $stockport-green;
        margin-block: 2em;
    }

    &-navigation {
        border-bottom: 3px solid $stockport-teal-lighter;
        padding-bottom: 2rem;

        ol {
            margin-bottom: 0;

            li {
                margin-bottom: 0.6em;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    &-pagination {
        border-top: 1px solid #ccc;
        padding: 0;
        display: flex;
        
        @media #{$mobile} {
            display: block;
        }

        a {
            display: table;
            width: 100%;
            text-decoration: none;
        }

        h3 {
            margin: 0;
            margin-top: 1em;
            color: $stockport-green;
            font-weight: 400;
            text-decoration: underline;
        }

        p {
            color: $stockport-black;
            margin-bottom: 1em;
        }

        a:hover {
            text-decoration: none;
            background-color: $stockport-light-grey;
        
            h3 {
              text-decoration: underline;
              text-decoration-thickness: 3px;
            }
        }

        &__chevron {
            width: 45px;
            display: table-cell;
            vertical-align: middle;
        }

        &__previous, &__next {
            padding: 0;
            width: 50%;

            @media #{$mobile} {
                width: 100%;
            }
        }

        &__next a {
            text-align: right;
        }

        &__icon {
            font-size: 2.5em;
            
            &--ltr {
                display: table-cell;
            }

            &--rtl {
                display: none !important;
            }
        }
    }

    &-hr {
        margin: 0;
    }
}

html[dir="rtl"] {
    .article {
        &-pagination {
            &__icon {
                &--ltr {
                    display: none;
                }

                &--rtl {
                    display: table-cell !important;
                }
            }

            &__next a {
                text-align: left;
            }

            &__previous a {
                text-align: right;
            }
        }
    }
}