.article {
    display: flex;
    flex-direction: row;
    
    @media #{$mobile} {
        margin-inline: 5px;
    }

    @media #{$tablet} {
        display: block;
    }

    &__title {
        margin: 1.25rem 0 2rem;

        @media #{$mobile} {
            margin-inline: 5px;
        }
    }

    &--70 {
        margin-inline-end: 0.8em;
        width: calc(70% - 0.8em);

        @media #{$tablet} {
            width: 100%;
            margin-inline-end: 0;
            padding: 0;
        }
    }

    &--30 {
        margin-inline-start: 0.8em;
        width: calc(30% - 0.8em);

        &--margin-top {
            margin-block-start: 1.5em;

            @media #{$tablet} {
                margin-block-start: 1em;
            }
        }

        @media #{$tablet} {
            width: 100%;
            margin-inline: 0;
            padding: 0;
        }
    }

    &-hero {   
        margin-bottom: 2em;
        
        &__image {
            box-sizing: border-box;
            height: auto;
            width: 100%;
            border-radius: 3px;
        }
    }

    &-body {
        margin-top: 2em;
    }

    &-date {
        color: $stockport-green;
        margin-block: 2em;
    }

    &-navigation {
        border-bottom: 0.17em solid $stockport-teal-lighter;
        padding-bottom: 2em;
        margin-bottom: -3px;

        ol {
            margin-bottom: 0;

            li {
                margin-bottom: 0.8em;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    &-hr {
        margin: 0;
    }
}