/*------------------- Articles Page ---------------------*/

.article-pagination {
    padding: 0;
    margin-bottom: 15px;

    a {
        display: table;
        width: 100%;
    }

    p {
        color: $bodyText;
    }

    a:hover {
        text-decoration: none;
        background-color: $profileBackgroundLight;
    }

    .article-chevron {
        display: table-cell;
        vertical-align: middle;
        width: 45px;
    }
}

.pagination-previous, .pagination-next {
  padding: 0;
}

.pagination-next a {
  text-align: right;
}





/* --------- ARTICLE PAGE -------- please look at these, check if they are being used and try to mush them with the ones above (in the file) */ 
article {
    border-bottom: none;
}

.article-pagination {
    background-color: transparent;

    a {
        background-color: transparent;
        text-decoration: none;
        color: $tealDarker;
    }

    border-bottom: 2px solid $borderDefault;
    border-top: 2px solid $borderDefault;
}

.article-navigation li.nav-active > a {
    text-decoration: none;
}

.article-navigation li a {
    border: none;
    font-size: 1em;
}

.article-navigation li {
    line-height: 1.6em;
}

.article-navigation {
    .article-section-nav-numbered-list {
        font-size: 1em;
        display: inline;
    }
}