.atoz-listing {

  .atoz-listing-item:not(:first-child) {
    border-top: 1px solid $colorPrimaryLightest;
    padding-top: 18px;
  }

  .atoz-listing-item {

    h2 {
      font-size: 1em;
      font-family: 'Noto Sans';
      letter-spacing: normal;
      font-weight: normal;
    }
  }
}

.atoz-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;

  @media #{$mobile} {
    flex-wrap: wrap;

    &::after {
      content:"";
     flex-basis:100%;
    }
    
    li:nth-child(n + 14) {
      order: 2
    }
	}

  li {
    margin: 0
  }
}
