.topic-breadcrumb-container {
    padding-top: 20px;
    font-size: .875em;
    background-color: $stockport-teal-darker; 
    color: white;

    .breadcrumb {
        .current {
            font-size: .875em;
        }

        a {
            color: #fff;
            font-weight: 400;
            text-transform: none;
        }

        @media #{$mobile} {
            padding: 5px 0px;
            margin-left: 5px;
            margin-right: 5px;
        }

        li:not(:first-child) {
            &::before {
                content: "›";
                font-family: FontAwesome;
                margin-left: 5px;
                margin-right: 8px;
                font-size: 0.75em;
            }
        }
    }
}