.topic-breadcrumb-container {
    padding-top: 20px;
    background-color: $stockport-teal-darker; 
    color: white;

    .breadcrumb {
        font-size: 1rem;

        li {
            a {
                color: #fff;
                font-weight: 400;
                text-transform: none;
                font-size: 1rem;
            }

            &:not(:first-child) {
                &::before {
                    content: "\f105";
                    font: normal normal normal 14px/1 FontAwesome;
                    margin-left: 3px;
                    margin-right: 6px;
                    font-size: 14px;
                }
            }
        }

        @media #{$mobile} {
            padding: 5px 0px;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}


html[dir="rtl"] {
    .topic-breadcrumb-container {
        .breadcrumb {
            li:not(:first-child) {
                &:before {
                    content: "\f104";
                    margin-right: 3px;
                    margin-left: 6px;
                }
            }
        }
    }
}