.breadcrumb {
    font-size: 1rem;
    padding: 5px 0;
    margin-bottom: 0;

    &-teal {
        background-color: $stockport-green;
    }

    li {
        display: inline-block;
        margin-inline-start: 0;

        a {
            font-weight: 400;
            text-transform: none;
            font-size: 1rem;
            color: $stockport-black;
        }
    }

    @media #{$mobile} {
        padding: 5px 0px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.topic-breadcrumb-container {
    padding-top: 20px;
    background-color: $stockport-teal-darker;
    color: white;

    .breadcrumb {
        li {
            a {
                color: #fff;
            }

            &:not(:first-child) {
                &::before {
                    content: "\f105";
                    font: normal normal normal 14px/1 FontAwesome;
                    margin-inline-start: 0.157em;
                    margin-inline-end: 0.315em;
                    font-size: 0.736em;
                }
            }
        }
    }
}

.topic-breadcrumb-container, .directories-breadcrumb-container {
    .breadcrumb {
        li {
            &:not(:first-child) {
                &::before {
                    content: "\f105";
                    font: normal normal normal 14px/1 FontAwesome;
                    margin-inline-start: 0.157em;
                    margin-inline-end: 0.315em;
                    font-size: 0.736em;
                }
            }
        }
    }
}

.directories-breadcrumb-container {
    padding-top: 20px;

        &--teal {
        background-color: $teal;

            li {
                color: white;

                a {
                color: white;  
                }
            }
        }

        &--grey {
            background-color: $stockport-dark-grey;

            li {
                color: white;
    
                a {
                  color: white;  
                }
            }
        }
}

html[dir="rtl"] {
    .breadcrumb {
        li:not(:first-child) {
            &:before {
                content: "\f104";
                margin-right: 3px;
                margin-left: 6px;
            }
        }
    }
}
