.button-live-chat-active {
    background-color: $orange;
    border: none;

    &:hover {
        background-color: $orange;
        opacity: .8;
    }

    i{
        color: $brown;
    }
}

.button-live-chat-inactive {
    background-color: $greyLight;
    border: none;

    &:hover {
        background-color: $greyLight;
        opacity: .8;
    }

    i{
        color: $greyDark;
    }
}

.reCaptcha{
    display:inline-block
}

.clear-button, .clear-button:hover {
    background-color: #ffffff;
    border: solid 1px #ccc;
    color: #000000;
    font-weight: 600;
}

.button-up-down {
    min-width:250px;

    &:before {
        content: "\f107";
        position: relative;
        right: 0;
        margin-top: 0px;
    }

    &.is-collapsed {
        &:before {content: "\f106";}
    }
}
