.reCaptcha {
  display: inline-block
}

.clear-button, .clear-button:hover {
  background-color: $white;
  border: solid 1px $greyLighter;
  color: $black;
  font-weight: 600;
}

.button-up-down {
  min-width: 250px;

  &:before {
    content: "\f107";
    position: relative;
    right: 0;
    margin-top: 0px;
  }

  &.is-collapsed {
    &:before {
      content: "\f106";
    }
  }
}

.volunteering-btn {
  margin-bottom: 14px;
  background-color: $tealDarker;
  font-weight: 600;
  font-size: 1.5em;
}
