/*
    The following are new button styles that take inspiration from but are seperate from
    older style guide buttons styles
*/
.btn {
    font-family: $fontStack;
    background-color: lighten($stockport-green, 5%);
    border-radius: 3px;
    text-decoration: none;
    color: $white;
    text-align: center;
    padding: 1em;
    display: inline-block;
    box-sizing: border-box;
    line-height: 1.3rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;

    @media #{$mobile, $tablet} {
        text-decoration: none;
        color: $white;
        width: 100%;
    }

    &_small {
        font-size: 1rem;
        padding: 0.5em;
    }

    &_text {
        display: inline-block;
        width: 80%;
    }

    &_icon {
        margin: 0 0.5em;
    }

    &--full {
        width: 100%;
    }

    &--width-25 {
        width: 25%;
        min-width: 250px;

        @media #{$mobile, $tablet} {
            width: 100%;
            min-width: unset;
        }
    }

    &--width-30 {
        width: 33.3333%;
        min-width: 300px;

        @media #{$mobile, $tablet} {
            width: 100%;
            min-width: unset;
        }
    }

    &--center {
        display: block;
        margin: auto !important;
    }

    &:hover, &:focus {
        box-shadow: none;
        background-color: $stockport-green;
        text-decoration: none;
    }

    &--inverse {
        background-color: white;
        color: $stockport-teal-darker;
        border: 1px solid $stockport-teal;

        &:hover, &:focus {
            color: darken($stockport-teal-darker, 5%);
            background-color: rgba(white, 0.9);
        }
    }

    &--plain {
        background-color: white;
        color: $stockport-black;
        border: 1px solid $stockport-grey-accent;

        &:hover, &:focus {
            background-color: rgba($stockport-grey, 0.1);
        }
    }


    &--on-white {
        &:hover, &:focus {
            background-color: rgba($stockport-grey, 0.1);
        }
    }

    &--pink {
        color: $stockport-pink;
        border: 1px solid $stockport-pink;

        &:hover, &:focus {
            color: darken($stockport-pink, 5%);
            background-color: rgba(white, 0.9);
        }

        &-outline {
            background-color: transparent;

            &:hover, &:focus {
                background-color: $stockport-pink;
                color: white;
            }
        }
    }

    &--purple {
        color: $stockport-purple;
        border: 1px solid $stockport-purple;

        &:hover, &:focus {
            color: darken($stockport-purple, 5%);
            background-color: rgba(white, 0.9);
        }
    }

    &--blue {
        color: $stockport-blue;
        border: 1px solid $stockport-blue;

        &:hover, &:focus {
            color: darken($stockport-blue, 5%);
            background-color: rgba(white, 0.9);
        }
    }

    &--border {
        border-width: 1px;
        border-style: solid;
    }

    &--border-grey {
        border-color: $stockport-mid-grey;
    }

    &--chevron-forward {
        position: relative;

        &:after {
            content: "\f105";
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            width: 1.052em;
            height: 1.0525em;
            position: absolute;
            right: 0.789em;
            top: 34.5%;
            display: inline-block;

            @media #{$tablet} {
                top: 33.5%;
            }
        }
    }

    &--envelope {
        .btn_text {
            &::before {
                content: "\f0e0";
                font: normal normal normal 14px/1 "Font Awesome 6 Free";
                font-size: 1.25em;
                line-height: .05em;
                display: inline-block;
                margin-left: .5em;
                margin-right: .5em;
                vertical-align: -.075em;
            }
        }
    }

    &--bold, &--chevron-bold:before {
        font-weight: 700;
    }

    &--black-text {
        color: $stockport-black;
    }

    &--margin-bottom {
        margin-bottom: 1em;
    }

    &--margin-top {
        margin-top: 2em;
    }
}

html[dir="rtl"] {
    .btn {
        &--chevron-forward {
            &:before {
                content: "\f104";
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                height:20px;
                position: absolute;
                left: 15px;
                top: 37.5%;
                width: 20px;
                display: inline-block;
            }

            &::after {
                content: "";
            }
        }
    }
}

/*
    Overrides for the specfic use case of vertically centering the button to email subscription area
*/
.email-subsciption {
    .btn {
        @media #{$desktop} {
            margin-top: 27px;
        }
    }
}
/*
    The following are legacys tles theat will hopefully be migrated to the above.
*/
.reCaptcha {
    display: inline-block
}

.clear-button, .clear-button:hover {
    background-color: $white;
    border: solid 1px $greyLighter;
    color: $black;
    font-weight: 600;
}

.button-up-down {
    min-width: 250px;

    &:before {
        content: "\f107";
        position: relative;
        right: 0;
        margin-top: 0px;
    }

    &.is-collapsed {
        &:before {
            content: "\f106";
        }
    }
}

.volunteering-btn {
    margin-bottom: 14px;
    background-color: $tealDarker;
    font-weight: 600;
    font-size: 1.5em;
}