.call-to-action {
    background-color: $stockport-teal-darker;
    display: flex;
    flex-direction: row;
    border-radius: 50px 3px 50px 3px;

    @media #{$mobile} {
        border-radius: 30px 3px 30px 3px;
    }

    &__image {
        width: 40%;
        object-fit: cover;
        border-radius: 50px 0 0 3px;
        height: auto;

        @media #{$tablet} {
            display: none;
        }
    }

    &-content {
        width: 60%;
        padding: 1.5em;
        color: white;

        @media #{$tablet} {
            width: 100%;
        }

        &__title {
            @include h-ml;
            margin-bottom: 0.75em;
            color: white;
            margin-top: 0;
        }

        &__teaser {
            margin-bottom: 2em;
            color: white;
        }
    }

    &--grey, &--grey-light {
        background-color: $stockport-grey;
    }

    &--pink, &--pink-light {
        background-color: $stockport-pink;
    }

    &--purple, &--purple-light {
        background-color: $stockport-purple;
    }

    &--blue, &--blue-light {
        background-color: $stockport-blue;
    }

    &--one-stockport-purple, &--one-stockport-purple-light {
        background-color: $one-stockport-purple;
    }

    &--orange {
        background-color: $stockport-orange;
    }
}

html[dir="rtl"] {
    .call-to-action {
        border-radius: 3px 50px 3px 50px;

        &__image {
            border-radius: 0px 50px 3px 0px;
        }
    }
}