.call-to-action {
    display: flex;
    flex-direction: row;

    &__image {
        width: 40%;
        object-fit: cover;
        border-radius: 50px 0 0 3px;
        height: auto;

        @media #{$tablet} {
            display: none;
        }
    }

    &-content {
        background-color: $stockport-teal-darker;
        border-radius: 0 3px 50px 0;
        width: 60%;
        padding: 1.5em;
        color: white;

        @media #{$tablet} {
            width: 100%;
            border-radius: 50px 3px;
        }

        @media #{$mobile} {
            border-radius: 30px 3px;
        }

        &__title {
            @include h-ml;
            margin-bottom: 0.75em;
            color: white;
            margin-top: 0;
        }

        &__teaser {
            margin-bottom: 2em;
            color: white;
        }
    }

    &--grey {
        background-color: $stockport-grey;
    }

    &--pink {
        background-color: $stockport-pink;
    }

    &--purple {
        background-color: $stockport-purple;
    }

    &--blue {
        background-color: $stockport-blue;
    }

    &--one-stockport-purple {
        background-color: $one-stockport-purple;
    }
}

html[dir="rtl"] {
    .call-to-action {
        &-content {
            border-radius: 3px 0px 0px 50px;

            @media #{$tablet} {
                border-radius: 3px 50px;
            }

            @media #{$mobile} {
                border-radius: 3px 30px;
            }
        }

        &__image {
            border-radius: 0px 50px 3px 0px;
        }
    }
}