.content-block {

    &--margin {
        margin: 4em 0;
    }

    &--padding {
        padding: 2em 0;
    }

    &:last-child {
        margin-bottom:2em;
    }

    .navcard {
        padding-bottom: 0px;
        margin-bottom: 0px
    }
}
