.condolence {
    padding: 1em 0;
    background-color: $govuk-black;

    &_content {
        display: flex;
        justify-content: space-between;

        @media #{$tablet} {
            margin: 0 5px;
            width: calc(100% - 10px);
        }
    }

    &_text {
        color: white;

        h2, p, a {
           color: white;
        }

        h2 {
            margin-bottom: 0.5em;
        }
    }

    &_image {
        margin-left: 1em;
        align-self: center;

        img {
            max-width: 225px;
            border: 1px solid $stockport-grey;
            border-radius: 3px;
        }

        @media #{$tablet} {
            padding-right: 10px;
            display: none;
        }

        @media #{$mobile} {
            display: none;
        }
    }

    .condolence_close-container {
        margin-left: 0.5em;

        a {
            display: inline-block;
        }
        
        .condolence_close {
            border: 1px solid white;
            border-radius: 100%;
            width: 1.947em;
            height: 1.947em;
            text-align: center;
            float: right;
            text-decoration: none;
			align-content: center;

            span:before {
                content: "\f00d";
                font-family: "FontAwesome";
                font-style: normal;
                font-size: 1.052em;
                color: white;
                text-align: center;
                position: relative;
                top: calc(50% - 1em);
            }

            &:hover {
                background-color: rgba(white, .2);
            }
        }
    }
}