.dashboard-button-container {
    display: flex;
    justify-content: flex-start;

    i {
        padding-bottom: 10px;
    }

    a {
        text-align: center;
    }

    @media #{$mobile} {
        i {
            padding-bottom: 0
        }

        flex-wrap: wrap;
    }
}

a:hover {
    text-decoration: none !important;
}

.section-link {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 33%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px 20px 0;
    padding: 20px;
    border: 1px solid $greyLighter;
    color: black;
    font-weight: 700;
    text-decoration: none;
    -webkit-box-shadow: 0 10px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 13px 0 rgba(0, 0, 0, 0.1);
    border-top: 5px solid #00b79b;

    @media #{$mobile} {
        width: 84.5%;
        display: block;
        text-align: center;
    }

    > a:hover {
        text-decoration: none !important;
    }

    .icon-container {
        @media #{$mobile} {
            display: flex;
            justify-content: center;
            padding: 10px 0px 10px 0px;
        }
    }

    @media #{$tablet} {
        width: 90%;
    }

    &:hover {
        cursor: pointer;
        transition-duration: .5s;
        transition-property: box-shadow;
        -webkit-box-shadow: 0 20px 40px 0 rgba(0,0,0,0.3);
        box-shadow: 0 20px 40px 0 rgba(0,0,0,0.3);
        color: black;

        .primaryItemText {
            text-decoration: underline;
        }
    }

    i {
        font-size: 3.5em;
    }

    @media #{$mobile} {
        flex-direction: row;
        margin: 0 0 20px 0;
        padding: 10px 20px;
        position: relative;

        &:last-of-type {
            margin: 0 0 20px 0;
        }
    }
}

.contact-us-category-container {
    padding-left: 10px;
    margin-right: -5px;

    @media #{$mobile} {
        margin-right: -25px;
    }
}

.contact-us-category {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 15px 20px 0;
    border: 1px solid $greyLighter;
    color: black;
    font-weight: 700;
    text-decoration: none;
    border-top: 5px solid #00b79b;

    @media #{$mobile} {
        width: 84.5%;
        display: block;
    }

    .category-header {
        border-bottom: 1px solid $greyLighter;
        width: 100%;
        margin: 0;

        .icon-container {
            display: inline-block;
            width: 30px;
            font-size: 2.5em;
            padding: 5px 35px;
            font-weight: 700;
            vertical-align: middle;
        }

        .category-title {
            display: inline-block;
            font-size: 1.5em;
            padding: 5px 0px;
            font-weight: 700;
            vertical-align: middle;
        }
    }

    .category-body {

        .category-body-col {
            display: inline-block;
            width: 40%;
            padding: 25px 35px;
            font-weight: normal;

            @media #{$mobile} {
                width: 84.5%;
                display: block;
                text-align: left;
            }

            p {
                margin: 0 0 10px 0;
            }
        }

        .category-body-left {
            float: left;

            @media #{$mobile} {
                float: unset;
            }

            p {
                line-height: 1.5;
            }
        }

        .category-body-right {
            float: right;

            @media #{$mobile} {
                float: unset;
                margin-top: -45px;
            }

            p {
                line-height: 1.5;
            }
        }
    }
}

.contact-us-area-primary {
    padding-left: 10px;
    margin-right: -5px;

    .alert-insetText {
        background-color: #cccccc;
        border-radius: 0px;
        line-height: 20px;
        box-shadow: none;
        margin-bottom: 30px;
    }

    .alert-insetText-overlap {
        background-color: #ebebeb;
        margin-left: 10px;
    }


    @media #{$mobile} {
        margin-right: -25px;
    }
}
