.placeholder {
    background-color: white;
}

.directory-search {
    margin: 2rem 0 1rem;
    padding: 2rem;
    background-color: $stockport-teal-darker;
    color: white;

    img {
        max-height: 150px;
    }

    h1 {
        color: white;
    }

    &--one-stockport {
        background-color: $one-stockport-purple;
    }
}

.vertical-center-container {
    min-height: 150px;
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.directory-sub-title
{
    margin-bottom: 2em;

    h2 {
        margin-bottom: 0.25em;
    }
}

.directory-filters__checkbox {
    margin-bottom: 2em;
    margin-right: 1em;
    margin-left: 0.5em;

    &::before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border: 1px solid $stockport-black;
        display: block;
        transform: scale(2);
        background-color: #fff;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 15px;
        padding: 2px;
    }
}

.directory-results__filters {
    h3 {
        margin-bottom: 1em;
    }
}