.document {
	padding-bottom: 5px;
	margin-bottom: 2em !important;
	
	@media #{$mobile} {
		text-align: left;
	}

	div:first-of-type {
		display: flex;
		align-items: center;

		@media #{$mobile} {
			display: block;
		}
	}

	&-icon {
		vertical-align: top;
		float: left;
		padding-right: 0px;
		width: 65px;

		@media #{$mobile} {
			float: unset !important;
		}

		a {
			text-decoration: none
		}

		span {
			color: $linkDefault;
			padding-left: 0px;
			font-size: 3em;

			@media #{$mobile} {
				font-size: 2.2em;
			}
		}
  	}

  	&-detail {
		border-left: solid 2px $stockport-grey-lighter;
		vertical-align: top;
		padding-inline: 1em;
		border-top: none;
		border-bottom: none;
		
		@media #{$mobile} {
			border: none !important;
			padding-left: 0 !important;
			padding-top: 20px;
		}

		&__title {
			@include h-s;
			color: $stockport-green;
			text-decoration: underline;
		}

		&__info {
			font-size: 1em;
		}

		p:first-of-type {
			margin-top: 0.5em;
		}

		p {
			margin-bottom: 0px;
		}

		// old style - should be removed after decommissioning old document pages
		.document-detail-title {
			color: $linkDefault;
			font-size: 1.25em;
			line-height: normal;
			font-weight: 600;

			@media #{$mobile} {
				font-size: 1.125em;
			}
		}
  	}
}

html[dir="rtl"] {
	.document {
		text-align: right;
		
		&-detail {
			border-left: none;
			border-right: solid 2px $stockport-grey-lighter;

			@media #{$mobile} {
				padding-inline: 0 !important;
			}
		}
	}
}