.type-events.background-grey {
    background-color: $stockport-light-grey;
}

.event-homepage {
    background-color: $stockport-teal-darker;
    color: white;

    &__heading {
        flex: 1;
        padding-inline-start: 0;
    }

    &__section {
        padding: 1em 0 2em 0;
    }

    &__container {
        margin-bottom: 2em;

        @media #{$tablet-only} {
            margin-bottom: 0.5em;
            padding: 0 5px;
        }

        @media #{$mobile} {
            margin-bottom: 0;
        }
    }

    &__title {
        color: white;
        
        @media #{$tablet} {
            padding-inline-start: 5px;
        }
    }

    &__button {
        padding-right: 0;
        float: right;
    }

    &--no-padding {
        @media #{$tablet} {
            padding: 0 !important;
        }
    }

    &__filters {
        display: flex;
        align-items: end;
        padding: 0;

        @media #{$tablet} {
            flex-direction: column;
            align-items: stretch; 
        }

        @media #{$mobile} {
            padding-inline: 5px; 
        }

        label {
            font-weight: 500;
        }

        &-options {
            margin-block-start: 1em; 
            background-color: white;
            position: relative;
            display: flex;
            width: 90%;
            height: 60px;
            margin-inline-end: 0.5em;

            @media #{$tablet} {
                margin-inline-end: 0;
                margin-block-end: 1em;
                width: 100%;
            }

            input {
                padding: 0.8em;
                font-size: 1em;
                text-align: left;
                width: -webkit-fill-available;
                border: none;
                border-radius: 3px;
                font-family: inherit;
            }

            select {
                width: 100%;
                padding: 0.8em;
                font-size: 1em;
                text-align: left;
                width: -webkit-fill-available;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                background-color: #fff;
                background-image: url(/assets/images/ui-images/chevron-down-black.svg);
                background-position: right 1.35em center;
                background-repeat: no-repeat;
                background-size: 1em;
                border: none;
                border-radius: 3px;
                font-family: inherit;

                @media #{$small-mobile} {
                    background-image: none;
                }
            }
        }

        &-button {
            height: fit-content;
            float: right;
            width: 100%;
            max-width: 290px;
            
            @media #{$tablet} {
                margin-block-start: 1em;
                max-width: 100%; 
            }
        }
    }

    &__category {
        background-color: white;
        padding: 3em 0;
        margin-block-end: 0 !important;

        &-item {
            @media #{$tablet} {
                margin-inline-start: 0;
            }      

            @media #{$mobile} {
                width: 50% !important;
            }   
        }   
    }

    &__navcard-wrapper {
        list-style: none;

        @media #{$tablet-only} {
            justify-content: space-around;
        }   
    }

    &__icon {
        padding-block: 0.2em;
        font-size: 3em;
        font-weight: 600; 
        letter-spacing: -1px;
        line-height: 1.0416666667;
        color: $stockport-blue;
    }

    &__cards {
        &-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-block-end: 0.5em;
        }

        &-heading {
            text-align: left;
            text-align: -webkit-left;
            text-align: -moz-left;
            margin: 0;
        }

        &-view-more {
            width: 100%;
            text-align: right;
            margin-block-start: 0.6em;
            height: 40%;
            min-height: 44px;
            width: fit-content;
            font-weight: 700;
        }

        &--padding {
            @media #{$mobile} {
                padding: 0 15px;
            }
        }
    }

    &__search {
        margin-block-start: 2em;

        &-date {
            
            h2 {
                margin: 0 0 1em 0;
            }
        }
    }
}
  
.event-detail {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    @media #{$tablet} {
        flex-direction: column;
    }

    &__image {
        width: 100%;
        object-fit: cover;
        object-position: center;
        max-height: 400px;
        border-radius: 3px;

        @media #{$mobile} {
            max-height: 300px;
        }
    }

    &--50 {
        width: calc(50% - 1em);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        &-left {
            margin-inline-end: 2em;

            @media #{$tablet} {
                margin-block-end: 1.2em;
            }
        }

        @media #{$tablet} {
            width: 100%;
        }
    }

    &--100 {
        width: 100%;
        box-sizing: border-box;
    }

    &--margin-top {
        margin-block-start: 2em;

        @media #{$tablet} {
            margin-block-start: 1.2em;
        }
    }

    &__wrapper {
        padding: 1em;
        flex-grow: 1;

        h3 {
            font-weight: 700;
        }

        h3:first-of-type {
            margin-block-start: 0;
        }
    }

    &__details {
        margin-bottom: 0.8em;
         
        @media #{$mobile} {
            margin-bottom: 0.5em;
        }
    }

    &__table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;

        tbody {
            border: none;
        }

        tr {
            border: none;
        }
    
        th {
            font-weight: 700;
            width: 100px;
            padding: 0 0 1em;
        }
    
        td {
            padding: 0 0 1em 0.5em;
            font-weight: 400;
            word-break: break-word;
        }

        @media #{$mobile} {
            display: block;
    
            tr {
                display: block;
                margin-bottom: 1em;
            }
    
            th, td {
                display: block;
                width: 100%;
                padding: 0;
                margin: 0;
            }
        }
    }

    &__button {
        margin: 0 0 0.5em;
    }
}