.type-events.background-grey {
    background-color: $stockport-light-grey;
}
  
.event-detail {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    @media #{$tablet} {
        flex-direction: column;
    }

    &__image {
        width: 100%;
        object-fit: cover;
        object-position: center;
        max-height: 400px;
        border-radius: 3px;

        @media #{$mobile} {
            max-height: 300px;
        }
    }

    &--50 {
        width: calc(50% - 1em);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        &-left {
            margin-inline-end: 2em;

            @media #{$tablet} {
                margin-block-end: 1.2em;
            }
        }

        @media #{$tablet} {
            width: 100%;
        }
    }

    &--100 {
        width: 100%;
        box-sizing: border-box;
    }

    &--margin-top {
        margin-block-start: 2em;

        @media #{$tablet} {
            margin-block-start: 1.2em;
        }
    }

    &__wrapper {
        padding: 1em;
        flex-grow: 1;

        h3 {
            font-weight: 700;
        }

        h3:first-of-type {
            margin-top: 0;
        }
    }

    &__details {
        margin-bottom: 0.8em;
         
        @media #{$mobile} {
            margin-bottom: 0.5em;
        }
    }

    &__table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;

        tbody {
            border: none;
        }

        tr {
            border: none;
        }
    
        th {
            font-weight: 700;
            width: 100px;
            padding: 0 0 1em 0;
        }
    
        td {
            padding: 0 0 1em 0.5em;
            font-weight: 400;
            word-break: break-word;
        }

        @media #{$mobile} {
            display: block;
    
            tr {
                display: block;
                margin-bottom: 1em;
            }
    
            th, td {
                display: block;
                width: 100%;
                padding: 0;
                margin: 0;
            }
        }
    }

    &__button {
        margin: 0 0 0.5em;
    }
}