.events-grid-container-margins{
    margin-top: -20px; 
    margin-bottom: -30px;
}

.events-events-container {
    .events-events {
        padding-bottom: 15px;
        text-align: center;

        @media #{$mobile, $tablet} {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding-top: 10px;
            padding-bottom: 35px;
        }

        h2 {
            margin-top: 0px;
            padding-top: 0px;
        }

        p {
            text-align: center;
            margin: auto;
            margin-bottom: 20px;
            max-width: 400px;
        }

        .button {
            color: $greyDarkest;
            min-width: 200px;
        }
    }
}

.events-article-grid {
    background-color: white;

    @media #{$mobile, $tablet} {
        margin-top: 15px;
    }

    .events-article-not-found {
        min-height: 50vh;
    }
}

.nav-card-events {

    .nav-card-events-teaser {
        padding-top: 10px;
        color: $greyDarkest;
    }

    .nav-card-events-detail {
        padding-left: 10px;

        @media #{$tablet, $desktop} {
            padding-right: 10px;
            padding-left: 0;
        }     
    }
}

h2.nav-card-events-title {
    margin: 0;
    margin-top: -7px;
    margin-bottom: 10px;
    line-height: 1.2;
    font-size: 1.6em;

    @media #{$mobile} {
        margin: 0;
        margin-top: -7px;
        margin-left: 8px;
        line-height: 1.2;
        font-size: 1.6em;
    }

    @media #{$tablet} {
        margin: 0;
        margin-top: -7px;
        margin-left: 0px;
        line-height: 1.2;
        font-size: 1.6em;
    }
}

.nav-card-events-fee {
    font-weight: bold; 

    @media #{$mobile} {
        margin-left: 8px;
    }
}


ul.nav-card-events-list {
    border: none;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 15px;
    list-style-type: none;
    display: table;
    background: $white;

    @media #{$mobile} {        
        margin-top: 0px;   
    }

    .events-bottom-border {
        border-bottom: 1px solid $greyLightest;
        padding-bottom: 10px; 
    }

    li {
        padding: 15px 0 0;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    li:last-child .events-bottom-border {
        border-bottom: none;
    }
}


.nav-card-events-item {
    a {
        color: $greyDarkest;
        text-decoration: none;

        &:hover {
            h3 {
                text-decoration: underline;
            }
        }
    }
}

.nav-card-events-thumbnail {
    height: 150px;
    max-width: 100%;
    @media #{$mobile} {
        height: 100px;
    }
}

.nav-card-events-thumbnail-background-image
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
}
.nav-no-left-padding {
    padding-left: 0px;
}

.nav-left-padding {
    padding-left: 35%;
}

.li-left-padding {
    padding-left: 3%;
}

.nav-no-right-padding {
    padding-right: 0px;
    padding-top: 10px;
}

.events-title-image {
    margin-bottom: 10px;
    width: 100%;
}

.events-teaser {
    line-height: 1.6em;
    margin-bottom: 20px;
    margin-top: 0;
}

.grid-container-full-width .l-content-container .events-article-title {
    padding-top: 0;
    margin-top: 0;
}

.events-article-date {
    margin-bottom: 0;
    padding-top: 15px;
}
   

.events-ul{
      list-style: outside none none; 
      margin-bottom: 0px;
}
 
.events-Margin{
    margin-top:20px;
}

.nav-card-events-location{
    line-height: 1.2em; 
    margin-bottom: 5px;
}

.events-calender-container{
    padding: 0px; 
         overflow: hidden; 
         display: flex;
         margin-bottom: 20px;

          @media #{$mobile, $tablet} {  
            display: inline;                            
    }        
}

.events-calender-container-description{
     padding: 0px; 
     flex: 1;  
     margin-right: 30px;

     @media #{$mobile, $tablet} {                         
        margin-top: 30px;
        margin-right: 0px;
        flex: none;
        margin-bottom: 20px;
    }  
} 

.events-calender-container-image{ 
     flex: 1; 
     padding-left: 0px;    

     @media #{$mobile} {
        flex: none;  
        min-height: 300px;
     }

     @media #{$tablet} {
        flex: none;  
        min-height: 400px;
     }
}   

.events-details {
    background: #e1e1e1;
    border: 1px solid #ebebeb;
    margin-left: 0px;
}

.events-details-symbol-containter {
        min-height: 65px; 
        text-align: center;
        padding-top: 10px
    }

.events-details-symbol {
    color: #666666;
}

.events-details-heading {
    color: #666666;
    margin-bottom: 0px;               
}

.events-details-content {
    background: #f5f5f5;
}

.events-date {
    color: $colorPrimary;

    i {
        padding-right: 5px;
        padding-bottom:15px;
    }

    p {
        margin-bottom: 0px;        
    }

     @media #{$tablet, $desktop} {
        margin-bottom: -5px;
     }

}

.l-events-filter {
    margin: 15px 0px 15px 0px;

    @media #{$mobile, $tablet} {
        background-color: $white;
        border: 1px solid $greyLight;
        border-radius: 3px;
        box-shadow: 0 10px 20px rgba(0,0,0,.05);
    }

    .filters-heading {
        font-weight: 600;
        margin: 0;
        font-size: 1.1em;

        @media #{$mobile, $tablet} {
            display: none;
        }
    }

    .filters-list {
        list-style: outside none none;
        padding: 0px;
        margin-bottom: 0;
    }

    .filter-title, .filter-inner-title {
        margin-bottom: 0;
        position: relative;
        cursor: pointer;
        border-bottom: 1px solid $greyLight;

        &:after {
            padding-left: 10px;
            content: "\f107";
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 18px;
            text-decoration: none;
            display: inline-block;
            margin-top: -10px;
            position: absolute;
            right: 5px;
            top: 50%;
        }
    }

    .filter-title {
        font-weight: 600;
        padding: 10px 0;
        @media #{$desktop} {
            margin-bottom: 10px;
        }
    }

    .filter-inner-title {
        color: $colorPrimary;
        @media #{$mobile, $tablet} {
            padding-top: 10px;
            padding-bottom: 10px;
        }  
    }

    .mobile-filter-heading {
        border-top: 1px solid $greyLight;
        border-bottom: none;
        text-align: center;

        @media #{$desktop} {
            display: none;
        }
    }

    .filter-title.mobile-filter-heading:after {
        content: "\f106";
    }

    .is-collapsed {
        .filter-title {
            @media #{$mobile, $tablet} {
                border-top: none;
            }
        }

        .filter-title, .filter-inner-title {
            &:after {
                content: "\f105";
            }
        }

        .filter-inner-title {
            border-bottom: none;
        }

        ul {
            display: none;
        }
    }

    .filter:last-child.is-collapsed .filter-title {
        @media #{$mobile, $tablet} {
            border-bottom: none;
        }
    }

    .is-collapsed {
        .mobile-filter-heading:after {
            content: "\f107";
        }
    }

    li {
        margin: 0;

        a {
            display: block;
            text-decoration: none;
            padding-top: 10px;
            padding-bottom: 10px;

            @media #{$desktop} {
                padding-top: 1px;
                padding-bottom: 1px;
            }
        }
    }

    li.active {
        a {
            color: $paleRed;

            &:after {
                padding-left: 10px;
                color: $paleRed;
                content: "\f105";
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 18px;
                text-decoration: none;
                display: inline-block;
            }
        }
    }

    .filter li:not(:first-child) {
        border-top: 1px solid $greyLight;
    }

    .filter li {
        @media #{$desktop} {
            margin-right: 50px;
        }
    }

    .filters-inner-list {
        margin-left:40px;

        @media #{$desktop} {
            li {
                margin-right: 0;
            }
        }  
    }
}



