.external-links {
    &__heading {
        padding: 0;
        margin-bottom:0.8em;
        margin-top: 0;
    }

    &__link {
        font-weight: 700;
    }

    &__teaser {
        margin: 1em 0 1em 0;

        &:last-of-type {
            margin-bottom: 2.5em;
        }
    }
}
  