.external-link {
    padding-top: 0.5em !important;

    @media #{$mobile} {
        padding-top: 0;
    }

    &__list {
        list-style-type: none;
        margin-bottom: 0;
        margin-top: 0.2em;

        @media #{$mobile} {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    &__link {
        display: block;
        text-decoration: none;
        cursor: pointer;
        padding: 0;
        margin-top: 1.5em;

        @media #{$mobile} {
            padding-bottom: 1em;
            margin-top: 0;
        }

        &:hover {
            text-decoration: none;

            .external-link__title {
                text-decoration: underline;
                text-decoration-thickness: 3px;
            }
        }
    }

    &__container {
        margin: 0;
        padding: 0;
        
        &:last-child > a {
            padding-bottom: 0.5em;
        }

        &:first-child > a {
            margin-top: 0;
        }
    }

    &__title {
        @include h-s;
        color: $stockport-green;
        text-decoration: underline;
        margin-bottom: 0.5em;
    }

    &__teaser {
        color: black;
        margin: 0;
    }
}  