#favourites-bar {
    position: fixed;
    bottom: -40px;
    width: 100%;
    background-color: #8C5573;
    color: #ffffff;
    z-index: 999;
    cursor: pointer;
    padding:5px 0;

    .count {
        padding-left: 10px;
    }

    .grid-container {
        @media #{$tablet} {
            margin-left: 10px;
        }
        text-align: center;
    }
}
