.favourites-bar {
  width: 100%;
  background-color: $purple2444;
  color: $white;
  cursor: pointer;
  padding: 5px 0;
  text-align: left;
  display: none;
  min-height: 0;
  box-sizing: border-box;
  text-decoration: none;

  .favourites-text {
    text-decoration: underline;

    &:hover {
      text-decoration-thickness: 3px;
    }
  }

  i {
    text-decoration: none;
    padding-right: 10px;
  }

  @media #{$mobile} {
    padding: 15px 0;
    text-align: center;

    i {
      float: none;
    }
  }

  .grid-container {
    @media #{$tablet} {
      margin-left: 10px;
    }
  }

  &:focus {
    outline: none !important;

    .favourites-text {
      outline: #ef8a16 solid 3px;
    }
  }

  &:hover {
    color: $white;
    background-color: $purple2444;
    text-decoration: none;
  }

  &:active {
    background-color: $purple2444;
  }
}

.favourites-container {
  @media #{$mobile} {
    padding: 10px;
    background-color: transparent;
  }
}

.filter-sort-bar {
  .favourites-container {
    @media #{$mobile} {
      padding-top: 0;
      padding-left: 10px;
      padding-right: 5px;
      background-color: transparent;
    }
  }
}

.group-home-filter {
  .favourites-container {
    padding-bottom: 20px;
  }
}

.group-margin {
  .favourites-container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}
