.featured-item {
    margin-bottom: 2em;

    a {
        text-decoration: none;
    }

    &__image {
        width: 100%;
        object-fit: cover;
        border-radius: 3px 3px 0 0;
        height: 200px;
        max-height: 300px;
        object-fit: cover;
        object-position: top;

        @media #{$tablet} {
            height: 300px;
        }

        @media #{$desktop} {
            width: 40%;
            height: 300px;
            border-radius: 3px 0 0 3px;
        }
    }

    &__link {
        text-decoration: none;
        :hover {
            .featured-item__title {
                text-decoration-thickness: 3px;
            }
        }

        @media #{$desktop} {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__title {
        color: $stockport-green;
        text-decoration: underline;
        margin: 0;
        font-size: 1.3rem;

        &--padded-bottom {
            padding-bottom: 0.5em;
        }
    }

    &-content {
        background-color: white;
        width: 60%;
        position: relative;
        border-radius: 3px;
        padding: 1em;
        box-sizing: border-box;

        &-last-updated {
            @media #{$desktop} {
                margin-bottom: 1em;
            }
        }

        @media #{$desktop} {
            border: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                width: calc(100% - 20px);
                left: 20px;
            }
        }

        @media #{$tablet} {
            width: unset;
        }

        &__teaser {
            color: $stockport-black;
            margin: 0;
            border-radius: 0 0 3px 3px;
            margin-bottom: 1em;
        }

        &-last-updated {
            color: $stockport-black;
        }
    }
}

.featured-item:nth-child(even) .featured-item__image {
    order: 2;

    @media #{$desktop} {
        border-radius: 0 3px 3px 0;
    }

    @media #{$mobile} {
        order: unset;
    }
}

.featured-item:nth-of-type(1) .featured-item-content {
    border-bottom: 8px solid rgba($stockport-orange, 0.8);

    @media #{$desktop} {
        border: none;
        &::after {
            border-bottom: 8px solid rgba($stockport-orange, 0.8);
            border-radius: 0 0 3px 0;
        }
    }
}

.featured-item:nth-of-type(2) .featured-item-content {
    border-bottom: 8px solid rgba($stockport-pink, 0.8);

    @media #{$desktop} {
        border: none;
        &::after {
            border-bottom: 8px solid rgba($stockport-pink, 0.8);
            border-radius: 0 0 0 3px;
            left: 0px;
        }
    }
}

.featured-item:nth-of-type(3) .featured-item-content {
    border-bottom: 8px solid rgba($stockport-teal, 0.8);

    @media #{$desktop} {
        border: none;
        &::after {
            border-bottom: 8px solid rgba($stockport-teal, 0.8);
            border-radius: 0 0 3px 0;
        }
    }
}

.section--white {
    .featured-item {
        border: 2px solid $stockport-light-grey;
        border-radius: 3px;
    }
}
