$fontstack: 'Source Sans Pro', sans-serif;

@mixin darken-with-not($class, $class-to-ignore) {
  @for $i from 1 through 7 {
    .#{$class}-#{$i} {
      .darken {
        background-color: rgba(0,0,0, ($i / 20));
      }

      &:not(.#{$class-to-ignore}) {
        &:hover .darken {
          background-color: $whiteOpaque1;
        }

        .darken {
          border-left: 7px solid $whiteOpaque1;
        }
      }
    }
  }
}

.featured-topic-list {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

.generic-Featured-Items-margin-top {
  margin-top: 20px;
}

.featured-content-button-wrapper {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;

  #see-more-services {
    margin-top: 25px;
  }

  .generic-list-see-more {
    background-color: $greyDark;

    @media #{$mobile} {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }

    &:active {
      background-color: $grey55;
    }

    &:hover {
      background-color: darken($greyDark, 10%);
    }

    &:focus {
      background-color: darken($greyDark, 10%);
    }
  }

  @media #{$mobile} {

    .green {
      width: 100%;
    }
  }
}

#topic-page-content {
  margin-bottom: 0;

  .alert-information,
  .subitems-tertiary-padding,
  .subitem-outer-container,
  .event-banner,
  .expanding-link-box,
  .primary-items-no-margin {
    margin-top: 0;
    margin-bottom: 20px;

    .sk-table-outer-container,
    .sk-table-outer-container.sk-table-body,
    .subitems-secondary-two-column,
    .subitems-tertiary-two-column {
      margin-bottom: 0;
      margin-top: 0;
    }

    .sk-table-outer-container a {
      text-decoration: none;
    }
  }
}
