.find-out-more {
    &__title {
        text-align: center;
        text-align: -webkit-center;
        text-align: -moz-center;

        hr {
            width: 20%;
            margin-top: 0;

            @media #{$mobile} {
                width: 40%;
            }

            @media #{$tablet} {
                width: 30%;
            }
        }
    }

    &-banner {
        display: flex;
        flex-direction: row;
        margin-bottom: 3em;

        @media #{$mobile} {
            flex-direction: column-reverse;
            margin-inline-start: 5px;
            margin-inline-end: 5px;
        }

        &-content {
            width: 45%;
            align-content: center;
            padding-inline-end: 3em;
            
            @media #{$mobile} {
                width: 100%;
                padding: 0;
            }
        }

        &__title {
            width: fit-content;
            border-bottom: 3px solid;
            padding-bottom: 0.5em;
            border-color: $stockport-teal-darker;

            @media #{$mobile} {
                margin: 0.5em 0;
                width: 100%;
            }
        }

        &__teaser {
            color: black;
            margin-bottom: 1em;
        }

        &__image {
            width: 55%;
            max-height: 350px;
            border-radius: 50px 0;
            object-fit: cover;
            align-self: center;

            @media #{$tablet} {
                width: 50%;
                height: 350px;
            }

            @media #{$mobile} {
                width: 100%;
                height: auto;
                max-height: 300px;
                border-radius: 30px 0;
            }
        }

        &__button {
            color: $stockport-teal-darker;
            border: 1px solid $stockport-teal-darker;
            background: white;

            &:hover, &:focus {
                color: white;
            }
        }

        &:nth-child(n+2) {
            flex-direction: row-reverse;

            @media #{$mobile} {
                flex-direction: column-reverse;
            }

            .find-out-more-banner-content {
                padding-inline-start: 3em;

                @media #{$mobile} {
                    padding: 0;
                }
            }

            .find-out-more-banner__button {
                color: $stockport-pink;
                border: 1px solid $stockport-pink;

                &:hover, &:focus {
                    background-color: $stockport-pink;
                    color: white;
                }
            }

            .find-out-more-banner__title {
                border-color: $stockport-pink;
            }
        }

        &:nth-child(n+3) {
            flex-direction: row;

            @media #{$mobile} {
                flex-direction: column-reverse;
            }

            .find-out-more-banner-content {
                padding-inline-start: 0;
            }

            .find-out-more-banner__button {
                color: $stockport-purple;
                border: 1px solid $stockport-purple;

                &:hover, &:focus {
                    background-color: $stockport-purple;
                }
            }

            .find-out-more-banner__title {
                border-color: $stockport-purple;
            }
        }
    }

    &-card {
        border-bottom: 9px solid $stockport-teal-lighter;

        @media #{$mobile} {
            margin-bottom: 1.5em;
        }

        &:nth-child(n+1) {
            .find-out-more-card__icon {
                color: $stockport-teal-darker;
            }
        }

        &:nth-child(n+2) {

            .find-out-more-card__icon {
                color: $stockport-pink;
            }
        }

        &:nth-child(n+3) {
            .find-out-more-card__icon {
                color: $stockport-purple;
            }
        }

        .find-out-more-card__icon.text-orange {
            color: $stockport-orange !important;
        }

        &--padding {
            flex-grow: 1;
            padding: 1em 0.75em 1.5em 0.75em;
        }

        &__icon {
            font-size: 5rem;

            &--padding {
                padding: 0 1.5rem;
            }
        }
    }
}
