.footer-links {
    ul.footer-nav {
        margin-bottom: 0;

        li {
            margin: 0 0 10px;
            padding: 0;

            a {
                margin-left: 30px;
                text-decoration: underline;
                padding-right: 10px;
                line-height: 1.5em;
                display: block;

                @media #{$tablet} {
                    margin-left: 0;
                }

                &:hover {
                    text-decoration-thickness: 3px;
                }
            }
        }
    }

    @media #{$mobile} {
        margin-left: 20px;
    }
}

.footer-bottom {
  background-color: $footerBottomBackground;
  text-align: center;
  padding-top: 12px;

  p {
    margin-bottom: 15px;
  }
}

footer a {
  color: $white;
  text-decoration: none;
}

.footer-social-container {
    @media #{$mobile} {
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-left: -10px;
        margin-right: -10px;
    }
}

.footer-social-links {
  text-align: right;

  @media #{$mobile} {

    a:not(:last-child) .icon-container {
      border-right: 1px solid $whiteOpaque3;
    }
  }

  .icon-container {
    border-color: $white;
    color: $white;
    width: 31px;
    height: 31px;
    margin-right: 0;
    margin-left: 6px;
    border-width: 1px;

    @media #{$desktop, $tablet} {
      opacity: 0.7;


      &:hover {
        opacity: 1;
      }
    }

    @media #{$mobile} {
      width: 25%;
      height: auto;
      text-align: center;
      color: $white;
      float: left;
      border: none;
      border-radius: 0;
      margin: 0;
      padding: 16px 0 10px 0;
      box-sizing: border-box;
      border-bottom: 1px solid $whiteOpaque3;
      background-color: $brandBorder;

      &.icon-twitter:hover {
        background-color: $blueLightSky;
      }

      &.icon-twitter:focus {
        background-color: $blueLightSky;
      }

      &.icon-facebook:hover {
        background-color: $blueLightRoyal;
      }

      &.icon-facebook:focus {
        background-color: $blueLightRoyal;
      }

      &.icon-youtube:hover {
        background-color: $dullRed;
      }

      &.icon-youtube:focus {
        background-color: $dullRed;
      }

      &.icon-instagram:hover {
        background-color: $darkOrchid3;
      }

      &.icon-instagram:focus {
        background-color: $darkOrchid3;
      }
    }

    @media #{$tablet} {
      height: 24px;
      width: 22px;
      padding: 11px 13px 15px;
      margin-left: 0px;
      margin-bottom: 4px;
    }

    @media #{$desktop} {
      margin-bottom: 10px;
    }
  }

  a:hover {
    text-decoration: none;

    .icon-bordered-fixed {
      color: $white;
    }
  }
}

.footer-logo-links {
  border-top: 2px solid $colorPOpaque5;
  padding: 30px 0px;

  @media #{$mobile} {
    padding: 20px 10px 0px 10px;
  }

  @media #{$tablet} {
    a:not(:first-of-type) {
      margin-right: 42px;
    }

    a:first-of-type {
      margin-left: 10px;
    }
  }

  @media #{$desktop} {
    a:not(:first-of-type) {
      margin-right: 70px;
    }
  }

  a:last-child {
    margin-right: 0;
  }

  > a {
    margin: 0 60px 0 0;
    min-width: 220px;
    max-width: 220px;
    max-height: 80px;

    @media #{$tablet} {
      margin: 0 40px 35px 0;
      display: inline-block;
      vertical-align: top;
      min-width: 150px;
      max-width: 150px;
    }

    @media #{$mobile} {
      margin: 0 25px 30px 0;
      display: inline-block;
      vertical-align: top;
    }

    & > img:first-of-type {
      padding-left: 0;
      vertical-align: top;
    }

    & > img {
      min-width: 200px;

      @media #{$tablet} {
        min-width: 140px;
        max-width: 140px;
        max-height: 80px;
      }
    }
  }
}
