/*------ Footer, Overrides some base stlye int he styleguide footer ------*/
.footer {
	background-color: $stockport-dark-grey;
	padding: 2em 0 1em 0;

	@media #{$mobile} {
		padding: 0 0 1em;
	}

	&_links {
		li {
			box-sizing: border-box;
			margin: 0;
			padding-left: 1em;
			padding-bottom: 0.5em;

			@media #{$mobile} {
				padding-left: 0;
			}
		}

		a {
			text-decoration: underline;

			&:hover {
				text-decoration-thickness: 3px;
			}
		}
	}

	&_top {
		border-bottom: 2px solid $stockport-grey;
		padding-bottom: 1em;
		margin-bottom: 1em;
	}

	&_logo {
		margin-top: 0;

		img {
			height: auto;
			width: 80%;

			@media #{$mobile} {
				padding: 0 10px;
			}
		}

		@media #{$mobile} {
			margin-top: 25px;
			padding-bottom: 20px;

			img {
				max-width: 246px;
			}
		}
	}

	&_socials {
		margin-right: 0;
		@media #{$mobile} {
			margin-right:10px;
		}
	}

	&_copyright {
		text-align: left;
	}

	&_attribution {
		text-align: right;

		@media #{$mobile} {
			text-align: left;
		}

		a {
			font-weight: normal;
			text-decoration-line: underline;
		}
	}
}