/*------ Footer, Overrides some base stlye int he styleguide footer ------*/
.footer {
	background-color: $stockport-dark-grey;
	padding: 2em 0 1em 0;



	&_links {
		font-size: 0.8em;

		li {
			margin: 0 0 10px;
			padding: 0px;
		}
	}


	&_top {
		border-bottom: 2px solid $stockport-grey;
		padding-bottom: 1em;
		margin-bottom: 1em;
	}

	&_logo {
		margin-top: 0;

		img {
			height: auto;
			width: 100%;
		}

		a {
			display: inline-block;
		}

		@media #{$mobile} {
			margin-top: 25px;
			padding-bottom: 20px;

			img {
				max-width: 246px;
			}
		}
	}

	&_socials {
		margin-right: 0;
	}

	&_copyright {
		text-align: left;
	}

	&_attribution {
		text-align: right;

		@media #{$mobile} {
			text-align: left;
		}

		a {
			font-weight: normal;
			text-decoration-line: underline;
		}
	}
}