.global-alert {
	padding: 1em 0;
	
	&_content {
		display: flex;
		justify-content: space-between;

		@media #{$tablet} {
			margin: 0 5px;
			width: calc(100% - 10px);
		}
	}

	&_text {
		color: white;
		padding-inline-start: 2em;
		padding-inline-end: 6em;
		flex-grow: 1;

		@media #{$tablet} {
			padding-inline: 0;
		}

		h2, h3, h4, h5, h6, ul, p, a {
			color: white;
		}

		h2 {
			margin-bottom: 0.5em;
		}
	}

	&_close-container {
		margin-left: 0.5em;
		align-content: center;

		a {
			display: inline-block;
		}

		.global-alert-close {
			border: 1px solid white;
            border-radius: 100%;
            width: 1.947em;
            height: 1.947em;
            text-align: center;
            float: right;
            text-decoration: none;
			align-content: center;

            span:before {
                content: "\f00d";
                font-family: "FontAwesome";
                font-style: normal;
                font-size: 1.052em;
                color: white;
                text-align: center;
                position: relative;
                top: calc(50% - 1em);
            }

            &:hover {
                background-color: rgba(white, .2);
            }
		}
	}

	&-text-container {
		.global-alert-text-error, .global-alert-text-information {
			h3 {
				margin-bottom: 20px;
			}
		}
	}

	&-icon {
		align-content: center;

		span:before{
			font-family: "FontAwesome";
			font-style: normal;
			font-size: 1.315em;
		}

		&-warning {
			span:before {
			content: "\f06a";
			color: black;
			}
		}

		&-information {
			span:before {
			content: "\f05a";
			color: white;
			}
		}

		&-error {
			span:before {
			content: "\f06a";
			color: white;
			}
		}
	}

	&-warning {
		background-color: $stockport-orange;
	
		.global-alert_text {
			color: black;
	
			h2, h3, h4, h5, h6, ul, p, a {
				color: black;
			}
		}
	
		.global-alert-close {
			border: 1px solid black;
			
			span:before {
				color: black;
			}
		}
	
		a:focus {
			outline: 3px solid black !important;
		}
	}

	&_text {
		h3 {
			margin-bottom: 20px;
		}
	}
	
	&-error {
		background-color: $stockport-alert-red;
	}

	&-information {
		background-color: $stockport-blue;
	}
}