.google-map {
    border: 1px solid #5a5a5933;
    height: 550px;
    margin-bottom: 1em;
    border-radius: 3px;

    .btn:focus {
        margin : 3px;
    }

    *:focus-visible {
        outline: 3px solid #ef8a16;
    }

    .gm-style-iw-d {
        margin-block-start : 10px;
    }
        
    .gm-ui-hover-effect {
        width: 44px !important;
        height: 44px !important;

        span {
            width: 30px !important;
            height: 30px !important
        }
    }
}
