.hidden {
  display: none;
}

.button-default { // used in ThankYouMessage

  &.white {
    border: solid 1px $grey875;
    color: $colorPrimaryDark;
    background-color: transparent;
  }

  &.grey {
    border: solid 1px $greyDark;
    color: $white;
    background-color: $greyDark;
  }
}

.form-section { // used in a few places - healthystockport ContactUs, Payment/Detail, Payment/PaymentDetail, Payment/ServicePayPaymentDetail, ServicePayPayment/Detail, ContactUs, LocationSearch, EventsFilterBar
  .label-for-checkbox {
    display: inline-block;
  }
}