
.no-js {
    .group-listing-container, #event-listing-container {
        .group-li {
            height: 100%;
        }
    }
}

.group-listing-container, #event-listing-container {
    margin-top: 40px;

    @media #{$mobile} {
        margin-top: 20px;
    }

    .group-li {
        margin-left: 0;
        list-style-type: none;

        @media #{$desktop, $tablet} {
            margin-bottom: 40px;
        }

        @media #{$desktop} {
            padding-left: 15px;
            padding-right: 15px;
        }

        @media #{$mobile,$tablet} {
            padding-left: 5px;
            padding-right: 5px;
        }

        @media #{$mobile} {
            padding-bottom: 20px;
        }

        a {
            text-decoration: none;
        }

        .group-card {
            background-color: #ffffff;
            padding: 0 0 10px 0;
            border-radius: 4px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.05);
            transition-duration: 0.5s;
            display: block;

            &:hover {
                box-shadow: 0 10px 20px rgba(0,0,0,0.2);
            }

            .group-card-information {
                color: black;
                padding-left: 15px;
                padding-right: 15px;
                word-wrap: break-word;
                display: block;

                .group-title {
                    h3 {
                        margin-top: 0;
                    }
                }

                .group-card-icon {
                    font-size: 0.9em;
                }

                .group-card-text {
                    font-size: 0.9em;
                }
            }

            .group-image {
                height: 233px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                display: inline-block;
                width: 100%;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
        }
    }
}

.result-search-down-arrow {
    &:after {
        padding-left: 10px;
        color: $white;
        content: "\f107";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 18px;
        text-decoration: none;
        display: inline-block;
    }
}

.result-search-up-arrow {
    &:after {
        padding-left: 10px;
        color: $white;
        content: "\f106";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 18px;
        text-decoration: none;
        display: inline-block;
    }
}

.group-pagination {

    .pagination-section {
        border-top-width: 2px;
        border-top-color: rgba(0,0,0, 0.2);
    }
}

.group-search-mobile {
    background-color: #055c58;
}

#group-favourites {
    h1 {
        margin-right: 10px;
        margin-left: 10px;
    }

    .icon-bordered-fixed.green {
        color: #055c58;
    }

    #no-results {
        @media #{$tablet,$desktop} {
            width: 50%;
        }

        text-align: center;
        margin: 0 auto;
    }

    .group-listing-container {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }

    .pagination-section {
        margin-bottom: 0;
        padding: 10px;
    }

    .favourite-share-container {

        .share {
            padding-top: 15px;
        }

        @media #{$mobile,$tablet} {
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 15px;
        }

        .favourite-share {
            padding-left: 0px;

            a {
                font-size: 1em;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            i {
                font-weight: 600;
            }

            b {
                margin-left: 10px;
            }

            @media #{$mobile,$tablet} {
                margin-bottom: 15px;
            }
        }
    }
}
