
.no-js{
    .group-listing-container, #event-listing-container
    {
        .group-li
        {
            height: 100%;
        }
    }
}

.result-search-down-arrow{
     &:after {
                padding-left: 10px;
                color: $white;
                content: "\f107";
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 18px;
                text-decoration: none;
                display: inline-block;   
            }
}

.result-search-up-arrow{
     &:after {
                padding-left: 10px;
                color: $white;
                content: "\f106";
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 18px;
                text-decoration: none;
                display: inline-block;   
            }
}

.group-pagination {

    .pagination-section {
        border-top-width: 2px;
        border-top-color: rgba(0,0,0, 0.2) ;
    }
}

.group-search-mobile {
    background-color: #055c58;  
}
