article.group-detail {

    @media #{$mobile} {
        padding: 0;

        > div {
            background-color: $white;
        }
    }

    padding-bottom: 0;

    ul {
        margin-bottom: 10px;
    }

    .main-content {
        padding-right: 20px;
        padding-left: 20px;
    }

    .content-disclaimers {
        margin-top: 15px;
    }

    h1 {
        color: $colorPrimary;
        font-size: 4.250em;
        font-weight: 600;

        @media #{$mobile } {
            font-size: 2.25em;
        }
    }

    .bordered-group-section {
        border: 1px solid $greyLight;
        border-radius: 3px;
        box-sizing: border-box;
        padding: 0 20px 10px 20px;
    }

    .group-image {
        margin-bottom: 15px;
        position: relative;
        width: 100%;
        height: 225px;

        @media #{$mobile} {
            height: 160px;
        }

        img {
            position: absolute;
            clip: rect(0,1000px,226px,0);
        }
    }

    h2 {
        margin-bottom: 0;
        line-height: 40px;
        font-size: 1.625em;

        @media #{$mobile } {
            padding-bottom: 10px;
        }
    }

    section {
        display: inline-block;
    }


    > div {
        background-color: $white;

        > section {
            width: 100%;

            hr {
                color: #D3D3D3;
                margin-bottom: 0;

                @media #{$mobile } {
                    margin-top: 14px;
                }
            }
        }
    }



    .group-information li {
        list-style: none;
        display: table;
        margin-left: 0;
        width: 100%;
        border-bottom: #D3D3D3 solid 1px;
        padding: 8px 0;

        i {
            padding: 15px 15px 15px 0;
            width: 32px;
            text-align: center;
        }

        div, i {
            display: table-cell;
            vertical-align: middle;



            p {
                margin-bottom: 0;
            }
        }
    }

    aside {
        padding-left: 0;

        hr {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        @media #{$mobile} {
            padding-left: 10px;
            background-color: $offWhite;
        }

        @media #{$desktop} {
            h2 {
                padding-left: 25px;
                padding-top: 35px;
            }

            .sidebar-section {
                padding-left: 30px;
            }
        }

        .sidebar-button {
            min-width: 0;
            display: block;
        }

        .thank-you-message {
            padding-top: 15px;
            padding-left: 15px;
            padding-bottom: 15px;
            padding-right: 25px;
            background-color: $white;
            border-radius: 3px;
            border: 1px solid #999;
            font-weight: 600;
            font-family: 'Source Sans Pro';
            font-size: 1.125em;
            letter-spacing: 0;
            line-height: 20px;

            .fa-check {
                color: $green;
                padding-left: 5px;
                padding-right: 10px;
            }
        }

        .group-information-section {
            border-top: 0;
            margin-top: 0;
            padding-left: 25px;
            padding-right: 0;
            margin-bottom: 10px;
            text-align: left;

            .manage-group-button {
                border-color: $greyMiddle;
                background-color: $white;
                color: $greyDarkest;
                font-weight: 600;
                margin-top: 10px;
                margin-bottom: 10px;

                &:hover {
                    box-shadow: 5px 5px 10px $greyLighter;
                }

                span {
                    margin-left: 8px;
                }
            }

            form {
                button {
                    width: 100%;
                }
            }

            @media #{$mobile} {
                padding-left: 0;
                margin-bottom: 0;
            }
        }
    }

    .sharethis {
        clear: both;
        border-top: 1px solid;
        color: #cccccc;
        font-weight: 600;
        background-color: white;

        .share {
            padding-top: 10px;

            &.border {
                margin: 0;
            }

            h2 {
                font-size: 0.875em;
                font-family: "Noto Sans", sans-serif;
                line-height: 1.75em;
            }
        }

        div {
            margin-top: 5px;
        }

        p {
            font-weight: 100;
            margin-top: 22px;
        }
    }
}

.additional-information {
    border: 1px solid $greyLight;
    border-radius: 3px;
    padding: 0px 15px;
    box-sizing: border-box;
}