@media #{$mobile} {
    body {
        background-color: $white
    }
}

article.group-detail {
    padding-bottom: 0px;


    ul {
        margin-bottom: 10px;
    }
    .main-content {
        padding-right: 20px;
        padding-left: 20px;
    }





    ul {
        margin-bottom: 10px;
    }

    aside {
        padding-left: 10px;
    }


    h1 {
        color: $colorPrimary;
        font-size: 4.250em;
        font-weight: 600;

        @media #{$mobile } {
            font-size: 2.25em;
        }
    }

    .bordered-group-section {
        border: 1px solid #bcbcbc;
        border-radius: 3px;
        box-sizing: border-box;
        padding: 0 20px 10px 20px;

    }

    .group-image {
        margin-bottom: 15px;
        position: relative;
        width: 100%;
        height: 225px;

        img {
            position: absolute;
            clip: rect(0px,1000px,226px,0px);
        }
    }

    h2 {
        margin-bottom: 0;
        line-height: 40px;
        font-size: 1.625em;
    }

    section {
        display: inline-block;
    }

    > div {
        background-color: $white;

        > section {
            width: 100%;

            hr {
                color: #D3D3D3;
                margin-bottom: 0px;
            }
        }
    }

    .group-information li {
        list-style: none;
        display: table;
        margin-left: 0;
        width: 100%;
        border-bottom: #D3D3D3 solid 1px;
        padding: 8px 0;

        i {
            padding: 15px 15px 15px 0;
            width: 32px;
            text-align: center;
        }

        div, i {
            display: table-cell;
            vertical-align: middle;



            p {
                margin-bottom: 0;
            }
        }
    }

    aside {
        padding-left: unset;

        hr {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        @media #{$mobile} {
            padding-left: 10px;
            background-color: #EBEBEB;

            hr {
                display: none;
            }
        }

        @media #{$desktop} {
            h2 {
                padding-left: 30px;
            }

            .sidebar-section {
                padding-left: 30px;
            }
        }

        .sidebar-button {
            min-width: 0px;
            display: block;
        }

        .group-information-section {
            border-top: unset;
            margin-top: unset;
        }
    }

        .sharethis {
            clear: both;
            border-top: 1px solid;
            color: black;
            font-weight: 600;
            background-color: white;

            .share {
                padding-top: 20px;
            }

            div {
                margin-top: 5px;
            }

            p {
                font-weight: 100;
                margin-top: 22px;
            }
        }

        .group-map-container-padding {
            padding-bottom: 0;
        }
    }




