.no-js {
  .group-listing-container {
    .group-li {
      height: 100%;
    }
  }
}

.result-search-down-arrow {
  &:after {
    padding-left: 10px;
    color: $white;
    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
  }
}

.result-search-up-arrow {
  &:after {
    padding-left: 10px;
    color: $white;
    content: "\f106";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
  }
}

.group-pagination {

  .pagination-section {
    border-top-width: 2px;
    border-top-color: $blackOpaque2;
  }
}

.group-search-mobile {
  background-color: $colorBrand;
}

#group-favourites {
  h1 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .icon-bordered-fixed.green {
    color: $colorBrand;
  }

  #no-results {
    @media #{$tablet,$desktop} {
      width: 50%;
    }

    text-align: center;
    margin: 0 auto;
  }

  .group-listing-container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  .pagination-section {
    margin-bottom: 0;
    padding: 10px;
  }

  .favourite-share-container {

    .share {
      padding-top: 15px;
    }

    @media #{$mobile,$tablet} {
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 15px;
    }

    .favourite-share {
      padding-left: 0px;

      a {
        color: $greyDarkest;
        font-size: 1em;
        text-decoration: underline;

        &:hover {
          text-decoration-thickness: 3px;
        }
      }

      i {
        color: $greyDark;
        font-weight: 600;
      }

      b {
        margin-left: 10px;
      }

      @media #{$mobile,$tablet} {
        margin-bottom: 15px;
      }
    }
  }
}
