.header-right-button {
    .button-default {
        min-width: 190px;
        float: right;

        @media #{$mobile} {
            float: none;
            margin-top: 10px;
        }
    }
}

.grid-container-full-width {
    .privacy-notice {
        border: none;
        padding-bottom: 50px;

        h1 {
            font-size: 3.750em;
            margin: 21px 0 21px 0;
            line-height: 1em;
            color: $colorPrimary;

            @media #{$mobile} {
                font-size: 2.250em;
            }
        }

        h2 {
            font-size: 1.750em;
            margin: 0 0 26px 0;
            padding: 0;
            line-height: 1em;

            @media #{$mobile} {
                font-size: 1.625em;
            }
        }

        h3 {
            font-size: 1.375em;
            margin: 0 0 16px 0;
            padding: 0;
            line-height: 1em;

            @media #{$mobile} {
                font-size: 1.375em;
            }
        }

        p {
            margin: 0 0 16px 0;
            padding: 0;
        }

        hr {
            margin: 0 0 16px 0;
        }
    }
}
