.header-highlight {
    border-radius: 50px 3px 50px 3px;
    padding: 1em;
    color: white;
    background-color: $stockport-teal-darker;
    padding: 1.5em;
    box-sizing: border-box;

    &--30-width {
        @media #{$desktop} {
            max-width: 450px;
            position: absolute;
            bottom: -65px;
            width: 33%;
            place-self: flex-end;
        }

        @media #{$tablet-only} {
            width: 100%;
            bottom: 57px;
            position: relative;
            max-width: unset;
            justify-self: center;
        }

        @media #{$mobile} {
            margin-block: 3em;
        }
    }
    
    &--full-width {
        bottom: 70px;
        position: relative;

        @media #{$mobile} {
            margin-block: 3em;
            bottom: unset;
        }
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    &__icon {
        margin-inline-end: 0.2em;
        margin-top: 0;
        vertical-align: text-top;
        font-size: 2.5rem;
    }

    &__title {
        color: white;
        margin-top: 0;
    }

    h2, h3, h4, h5, h6, ul, p, a {
        color: white;
    }
}

html[dir="rtl"] {
    .header-highlight {
        border-radius: 3px 50px 3px 50px;

        &__icon {
            @media #{$desktop} {
                margin-bottom: 0.25em;
            }
        }
    }
}