$fontstack: 'Source Sans Pro', sans-serif;

.breadcrumb {
  border-bottom-width: 0;
}

﻿.homepage-hero {
  padding: 0px 10px 0px 10px;
  background: $colorPrimary no-repeat scroll center center;
  background-size: cover;

  @media #{$mobile, $tablet} {
    padding-top: 20px;
  }


  @media #{$desktop} {
    background-attachment: fixed;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    background-attachment: scroll;
  }

  @supports (-ms-accelerator:true) {
    background-attachment: scroll;
  }
}

.task-block-list {
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 12px 33px $blackOpaque25;

  @media #{$tablet, $mobile} {
    margin-right: 4px;
  }

  @media #{$desktop} {
    margin-bottom: 80px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 80px;
  }

  a {
    text-decoration: none;
  }

  .task-block-container {
    display: table;
    width: 100%;
    background-color: $purple5237;
    border-radius: 5px;

    @media #{$mobile, $tablet} {
      border-left: 4px solid $purple5237;
    }

    @media #{$desktop} {
      display: table-row;
      height: 100%;
      border-top: 4px solid $purple5237;
    }
  }

  .task-block {
    color: $white;
    font-size: 65%;
    display: table-row;

    @media #{$desktop} {
      font-size: 80%;
      display: table-cell;
      height: 100%;
      width: 16.667%;
    }

    text-align: center;

    .task-title {
      margin: 0;
      text-align: left;
      padding: 15px 5px 15px 15px;
      font-family: $fontstack;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5em;

      @media #{$desktop} {
        padding: 5px;
        text-align: center;
        min-height: 65px;
        font-size: 18px;
        line-height: 1.3em;
      }
    }

    .title {
      display: table-cell;
      margin-left: 60px;
      min-height: 40px;

      @media #{$desktop} {
        line-height: 1.5;
        margin-left: 0px;
        display: inline-block;
        width: 100%;
      }

      h3 {
        color: $white;
      }
    }

    .icon {
      display: table-cell;
      vertical-align: middle;

      @media #{$desktop} {
        display: inline-block;
        width: 100%;
      }

      @media #{$mobile, $tablet} {
        padding: 0;
        width: 60px;
        min-height: 50px;
      }

      span.si-default {
        padding-top: 5px;
        padding-bottom: 5px;
        display: inline-block;
        font-size: 3em;

        @media #{$mobile, $tablet} {
          font-size: 2.5em;
        }

        @media #{$desktop} {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }
  }

  @for $i from 1 through 6 {
    #task-block-#{$i} {
      .icon {
        background-color: $borderDefault;
      }

      background-color: rgba(0,0,0,calc((($i) - 1) / 20));

      &:hover {
        .icon {
          background-color: $whiteOpaque1;
        }

        background-color: $whiteOpaque1;
      }
    }
  }
}

.task-block-container {
  @media #{$desktop} {
    width: 16.6999%;
    float: left;
  }
}

.homepage-latest-items {
  margin-bottom: 20px;

  a {
    color: $greyDarkest;
    text-decoration: none;

    &:hover {
      h3 {
        text-decoration: underline;
      }
    }
  }

  a:nth-child(2) .homepage-latest-item {
    @media #{$mobile, $tablet} {
      display: none;
    }

    @media #{$desktop} {
      border-left: solid 1px $greyLight;
    }
  }
}

.homepage-group-link-container {
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: $greyDarkest;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .homepage-group-link-container-text {
    color: white;
    margin-bottom: 10px;
    font-size: larger;

    @media #{$mobile} {
      line-height: normal;
    }

    @media #{$desktop} {
      padding-top: 6px;
      margin-bottom: 0;
    }
  }

  .homepage-group-link-container-button {
    margin-top: 10px;
    margin-bottom: 10px;

    @media #{$desktop} {
      margin-bottom: 0;
    }
  }

  .button-groups {
    width: auto;
    min-width: 300px;
    background-color: $greyDarkest;
    color: $white;
    border-color: $white;
    border-style: solid;

    @media #{$mobile, $tablet} {
      padding-right: 15px;
      min-width: 200px;
    }
  }
}

@media #{$desktop} {
  ul.nav-card-list.latest-container {
    margin-bottom: -44px;
  }
}

@media #{$tablet} {
  li.nav-card.latest-item {
    margin-bottom: -44px;
  }
}

@media #{$mobile} {
  li.nav-card.latest-item {
    margin-bottom: -44px;
  }
}

ul.nav-card-list:nth-of-type(1) {
  padding-top: 32px;
}

.do-it-online, .do-it-online:hover {
  background-color: transparent;
  border-color: $white;
}

.latest-nav-card-item {
  padding: 0 0 10px;
  box-shadow: 0 10px 20px $blackOpaque05;
  border-radius: 5px;
  background-color: $white;
  min-height: 240px;
  margin-bottom: 5px;
  -webkit-transition: box-shadow .5s;
  transition: box-shadow .5s;
  display: block;
  text-decoration: none;
  border: solid 1px $greyMiddle;
  border-top: 0;

  &:hover, a {
    text-decoration: none;
  }

  @media #{$mobile, $tablet} {
    text-align: center;
    margin-bottom: 20px;
  }

  h2 {
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.875em;

    a {
      color: $white;
      display: block;
    }

    &.title {
      height: 60px;
      line-height: 60px;
      color: $white;
    }

    &.news {
      background-color: $purple2544;
    }

    &.event {
      background-color: $softBlue;
    }

    &.group {
      background-color: $colorPrimaryLight;
    }
  }

  .body {
    padding: 10px;

    a {
      display: block;
    }

    h3 a {
      color: $black;
    }

    .date {
      color: $grey61;

      @media #{$mobile, $tablet} {
        color: $black;
      }
    }

    .bullet {
      color: $black;
    }

    .bullet, .date {
      margin-bottom: 0;

      span {
        margin-right: 10px;
      }
    }
  }
}

@media only screen and (min-width: 1025px) {
  div.latest-nav-card-item:hover {
    text-decoration: none;
    box-shadow: 0 20px 40px $blackOpaque3;
  }
}

.button-default.green {
  background-color: $tealDarker;

  &:active {
    background-color: $tealPale;
  }

  &:hover {
    background-color: darken($tealDarker, 10%);
  }

  &:focus {
    background-color: $tealDarker;

    &:hover {
      background-color: darken($tealDarker, 10%);
    }
  }
}

.nav-card {
  .button-default {
    background-color: $white;
    min-width: 200px;
    margin-bottom: 0;
    position: relative;
    top: -100px;
    margin-right: 30px;
    margin-left: 30px;

    &.invisible {
      visibility: hidden;
    }

    &:hover {
      color: $black;

      @media #{$mobile, $tablet} {
        box-shadow: none;
      }
    }
  }
}

.full-width-white {
  width: 100%;
  background-color: $white;
}
