.homepageHero {
    position: relative;

    &_background {
        @media #{$tablet, $desktop} {
            height: 525px;
            width: 100%;
            background-position: center;
            background-size: cover;
            position: absolute;
        }

        @media #{$mobile} {
            position: static;
            height: 300px;
        }
    }

    @media #{$mobile} {
        margin-bottom: 2em;
    }

    .--text-center {
        text-align: center;
    }

    &__title {
        padding-bottom: 1em;
        margin-top: 1em;
        margin-bottom: 0;
    }

    &_image {
        height: 300px;

        &--center {
            text-align: center
        }

        &--end {
            text-align: end;
        }

        @media #{$mobile} {
            display: none;
        }

        img {
            width: auto;
        }
    }

    &_wrapper {
        position: relative;
        
        @media #{$mobile} {
            margin-top: 1.75em;
        }
        
        &--mobile {
            @media #{$mobile} {
                background-color: $stockport-teal-darker;
            }
        }
    }

    &_content {
        h1 {
            @media #{$mobile} {
                padding-top: 1em;
                margin-inline: 5px;
                color: white;
                margin-top: 0;
            }

            @media #{$non-mobile} {
                @include visually-hidden;
            }
        }

        padding: 2em;
        border-radius: 3px;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,0.5) 80%, rgba(255,255,255,0.5) 100%);

        @media #{$tablet} {
            padding: 1em;
            margin-bottom: 1em;
        }

        @media #{$mobile} {
            padding: 0;
            background: none;
            margin-bottom: 0;
        }
    }

    &_search {
        @media #{$mobile} {
            display: flex;
            gap: 0.5em;
            margin-inline: 5px;
        }
    }
}
