.home-search {
    width: 100%;
    position: relative;
    margin: 0 0 2em 0;

    @media #{$tablet} {
        margin: 0 0 1.75em 0;
    }

    input.search-input {
        border: 2px solid $stockport-grey;
        border-radius: 3px;
        width: calc(100% - 50px);
        font-size: 1.1875rem;
        color: $stockport-grey;
        border-radius: 5px;
        padding: 15px 60px 15px 15px;
        background-color: $white;
        margin: 0 25px;
        height: 54px;

        @media #{$mobile} {
            font-size: 1rem;
            height: 44px;
            margin: 0 5px;
            width: calc(100% - 10px);
            padding: 15px 35px 15px 15px;
        }

        ::placeholder {
            color: $stockport-grey;
            opacity: 1;
        }
    }

    .search-button {
        font-size: 25px;
        line-height: 1;
        color: white;
        background-color: $stockport-teal-darker;
        border: none;
        border-radius: 0 3px 3px 0;
        margin-top: -25px;
        padding: 5px;
        position: absolute;
        text-align: center;
        right: 25px;
        height: 54px;
        width: 54px;
        top: 25px;

        &:hover {
            background-color: $stockport-green;
            opacity: 1;
        }

        @media #{$mobile} {
            right: 5px;
            height: 44px;
            width: 44px;
        }
    }
}

#search_autocomplete {
    width: calc(100% - 50px);
    left: 25px;

    @media #{$mobile, $tablet} {
        top: 45px
    }

     li:hover
    {
        background-color: $stockport-teal-darker;
    }
}