.home-search {
    width: 100%;
    position: relative;
    margin: 0 0 1em 0;

    @media #{$tablet} {
        margin: 0 0 1.75em 0;
    }

    @media #{$mobile} {
        margin-bottom: 0;
        padding-bottom: 1.175em;
    }

    #search_autocomplete {
        top: 3.5em;

        @media #{$mobile} {
            border-left: 0.368em solid $stockport-teal-darker;
            border-top: 1px solid $stockport-grey;
        }
    }

    &_search-input {
        border: 1px solid $stockport-grey;
        border-radius: 3px;
        width: 100%;
        font-size: 1.3rem;
        color: $stockport-grey;
        padding: 15px 60px 15px 15px;
        background-color: white;
        margin: 0px;
        height: 3.375rem;

        @media #{$mobile} {
            font-size: 1rem;
            height: 2.75em;
            padding: 15px 35px 15px 15px;
            width: 100%;
            border: none;
        }

        &::placeholder {
            color: $stockport-grey;
            opacity: 1;
        }
    }

    &_search-button {
        line-height: 1;
        color: white;
        background-color: $stockport-teal-darker;
        border: none;
        border-radius: 0 3px 3px 0;
        margin-top: -25px;
        padding: 5px;
        position: absolute;
        text-align: center;
        height: 3.375rem;
        width: 3.375rem;
        top: 25px;
        right: 0px;
        font-size: 1.31em;
        cursor: pointer;

        &:hover {
            background-color: $stockport-green;
            opacity: 1;
        }

        @media #{$mobile} {
            right: 5px;
            height: 2.75rem;
            width: 2.75rem;
            background-color: white;
            color: $stockport-teal-darker;
            position: static;
            margin-top: 0;
            border-radius: 3px;

            &:hover {
                color: darken($stockport-teal-darker, 5%);
                background-color: rgba(white, 0.9);
            }
        }
    }
}
