.image-banner {
    position: relative;

    &__background {
        position: relative;
        height: 750px;
        width: 100%;
        object-fit: cover;
        background-size: cover;
        background-position: 50%;
        max-height: 35vw;

        @media #{$tablet} {
            height: 50vw;
            max-height: 500px;
        }

        @media #{$mobile} {
            height: 60vw;
            max-height: 500px;
        }
    }

    &__content {
        position: absolute;
        color: black;
        // color: white;
        bottom: 0;
        padding: 1em;
        margin: 1em;
        max-width: 33%;
        border-radius: 3px;

        &-fade {
            background: rgb(255, 255, 255);
            background: rgba(255, 255, 255, 0.7);
            
            // background: rgb(0, 0, 0);
            // background: rgba(0, 0, 0, 0.7);
            
            //homepage
            // background: rgb(255,255,255);
            // background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,0.5) 80%, rgba(255,255,255,0.5) 100%);
        }
        
        @media #{$tablet} {
            padding: 0.5em;
            max-width: 40%;
        }

        @media #{$mobile} {
            padding: 0.5em;
            max-width: 100%;
        }
    }

    &__title {
        margin-top: 0;
        opacity: 1;
        // color: white
        @include h-xl;

        @media #{$tablet} {
            @include h-ml;
        }

        @media #{$mobile} {
            margin-top: 0;
            margin-bottom: 0.5em;
        }
    }

    &__subtitle {
        margin-bottom: 0;

        @media #{$tablet} {
            @include body;
        }
    }
}

html[dir="rtl"] {
    .image-banner {
        &__content {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 50px;
        }
    }
}