img {
	height: auto;
	width: auto;
	max-width: 100%;
	border-radius: 3px;
}

img[src*='#left'], img[src*='#right'] {
	display: block;
	max-width: 40%;
	margin-top: 1.1875rem;
	margin-bottom: 1.1875rem;
}

img[src*='#right'] {
	float: right;
	margin-inline-start: 1rem;
}

img[src*='#left'] {
	float: left;
	margin-inline-end: 1.1875rem;
}

img.fullwidth {
	max-width: 100%;
	height: auto;
	padding: 15px 0 30px 0;
}

figure {
    display: table;
    
	p {
		margin-bottom: 0 !important;
        display: table-row;
	}

	img {
		height: auto;
		width: auto;
		max-width: 100%;
		border-radius: 3px 3px 0 0;
	}
}

figcaption {
	background-color: $stockport-black;
	color: white;
    border-radius: 0 0 3px 3px;
	padding: 0.55em;
    display: table-caption;
    caption-side: bottom;
}

.image-container {
  	position: relative;
}

.image-right, .image-left {
    display: flex;
    flex-direction: column;
    max-width: 49%;

    @media #{$mobile} {
        max-width: 100%;
        margin: 0 0 1.1875rem 0;
    }

    img {
        border-radius: 3px 3px 0 0 !important;
        height: auto;
        width: 100%;
        margin: 0;
        max-width: 100%;
        object-fit: cover;

        @media #{$desktop} {
            max-height: 450px;
        }
    
        @media #{$tablet} {
            max-height: 400px;
        }
    }

    .image-rounded {
        border-bottom-left-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
    }

    figcaption {
        background-color: $stockport-black;
        border-radius: 0 0 3px 3px;
        color: #fff;
        padding: .55em;
    }
}

.image-left {
    float: left;
    margin-block: 0.5rem 1.1875rem;
    margin-inline-end: 1.1875rem;
    margin-inline-start: 0;

    @media #{$mobile} {
        margin: 0 0 1.1875rem 0;
        float: unset;
    }

    img, figcaption {
        float: left;
    }
}

.image-right {
    float: right;
    margin-block: 0.5rem 1.1875rem;
    margin-inline-end: 0;
    margin-inline-start: 1.1875rem;

    @media #{$mobile} {
        margin: 0 0 1.1875rem 0;
        float: unset;
    }

    img, figcaption {
        float: right;
    }
}

html[dir="rtl"] {
    img[src*='#right'], .image-right {
        float: left;
    }

    .image-right, .image-left {
        @media #{$mobile} {
            float: unset !important;
        }
    }

    img[src*='#left'], .image-left {
        float: right;
    }
}