.landing-page {
    
}

.framed-header {

    &__body {
        display: flex;
        height: 100%;
        color: white;

        &--teal {
            background-color: $teal;
        }

        &--grey {
            background-color: $stockport-dark-grey;
        }
    }

    &__text {
        float: left;
        width: 50%;
        margin-top: 1em;
    }

    &__container {   
        float: right;
        width: 500px;
    }

    &__title {
        color: white;
    }

    &__image {
        width: 100%;
        height: auto;
        clip-path: circle(40% at 50% 68%);
    }
}