.landing-page {
    
}

.framed-header {

    &__body {
        display: flex;
        height: 100%;
        color: white;
        justify-content: center;

        &--teal {
            background-color: $teal;
        }

        &--grey {
            background-color: $stockport-dark-grey;
        }
    }

    &__text {
        width: 40%;
        margin-top: 5em;
    }

    &__container {   
        width: 30vw;
        height: 30vw;
        background-color: $stockport-dark-grey;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            position: absolute;
            bottom: -30px;
        }

    }

    &__title {
        color: white;
    }

    // &__image {
    //     width: 100%;
    //     height: auto;
    //     clip-path: circle(40% at 50% 68%);
    // }
}