.landing-page {
}

.framed-header {

    &__body {
        display: flex;
        height: 100%;
        color: white;
        justify-content: center;
        margin-top: 5%;

        &--teal {
            background-color: $teal;
        }

        &--grey {
            background-color: $stockport-dark-grey;
        }

        @media #{$mobile} {
            margin-top: 0;
            flex-direction: column;
        }
    }

    &__text {
        margin-top: 2em;
        width: 25%;
        flex: 1;

        @media #{$mobile} {
            margin-top: 0;
            margin-left: 5px;
            width: 90%;
        }
    }

    &__container {
        width: 45vw;
        height: 30vw;
        overflow: hidden;
        position: relative;

        @media #{$mobile} {
            margin-left: -30vw;
            height: 105vw;
            width: 155vw;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            clip-path: circle(40% at 50% 54%)
        }
    }

    &__title {
        @include h-xl;

        @media #{$tablet} {
            @include h-l;
        }

        @media #{$mobile} {
            @include h-xl;
        }

        color: white;
    }
}
