#root > #map.leaflet-container,
#map.leaflet-container {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.leaflet-map {
    width: 100%;
    height: 500px;
    min-height: 250px;
    border: none;
    box-sizing: border-box;
}