.leaflet-control-layers-toggle,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-fullscreen-button {
    margin-bottom: 0;
}

.leaflet-control-layers-selector {
    margin-bottom: 0;
    width: 15px;
    display: inline-block;
}

#root > #map.leaflet-container,
#map.leaflet-container {
    font: 19px / 2 'Noto Sans', Arial, sans-serif;;
    width: 100%;
    height: 100%;
    max-width: 100%;

    @media #{$mobile} {
        font: 16px / 2 'Noto Sans', Arial, sans-serif;;
    }
}

.leaflet-map {
    width: 100%;
    height: 730px;
    min-height: 250px;
    border: none;
    box-sizing: border-box;
}

.leaflet-container {
	max-width: unset;

	.leaflet-control-container {	
		display: flex;	
		flex-direction: row;	
		height: 100%;	

		.leaflet-top.leaflet-left {	
			position: relative;	
			order: 1;	
		}	

		.leaflet-top.leaflet-right {	
			position: relative;	
			order: 3;	
		}	

		.leaflet-bottom.leaflet-left {	
			position: relative;	
			order: 2;	
			flex-grow: 1;	
			padding: 10px;	
		}	

		.leaflet-control-search.leaflet-control {	
			width: 100%;	
			margin: 0;	
			display: flex;	
			background-color: #fff;
			border: none!important;
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)!important;

			input.search-input {	
				display: block!important;	
				flex-grow: 1;	
				outline: none;	
				border: 0!important;
				height: 28px;

				&::placeholder {
					color: black;
				}
			}	

			ul {	
				display: block;	
				width: 100%;	
				margin: 0;	
				max-height: 200px!important;	
				margin-top: 1px;	
				box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2)!important;	
				z-index: 1;	

				> li.search-tip{	
					background: #FFF;	
					margin: 0;	
					border-radius: 0;	
					padding: 7px;	
					border-bottom: 1px #ccc solid;	
					cursor: pointer;	
					font-size: 0.75em;

					&:hover {	
						color: #fff;	
						background-color: #333;	
					}
				}

				> li.search-tip-select{	
					color: #fff;	
					background-color: #333;
					border-top:3px solid #ef8a16;	
					border-bottom:3px solid #ef8a16;
				}	
			}

			.search-alert {	
				display: none!important;	
			}

			.search-button {	
				display: block!important;	
				margin-bottom: 0;	
				text-decoration: none;	
				padding-top: 4px;	
				height: 32px;	
				line-height: 26px;
				background: none!important;
				position: absolute;
				right: 5px;

				&::after {	
					font-family: "FontAwesome";	
					content: "\f002";	
					font-size: 20px;	
					padding: 0 12px 0 6px;	
					color: #333;	
					background: 0 0;	
					border: none;	
				}
			}

			&.search-exp{	
				height: 36px;	
				border: none;	
			}

			.search-cancel {
				margin-top: 4px;	
				margin-bottom: 0;	
				line-height: 26px;	
				height: 32px;
				background: none!important;

				&:hover {		
					background-color: #f4f4f4;	
				}

				&::after {	
					font-family: "FontAwesome";	
					content: "\f00d";	
					font-size: 20px;	
					color: #333;	
					background: 0 0;	
					border: none;	
					visibility: visible;
				}
			}
		}
	}
}

.leaflet-popup > .leaflet-popup-content-wrapper {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.9);
    color: $white;
    width: 100%;

    .leaflet-popup-content {
        &:not(:last-of-type) {
            border-bottom: 2px solid #ccc;
        }
        .item {
            padding-left: 24px;
            > p.title {
                display: inline-block;
                margin-bottom: 0;
                margin-top: 0;
                color: $greyLighter;
                font-size: 0.875em;
                font-weight: 400;
            }
        }

        .info {
            margin-top: 0;
        }

        .fa {
            color: $greyLighter;
            position: absolute;
            left: 14px;
            line-height: 1.316;
            padding-left: 6px;
        }

        a {
            color: $white;
        }

        .button-primary {
            font: 1em/2 "Source Sans Pro", sans-serif;
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 10px;
        }

        div[class^="message-"] {
            padding: 20px;
            width: 100%;
            border-radius: 3px;
            min-width: 0;
            line-height: 20px;
            text-align: center;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        .message-fault {
            background-color: $red;
            color: $white;
        }

        .message-maintenance {
            background-color: #ef8a16;
            color: $black;
        }

        .last-updated {
            text-align: center;
            color: $greyLighter;
            font-size: 0.875em;
        }
    }
}

.leaflet-container .leaflet-popup > a.leaflet-popup-close-button {
    display: inline-block;
    font: normal normal 700 24px/1 FontAwesome;
    text-rendering: auto;
    padding-right: 6px;
    -webkit-font-smoothing: antialiased;
}

.leaflet-popup-tip-container > .leaflet-popup-tip {
    background-color: rgba(0, 0, 0, 0.9);
}