.logo-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media #{$mobile} {
        display: block;
    }

    &__item {
        margin: 1em;

        @media #{$desktop} {
            width: calc(25% - 28.5px);
            
            &:first-child, &:nth-child(4n-3) {
                margin-left: 0;
            }
    
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
        
        @media #{$tablet} {
            width: calc(33.33333% - 25.33333px);

            &:first-child, &:nth-child(3n+1) {
                margin-left: 0;
            }
    
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
        
        @media #{$mobile} {
            margin: 0 0 2em;
        }
    }

    &__image{
        height: 125px;
    }
}