.logo-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media #{$mobile} {
        display: block;
    }

    &__item {
        margin: 0 2.5em 2em 0;

        @media #{$mobile} {
            margin: 0 0 2em;
        }
    }

    &__image{
        height: 125px;
    }
}