.map-content {
    img {
        max-width: inherit;
    }

    .atMapContent {
        border: 0;
    }

    #atMapSpurForm #atMyMaps {
        width: 100%;
        border: 2px solid grey;
        padding: 0 !important;
    }
    /* Ensure the close button doesn't overlap the scroll bar */
    .olFramedCompactPopupContent {
        padding-right: 10px;
    }

    .atPopupFeatureInfo p.ui-widget-header strong a, .atPopupFeatureInfo p.ui-widget-header a {
        text-decoration: underline !important;
    }

    .atPopupFeatureInfo .contentDisplay h3 {
        background-color: #138A26;
        font-size: 1em;
        color: white;
        padding: 2px 10px;
        margin-right: 0 !important;
    }

    .atPanelContent .infoResult p {
        line-height: 1.2em;
        padding: 0 0.25em 0.25em 0.25em;
        margin: 0;
    }

    body.touch #atMyMaps ::-webkit-scrollbar {
        width: 6px;
    }

    body.touch #atMyMaps ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    body.touch #atMyMaps ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
    /* Override the ugly default OpenLayers
   close button with something nicer */
    div.olPopupCloseBox {
        background-image: url(../images/close.gif);
    }
    /* Remove the Loading Panels message 
   when launching My Maps */
    #atMSloader, #atPanelWrapperLoader {
        display: none;
    }

    .olControlZoom {
        top: 60px !important;
        left: 10px !important;
        border-radius: 4px !important;
    }

    div.olControlZoom a.olButton {
        font-size: 38px;
        height: 40px;
        width: 32px;
        line-height: 40px;
        background-color: #55565A;
        color: white;
    }

    div.olControlZoom a.olButton:hover {
        background-color: #138A26;
    }

    div#atPanelToggle, div#atZoomControls {
        position: absolute;
        z-index: 1000;
    }

    div#atPanelToggle {
        left: 11px;
        top: 18px;
        height: 30px;
    }

    div#atZoomControls {
        left: 11px;
        top: 80px;
    }

    div#atZoomControls a, div#atPanelToggle a {
        width: 25px;
        height: 30px;
        display: block;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        border-radius: 4px;
        border: 2px solid white;
        background-color: #55565A;
        color: white;
        box-shadow: none;
        text-decoration: none;
    }

    div#atZoomControls a {
        display: block;
        font-size: 26px;
        line-height: 25px;
        margin-top: 5px;
    }

    div#atPanelToggle a {
        color: #ffffff;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHMAAABkCAMAAACCTv/3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////5ubmueBsSwAAAAJ0Uk5T/wDltzBKAAAAPklEQVR42uzYQQ0AAAgDseHfNC4IyVoD912WAACUm3uampqampqamq+aAAD+IVtTU1NTU1NT0z8EAFBsBRgAX+kR+Qam138AAAAASUVORK5CYII=);
        background-size: 18px;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    div#atZoomControls a:hover, div#atPanelToggle a:hover {
        background-color: #138A26;
    }

    div#atMap {
        position: relative;
    }
    /* Hide the default toggle button for the side panel */
    .atJqOpenClose {
        display: none;
    }
    /* Ensure the side panel is the full height of the map */
    div#panels.atPanelInnerWrapper {
        height: 480px !important;
        border: 0;
    }
    /* Add a border between the side panel and the map */
    .atOuterWpr.noTB {
        border-right: 2px solid grey !important;
    }

    /*body.atMapBody #atButtonBar_btnOtherThings {
        display: none;
    }*/
    /* Switch from side panel to dialog on My Maps page */
    @media (max-width: 740px) {

        div#atMap {
            position: relative;
            width: 100% !important;
            float: none !important;
        }
    }

    .map-panel .ui-dialog,
    .map-panel .ui-dialog-content {
        font-size: 12px;
        cursor: default;
    }

    .map-panel .ui-dialog {
        margin-bottom: 5px;
    }

    .map-panel .ui-dialog-titlebar {
        margin-bottom: 2px;
    }

    .map-panel .ui-dialog-content {
        /*overflow: hidden;*/
        padding: 0;
    }
    /*
.atOuterWpr {
    max-width: 65%;
}

.atOuterWpr .atPanelInnerWrapper {
    width: 100% !important;
}
*/
    .atBaseMapSwitcher {
        position: absolute;
        top: 7px;
        right: 5px;
        z-index: 10000;
        border: medium none;
        background: none repeat scroll 0% 0% transparent;
    }

    .atBaseMapSwitcher ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

    .atBaseMapSwitcher li {
        position: relative;
        display: inline;
        margin: 0px;
    }

    .atBaseMapSwitcher a {
        padding: 3px 6px;
        border: 2px solid white;
        font-size: inherit;
        display: block;
        float: none;
        text-decoration: none;
        box-shadow: none;
        background-color: #55565A;
        color: white;
        text-align: center;
    }

    .atBaseMapSwitcher ul li:first-child a {
        border-width: 2px 2px 0 2px;
        border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
    }


    .atBaseMapSwitcher ul li:last-child a {
        border-width: 0 2px 2px 2px;
        border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;
        box-shadow: none;
    }

    .atBaseMapSwitcher ul li a.atBM-active {
        background-color: #138A26;
        border-width: 2px;
        border-color: white;
    }

    .atBaseMapSwitcher ul li:first-child a {
        border-width: 2px 2px 0 2px;
    }


    .atBaseMapSwitcher ul li:last-child a {
        border-width: 0 2px 2px 2px;
    }

    div#atMapLoader, div#atInitialLoader {
        font-size: x-small;
    }
    /* Remove text from the Search For Panel */
    div#searchfor p {
        display: none;
    }

    .ui-widget-header, .ui-state-active, .ui-widget-content .ui-state-active {
        background: #55565A;
    }

    .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
        background: #55565A;
    }

    #atTabBar input[type=submit] {
        width: 16.6%;
        display: inline-block;
    }

    #atTabBar input[type=submit].atTabSelected {
        background-color: #55565A;
    }



    #atTabBar h2, #atTabBar span, #atTabBar label, #atTabBar_curTab {
        display: none;
    }
    /* Ensure the plain html search is shown early on during page load */
    div#atLocationSearch {
        visibility: visible !important;
    }

    input.resultsBtn.nextBtn, input.resultsBtn.prevBtn {
        width: 20%;
        display: inline-block;
        margin: 1em 0 1em 0.5em;
    }

    table.tblResults {
        width: 100%;
    }

    div.resultsBtnsDiv {
        text-align: right;
    }

    #searchForm label, #atLocationBar_lblSearchBox {
        display: none;
    }

    #atLocationDisplay #atTextSearch, #atLocationSearch input#atTextSearch, #atLocationBar_txtSearchBox {
        width: 79% !important;
        margin: 0.5%;
        height: 2em;
        padding: 0.25em;
    }

    #searchForm input.atSearchBtn, #atLocationBar_btnPerformSearch {
        background-color: #138A26;
        background-image: none;
        color: white;
    }

    #searchForm input.atSearchBtn, #atLocationBar_btnPerformSearch {
        width: 20%;
        height: 2em;
    }
    /* Size the Find and Cancel button when the user has choosen to change their address */
    #atLocationDisplay #searchForm input {
        width: 9%;
        height: 2em;
    }

    #atLocationBar_btnPerformSearch {
        display: inline-block;
        width: inherit;
        height: inherit;
        padding: 0.5em;
    }

    /*#atButtonBar input {
        width: inherit;
        display: inline-block;
        margin: 0.25%;
        padding: 0.5%;
    }

    #atButtonBar input#atButtonBar_btnResetPage {
        float: right;
    }*/

    .ui-corner-all {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    #atTabBar input[type=submit] {
        width: 16.6%;
        display: inline-block;
        background-color: white;
        color: black;
        border-width: 0;
        border-bottom-width: 2px;
        border-style: solid;
        border-color: #138A26;
    }

    #atTabBar input[type=submit].atTabSelected {
        background-color: #138A26;
        color: white;
    }


    @media (max-width: 740px) {

        #atTabBar input[type=submit] {
            width: 100%;
            border-left-width: 2px;
            border-right-width: 2px;
            border-bottom-width: 1.5px;
            border-top: 1.5px;
        }

        div#atTabBar {
            border-top: 2px solid #138A26;
            border-bottom: 1px solid #138A26;
        }
    }

    #atTabBar h2, #atTabBar span, #atTabBar label, #atTabBar_curTab {
        display: none;
    }

    /*#atButtonBar input {
        width: inherit;
        display: inline-block;
        margin: 0.25%;
        padding: 0.5%;
        background-color: transparent;
        background-image: none;
        color: #333;
        border: none;
        text-decoration: underline;
    }

    #atButtonBar input#atButtonBar_btnResetPage {
        float: right;
    }*/

    .ui-corner-all {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    #atPoweredBy {
        clear: both;
        background: url('../../images/astun/poweredbyishare-online.png') no-repeat top left;
        display: block;
        width: 200px;
        height: 20px;
        margin-top: 1em;
    }

    #atPoweredBy span {
        display: none;
    }

    #atWelcomePanel strong {
        padding-right: 0.25em;
    }

    #atTabBar input[type=submit]:hover {
        background-color: #138A26;
        color: white;
    }

    .atPanelContent * {
        font-family: arial, sans-serif;
    }

    .atHideFromPrint {
        font-size: 0.75em;
    }

    .atPanelHeader {
        background-color: #f4f4f4;
        padding: 1em;
    }

    div#atWelcomePanel {
        background-color: #f4f4f4;
        padding: 1em;
        margin: 1em 0;
    }

    #atWelcomePanel h3 {
        margin: 0;
        color: #0080c5;
        font-size: 1.125rem;
    }

    #atWelcomePanel p {
        margin: 0.5em 0;
    }


    .ac_results li {
        font-size: 1em;
    }

    .aw_results.aw_results_toolbar {
        margin-top: 1em;
    }

    .aw_results_toolbar, .aw_results_toolbar .ac_over, .aw_results ol a {
        font-size: 100%;
    }

    .aw_results ul li {
        font-size: 100% !important;
    }

    .aw_results_toolbar ul.ui-state-default {
        border: none;
    }

    .aw_results_toolbar li {
        list-style: none;
    }

    span#atLocationBar_lblTextCurrentLocation {
        display: none;
    }

    span#atLocationBar_lblCurrentLocation {
        width: 80%;
        display: inline-block;
    }

    input#atLocationBar_btnChangeLocation {
        width: 20%;
        float: right;
        display: inline-block;
        padding: 0.5em !important;
    }

    @media (max-width: 640px) {

        span#atLocationBar_lblCurrentLocation {
            width: 100%;
        }

        input#atLocationBar_btnChangeLocation {
            width: inherit;
        }
    }

    a#atLocationBar_btnSetupAlerts {
        display: inline-block;
    }

    .atPanelContent {
        padding: 0.5em 1em;
    }

    .atPanelData {
        padding: 0.5em 1em;
    }

    .atPanel h4 {
        margin: 0;
    }

    .atPanelData p, .atPanelContent p, .atPanelFooter p {
        margin: 0.5em 0.25em;
    }

    .atPanelFooter p {
        margin: 0.25em 0;
    }

    .atPanel h3 {
        margin: 0;
    }

    .atPanel {
        padding: 0.25em;
    }
    /* My Ward */
    body.myarea div#panel_1 {
        float: left;
        width: 50%;
    }

    body.myarea div#panel_2 {
        float: left;
        width: 50%;
    }

    @media (max-width: 570px) {

        body.myarea div#panel_1 {
            float: left;
            width: 100%;
        }

        body.myarea div#panel_2 {
            float: left;
            width: 100%;
        }
    }

    body.myarea div#panel_3 {
        float: none;
        clear: both;
    }

    body.myarea #panel_1 .atPanelHeader, body.myarea #panel_2 .atPanelHeader {
        cursor: initial !important;
    }

    body.myarea #panel_1 .atPanelHeader .atPanelStatusSign, body.myarea #panel_2 .atPanelHeader .atPanelStatusSign {
        display: none !important;
    }

    body.myarea #panel_1 .atPanelParentContent, body.myarea #panel_2 .atPanelParentContent {
        display: block !important;
    }

    body.myarea #atMyNearest #panel_1 img {
        position: static;
        width: 100%;
        max-width: 450px;
    }

    body.myarea #panel_1 .atPanelContent {
        padding: 1em 5px 1em 5px;
    }

    body.myarea #panel_1 .atPanel tr.atAlt0, body.myarea #panel_2 .atPanel tr.atAlt0 {
        background-color: transparent;
    }

    body.myarea #atMyNearest #panel_1 .atMapInfoResults table .content, body.myarea #atMyNearest #panel_2 .atMapInfoResults table .content {
        width: 100%;
    }
    /* Hide all layer titles for My Area pages */
    body.myarea .atPanel h4 {
        display: none;
    }

    body.myarea #panel_1 h4 {
        display: none;
    }

    body.myarea #panel_2 .atPanelContent.atFirst.atAlt0 h4 {
        display: none;
    }

    body.myarea .atPanelContent p:first-of-type {
        font-weight: bold;
    }

    body.myarea #panel_2 .atPanelContent p:first-of-type {
        font-weight: normal;
        font-size: inherit;
    }

    body.myarea #panel_2 .atPanelContent.atFirst.atAlt0 .content p {
        font-size: 18px !important;
        font-weight: bold;
    }

    body.myarea table[summary='Current planning summary'] td.content {
        background-image: url('/images/legend/secondarycatchments.png');
        background-repeat: no-repeat;
        background-position-y: 6px;
        background-position-x: 10px;
        padding-left: 45px !important;
        height: 44px !important;
        vertical-align: middle !important;
    }

    body.myarea table[summary='Park summary'] td.content {
        background-image: url('/images/legend/wycombe/parks.png');
        background-repeat: no-repeat;
        background-position-y: 6px;
        background-position-x: 10px;
        padding-left: 45px !important;
        height: 44px !important;
        vertical-align: middle !important;
    }

    body.myarea table[summary='Sports centres and clubs summary'] td.content {
        background-image: url('/images/legend/wycombe/sportengland.png');
        background-repeat: no-repeat;
        background-position-y: 6px;
        background-position-x: 10px;
        padding-left: 45px !important;
        height: 44px !important;
        vertical-align: middle !important;
    }

    body.myarea table[summary='Play areas summary'] td.content {
        background-image: url('/images/legend/wycombe/playareas_combined.png');
        background-repeat: no-repeat;
        background-position-y: 6px;
        background-position-x: 10px;
        padding-left: 45px !important;
        height: 44px !important;
        vertical-align: middle !important;
    }

    body.myarea table[summary='Community facilities summary'] td.content {
        background-image: url('/images/legend/wycombe/community-centres4.png');
        background-repeat: no-repeat;
        background-position-y: 6px;
        background-position-x: 10px;
        padding-left: 45px !important;
        height: 44px !important;
        vertical-align: middle !important;
    }

    body.myarea table[summary='Recycling centres summary'] td.content {
        background-image: url('/images/legend/wycombe/recycle.PNG');
        background-repeat: no-repeat;
        background-position-y: 6px;
        background-position-x: 10px;
        padding-left: 45px !important;
        height: 44px !important;
        vertical-align: middle !important;
    }

    body.myarea table[summary='Population summary'] td.content {
        background-image: url('/images/legend/wycombe/onsbannerlogo.jpg');
        background-repeat: no-repeat;
        background-position-y: 6px;
        background-position-x: 10px;
        padding-left: 45px !important;
        height: 44px !important;
        vertical-align: middle !important;
    }

    body.myarea #panel_2 h4 {
        display: none;
    }

    body.myarea #panel_2 td.content p {
        padding: 0;
        margin: 0;
    }

    .myarea #panel_1 td.content {
        text-align: center;
    }

    .myarea #panel_1 td.content p {
        padding: 0;
        margin: 0;
    }

    .myarea #panel_1 .atPanelParentContent {
        position: static !important;
        height: inherit !important;
    }

    #atMyNearest thead {
        display: none;
    }

    #atMyNearest td {
        display: none;
    }

    #atMyNearest td.content {
        display: block;
        border: 0;
    }

    #atMyNearest table {
        width: 100%;
    }

    div#atMyNearest {
        float: none;
        clear: both;
    }

    .district_clr {
        clear: both;
    }

    .district_clr_img {
        float: left;
        width: 80px;
        padding-top: 10px !important;
    }

    .district_clr_copy {
        padding-top: 20px !important;
        padding-left: 90px !important;
    }

    hr.clear {
        clear: both;
        border: 1px solid #FFFFFF;
    }

    .waste_copy {
        float: left;
        padding-left: 20px !important;
        padding-right: 10px !important;
        width: 150px;
    }

    .waste_img {
        float: left;
    }

    img.waste_img {
        width: 60px !important;
        height: 60px;
    }
    /* Allow row virtual layer content to line up with headings etc. */
    .atPanelData .info {
        margin: 0 -1em;
    }
    /* My Property */
    body.myproperty div#panel_1, body.myproperty div#panel_2, body.myproperty div#panel_3, body.myproperty div#panel_4 {
        float: left;
        width: 33%;
    }

    body.myproperty div#panel_2 {
    }

    body.myproperty div#panel_3 {
    }

    body.myproperty div#panel_4 {
    }

    @media (max-width: 900px) {

        body.myproperty div#panel_1, body.myproperty div#panel_2, body.myproperty div#panel_3, body.myproperty div#panel_4 {
            float: left;
            width: 50%;
        }
    }

    @media (max-width: 640px) {

        body.myproperty div#panel_1, body.myproperty div#panel_2, body.myproperty div#panel_3, body.myproperty div#panel_4 {
            float: left;
            width: 100%;
        }
    }

    @media (min-width: 640px) {

        body.myproperty #panel_1 .atPanelHeader, body.myproperty #panel_2 .atPanelHeader, body.myproperty #panel_3 .atPanelHeader, body.myproperty #panel_4 .atPanelHeader {
            cursor: initial !important;
        }

        body.myproperty #panel_1 .atPanelHeader .atPanelStatusSign, body.myproperty #panel_2 .atPanelHeader .atPanelStatusSign, body.myproperty #panel_3 .atPanelHeader .atPanelStatusSign, body.myproperty #panel_4 .atPanelHeader .atPanelStatusSign {
            display: none !important;
        }

        body.myproperty #panel_1 .atPanelParentContent, body.myproperty #panel_2 .atPanelParentContent, body.myproperty #panel_3 .atPanelParentContent, body.myproperty #panel_4 .atPanelParentContent {
            display: block !important;
        }
    }

    body.myproperty #atMyNearest #panel_3 img {
        position: static;
        width: 100%;
        max-width: 450px;
    }

    body.myproperty div#panel_5 {
        float: none;
        clear: both;
    }
    /* My Alerts */
    .atMyAlertsPanel label {
        display: block;
    }

    .atMyAlertsPanel .login-rememberme label {
        display: inline;
        padding-left: 0.5em;
    }

    #atMyAlertsOtherActions input {
        width: auto;
        display: inline;
        margin: 0.5em;
    }


    input#atTabMyAlerts_atMyAlertsLogin_btnLogin {
        width: auto;
        margin: 0.5em;
    }

    #atMyAlerts .atPanelContent input {
        width: auto;
    }

    #atMyAlerts .atPanelContent input#atTabMyAlerts_atMyAlertsLogin_txtUserName, #atMyAlerts .atPanelContent input#atTabMyAlerts_atMyAlertsLogin_txtPassword {
        width: 90%;
    }

    .atPanelContent p {
        padding: 0px 0.5em;
    }

    #atWelcomePanel h3 {
        color: black;
    }

    #atNoAlertsText .ui-icon, #atMyAlertWCMessage .ui-icon, #atWelcomePanel .ui-icon {
        float: left;
        margin: 2px;
    }

    input#atTabMyAlerts_atMyAlertsLocations_btnSaveAll {
        float: right;
    }

    .errorlabel {
        clear: both;
    }

    .atMyAlertsDistance select {
        width: auto;
        height: auto;
        padding: 0.25em;
    }

    .atMyAlertPanelSubHeader span {
        display: block;
        padding: 0.5em 0;
    }

    #atMyAlerts .atMyAlertsLocationHeader input {
        display: none;
    }


    #atMyAlerts .atMyAlertsLocationContent label,
    #atMyAlerts .atMyAlertPanelSubHeader label {
        display: inline;
        padding: 0.5em
    }

    .atMyAlertsLocationFooter {
        display: block;
        text-align: right;
        border-top: 1px solid grey;
        padding-top: 0.5em;
        margin-top: 0.5em;
        margin-bottom: 1em;
        width: 100%;
    }

    #atMyAlerts .atPanelContent .atMyAlertsLocationFooter input {
        display: inline;
    }

    #atMyAlerts .atPanelContent .atMyAlertsLocationFooter .atChangeLocationLink {
        display: block;
        float: left;
    }

    #atMyAlerts .atPanelParentContent {
        padding: 0.5em 1em;
    }

    .atMyAlertsLocationHeader {
        padding-top: 0.5em;
    }

    #atMyAlerts .atMyAlertsLocationHeader h4 {
        border: 0;
        background-color: #F4F4F4 !important;
        background-image: inherit;
        padding: 0.5em;
    }

    #atMyAlerts .atPanelParentContent {
        border: 0px solid grey;
        /* border-bottom-width: 1px; */
    }

    .atMyAlertsLocation {
        padding-top: 0.25em;
    }

    .mapframe {
        border: solid 0px;
        width: 100%;
        height: 500px;
    }
}
