@mixin button-default { // used in ThankYouMessage, Confirmation, LocationSearch
  background-color: $tealDarker;
  border: 1px solid $borderDefault;
  border-radius: 3px;
  color: $white;
  display: inline-block;
  font-family: 'Source Sans Pro';
  font-size: 1.125em;
  letter-spacing: 0;
  line-height: 20px;
  min-width: 300px;
  padding: 15px 25px 15px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .5s;
  transition-property: opacity,box-shadow;
  width: auto;

  i {
    float: left;
    top: 50%;
  }


  &:before {
    text-rendering: auto;
    float: right;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    text-align: right;
    padding-left: 10px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
  }

  &:hover {
    background-color: darken($tealDarker, 10%);
    color: $white;
    cursor: pointer;
    box-shadow: 0 20px 40px 0 $blackOpaque3;
    text-decoration: none;
  }

  &:active {
    background-color: $tealPale;
  }

  @media only screen and (max-width: 767px) {
    display: block;
    min-width: 0;
  }
}