.navcard-wrapper {
    display: flex;
    flex-wrap: wrap;

    &--no-margin {
        margin: 0;
    }

    @media #{$mobile} {
        .navcard--visible:nth-child(n+7) {
            display: none;
        }
    }

    @media #{$desktop} {
        .navcard--width-20:nth-child(5n),
        .navcard--width-25:nth-child(4n),
        .navcard--width-33:nth-child(3n),
        .navcard--width-50:nth-child(2n) {
            margin-right: 0;
        }
    
        .navcard--width-20:nth-child(5n + 1),
        .navcard--width-25:first-child,
        .navcard--width-25:nth-child(4n - 3),
        .navcard--width-33:nth-child(3n + 1),
        .navcard--width-50:nth-child(2n + 1) {
            margin-left: 0;
        }
    }

    @media #{$tablet} {  
        .navcard--width-20:nth-child(3n),
        .navcard--width-25:nth-child(3n),
        .navcard--width-33:nth-child(3n),
        .navcard--width-50:nth-child(2n) {
            margin-right: 0;
        }
    
        .navcard--width-20:nth-child(3n + 1),
        .navcard--width-25:first-child,
        .navcard--width-25:nth-child(3n - 2),
        .navcard--width-33:nth-child(3n + 1),
        .navcard--width-50:nth-child(2n + 1) {
            margin-left: 0;
        }
    }

    @media #{$mobile} {
        .navcard {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.navcard {
    width: 100%;
    margin: 0 25px 2em 25px;
    border-top: 0.368em solid rgba($stockport-teal, 0.8);
    box-sizing: border-box;
    border-radius: 2px;
    list-style: none;
    text-indent: 0;

    &--width-20 {
        width: calc(20% - 40px);
    }

    &--width-25 {
        width: calc(25% - 37.5px);
    }

    &--width-33 {
        width: calc(33.33333% - 33.33333px);

        @media #{$tablet} {
            width: calc(33.33333% - 20px);
            margin: 0 15px 2em 15px;
        }

        @media #{$mobile} {
            width: calc(33.33333% - 33.33333px);
        }
    }

    @media #{$tablet} {
        width: calc(33.33333% - 20px);
        margin: 0 15px 2em 15px;
    }
    
    &--width-50 {
        width: calc(50% - 25px);
    }

    @media #{$mobile} {
        width: 100%;
        margin: 0 0 1em 0;
        border-top: none;
        border-left: 0.368em solid rgba($stockport-teal, 0.8);
    }

    &--border-top {
        border-top: 0.55em solid rgba($stockport-teal, 0.6);
        border-radius: 3px;
    }

    &--border-bottom {
        border-top: 1px solid rgba($stockport-grey, 0.2);
        border-bottom: 0.55em solid rgba($stockport-teal, 0.6);
        border-radius: 3px;
        border-left: none;

        @media #{$mobile} {
            margin-bottom: 2em;

            &:last-of-type {
                margin-bottom: 1em;

                @media #{$mobile} {
                    margin-bottom: 1em;
                }
            }
        }
    }

    &--border-around {
        @media #{$mobile} {
            border-left: 0.55em solid rgba($stockport-teal, 0.6);
            border-bottom: 1px solid rgba($stockport-grey, 0.2);
            border-top: 1px solid rgba($stockport-grey, 0.2);
            border-right: 1px solid rgba($stockport-grey, 0.2);
        }
    }
    
    &__title {
        @include h-s;
        color: $stockport-green;
        text-decoration: underline;
        margin: 0 0 0.5em 0;
        
        &--black {
            color: $stockport-black;
        }
    }

    &__link {
        display: block;
        text-decoration: none;
        height: 100%;

        &--padding {
            padding-top: 1em;

            @media #{$mobile} {
                padding: 0 0 0 1em;
            }
        }

        &-image {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: space-between;

            @media #{$mobile}{
                display: block;
            }
        }

        &:hover {
            text-decoration: none;

            .navcard__title {
                text-decoration: underline;
                text-decoration-thickness: 3px;
            }
        }

        &--border {
            border: 1px solid rgba($stockport-grey, 0.2);
            border-top: none;
            border-radius: 0 0 3px 3px;

            @media #{$mobile} {
                border: none;
            }            
        }

        &--image-border {
            border: 1px solid rgba($stockport-grey, 0.2);
            border-top: none;
            border-bottom: none;
            border-radius: 3px 3px 0 0;
        }
    }

    &--grey {
        background-color: $stockport-light-grey;

        &__title{
            color: $stockport-black;
        }
    }

    &__teaser {
        color: $stockport-black;
        text-decoration: none;
        margin: 0;
    }

    &-content {
        &--padding {
            flex-grow: 1;
            padding: 1em 0.75em 1.5em 0.75em;

            @media #{$mobile} {
                padding-top: 1em;
                padding-left: 1em;
            }
        }
    }

    &__image {
        border-radius: 3px 3px 0 0;
        height: 215px;
        width: 100%;
        object-fit: cover;
        object-position: top;

        @media #{$mobile} {
            max-height: 400px;
            height: unset;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-basis: 0;
        justify-content: space-between;
    }
}

html[dir="rtl"] {
    .navcard {
        @media #{$mobile} {
            border-right: 0.368em solid rgba($stockport-teal, 0.8);
            border-left: 0;
            padding-right: 1em;
            padding-left: 0;
        }

        &--border-around {
            @media #{$mobile} {
                border-right: 0.55em solid rgba($stockport-teal, 0.6);
                border-top: 1px solid rgba($stockport-grey, 0.2);
                border-left: 1px solid rgba($stockport-grey, 0.2);
                border-bottom: 1px solid rgba($stockport-grey, 0.2);
            }
        }

        &--border-bottom {
            @media #{$mobile} {
                border-left: none;
                border-right: none;
                padding-right: 0;
            }
        }
    }

    .navcard-wrapper {
        @media #{$desktop} {
            .navcard--width-20:nth-child(5n),
            .navcard--width-25:nth-child(4n),
            .navcard--width-33:nth-child(3n),
            .navcard--width-50:nth-child(2n) {
                margin-left: 0;
                margin-right: 25px;
            }
        
            .navcard--width-20:nth-child(5n + 1),
            .navcard--width-25:first-child,
            .navcard--width-25:nth-child(4n - 3),
            .navcard--width-33:nth-child(3n + 1),
            .navcard--width-50:nth-child(2n + 1) {
                margin-right: 0;
                margin-left: 25px;
            }
        }

        @media #{$tablet} {  
            .navcard--width-20:nth-child(3n),
            .navcard--width-25:nth-child(3n),
            .navcard--width-33:nth-child(3n),
            .navcard--width-50:nth-child(3n) {
                margin-left: 0;
                margin-right: 25px;
            }
        
            .navcard--width-20:nth-child(3n + 1),
            .navcard--width-25:first-child,
            .navcard--width-25:nth-child(3n - 2),
            .navcard--width-33:nth-child(3n + 1),
            .navcard--width-50:nth-child(3n + 1) {
                margin-right: 0;
                margin-left: 25px;
            }
        }

        @media #{$mobile} {
            .navcard {
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }
    }
}