.navcard {
    &__title {
        @include h-s;
        color: $stockport-green;
        text-decoration: underline;
        margin: 0 0 0.5em 0;

        &--black {
            color: $stockport-black;
        }

        &--normal-weight {
            font-weight: 400
        }

        &--large {
            @include h-m;
        }

        &--no-margin {
            margin: 0;
        }
    }

    &__sub-title {
        margin: 0 0 0.5em 0;
        font-weight: 700;
        color: $stockport-black;
        word-break: break-word;
    }

    &__link {
        display: block;
        text-decoration: none;
        height: 100%;

        &--padding {
            padding-top: 1em;

            @media #{$mobile} {
                padding: 0 0 0 1em;
            }
        }

        &--active {
            color: $stockport-black;
        }

        &--underline {
            text-decoration: underline;
        }

        &--inline {
            display: inline-block;
        }

        &-image {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: space-between;

            @media #{$mobile} {
                display: block;
            }
        }

        &:hover {
            text-decoration: none;

            .navcard__title {
                text-decoration: underline;
                text-decoration-thickness: 3px;
            }
        }

        &--border {
            border-top: none;
            border-radius: 0 0 3px 3px;

            @media #{$mobile} {
                border: none;
            }
        }

        &--image-border {
            border-top: none;
            border-bottom: none;
            border-radius: 3px 3px 0 0;
        }
    }

    &__teaser {
        color: $stockport-black;
        text-decoration: none;
        margin: 0;
    }

    &__image {
        border-radius: 3px 3px 0 0;
        height: 215px;
        width: 100%;
        object-fit: cover;
        object-position: top;

        @media #{$mobile} {
            max-height: 400px;
            height: unset;
        }
    }

    &-content {
        &--padding {
            flex-grow: 1;
            padding: 1em 0.75em 1.5em 0.75em;

            &-trivia {
                padding-bottom: 0;
            }

            @media #{$mobile} {
                padding-top: 1em;
                padding-left: 1em;

                &-trivia {
                    padding-bottom: 2em;
                }
            }
        }

        &--bold {
            font-weight: 700;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-basis: 0;
        justify-content: space-between;
    }

    &__icon {
        font-size: 6rem;
        font-weight: 600;
        letter-spacing: -1px;
        line-height: 1.0416666667;
        padding: 2rem;
    }

    &--grey {
        background-color: $stockport-light-grey;

        &__title {
            color: $stockport-black;
        }
    }

    &--white {
        background-color: white;
    }

    &--center {
        text-align: center;
    }

    &--padding {
        padding: 0.4em 0.75em;
    }

    &--padding-top {
        padding-top: 1.5em;
    }

    &--padding-bottom {
        padding-bottom: 1.5em;
    }

    &--no-padding-top {
        padding-top: 0;
    }

    &--no-padding-bottom {
        padding-bottom: 0;
    }

    &--no-margin {
        margin: 0 !important;
    }
}

html[dir="rtl"] {
    .fa-arrow-right:before {
        content: "\f060";
    }
}