.navcard-wrapper {
    display: flex;
    flex-wrap: wrap;

    &--no-margin {
        margin: 0;
    }

    @media #{$mobile} {
        .navcard--visible:nth-child(n+7) {
            display: none;
        }
    }

    @media #{$desktop} {
        .navcard--width-20:nth-child(5n),
        .navcard--width-25:nth-child(4n),
        .navcard--width-33:nth-child(3n),
        .navcard--width-50:nth-child(2n) {
            margin-right: 0;
        }

        .navcard--width-20:nth-child(5n + 1),
        .navcard--width-25:first-child,
        .navcard--width-25:nth-child(4n - 3),
        .navcard--width-33:nth-child(3n + 1),
        .navcard--width-50:nth-child(2n + 1) {
            margin-left: 0;
        }
    }

    @media #{$tablet} {
        .navcard--width-20:nth-child(3n),
        .navcard--width-25:nth-child(3n),
        .navcard--width-33:nth-child(3n),
        .navcard--width-50:nth-child(2n) {
            margin-right: 0;
        }

        .navcard--width-20:nth-child(3n + 1),
        .navcard--width-25:first-child,
        .navcard--width-25:nth-child(3n - 2),
        .navcard--width-33:nth-child(3n + 1),
        .navcard--width-50:nth-child(2n + 1) {
            margin-left: 0;
        }
    }

    @media #{$mobile} {
        .navcard {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.navcard {
    $self: &;
    width: 100%;
    margin: 0 25px 2em 25px;
    border-top: 0.368em solid $stockport-teal-lighter;
    box-sizing: border-box;
    border-radius: 2px;
    list-style: none;
    text-indent: 0;

    &--width-20 {
        width: calc(20% - 40px);
    }

    &--width-25 {
        width: calc(25% - 37.5px);
    }

    &--width-33 {
        width: calc(33.33333% - 33.33333px);

        @media #{$tablet} {
            width: calc(33.33333% - 20px);
            margin: 0 15px 2em 15px;
        }

        @media #{$mobile} {
            width: calc(33.33333% - 33.33333px);
        }
    }

    @media #{$tablet} {
        width: calc(33.33333% - 20px);
        margin: 0 15px 2em 15px;
    }

    &--width-100 {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    &--width-50 {
        width: calc(50% - 25px);
    }

    @media #{$mobile} {
        width: 100%;
        margin: 0 0 1em 0;
        border-top: none;
        border-left: 0.368em solid $stockport-teal-lighter;
    }

    &--force-border-top {
        @media #{$tablet} {
            border: 0px;
            right: 0px;
            border-top: 0.55em solid $stockport-teal-lighter;
        }
    }

    &--border-top {
        border-top: 0.55em solid $stockport-teal-lighter;
        border-radius: 3px;
    }

    &--no-border {
        border: 0px;
    }

    &--border-bottom {
        border-top: 1px solid $stockport-grey-accent;
        border-bottom: 0.55em solid $stockport-teal-lighter;
        border-radius: 3px;
        border-left: none;

        @media #{$mobile} {
            margin-bottom: 2em;

            &:last-of-type {
                margin-bottom: 1em;

                @media #{$mobile} {
                    margin-bottom: 1em;
                }
            }
        }
    }

    &--border-around {
        @media #{$mobile} {
            border: 1px solid $stockport-grey-accent;
            border-left: 0.55em solid $stockport-teal-lighter;
        }
    }

    &__title {
        @include h-s;
        color: $stockport-green;
        text-decoration: underline;
        margin: 0 0 0.5em 0;

        &--black {
            color: $stockport-black;
        }

        &--large {
            @include h-m;
        }
    }

    &__sub-title {
        margin: 0 0 0.5em 0;
        font-weight: 700;
        color: $stockport-black;
        word-break: break-word;
    }

    &__link {
        display: block;
        text-decoration: none;
        height: 100%;

        &--padding {
            padding-top: 1em;

            @media #{$mobile} {
                padding: 0 0 0 1em;
            }
        }

        &-image {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: space-between;

            @media #{$mobile} {
                display: block;
            }
        }

        &:hover {
            text-decoration: none;

            .navcard__title {
                text-decoration: underline;
                text-decoration-thickness: 3px;
            }
        }

        &--border {
            border: 1px solid $stockport-grey-accent;
            border-top: none;
            border-radius: 0 0 3px 3px;

            @media #{$mobile} {
                border: none;
            }
        }

        &--image-border {
            border: 1px solid $stockport-grey-accent;
            border-top: none;
            border-bottom: none;
            border-radius: 3px 3px 0 0;
        }
    }

    &--grey {
        background-color: $stockport-light-grey;

        &__title {
            color: $stockport-black;
        }
    }

    &--white {
        background-color: white;
    }

    &__teaser {
        color: $stockport-black;
        text-decoration: none;
        margin: 0;
    }

    &-content {
        &--padding {
            flex-grow: 1;
            padding: 1em 0.75em 1.5em 0.75em;

            @media #{$mobile} {
                padding-top: 1em;
                padding-left: 1em;
            }
        }
    }

    &__image {
        border-radius: 3px 3px 0 0;
        height: 215px;
        width: 100%;
        object-fit: cover;
        object-position: top;

        @media #{$mobile} {
            max-height: 400px;
            height: unset;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-basis: 0;
        justify-content: space-between;
    }

    &--basic-border {
        border: 1px solid $stockport-grey-accent;
        border-radius: 3px;
    }

    &--border-top {
        border-top-width: 6px;

        &-strong {
            border-top-width: 10px;
        }
    }

    &--border-right {
        border-right-width: 6px;

        &-strong {
            border-right-width: 10px;
        }
    }

    &--border-bottom {
        border-bottom-width: 6px;

        &-strong {
            border-bottom-width: 10px;
        }
    }

    &--border-left {
        border-left-width: 6px;

        &-strong {
            border-left-width: 10px;
        }
    }


    @media #{$desktop} {
        &--desktop-border-top {
            border-top-width: 6px;

            &-strong {
                border-top-width: 10px;
            }
        }

        &--desktop-border-right {
            border-right-width: 6px;

            &-strong {
                border-right-width: 10px;
            }
        }

        &--desktop-border-bottom {
            border-bottom-width: 6px;

            &-strong {
                border-bottom-width: 10px;
            }
        }

        &--desktop-border-left {
            border-left-width: 6px;

            &-strong {
                border-left-width: 10px;
            }
        }
    }

    @media #{$tablet-only} {
        &--tablet-border-top {
            border-top-width: 6px;

            &-strong {
                border-top-width: 10px;
            }
        }

        &--tablet-border-right {
            border-right-width: 6px;

            &-strong {
                border-right-width: 10px;
            }
        }

        &--tablet-border-bottom {
            border-bottom-width: 6px;

            &-strong {
                border-bottom-width: 10px;
            }
        }

        &--tablet-border-left {
            border-left-width: 6px;

            &-strong {
                border-left-width: 10px;
            }
        }
    }

    @media #{$mobile} {
        &--mobile-border-top {
            border-top-width: 6px;

            &-strong {
                border-top-width: 10px;
            }
        }

        &--mobile-border-right {
            border-right-width: 6px;

            &-strong {
                border-right-width: 10px;
            }
        }

        &--mobile-border-bottom {
            border-bottom-width: 6px;

            &-strong {
                border-bottom-width: 10px;
            }
        }

        &--mobile-border-left {
            border-left-width: 6px;

            &-strong {
                border-left-width: 10px;
            }
        }
    }

    @mixin theme($theme: $stockport-teal) {
        &-top {
            border-top-color: $theme;
        }

        &-right {
            border-right-color: $theme;
        }

        &-bottom {
            border-bottom-color: $theme;
        }

        &-left {
            border-left-color: $theme;
        }

        &-all {
            border-color: $theme;
        }

        @media #{$desktop} {
            &-desktop-top {
                border-top-color: $theme;
            }

            &-desktop-right {
                border-right-color: $theme;
            }

            &-desktop-bottom {
                border-bottom-color: $theme;
            }

            &-desktop-left {
                border-left-color: $theme;
            }

            &-desktop-all {
                border-color: $theme;
            }
        }

        @media #{$tablet} {
            &-tablet-top {
                border-top-color: $theme;
            }

            &-tablet-right {
                border-right-color: $theme;
            }

            &-tablet-bottom {
                border-bottom-color: $theme;
            }

            &-tablet-left {
                border-left-color: $theme;
            }

            &-tablet-all {
                border-color: $theme;
            }
        }

        @media #{$mobile} {
            &-mobile-top {
                border-top-color: $theme;
            }

            &-mobile-right {
                border-right-color: $theme;
            }

            &-mobile-bottom {
                border-bottom-color: $theme;
            }

            &-mobile-left {
                border-left-color: $theme;
            }

            &-mobile-all {
                border-color: $theme;
            }
        }

        #{ $self }__icon {
            color: $theme;
        }
    }

    &--theme-pink {
        @include theme($theme: $stockport-pink);
    }

    &--theme-blue {
        @include theme($theme: $stockport-blue);
    }

    &--theme-orange {
        @include theme($theme: $stockport-orange);
    }

    &--theme-purple {
        @include theme($theme: $stockport-purple);
    }

    &--theme-teal {
        @include theme($theme: $stockport-teal);
    }

    &--theme-grey {
        @include theme($theme: $stockport-grey);
    }

    &--theme-teal-lighter {
        @include theme($theme: $stockport-teal-lighter);
    }

    &--theme-green {
        @include theme($theme: $stockport-green);
    }

    &__icon {
        font-size: 6rem;
        font-weight: 600;
        letter-spacing: -1px;
        line-height: 1.0416666667;
        padding: 2rem;
    }

    html[dir="rtl"] {
        .navcard {
            @media #{$mobile} {
                border-right: 0.368em solid $stockport-teal-lighter;
                border-left: 0;
                padding-right: 1em;
                padding-left: 0;
            }

            &--border-around {
                @media #{$mobile} {
                    border: 1px solid $stockport-grey-accent;
                    border-right: 0.55em solid $stockport-teal-lighter;
                }
            }

            &--border-bottom {
                @media #{$mobile} {
                    border-left: none;
                    border-right: none;
                    padding-right: 0;
                }
            }

            &--force-border-top {
                @media #{$tablet} {
                    border: 0px;
                    right: 0px;
                    border-top: 0.55em solid $stockport-teal-lighter;
                }
            }

            &--no-border {
                border: 0px;
            }

            &--directories {
                border: 1px solid $stockport-grey-accent;
            }
        }

        .navcard-wrapper {
            @media #{$desktop} {
                .navcard--width-20:nth-child(5n),
                .navcard--width-25:nth-child(4n),
                .navcard--width-33:nth-child(3n),
                .navcard--width-50:nth-child(2n) {
                    margin-left: 0;
                    margin-right: 25px;
                }

                .navcard--width-20:nth-child(5n + 1),
                .navcard--width-25:first-child,
                .navcard--width-25:nth-child(4n - 3),
                .navcard--width-33:nth-child(3n + 1),
                .navcard--width-50:nth-child(2n + 1) {
                    margin-right: 0;
                    margin-left: 25px;
                }
            }

            @media #{$tablet} {
                .navcard--width-20:nth-child(3n),
                .navcard--width-25:nth-child(3n),
                .navcard--width-33:nth-child(3n),
                .navcard--width-50:nth-child(2n) {
                    margin-left: 0;
                    margin-right: 15px;
                }

                .navcard--width-20:nth-child(3n + 1),
                .navcard--width-25:first-child,
                .navcard--width-25:nth-child(3n - 2),
                .navcard--width-33:nth-child(3n + 1),
                .navcard--width-50:nth-child(3n + 1) {
                    margin-right: 0;
                    margin-left: 15px;
                }
            }

            @media #{$mobile} {
                .navcard {
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                }
            }
        }
    }
}