.navcard-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media #{$mobile}{
    .navcard-wrapper li:nth-child(n+7) {
        display: none;
    }
}

.navcard {
    width: 100%;
    margin: 0 0 2em 0;
    border-top: 7px solid rgba($stockport-teal, 0.8);
    box-sizing: border-box;
    border-radius: 2px;
    list-style: none;
    text-indent: 0;

    &--width-20 {
        width: calc(20% - 50px);
    }

    &--width-25 {
        width: calc(25% - 37.5px);
    }

    &--width-33 {
        width: calc(33.33333% - 33.33333px);
    }

    &--width-50 {
        width: calc(50% - 25px);
    }

    @media #{$tablet} {
        width: calc(33.33333% - 33.33333px);
    }

    @media #{$mobile} {
        width: 100%;
        margin: 0 0 1em 0;
        border-top: none;
        border-left: 7px solid rgba($stockport-teal, 0.8);
    }

    a {
        padding-top: 1em;
        display: block;
        text-decoration: none;
        height: 100%;

        @media #{$mobile} {
            padding: 0 0 0 1em;
        }

        &:hover {
            text-decoration: none;

            .navcard__title {
                text-decoration: underline;
                text-decoration-thickness: 3px;
            }
        }
    }

    &__title {
        @include h-s;
        color: $stockport-green;
        text-decoration: underline;
        margin: 0 0 0.5em 0;
    }

    &__teaser {
        color: black;
        text-decoration: none;
        margin: 0;
    }
}

html[dir="rtl"] {
    .navcard a {
        @media #{$mobile} {
            border-right: 7px solid rgba($stockport-teal, 0.8);
            border-left: 0;
            padding-right: 1em;
            padding-left: 0;
        }
    }
}