.news-article {
    &__title {
        margin-block: 1.25rem;
        text-align: left;
    }

    &__lead {
        margin-block-end: 2rem;

        &--no-image {
            border-bottom: .17em solid #2aa294b3;
            margin-bottom: -3px;
            padding-bottom: 2rem;
        }
    }

    &__teaser {
        font-weight: 400;

        &--no-image {
            margin-top: 2rem;
        }
    }

    &__image {
        border-radius: 3px 3px 0 0;
    }

    &__featured-logo {
        padding: 0.75em;
    }

    &__link {
        margin-block: 2em;
    }

    &__subscription-banner {
        border-radius: 3px;
    }

    &__useful-links {
        margin-block: 2em;
    }

    &__tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5em;
        margin-bottom: 2em;
    }

    &__tag {
        list-style: none;
        margin-inline-start: 0;
    }

    &__categories {
        background-color: #f2f2f2;
    }
}

#category-filter, #news-archive, #displayRefineBy > li {
    list-style: none;
    margin-inline-start: 0;
}

.filters-list, .filters-active > ul > li {
    list-style: none;
}

.is-collapsed {
    .mobile-filter-heading:after {
        content: "\f078";
        font: bold normal normal 16px/1 FontAwesome;
        font-size: 1em;
    }

    .filter-title {
        @media #{$mobile, $tablet} {
            border-top: none;
        }
    }

    .filter-title, .filter-inner-title {
        position: relative;

        &:after {
            content: "\f054";
            font: bold normal normal 16px/1 FontAwesome;
            font-size: 1em;
            text-decoration: none;
            display: inline-block;
            margin-top: -10px;
            position: absolute;
            right: 5px;
            top: 50%;
        }
    }

    .filter-inner-title {
        border-bottom: none;
    }

    ul {
        display: none;
    }
}

.filter-title, .filter-inner-title {
    position: relative;

    &:after {
        content: "\f078";
        font: bold normal normal 16px/1 FontAwesome;
        font-size: 1em;
        text-decoration: none;
        display: inline-block;
        margin-top: -10px;
        position: absolute;
        right: 5px;
        top: 50%;
    }
}

.mobile-filter-heading {
    border-top: 1px solid $greyLight;
    border-bottom: none;
    text-align: center;

    @media #{$desktop} {
        display: none;
    }
}

.custom-date-title {
    display: block;
}

.custom-date > li {
    margin-inline-start: 0;
}

#DateFrom, #DateTo {
    display: block;
    font-size: 1em;
    font-family: inherit;
}

.date-to {
    margin-bottom: 2em;
    margin-top: 1em;
}

.filter-title {
    margin-bottom: 10px;
}

.filters-list {
    li {
        margin-inline-start: 0;
        margin-bottom: 1em;

        a {
            padding-block: 0.4em;
        }
    }
}