.news-article {
    background-color: $stockport-teal-darker;
    color: white;
    padding: 1em 0 2em;

    &__title {
        text-align: left;
        color: white;

        @media #{$mobile} {
            margin-inline: 5px;
        }

        &--margin-top {
            margin-top: 2em;

            @media #{$tablet} {
                margin-top: 1.6em;
            }
        }

        &--margin-bottom {
            margin-bottom: 0.75em;
        }

        &--no-margin-top {
            @media #{$mobile} {
                margin-top: 0;
            }
        }

        &--no-margin-bottom {
            margin-bottom: 0;
        }
    }

    &__container {
        &--margin-bottom {
            margin-bottom: 2em;

            @media #{$tablet} {
                margin-bottom: 10px;
            }

            @media #{$mobile} {
                margin-bottom: 0;
            }
        }
    }

    &__filters {
        display: flex;
        align-items: end;
        padding: 0;

        @media #{$tablet} {
            flex-direction: column;
            align-items: stretch; 
        }

        @media #{$mobile} {
            padding-inline: 5px; 
        }

        label {
            font-weight: 500;
        }

        &-title {
            margin-bottom: 30px;
        }

        &-container {
            width: 50%;
            display: flex;
            flex-direction: row;
            padding-right: 0;

            @media #{$tablet-only} {
                padding-bottom: 0.5em;
            }
            
            @media #{$tablet} {
                width: 100%;
                padding-right: 10px;
            }

            @media #{$mobile} {
                flex-direction: column;
            }
        }

        &-dates {
            width: 100%;

            @media #{$tablet-only} {

                &:nth-of-type(1) {
                    margin-right: 0.5em;
                }

                &:nth-of-type(2) {
                    margin-left: 0.5em;
                }
            }
        }

        @media #{$tablet-only} {
            &-select, &-button {
                margin-top: 1em;
            }
        }

        &-options {
            margin-block-start: 1em; 
            position: relative;
            display: flex;
            height: 60px;
            margin-inline-end: 0.5em;

            @media #{$tablet} {
                margin-inline-end: 0;
                margin-block-end: 0;
                width: 100%;
            }

            @media #{$mobile} {
                margin-block-end: 1em;
            }

            input {
                padding: 0.8em;
                font-size: 1em;
                text-align: left;
                width: -webkit-fill-available;
                border: none;
                border-radius: 3px;
                font-family: inherit;
            }
              
            input::-webkit-calendar-picker-indicator {
                cursor: pointer;
            }

            select {
                width: 100%;
                padding: 0.8em 3em 0.8em 0.8em;
                font-size: 1em;
                text-align: left;
                width: -webkit-fill-available;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                background-color: #fff;
                background-image: url(/assets/images/ui-images/chevron-down-black.svg);
                background-position: right 1.35em center;
                background-repeat: no-repeat;
                background-size: 1em;
                border: none;
                border-radius: 3px;
                font-family: inherit;
                cursor: pointer;

                @media #{$small-mobile} {
                    background-image: none;
                }
            }
        }

        &-button {
            height: fit-content;
            float: right;
            width: 100%;
            max-width: 290px;
            
            @media #{$tablet} {
                margin-block-start: 1em;
                max-width: 100%; 
            }

            @media #{$mobile} {
                margin-inline-start: 0;
            }

            &--margin-inline-start {
                margin-inline-start: 2em;
            }
        }

        &--50 {
            width: 50%;
            
            @media #{$tablet} {
                width: 100%;
                padding-bottom: 0 !important;
            }

            @media #{$mobile} {
                width: 100%;
            }
        }
    }

    &__teaser {
        font-weight: 400;
        margin-top: 0;

        &--no-margin {
            margin: 0;

             @media #{$mobile} {
                margin-inline: 5px;
            }
        }
    }

    &__wrapper {
        padding-top: 2em;
        border-top: 0.17em solid #2aa294b3;
    }

    &__image {
        border-radius: 3px 3px 0 0;
    }

    &__featured-logo {
        padding: 0 0 2em;
        display: none;

        @media #{$desktop} {
            display: block;
        }
    }

    &__link {
        margin-block: 2em;
    }

    &__subscription-banner {
        border-radius: 3px;
        padding-inline: 1em;
    }

    &__useful-links {
        margin-block: 2em;
    }

    &__tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
        margin-bottom: 2em;

        @media #{$tablet} {
            margin-bottom: 2.5em;
        }

        &-title {
            margin-top: 0;
        }
    }

    &__tag {
        list-style: none;
        margin-inline-start: 0;
    }

    &__published {
        margin-bottom: 10px;

        &--margin {
            margin-bottom: 2em;
        }
    }

    &__last-updated {
        margin-bottom: 2em;
    }

    &__button {
        float: right;

        &--no-margin {
            margin-inline: 0 !important;
        }
    }

    &-featured-item {
        &__title {
            text-align: left;

            @media #{$mobile} {
                margin-top: 0;
            }
        }
    }

    &__card {
        &:last-child {
            @media #{$mobile} {
                margin-bottom: 1em;
            }
        }
    }
    
    &__banner {
        img {
            border-radius: 3px 0 0 3px !important;

            @media #{$tablet} {
                border-radius: 3px 3px 0 0 !important;
            }
        }

        &--no-margin {
            margin: 0 !important;
        }
    }

    &__section {
        &--margin-top {
            margin-top: 10px;
        }

        @media #{$desktop} {
            &--padding-top {
                padding-top: 10px;
            }
        }
    }

    &__categories {
        &-container {
            @media #{$mobile} {
                margin-bottom: 2em;
            }
        }
    }

    &__body {
        margin-bottom: 2em;
    }

    @media #{$mobile} {
        &__cta {
            margin-inline: 5px;
        }
    }
}

#category-filter {
    border-bottom: 1px solid $stockport-grey-lighter;
    padding-bottom: 1.875rem;
    margin-bottom: 0;
}

#news-archive {
    padding-top: 1.875rem;
}

#category-filter, #news-archive, #displayRefineBy > li {
    list-style: none;
    margin-inline-start: 0;
}

.filters-list, .filters-active > ul > li {
    list-style: none;
}

.is-collapsed {
    .mobile-filter-heading:after {
        content: "\f077";
        font: bold normal normal 16px/1 FontAwesome;
        font-size: 1em;
    }

    .filter-title {
        @media #{$mobile, $tablet} {
            border-top: none;
        }
    }

    .filter-title, .filter-inner-title {
        position: relative;

        &:after {
            content: "\f078";
            font: bold normal normal 16px/1 FontAwesome;
            font-size: 1em;
            text-decoration: none;
            display: inline-block;
            margin-top: -10px;
            position: absolute;
            right: 5px;
            top: 50%;
        }
    }

    .filter-inner-title {
        border-bottom: none;
    }

    ul {
        display: none;
    }
}

.filter-title, .filter-inner-title {
    position: relative;
    cursor: pointer;
    color: $stockport-black;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 0 !important;
    margin-block: 10px;

    &:after {
        content: "\f077";
        font: bold normal normal 16px/1 FontAwesome;
        font-size: 1em;
        text-decoration: none;
        display: inline-block;
        margin-top: -10px;
        position: absolute;
        right: 5px;
        top: 50%;
        color: $stockport-teal-darker;
    }

    &:hover {
        text-decoration: none;
    }
}

.mobile-filter-heading {
    border-top: 1px solid $greyLight;
    border-bottom: none;
    text-align: center;

    @media #{$desktop} {
        display: none;
    }
}

.custom-date-title {
    display: block;
}

.custom-date > li {
    margin-inline-start: 0;
}

#DateFrom, #DateTo {
    display: block;
    font-size: 1em;
    font-family: inherit;
}

.date-to {
    margin-bottom: 2em;
    margin-top: 1em;
}

.filter-title {
    margin-bottom: 10px;
}

.filters-list {
    li {
        margin-inline-start: 0;
        margin-bottom: 1em;

        a {
            padding-block: 0.4em;
        }
    }
}

html[dir="rtl"] {
    .news-article {
        &__title {
            text-align: right;
        }

        &-featured-item {
            &__title {
                text-align: right;
            }
        }

        &__banner {
            img {
            border-radius: 0 3px 3px 0 !important;

                @media #{$tablet} {
                    border-radius: 3px 3px 0 0 !important;
                }
            }
        }

        &__archive-banner {
            float: right;
        }
    }

    .filter-title {
        &:after {
            right: unset;
            left: 5px;
        }
    }
}