.news-banner {
    @media #{$mobile} {
        &-button {
            margin-inline: 5px;
        }
    }

    &__card {
        &-view-more, &-filler {
            width: 25%;
        }

        &-title-container {
            margin-inline-start: 0;
        }
    }
}