.news-banner {
    margin-bottom: 0;

    @media #{$mobile} {
        &-button {
            margin-inline: 5px;
        }
    }

    &-container {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    &-title {
        text-align: center;
        text-align: -webkit-center;
        text-align: -moz-center;
        width: 100%;

        @media #{$tablet} {
            width: 100%;
        }

        hr {
            width: 20%;
            margin-top: 0;

            @media #{$mobile} {
                width: 40%;
            }

            @media #{$tablet} {
                width: 30%;
            }
        }
    }
}