.organisation-detail {
  background-color: $white;

  span {
    padding-right: 5px;
  }

  h1 {
    color: $colorPrimary;
    font-size: 3em;

    @media #{$mobile} {
      font-size: 2em;
    }
  }

  img {
    @media #{$desktop, $tablet} {
      width: 50%;
    }
  }

  .show-more-button {
    padding-left: 20px;
  }

  .group-card {
    border: solid 1px #e3e3e3;
  }

  i {
    margin-right: 10px;
  }

  hr {
    margin-top: 10px;
  }

  .group-listing-container {
    margin-top: 20px;
  }

  .mobile-show-more {
    padding: 0 5px;
    margin-top: -25px;
    margin-bottom: 20px;
  }

  .donations-section {
    margin-bottom: 10px;
  }
}

.organisation-bar-container {
  margin: 20px 15px -15px 15px;

  .organisation-bar {
    background-color: $colorPrimaryDark;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;

    h1 {
      margin: 0;

      a {
        color: $white;
        text-decoration: none;
      }
    }

    label {
      color: grey;
    }

    .remove-filter {
      a {
        color: $white;
      }
    }
  }
}

.groups-organisation {
  .favourites-container {
    margin-bottom: 20px;
  }
}
