.pagination-previous, .pagination-next {

    p:first-of-type {
        font-size: 1.375em;
        margin-top: 10px;
        margin-bottom: 0;
        color: $teal-darker;
        text-decoration: underline;
    }

    &:hover {
        p:first-of-type {
            text-decoration-thickness: 3px;
        }
    }
}
