@media print {
    .l-header-container,
    .banner-header-container,
    .breadcrumb-container
    ,footer, #shareThis, .group-calender-container-image{
        display:none;
    }

    .group-map-container{
        page-break-before:always;
        page-break-inside:avoid;
    }

    .group-article-title {
        font-size:1em;
        color:#000000;
    }
}
