.profile-banner {
    margin-bottom: 0;

    @media #{$mobile} {
        &-button {
            margin-inline: 5px;
        }
    }

    &-container {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    &-title {
        text-align: center;
        text-align: -webkit-center;
        text-align: -moz-center;

        hr {
            width: 20%;
            margin-top: 0;

            @media #{$mobile} {
                width: 40%;
                margin-bottom: 1em;
            }

            @media #{$tablet} {
                width: 30%;
            }
        }
    }
}

.profile-card {
    @media #{$mobile} {
        margin-bottom: 1.5em;
    }

    &__image {
        height: 320px;
        border-radius: 50px 3px 50px 3px;

        @media #{$mobile} {
            width: 100%;
        }
    }

    &__link {
        border-bottom: 7px solid;
        border-color: $stockport-teal-darker;
    }

    &--padding {
        flex-grow: 1;
        padding: 1em 0.75em 1.5em 0.75em;
    }

    &:nth-child(n+2) {
        .profile-card__link {
            border-color: $stockport-pink;
        }
    }

    &:nth-child(n+3) {
        .profile-card__link {
            border-color: $stockport-purple;
        }
    }
}