.profile {
    &__figure { 
        float: right;
        max-width: 33%;
        margin: 0 0 0 1em;

        img {
            border-radius: 3px;
        }

        figcaption {
            background-color: white;
            color: $stockport-black;
            padding-inline: 0;
            padding-block: 1em;
            border-bottom: 1px solid #ccc;
            border-radius: 0;
        }
    }

    &-quote {
        height: 100%;

        &--border {
            border-left: 0.5em solid;

            &-pink {
                border-color: rgba($stockport-pink, 0.7);
            }

            &-teal {
                border-color: rgba($stockport-teal, 0.8);
            }

            &-green {
                border-color: rgba($stockport-green, 0.8);
            }

            &-orange {
                border-color: rgba($stockport-orange, 0.8);
            }

            &-purple {
                border-color: rgba($stockport-orange, 0.8);
            }

            &-blue {
                border-color: rgba($stockport-blue, 0.8);
            }
        } 

        &__text {
            padding-left: 1em;

            @media #{$mobile} {
                padding-left: 0.8em;
            }

            span {
                color: $stockport-green;
            }
        }
    }
}