.profile-card {
    border-bottom: 7px solid;

    @media #{$mobile} {
        margin-bottom: 2em;
    }

    &--no-decoration {
        text-decoration: none;
        color: $stockport-black;
    }

    &__heading {
        text-align: center;
        text-align: -webkit-center;
        text-align: -moz-center;

        hr {
            width: 20%;
            margin-top: 0;

            @media #{$mobile} {
                width: 40%;
            }

            @media #{$tablet} {
                width: 30%;
            }
        }
    }

    &__image {
        height: 320px;
        border-radius: 50px 3px;

        @media #{$tablet} {
            height: 215px;
            border-radius: 30px 3px;
        }

        @media #{$mobile} {
            max-height: 400px;
        }
    }

    &__title {
        color: $stockport-black;
    }

    &__link {
        &:hover {
            .profile-card__read-more {
                text-decoration-thickness: 3px;
            }
        }
    }

    &__read-more {
        color: $stockport-green;
        text-decoration: underline;
        display: block;
        margin-top: 2em;
    }

    &--padding {
        padding: 1em 0.75em 1.5em;
    }

    &:nth-child(3n+1) {
        border-color: $stockport-green;
    }

    &:nth-child(3n+2) {
        border-color: $stockport-pink;
    }

    &:nth-child(3n+3) {
        border-color: $stockport-purple;
    }
}

html[dir="rtl"] {
    .profile-card {
        &__image {
            border-radius: 3px 50px;
    
            @media #{$tablet} {
                border-radius: 3px 30px;
            }
        }

        @media #{$mobile} {
            padding: 0;
        }
    }
}