.profile-card {
    border-bottom: 7px solid;

    @media #{$mobile} {
        margin-bottom: 2em;
        margin-inline: 5px !important;
    }

    &--no-decoration {
        text-decoration: none;
        color: $stockport-black;
    }

    &__image {
        height: 320px;
        border-radius: 50px 3px;

        @media #{$tablet} {
            border-radius: 30px 3px;
        }

        @media #{$mobile} {
            max-height: unset;
            height: unset;
        }
    }

    &__title {
        color: $stockport-black;
    }

    &__link {
        &:hover {
            .profile-card__read-more {
                text-decoration-thickness: 3px;
            }
        }
    }

    &__read-more {
        color: $stockport-green;
        text-decoration: underline;
        display: block;
        margin-top: 2em;
    }

    &--padding {
        padding: 1em 0.75em 1.5em;
    }

    &:nth-child(3n+1) {
        border-color: $stockport-green;
    }

    &:nth-child(3n+2) {
        border-color: $stockport-pink;
    }

    &:nth-child(3n+3) {
        border-color: $stockport-purple;
    }

    &:nth-child(n+4) {
        margin-top: 2em;

        @media #{$mobile} {
            margin-top: 0em;
        }
    }

    @media #{$mobile} {
        margin-bottom: 2em;

        &:last-child {
            margin-bottom: 0em;
        }
    }
}

html[dir="rtl"] {
    .profile-card {
        &__image {
            border-radius: 3px 50px;
    
            @media #{$tablet} {
                border-radius: 3px 30px;
            }
        }

        @media #{$mobile} {
            padding: 0;
        }
    }
}