.profile {
    &__title {
        margin: 1.25rem 0 2rem;

        @media #{$mobile} {
            margin: 1.25rem 5px 1.3rem 5px;
        }
    }

    &__figure {
        float: right;    
        max-width: 33%;
        max-height: 100%;
        margin: 0 0 1em 1em;

        @media #{$mobile} {
            width: 100%;
            margin-inline-end: 0;
            padding: 0;
            max-width: 100%;
        }

        img {
            border-radius: 3px;
        }

        figcaption {
            background-color: white;
            color: $stockport-black;
            padding-inline: 0;
            padding-block: 1em;
            border-bottom: 1px solid #ccc;
            border-radius: 0;
            font-weight: 800;

            @media #{$mobile} {
                border-bottom: none;
            }
        }
    }
}

html[dir="rtl"] {
    .profile {
        &__figure {
            float: left;
            margin: 0 1em 1em 0;
        }
    }
}