.profile {
    &__title {
        margin: 1.25rem 0 2rem;

        @media #{$mobile} {
            margin: 1.25rem 5px 1.75rem;
        }
    }

    &__figure {
        float: right;    
        max-width: 33%;
        max-height: 100%;
        margin: 0 0 1em 1em;

        @media #{$mobile} {
            width: 100%;
            margin-inline-end: 0;
            padding: 0;
            max-width: 100%;
            margin-bottom: 0;
        }

        img {
            border-radius: 3px;
        }

        figcaption {
            background-color: white;
            color: $stockport-black;
            font-weight: 700;
            padding-inline: 0;
            padding-block: 1em;
            border-bottom: 1px solid $stockport-grey-lighter;
            border-radius: 0;

            @media #{$mobile} {
                border-bottom: none;
            }
        }
    }

    &-quote {
        height: 100%;
        clear: both;

        &__border {
            border-inline-start: 0.5em solid;

            &--pink {
                border-color: rgba($stockport-pink, 0.7);
            }

            &--teal {
                border-color: rgba($stockport-teal, 0.8);
            }

            &--green {
                border-color: rgba($stockport-green, 0.8);
            }

            &--purple {
                border-color: rgba($stockport-purple, 0.8);
            }

            &--blue {
                border-color: rgba($stockport-blue, 0.8);
            }

            &--one-stockport-purple {
                border-color: rgba($one-stockport-purple, 0.8);
            }
        } 

        &__text {
            padding-inline-start: 1em;

            @media #{$mobile} {
                padding-inline-start: 0.8em;
            }

            span {
                color: $stockport-green;
                vertical-align: super;
            }
        }

        &__marks {
            &--rtl {
                display: none !important;
            }
        }
    }

    &__text {

        &--margin-bottom {
            margin-bottom: 2em;
        }

        h3 {
            margin-bottom: 20px;    
        }
    
        h4, h5, h6 {
            margin-bottom: 10px;
        }
    }
}

html[dir="rtl"] {
    .profile {
        &__figure {
            float: left;
            margin: 0 1em 1em 0;
        }

        &-quote {
            &__marks {
            display: none !important;

            &--rtl {
                display: inline-block !important;
            }
        }
    }
}
}