.publication-sidebar {
    &__list {
        list-style: disc;
        list-style-position: inside;
    }

    &__subtitle {
        font-weight: 800;
        margin-top: 1em;
        margin-bottom: 0;
    }

    &__link {
        text-decoration: underline;

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-decoration-skip-ink: none;
        }
    }

    &__sections {
        margin-bottom: 0;
    }
}