.publication-sidebar {
    border-radius: 3px;

    &__list {
        margin-bottom: 0;
        padding-inline: .75em;
        padding-bottom: 1.5em;

        &-item {
            margin-inline-start: 0;
            color: $linkDefault;

            &--no-padding-inline {
                padding-inline: 0;
            }
        }

        &--no-margin {
            margin: 0;
        }
    }

    &__subtitle {
        font-weight: 800;
        margin-top: 1em;
        margin-bottom: 0;
    }

    &__link {
        text-decoration: underline;
        padding-inline-start: 0;

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-decoration-skip-ink: none;
        }
    }
}

.publication-sidebar__list li a,
.publication-sidebar__list--no-margin li a {
    position: relative;
    padding-left: 1.25rem;
}

.publication-sidebar__list li a::before,
.publication-sidebar__list--no-margin li a::before {
    content: "›";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: $linkDefault;
    font-size: 2rem;
}

ul {
    list-style: none;
}