.publication-template {
    padding-top: 2em;

    &-title {
        @media #{$mobile} {
            margin-inline: 5px;
        }

        &--no-margin-top {
            margin-top: 0;
        }
    }

    &__page {
        &-title {
            margin-top: 0;
        }
    }

    &__subtitle {
        margin-top: 1.25rem;
    }

    &__pagination {
        &--no-margin {
            margin-bottom: 0 !important;
        }
    }

    &--teal {
        color: white;
        background-color: $stockport-teal-darker;
        padding-bottom: 20px;

        h1 {
            color: white;
        }
    }

    &--one-stockport-purple {
        color: white;
        background-color: $one-stockport-purple;
        padding-bottom: 20px;

        h1 {
            color: white;
        }
    }

    .profile-quote {
        height: unset;
    }
}