#listing-refine-bar {
  background-color: $white;

  @media #{$mobile} {
    background-color: $backgroundSite;

    .primary-filter-label, .location-search-button {
      display: none;
    }
  }

  .white {
    background-color: $white;
  }


  .grid-container {
    .refine-all {
      padding-top: 20px;

      .button-default {
        font-weight: 600;
        width: 100%;

        @media #{$mobile} {
          font-weight: bold;
          text-align: left;
        }

        .badge {
          margin-right: 0;
        }
      }
    }

    @media #{$mobile} {

      #refine-slider {
        position: absolute;
        top: 0;
        min-height: 100%;
        height: auto;
        width: 100%;
        background-color: $white;
        z-index: 9;

        .scroller {
          overflow-y: scroll;
          position: fixed;
          height: 1000px;
          background-color: $white;
          top: 0px;
          width: 100%;
        }
      }
    }

    .badge {
      margin-left: 10px;
      margin-right: 40px;

      @media #{$tablet} {
        margin-right: 10px;
      }

      visibility: hidden;

      @media #{$desktop, $tablet} {
        span {
          position: relative;
          top: -3px;
        }
      }
    }

    .clear-all-filters {
      padding: 10px 30px 20px 30px;
      position: relative;
    }

    .refine {
      float: left;
      border-right: solid 1px $backgroundSite;
      padding: 20px 30px;
      font-size: 1.3em;
      font-weight: 700;
      position: relative;

      @media #{$tablet} {
        padding: 20px 10px;
      }

      @media #{$mobile} {
        float: none;
        border-right: 0;
        border-bottom: 1px 1px $backgroundSite;
        padding: 10px 30px 0 30px;
        font-size: 1.1em;
      }

      &.title {
        padding-left: 10px;
      }

      h3 {
        @media #{$tablet, $desktop} {
          font-size: 1em;
          font-weight: 700;
          margin-top: 0;
        }

        @media #{$mobile} {
          padding-top: 20px;
          padding-right: 10px;
          font-size: 1.3em;
        }
      }



      a {
        display: inline-block;
        text-decoration: none;
        color: $greyDarkest;

        @media #{$tablet} {
          margin-left: 0;
        }

        @media #{$desktop} {
          margin-left: 10px;
        }

        @media #{$tablet,$desktop} {
          &:before {
            float: right;
            text-align: right;
            margin-top: 10px;
            margin-right: 10px;
            font: normal normal normal 1em/1 FontAwesome;
            content: "\f107";
          }
        }
      }

      &.open a:before {
        @media #{$tablet,$desktop} {
          content: "\f106";
        }
      }

      .refine-filters {

        @media #{$tablet} {
          min-width: 300px;
        }

        background-color: white;
        margin-top: 20px;
        margin-left: -30px;

        @media #{$tablet} {
          margin-left: -10px;
        }

        width: 100%;
        font-size: 0.75em;
        font-weight: 100;
        padding: 5px 10px;
        box-sizing: border-box;
        color: $colorBrand;

        @media #{$tablet,$desktop} {
          display: none;
          padding: 20px;
          border-top: 3px solid $colorBrand;
          position: absolute;
        }

        @media #{$mobile} {
          border-bottom: solid 1px $backgroundSite;
          margin-left: 0;
          margin-top: 0;
          font-size: 1em;
        }

        .none-selected-error {
          display: none;
          color: $greyDarkest;
          font-size: 0.9em;

          div {
            float: left;
          }

          .fa-info {
            color: $white;
            border-radius: 50%;
            background-color: $carrotOrange;
            font-size: 1em;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
            margin: 4px 10px 0 0;
          }
        }

        a {
          color: $colorBrand;
          display: inline;
          text-decoration: underline;

          &:before {
            content: "";
            float: left;
            margin: 0;
          }

          &.apply {
            float: right;

            &.disabled {
              color: $grey63;
              cursor: default;
            }
          }
        }

        .show-all {
          text-align: center;

          @media #{$mobile} {
            text-align: left;
          }

          div {
            display: inline-block;
          }

          .show {

            &:before {
              float: left;
              text-align: left;
              margin-top: 10px;
              margin-right: 10px;
              content: "\f106";
              font: normal normal normal 1em/1 FontAwesome;
            }

            &.show-more {
              &:before {
                float: left;
                text-align: left;
                margin-top: 10px;
                margin-right: 10px;
                content: "\f107";
                font: normal normal normal 1em/1 FontAwesome;
              }
            }
          }
        }
      }

      &.open .refine-filters {
        display: block;
      }
    }

    .update-cancel-bar {
      position: fixed;
      bottom: 0;
      padding: 20px;
      width: 100%;
      box-sizing: border-box;
      background-color: $backgroundSite;
      z-index: 10;

      .button-default {
        min-width: 48%;
        display: inline-block;

        &:before {
          content: '';
        }

        &.apply {
          float: right;
        }

        &.disabled, .disabled:hover {
          border-width: 0;
          background-color: $greyLightest;
          cursor: default;
          box-shadow: none;
        }
      }
    }
  }
}

.badge {
  display: inline-block;

  span {
    border-radius: 50%;
    font-size: 14px;
    color: $white;
    background-color: $colorBrand;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;

    @media #{$tablet,$desktop} {
      display: inline-block;
      text-align: center;
    }
  }
}

.current-article {
  margin-bottom: 0;
  margin-left: 28px;
}
