#search_autocomplete {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid $stockport-grey;
    border-top: 7px solid $stockport-teal-darker;
    width: 100%;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    top: 60px !important;
    line-height: 1.5;
    position: absolute;
    z-index: 9999;

    @media #{$tablet} {
        top: 60px !important;
    }

    @media #{$mobile} {
        left: 5px;
        top: 50px !important;
        width: calc(100% - 10px);       
    }

    &:before {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        display: block;
        content: "Suggested searches";
        font-weight: bold;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 1em;
        border-bottom: 1px solid $stockport-grey;
        background-color: $stockport-light-grey;
    }

    li {
        transition: none;
        margin: 0px;
        padding-left: 1em;
        list-style: none;
        padding: 0.5em;

        &:hover {
            transition: none;
            background-color: $stockport-teal-darker;
            color: white;
        }

        &:last-child {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
}
