.section {
    margin-bottom: 2em;

    &--no-margin {
        margin-bottom: 0;
    }

    &--increased-vertical-margin {
        margin-top: 2.5em;
        margin-bottom: 2.5em;
    }

    &--padded {
        padding: 2em 0em;

        @media #{$mobile} {
            padding: 1.5em 0em;
        }
    }

    &--padded-bottom {
        padding-bottom: 2em;
    }

    &--white {
        background-color: white;
    }

    &--grey {
        background-color: $stockport-light-grey;
    }

    &--teal {
        background-color: $stockport-teal-darker;
        color: white;
    }

    &__content {
        margin: 0px;

        &--no-margin {
            margin: 0px;
        }

        @media #{$mobile} {
            margin: 0 5px 0 5px;

            &--no-margin {
                margin: 0 5px 0 5px;
            }
        }
    }

    &__title {
        @include h-l;
        margin: 0px;
        text-decoration: none;
        padding-bottom: 0.5em;

        @media #{$mobile} {
            margin: 0 5px 0 5px;
        }

        a:hover {
            text-decoration: underline;
            text-decoration-thickness: 3px;
        }

        &--white {
            color: white;
        }

        &--padded-bottom {
            padding-bottom: 0.75em;

            @media #{$mobile} {
                padding-bottom: 0.5em;
            }
        }

        &--padded-bottom-m {
            padding-bottom: 1rem;
        }

        &--margin-top {
            margin-top: 0.75em;
        }

        &--no-margin {
            margin: 0;
        }
    }

    h1.section__title {
        @include h-xl;
    }

    &__teaser {
        @include lead;
        margin: 0px;

        &--padded-bottom {
            padding-bottom: 2rem;

            @media #{$mobile} {
                padding-bottom: 1.5rem;
            }
        }

        @media #{$mobile} {
            margin: 0 5px 0 5px;
        }
    }
}
