.share {
    padding-top: 10px;

    &.top-border {
        border-top: 1px solid #ccc;
    }

    &.padding-bottom {
        padding-bottom: 10px;
    }

    a {
        color: $greyDark;
        font-size:2em;
        padding-right:0.4em;
    }

    p {
        text-transform: none;
        font-size: 1em;
        margin: 0;
        font-weight: 600;
        letter-spacing: 0;
        font-family: "Source Sans Pro",sans-serif;
    }

    .events-to-calendar {
        @media #{$mobile, $tablet} {
            padding-top: 15px;
        }
    }
}