.showcase-hero-image
{
    background-size: cover;
    background-position: center;
    display: table;
    width: 100%;
    background-repeat:no-repeat;

    .title-card 
    {
       vertical-align: middle;
       display: table-cell;
       background-color: rgba(20, 20, 20, 0.5);
       width: 100%;
       height:100%;
       padding-top: 24.62%; 
       
       @media #{$desktop}
       {
           padding-bottom: 24.62%; 
       }
       @media #{$tablet, $mobile}
       {
           padding-bottom: 5%; 
       }


       h2 
        {   
            color: $white;
            text-align:center;
        }

       h1 
        {   
            color: $white;
            font-size: 30px;
            text-align:center;
        }

       .showcase-hero-image-anchor{
           text-align:center;

           .chevron-bordered {
            display: inline-block;
            border: 3px solid $white;
            border-radius:100%;
            padding: 10px;
            display:inline-block;
            color: $white;
            text-decoration:none;
            font-size: 23px;
            line-height: 1em;
        }
       }
    }   
}