$header-accent: rgba(255, 255, 255, 0.7);

.site-header {
    background-color: $stockport-green;

    #search_autocomplete {
        top: 80px !important;
        border-top: 1px solid $stockport-grey;
    }

    &_logo {
        height: 50px;
        margin: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: auto;
    }

    &_search-input-wrapper {
        line-height: 82px;
    }

    &_search-input {
        color: $stockport-grey;
        font-size: 1.2rem;
        padding: 15px 60px 15px 15px;
        border-radius: 3px;
        border: 0px;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;

        &:focus {
            background-color: white;
        }
    }

    &_mobile-search-button {
        border: 1px solid $header-accent;
        border-radius: 3px;
        color: $header-accent;
        float: right;
        font-size: 24px;
        margin: 20px 0 10px 10px;
        padding: 0 12px;
        line-height: 42px;
    }

    &_mobile-search {
        display: none;
    }

    #cludo-search-form, #cludo-mobile-form {
        position: relative;
        margin: 0;
        display: block;
        box-sizing: border-box;
        z-index: 9999;

        .site-header_search-button {
            position: absolute;
            top: 32%;
            right: 0;
            width: 60px;
            border: none;
            padding: 0;
            color: $stockport-grey;
            font-size: 1.3rem;
            background: 0 0;
            text-align: center;
            text-indent: 0;
            overflow: auto;
            transition: none;

            span:before {
                font-family: FontAwesome;
            }
        }
    }

    #cludo-mobile-form {
        position: relative;

        .site-header_search-button {
            top: 35%;
        }
    }

    #cludo-mobile-form * {
        box-sizing: border-box;
        text-align: left;
        text-shadow: none;
    }

    &_menu {
        margin: 0px;
        border-top: solid 1px $stockport-teal-darker;
        padding: 0.5rem;

        @media #{$non-mobile} {
            text-align: right;
            background-color: $stockport-green;
            padding: 0;
            margin-right: 10px;
        }

        li {
            margin: 0;
            margin-left: 5px;
            margin-bottom: 0.5rem;
            padding: 0;
            text-indent: 0;
            list-style: none;
            box-sizing: border-box;
            display: inline-block;

            @media #{$mobile} {
                margin-right: 2em;
            }


            @media #{$non-mobile} {
                margin-left: 1rem;
                margin-bottom: 0em;
            }

            a {
                display: inline-block;
                color: white;

                @media #{$non-mobile} {
                    height: 82px;
                    line-height: 82px;
                }

                span {
                    color: $header-accent;
                    padding-right: 10px;
                }
            }
        }
    }
}

/*Legacy styles form older header below - these should embed removed when new header is fully rolled out*/
.type-home .header-myaccount {
  width: 100%;
}

.type-home .header-search-bar {
  width: 0;
}

.menu {
  color: $colorPrimaryPale;
  text-align: right;
  display: flex;
  flex-direction: row;
  place-content: flex-end;

  .menu-logged-out {
    display: table;
    padding: 10px 10px;
    height: 50px;
    text-align: right;

    @media #{$tablet} {
      height: 35px;
      padding: 15px;
    }

    @media #{$mobile} {
      height: 35px;
      padding: 10px 10px 0 0;
    }

    a {
      @media #{$mobile} {
        font-size: 14px;
      }

      display: table-cell;
      vertical-align: middle;
      color: $white;

      span {
        color: $colorPrimaryPale;
        padding-right: 10px;
      }

      &:hover {
        span {
          color: $white;
        }
      }
    }
  }

  .menu-logged-in {
    position: relative;
    height: 70px;
    text-align: left;
    display: inline-block;
    max-width: 100%;

    .menu-account-button {
      padding: 10px 10px 10px 30px;
      line-height: 1.5em;

      .fa-user {
        left: 0;
        margin-top: -8px;
        position: absolute;
        top: 50%;
      }

      p {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      a {
        color: $white;
        font-size: 18px;
        line-height: 1.3em;
      }

      .fa {
        color: $white;
      }

      .fa-angle-down {
        margin-left: 8px;
        color: white;
      }
    }

    &:hover .menu-tooltip {
      display: block;
    }

    .menu-tooltip {
      display: none;
      background-color: $white;
      color: $colorPrimary;
      border-radius: 6px;
      border: 1px solid $greyLighter;
      box-shadow: 0 10px 20px $blackOpaque05;
      padding: 0 15px 8px 15px;
      position: absolute;
      z-index: 55;
      left: 15px;
      width: 180px;

      .fa-caret-up {
        position: absolute;
        top: -14px;
        left: 125px;
        font-size: 20px;
        color: $white;
      }

      .menu-links {
        a {
          display: block;
          padding-right: 20px;
          border-bottom: 1px solid $greyLighter;

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}

.type-home {
  .menu .menu-logged-out:not(:first-of-type) {
    padding-right: 0;
  }
}

.no-header-search {
    .site-header_menu-wrapper {
        width: 100%;
    }

    .site-header_mobile-search-button, .site-header_search-wrapper {
        display: none;
    }
}