.skyline-wrapper {
    background-image: url("/assets/images/content/markup-cropped.svg");
    background-position: center bottom;
    background-repeat: no-repeat;
    width: calc(100% - 50px);
    height: 250px;
    margin: auto;
    margin-top: 40px;

    @media #{$mobile} {
        background: none;
        height: 0;
    }

    @media #{$tablet} {
        height: 175px;
        width: 98%;
        margin-top: 0px;
    }
}