.statement-banner {
    background-color: rgba($stockport-teal-darker, 0.08);
    border-radius: 50px;
    display: flex;
    flex-basis: 0;
    flex-direction: column;
    justify-content: space-between;

    @media #{$mobile} {
        border-radius: 30px;
    }

    &__icon {
        font-size: 6rem;
        font-weight: 600;
        letter-spacing: -1px;
        line-height: 1.0416666667;
        padding-inline: 1rem;
        padding-top: 1.5rem;
        text-align: center;
        
        @media #{$mobile} {
            font-size: 5rem;
        }

        &--teal {
            color: $stockport-teal-darker;
        }

        &--green {
            color: $stockport-green;
        }

        &--pink {
            color: $stockport-pink;
        }
        
        &--blue {
            color: $stockport-blue;
        }

        &--purple {
            color: $stockport-purple;
        }

        &--grey {
            color: $stockport-grey;
        }
    }

    &-content {
        padding: 1.5em;
        padding-top: 1em;
        color: $stockport-black;
        text-align: center;
        
        &__title {
            @include h-ml;
            margin-bottom: 0.75em;
            color: $stockport-teal-darker;
            margin-top: 0;
            text-align: center;

            &--teal {
                color: $stockport-teal-darker;
            }
    
            &--green {
                color: $stockport-green;
            }
    
            &--pink {
                color: $stockport-pink;
            }
            
            &--blue {
                color: $stockport-blue;
            }
    
            &--purple {
                color: $stockport-purple;
            }
    
            &--grey {
                color: $stockport-grey;
            }
        }

        &__text {
            text-align: left;
        }
    }

    &--border-teal {
        border: 4px solid $stockport-teal-darker;
    }

    &--border-green {
        border: 4px solid $stockport-green;
    }
    
    &--border-pink {
        border: 4px solid $stockport-pink;
    }

    &--border-blue {
        border: 4px solid $stockport-blue;
    }

    &--border-purple {
        border: 4px solid $stockport-purple;
    }
    
    &--border-grey {
        border: 4px solid $stockport-grey;
    }

    &--teal-light {
        background-color: rgba($stockport-teal-darker, 0.08);
    }

    &--green-light {
        background-color: rgba($stockport-green, 0.08);
    }

    &--pink-light {
        background-color: rgba($stockport-pink, 0.08);
    }
    
    &--blue-light {
        background-color: rgba($stockport-blue, 0.08);
    }

    &--purple-light {
        background-color: rgba($stockport-purple, 0.08);
    }

    &--grey-light {
        background-color: rgba($stockport-grey, 0.08);
    }
}

html[dir="rtl"] {
    .call-to-action {
        border-radius: 3px 50px 3px 50px;


        &__image {
            border-radius: 0px 50px 3px 0px;
        }
    }
}