.start-page {
    &_summary {
        margin-block-end: 1.25em;
    }

    &_btn {
        margin-block-start: 2em;
        margin-block-end: 2em;
    }

    &_lower {
        padding-block-start: 1em;
        margin-block-end: 2em;
        border-top: 1px solid $stockport-grey-accent;
    }
}
