.start-page {
    &_upper {
        margin-block-start: 2em;
    }

    &_btn {
        margin-block-start: 2em;
    }

    &_lower {
        margin-block-start: 2em;
        padding-block-start: 1em;
        padding-block-end: 1em;
        border-top: 1px solid $stockport-grey-accent;
    }
}
