.subscription-banner {
    padding: 0 10px;

    @media #{$tablet} {
        padding: 0;
    }

    @media #{$mobile} {
        margin: 0 5px;
    }

    &__container {
        color: white;
        border-radius: 3px;
        padding: 2em 1em;

        @media #{$tablet} {
            margin: 0 10px;
        }
    }
}

html[dir="rtl"] {
    .subscription-banner {
        &__content {
            display: flex;

            @media #{$tablet} {
                display: block;
            }
        }
    }
}
