.email-subscription {
    color: white;
    border-radius: 3px;
    padding: 2em 1em;

    @media #{$tablet} {
        margin: 0 10px;
    }
}

html[dir="rtl"] {
    .email-subscription {
        &__content {
            display: flex;

            @media #{$tablet} {
                display: block;
            }
        }
    }
}
