.subscription-banner {
    padding: 0 10px;

    @media #{$tablet} {
        padding: 0;
    }

    @media #{$mobile} {
        margin: 0 5px;
    }

    &__container {
        color: white;
        border-radius: 50px 3px;
        padding: 2em 1em;

        @media #{$tablet} {
            margin: 0 10px;
        }

        @media #{$mobile} {
            border-radius: 30px 3px;
        }
    }
}

html[dir="rtl"] {
    .subscription-banner {
        &__content {
            display: flex;

            @media #{$tablet} {
                display: block;
            }
        }

        &__container {
            border-radius: 3px 50px;

            @media #{$mobile} {
                border-radius: 3px 30px;
            }
        }

        @media #{$desktop} {
            &__container--right {
                float: right;
            }
        }
    }
}
