.sk-table-outer-container {

  h2 {
    font-weight: 800;
    font-size: 1.375em;
    letter-spacing: 0px;
    margin: 0;
  }

  a:not(.button-default) {
    text-decoration: underline;

    &:hover {
      text-decoration-thickness: 3px;
    }
  }

  .sk-table-pagination {
    a {
      text-decoration: underline;
    }
  }

  margin: 0 0 30px 0;

  @media #{$mobile} {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .sk-table-body {
    border-top: 5px solid $carrotOrange;
    border-bottom: 1px solid $grey875;
    margin-top: 0;
    margin-bottom: 20px;
    background-color: $white;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 10px 20px $blackOpaque05;

    &.primary-items {

      .padding-mobile {
        @media #{$mobile} {
          padding: 0;
          padding-bottom: 5px;
        }

        @media #{$tablet, $desktop} {
          &:nth-child(odd) {
            padding-right: 15px;
          }

          &:nth-child(even) {
            padding-left: 15px;
          }
        }
      }

      padding: 10px 0;

      a {
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
      }

      .button-default.subitem {
        color: $greyDarkest;
        background-color: $white;
        width: 100%;
        text-align: left;
        margin-top: 5px;
        margin-bottom: 5px;
        box-sizing: border-box;

        div {
          padding-right: 15px;

          .sub-item-title {
            line-height: 30px;
            font-size: 19px;
          }

          .sub-item-teaser {
            line-height: 27px;
          }
        }

        &:hover {
          box-shadow: 0 10px 20px $borderDefault;
        }

        &:nth-child(even) {
          clear: left;
        }

        @media #{$mobile} {
          margin: 0;
          color: $greyDarkest;
          border-left: 0;
          border-right: 0;
          border-radius: 0;
          box-shadow: none;
          border-bottom: 0;
          color: $greyDarkest;

          &:first-child {
            clear: left;
            margin-top: -11px;
          }
        }
      }
    }

    .sk-noresults {
      padding: 40px 0;
      text-align: center;
    }
  }

  h3 {
    margin-top: 0;
  }

  .sk-table-header {
    background-color: $backgroundSite;

    span {
      font-weight: 700;
      padding-top: 5px;
    }
  }

  a .sk-table-cell .main, .sk-table-cell .link {
    text-decoration: underline;

    &:hover {
      text-decoration-thickness: 3px;
    }
  }

  .sk-table-row {
    padding: 10px;

    &.center {
      text-align: center;
    }

    &.border-bottom {
      border-bottom: 1px solid $backgroundSite;
      border-left-width: 0px;
      border-right-width: 0px;
      border-top-width: 0px;
      margin-bottom: 10px;
      padding-left: 30px;
      padding-top: 0;

      &.primary-title {
        padding-left: 15px;
      }
    }

    .header-right-button a.button-default {
      font-size: 100%;
    }
  }

  .sk-table-thin-row {
    padding: 5px 10px;
  }

  @media #{$tablet, $desktop} {
    .sk-table-cell-right, .sk-table-header-right {
      text-align: right;
    }
  }

  .sk-table-row, .sk-table-thin-row {
    border-right: solid 1px $grey875;
    border-left: solid 1px $grey875;
    border-top: solid 1px $grey875;

    &.no-data {
      padding: 50px 0;
    }

    .sk-table-cell, sk-table-cell-right {
      font-size: 1.1em;
      color: $colorPrimaryDark;

      .mobile-bold {
        font-weight: 600;
      }

      .status {
        color: $white;
        font-weight: 700;
        padding: 0 10px;
        font-size: .8em;
        display: inline-block;
        border-radius: 4px;

        &.red {
          background-color: $tallPoppyRed;
        }

        &.yellow {
          background-color: $carrotOrange;
        }

        &.green {
          background-color: $green;
        }
      }

      .button-default {
        margin: 10px 20px 10px 0;

        &:hover {
          box-shadow: 5px 5px 10px $greyLighter;
        }

        &.no-margin {
          margin: 0;
        }

        @media #{$mobile} {
          margin-right: 0;
        }

        &.white {
          border: solid 1px $grey875;
          color: $colorPrimaryDark;
          background-color: transparent;
        }

        &.grey {
          border: solid 1px $greyDark;
          color: $white;
          background-color: $greyDark;
        }
      }

      .pagination-section {
        border-top-width: 0;
        margin-bottom: 0;
      }
    }

    .row-arrow:hover {
      color: $colorPrimaryDark;
    }

    .row-arrow:after {
      content: "\f105";
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 20px;
      float: right;
      padding-right: 20px;
      padding-top: 7px;
    }

    .mobile-button-row {
      margin-bottom: -10px;
      padding: 20px 20px 20px 20px;
    }
  }
}
