.profile-tag-parser {
    display: flex;
    flex-direction: row-reverse;
    text-decoration: none;

    @media #{$mobile} {
        flex-direction: column;
    }

    &--pink {
        border-inline-start: 0.55em solid $stockport-pink;
    }

    &--blue {
        border-inline-start: 0.55em solid $stockport-blue;
    }

    &--orange {
        border-inline-start: 0.55em solid $stockport-orange;
    }
    
    &--teal {
        border-inline-start: 0.55em solid $stockport-teal;
    }

    &:hover {
        text-decoration: none;

        .profile-tag-parser-content__read-more {
            text-decoration: underline;
            text-decoration-thickness: 3px;
        }
    }

    &__image {
        width: calc(100% - 3em);
        height: auto;
        object-fit: cover;
        border-radius: 50px 3px 50px 3px;
    }

    &-image-wrapper {
        width: 40%;
        padding-block: 1.5em;

        @media #{$mobile} {
            width: calc(100% - 3em);
            padding: 1.5em;
            padding-bottom: 0;
        }
    }

    &-content {
        width: 60%;
        padding: 1.5em;
        color: $stockport-black;

        @media #{$mobile} {
            width: calc(100% - 3em);
        }

        &__title {
            @include h-ml;
            margin-bottom: 0.75em;
            margin-top: 0;
        }

        &__subTitle {
            @include lead;
        }

        &__teaser {
            display: inline;
        }

        &__read-more {
            color: $stockport-green;
            text-decoration: underline;
            display: block;
            margin-top: 2em;
        }

        &--no-image {
            width: 100%;

            @media #{$mobile} {
                width: calc(100% - 3em);
            }
        }
    }

    &-quote {
        color: $stockport-green;
        font-size: 1.5em;
    }
}

// old tag parser styles -- need to be removed eventually!
.profile-success-story-new {
    background-color: #fff;
    border: 1px solid $stockport-grey-accent;
    border-radius: 3px;
    box-shadow: 0 10px 20px #0000000d;
    display: block;
    padding: 1em 1em 0;
    text-decoration: none;
    transition-duration: .5s;
    margin: 1.5em 0;
    color: $stockport-black;

    .body {
        padding-top: 0.5em;
    }

    .headings {
        h2 {
            margin:0px;
        }
    }

    span {
        color: $stockport-teal-darker;
    }

    span.open {
        @media #{$mobile} {
            left: -20px;
            position: relative;
        }
    }

    .closing-quote {
        position: relative;
        top: -30px;
    }

    .read-more {
        color: $stockport-green;
        padding-bottom: 25px;
        text-decoration: underline;
    }

    span.summary {
        color: $stockport-grey;
        font-size: 1rem;
        font-style: italic;
    }
}

.profile-image-mask {
    padding-bottom: 50px;
    padding-top: 30px;

    @media #{$tablet} {
        text-align: center;
    }

    img {
        border-radius: 50%;
        height: 160px;
        width: 160px;
    }
}
