.text-default { color: $stockport-teal-darker; }
.text-teal { color: $stockport-teal-darker; }
.text-green { color: $stockport-green; }
.text-pink { color: $stockport-pink; }
.text-blue { color: $stockport-blue; }
.text-purple { color: $stockport-purple; }
.text-grey { color: $stockport-grey; }

.bg-default-light { background-color: rgba($stockport-teal-darker, 0.08); }
.bg-teal-light { background-color: rgba($stockport-teal-darker, 0.08); }
.bg-green-light { background-color: rgba($stockport-green, 0.08); }
.bg-pink-light { background-color: rgba($stockport-pink, 0.08); }
.bg-blue-light { background-color: rgba($stockport-blue, 0.08); }
.bg-purple-light { background-color: rgba($stockport-purple, 0.08); }
.bg-grey-light { background-color: rgba($stockport-grey, 0.08); }

.border-default { border: 4px solid $stockport-teal-darker; }
.border-teal { border: 4px solid $stockport-teal-darker; }
.border-green { border: 4px solid $stockport-green; }
.border-pink { border: 4px solid $stockport-pink; }
.border-blue { border: 4px solid $stockport-blue; }
.border-purple { border: 4px solid $stockport-purple; }
.border-grey { border: 4px solid $stockport-grey; }