.top-tasks {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;

    @media #{$mobile} {
        flex-direction: column;
        margin: 0 5px;
    }

    @media #{$tablet} {
        flex-direction: column;
    }

    &-block {
        text-align: center;
        margin: 0 8.5px;
        flex-grow: 1;
        flex-basis: 0;
        background-color: $stockport-pink;
        text-decoration: none;
        padding: 1em;
        border-radius: 3px;
        list-style: none;

        @media #{$tablet} {
            margin: .3em 0;
            text-align: left;
            align-items: center;
            padding: 0.5em;
        }

        &:hover {
            text-decoration: none;
            background-color: $stockport-pink-darker;

            .top-tasks-block__title {
                text-decoration: underline;
                text-decoration-thickness: 3px;
            }
        }

        &__icon, &__title {
            color: white;
        }

        &__icon {
            @include h-xl;
            margin-bottom: 5px;
            padding: 10px;

            @media #{$tablet} {
                @include h-l;
                margin: 0 .5em 0 0;
                padding: 0;
                width: 1.2em;
                float: left;
            }
        }

        &__topic {
            @include h-xl;
            float: left;
            text-align: left;
            padding: 0 0.5em 0.1em 0.5em;

            @media #{$tablet} {
                @include h-l;
                flex-basis: auto;
                padding: 0.8em 0 1em 0;
            }
    
            @media #{$mobile} {
                flex-basis: auto;
                margin: 0;
                padding: 0 0.5em 0 0;
            }
        }

        &__title {
            @include h-s;

            @media #{$tablet} {
                margin: 0 1em;
                line-height: 1.75;
            }

            &--center {
                @include h-s;

                margin: 0;
                width: 90%;

                @media #{$tablet} {
                    line-height: 1.5;
                }
                
                @media #{$mobile} {
                    line-height: 1.75;
                }
            }
        }

        &__link {
            display: block;  
            text-decoration: none;
            height: 100%;
            width: 100%;
        }

        &__content {
            padding: 1em 0 1em 0;

            @media #{$tablet} {
                padding: 1em;
                line-height: 1.5;
            }
            
            @media #{$mobile} {
                line-height: 1.75;
                padding: 1em;
            }
        }
    }

    &__nav {       
        :first-child {
            margin-left: 0;
        }

        :last-child {
            margin-right: 0;
        }
    }

    &--width-33 {
        width: calc(33.33333% - 33.33333px);
        padding: 0;
        margin: 0 25px 0;
        text-align: left;
    
        @media #{$tablet} {
          flex-basis: auto;
          float: right;
          margin: 0 15px 0 15px;
        }
    
        @media #{$mobile} {
            flex: auto;
            width: 100%;
            margin: 0 0 15px 0;
        }
    }

    :first-child {
            margin-left: 0;

            @media #{$tablet} {
                margin-top: 0;
            }
    }

    :last-child {
            margin-right: 0;

            @media #{$tablet} {
                margin-bottom: 0;
            }
    }
}

.top-tasks-wrapper {
    @media #{$mobile} {
        margin-bottom: 1em;
    }

    .--text-center {
        text-align: center;
    }

    &__title {
        padding-bottom: 1em;
        margin-top: 1em;
        margin-bottom: 0;
    }
}

html[dir="rtl"] {
    .top-tasks {
        &-block {
            @media #{$tablet} {
                text-align: right;
            }

            &__icon {
                @media #{$tablet} {
                    margin-left: 0.5em;
                    margin-right: 0;
                    float: right;
                }
            }

            &__title {
                @media #{$tablet} {
                    margin-right: 1em;
                }
            }
        }

        &__nav {       
            :first-child {
                margin-right: 0;
            }
    
            :last-child {
                margin-left: 0;
            }
        }
        
        :last-child {
            @media #{$desktop} {
                margin-left: 0;
                margin-right: 8.5px;
            }
        }

        :first-child {
            @media #{$desktop} {
                margin-right: 0;
                margin-left: 8.5px;
            }
        }
    }
}