.topic-title {
    margin-top: -1px;
    background-color: $stockport-teal-darker;
    padding: 0 25px;
    padding-bottom: 20px;

    h1, p {
        color: white;
    }

    h1 {
        @include h-xl;
    }

    p {
        @include lead;
    }
    
}