.trivia {    
    &-title {
        text-align: center;
        text-align: -webkit-center;
        text-align: -moz-center;

        hr {
            width: 20%;
            margin-top: 0;

            @media #{$mobile} {
                width: 40%;
            }

            @media #{$tablet} {
                width: 30%;
            }
        }
    }

    &__list {
        list-style-type: none;
        margin: 4em 0 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;

        @media #{$tablet} {
            display: block;
            margin-top: 2em;

            li {
                margin-inline: 0 !important;
            }
        }

        @media #{$mobile} {
            margin-inline: 5px;
        }

        &--no-margin {
            margin-top: 0;
        }

        &--profile {
            flex-direction: column;
            margin-top: 2.5em;
        }

        .trivia__container:nth-child(odd) {
            margin-inline-end: 25px;
            margin-inline-start: 0;
        }

        .trivia__container:nth-child(even) {
            margin-inline-start: 25px;
        }
    }

    &__link {
        display: flex;
        cursor: pointer;

        &:hover {
            text-decoration: none;

            .trivia__body {
                text-decoration: underline;
                text-decoration-thickness: 3px;
            }
        }
    }

    &__text {
        display: flex;
        text-decoration: none;
    }

    &__container {
        margin-bottom: 2em;
        flex-grow: 1;
        width: calc(50% - 25px);
        max-width: 48%;

        @media #{$tablet} {
            width: 100%;
            max-width: 100%;
            margin-inline-end: 0;
        }

        &--profile {
            width: 100%;
            max-width: 100%;
            margin-inline: 0 !important;
        }

        .text-orange { color: $stockport-orange !important; }
        
        &:nth-child(6n+1) .trivia__icon { color: $stockport-green; }
        &:nth-child(6n+2) .trivia__icon { color: $stockport-purple; }
        &:nth-child(6n+3) .trivia__icon { color: $stockport-pink; }
        &:nth-child(6n+4) .trivia__icon { color: $stockport-teal-darker; }
        &:nth-child(6n+5) .trivia__icon { color: $stockport-orange; }
        &:nth-child(6n) .trivia__icon { color: $stockport-blue; }
    }

    &__icon {
        font-size: 3rem;
        margin-inline-end: 0.5em;
        width: 1.2em;
        margin-top: 5px;
        display: block;
    }

    &__body {
        color: $stockport-black;

        p:last-of-type {
            margin-block-end: 0;
        }
    }

    &__cards {
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }

    &-card {
        border-radius: 50px;

        @media #{$mobile} {
            border-radius: 30px;
            margin-bottom: 1.5em;
        }

        &:nth-child(n+1) {
            border: 4px solid $stockport-teal-darker;
            background-color: rgba($stockport-teal-darker, 0.08);

            .trivia-card__icon,
            .trivia-card__subtitle {
                color: $stockport-teal-darker;
            }
        }

        &:nth-child(n+2) {
            border: 4px solid $stockport-pink;
            background-color: rgba($stockport-pink, 0.08);

            .trivia-card__icon,
            .trivia-card__subtitle {
                color: $stockport-pink;
            }
        }

        &:nth-child(n+3) {
            border: 4px solid $stockport-purple;
            background-color: rgba($stockport-purple, 0.08);

            .trivia-card__icon,
            .trivia-card__subtitle {
                color: $stockport-purple;
            }
        }

        &__icon {
            font-size: 5rem;
            
            &--padding {
                padding: 1.5rem 1.5rem 0;
            }
        }

        &__subtitle {
            text-decoration: none;
        }

        &__body {
            color: $stockport-black;
            p {
                margin-bottom: 0;
            }
       }
    }

    &-banner {
        margin-bottom: 0;

        .text-orange { color: $stockport-teal-darker !important; }
        
        &__title {
            padding-top: .75em;
        }

        &__subtitle {
            text-decoration: none;
        }

        &__body {
            p {
                margin-bottom: 0;
            }
        }

        &__icon {
            font-size: 5rem;

            &--padding {
                padding: 0 1.5rem;
            }
        }

        &--background {
            background-color: transparent !important;
        }
    }
}