.trivia {
    &__list {
        list-style-type: none;
        margin: 4em 0 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;

        @media #{$tablet} {
            display: block;
            margin-top: 2em;

            li {
                margin-inline: 0 !important;
            }
        }

        @media #{$mobile} {
            margin-inline: 5px;
        }

        @media #{$mobile} {
            li:nth-last-of-type {
                margin-bottom: 0;
            }
        }

        @media #{$desktop} {
            li:nth-last-of-type(-n+2) {
                margin-bottom: 0;
            }
        }

        &--no-margin {
            margin-top: 0;
        }

        &--profile {
            flex-direction: column;
            margin-top: 2.5em;

            @media #{$desktop} {
                li:nth-last-of-type(-n+2) {
                    margin-bottom: 2em;
                }
            }
        }

        &--publication {
            margin-top: 2em;

            @media #{$desktop} {
                li:nth-last-of-type(-n+2) {
                    margin-bottom: 2em;
                }
            }

            @media #{$tablet} {
                margin-bottom: 2em;
            }

            @media #{$mobile} {
                margin-inline: 0 !important;
            }
        }

        .trivia__container:nth-child(odd) {
            margin-inline-end: 25px;
            margin-inline-start: 0;
        }

        .trivia__container:nth-child(even) {
            margin-inline-start: 25px;
        }
    }

    &__link {
        display: flex;
        cursor: pointer;
        text-decoration: none;

        .trivia__body {
            text-decoration: underline;
        }

        &:hover {
            text-decoration: none;

            .trivia__body {
                text-decoration: underline;
                text-decoration-thickness: 3px;
            }
        }
    }

    &__text {
        display: flex;
        text-decoration: none;
    }

    &__container {
        margin-bottom: 2em;
        flex-grow: 1;
        width: calc(50% - 25px);
        max-width: 48%;

        @media #{$tablet} {
            width: 100%;
            max-width: 100%;
            margin-inline-end: 0;
            
            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &--profile {
            width: 100%;
            max-width: 100%;
            margin-inline: 0 !important;
        }

        &:nth-child(5n+1) .trivia__icon {
            color: $stockport-green;
        }

        &:nth-child(5n+2) .trivia__icon {
            color: $stockport-purple;
        }

        &:nth-child(5n+3) .trivia__icon {
            color: $stockport-pink;
        }

        &:nth-child(5n+4) .trivia__icon {
            color: $stockport-teal-darker;
        }

        &:nth-child(5n) .trivia__icon {
            color: $stockport-blue;
        }

        &:nth-child(5n+1) .trivia__icon--publication {
            color: $stockport-teal-darker;
        }

        &:nth-child(5n+2) .trivia__icon--publication {
            color: $stockport-pink;
        }

        &:nth-child(5n+3) .trivia__icon--publication {
            color: $stockport-purple;
        }

        &:nth-child(5n+4) .trivia__icon--publication {
            color: $stockport-blue;
        }

        &:nth-child(5n) .trivia__icon--publication {
            color: $stockport-orange;
        }

        &:nth-child(5n+1) .trivia__icon--publication-os-multi {
            color: $one-stockport-purple;
        }

        &:nth-child(5n+2) .trivia__icon--publication-os-multi {
            color: $one-stockport-teal-darker;
        }

        &:nth-child(5n+3) .trivia__icon--publication-os-multi {
            color: $one-stockport-pink-darker;
        }

        &:nth-child(5n+4) .trivia__icon--publication-os-multi {
            color: $one-stockport-lilac-darker;
        }

        &:nth-child(5n) .trivia__icon--publication-os-multi {
            color: $one-stockport-yellow-darker;
        }
    }

    &__icon {
        font-size: 3rem;
        margin-inline-end: 0.5em;
        width: 1.2em;
        margin-top: 5px;
        display: block;

        &--publication {
            font-size: 4rem;

            @media #{$mobile} {
                font-size: 3rem;
            }
        }
    }

    &__statistic {
        overflow-wrap: break-word;
    }

    &__body {
        color: $stockport-black;

        p:last-of-type {
            margin-block-end: 0;
        }
    }

    &__title {
        margin-bottom: 0;
        font-weight: 800;
        color: $stockport-black;
    }

    &__cards {
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }

    &-card {
        border-radius: 50px;
        margin-bottom: 0;

        @media #{$mobile} {
            border-radius: 30px;
            margin-bottom: 1.5em;
            margin-inline: 5px !important;

            &--no-margin-inline {
                margin-inline: 0 !important;
            }
        }

        &:nth-child(n+1) {
            border: 4px solid $stockport-teal-darker;
            background-color: rgba($stockport-teal-darker, 0.08);

            .trivia-card__icon,
            .trivia-card__subtitle {
                color: $stockport-teal-darker;
            }
        }

        &:nth-child(n+2) {
            border: 4px solid $stockport-pink;
            background-color: rgba($stockport-pink, 0.08);

            .trivia-card__icon,
            .trivia-card__subtitle {
                color: $stockport-pink;
            }
        }

        &:nth-child(n+3) {
            border: 4px solid $stockport-purple;
            background-color: rgba($stockport-purple, 0.08);

            .trivia-card__icon,
            .trivia-card__subtitle {
                color: $stockport-purple;
            }

            @media #{$mobile} {
                margin-bottom: 0;
            }
        }

        &--publication-os {
            .trivia-card__body  {
                color: $one-stockport-purple;
            }

            &-white-text {
                .trivia-card__body {
                    color: white;
                }
            }
        }

        &--publication-os-multi {
            &:nth-child(n+1) {
                background-color: $one-stockport-pink;

                .trivia-card__icon,
                .trivia-card__subtitle {
                    color: $one-stockport-pink;
                }
            }

            &:nth-child(n+2) {
                background-color: $one-stockport-yellow;

                .trivia-card__icon,
                .trivia-card__subtitle {
                    color: $one-stockport-yellow;
                }
            }

            &:nth-child(n+3) {
                background-color: $one-stockport-lilac;

                .trivia-card__icon,
                .trivia-card__subtitle {
                    color: $one-stockport-lilac;
                }

                @media #{$mobile} {
                    margin-bottom: 0;
                }
            }

            .trivia-card__body {
                color: $one-stockport-purple;
            }
        }

        &__icon {
            font-size: 4rem;

            &--padding {
                padding: 3rem 1.5rem 0;
            }

            &--publication {
                font-size: 3rem;
            }
        }

        &__subtitle {
            text-decoration: none;

            &-link {
                text-decoration: underline;
            }
        }

        &__body {
            color: $stockport-black;

            p {
                margin-bottom: 0;
            }
        }
    }

    &-banner {
        margin-bottom: 0;

        &__section {
            @media #{$mobile} {
                padding-bottom: 0;
            }
        }

        &__subtitle {
            text-decoration: none;

            &--larger {
                font-size: 1.5rem;
            }
        }

        &__body {
            p {
                margin-bottom: 0;
            }
        }

        &__icon {
            font-size: 4rem;

            &--padding {
                padding: 0 1.5rem;
            }

            &--publication {
                font-size: 3rem;
            }
        }

        &-two-figures {
            .trivia-banner__icon {
                @media #{$mobile} {
                    font-size: 3rem;
                }
            }
        }

        &--background {
            background-color: transparent !important;
        }

        &--publication-os {
            .trivia-banner__body  {
                color: $one-stockport-purple;
            }
        }

        &--publication-os-multi {
            background-color: $one-stockport-purple;

            .trivia-banner__body {
                color: white;
            }
        }
    }

    &-statement {
        &-container {
            padding: 1.5em;

            &__title {
                color: white;
                margin-bottom: 10px;
                @include h-xl;
                
                @media #{$mobile} {
                    font-size: 2rem;
                }

                &--large {
                    font-size: 4rem;
                    margin-bottom: 20px;

                    @media #{$mobile} {
                        font-size: 3rem;
                    }
                }
            }

            &__body {
                color: white;
                margin-bottom: 10px;
            }
        }
    }
}