.trivia {
    &__list {
        list-style-type: none;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
    }

    &-link {
        &__container {
            // width: 50%;
        }
    }
}