/*------ Typography Styles ------*/

$fontStack: "Open Sans", Arial, sans-serif;

@mixin body {
    font: 1.1875rem / 1.5 $fontStack;
}

@mixin body--small {
    font: 1rem / 1.5 $fontStack;
}

@mixin lead {
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 400;

    @media #{$mobile} {
        font-size: 1.1875rem;
        line-height: 1.5;
    }
}

@mixin h-xl {
    font-size: 3rem;
    line-height: 1.0416666667;
    font-weight: 600;
    letter-spacing: -1px;

    @media #{$mobile} {
        font-size: 2rem;
        line-height: 1.09375;
    }
}

@mixin h-l {
    font-size: 2.25rem;
    line-height: 1.1111111111;
    font-weight: 600;
    letter-spacing: -1px;

    @media #{$mobile} {
        font-size: 1.75rem;
        line-height: 1.25;
    }
}

@mixin h-ml {
    font-size: 1.65rem;
    line-height: 1.5;
    font-weight: 800;

    @media #{$mobile} {
        font-size: 1.35rem;
        line-height: 1.3;
    }
}

@mixin h-m {
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: 800;

    @media #{$mobile} {
        font-size: 1.1875rem;
        line-height: 1.5;
    }
}

@mixin h-s {
    font-size: 1.3rem;
    line-height: 1.45;
    font-weight: 800;

    @media #{$mobile} {
        font-size: 1.1875rem;
        line-height: 1.5;
    }
}

@mixin h-xs {
    font-size: 1.1875rem;
    line-height: 1.5;
    font-weight: 800;
}

.body {
    @include body;
}

.bold {
    font-weight: bold;
}

.body--small {
    @include body--small;
}

.lead {
    @include lead;
}

.h-xl, h1 {
    @include h-xl;
}

.h-l, h2 {
    @include h-l;
}

.h-ml {
    @include h-ml;
}

.h-m, h3 {
    @include h-m;
}

.h-s, h4, h5, h6 {
    @include h-s;
}

.h-xs {
    @include h-xs;
}