$header-accent: rgba(255, 255, 255, 0.7);

.site-header {
    background-color: $stockport-green;

    #search_autocomplete {
        top: 80px !important;
        border-top: 1px solid $stockport-grey;
    }

    &_logo {
        height: 50px;
        margin: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: auto;
    }

    &_search-input-wrapper {
        line-height: 82px;
    }

    &_search-input {
        color: $stockport-grey;
        font-size: 1.2rem;
        padding: 15px 60px 15px 15px;
        border-radius: 3px;
        border: 0px;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;

        &:focus {
            background-color: white;
        }
    }

    &_mobile-search-button {
        border: 1px solid $header-accent;
        border-radius: 3px;
        color: $header-accent;
        float: right;
        font-size: 24px;
        margin: 20px 0 10px 10px;
        padding: 0 12px;
        line-height: 42px;
    }

    &_mobile-search {
        display: none;
    }

    #cludo-search-form, #cludo-mobile-form {
        position: relative;
        margin: 0;
        display: block;
        box-sizing: border-box;
        z-index: 9999;

        .site-header_search-button {
            position: absolute;
            top: 35%;
            right: 0;
            width: 3.15em;
            border: none;
            padding: 0;
            color: $stockport-grey;
            font-size: 1.3rem;
            background: 0 0;
            text-align: center;
            text-indent: 0;
            overflow: auto;
            transition: none;

            span:before {
                font-family: FontAwesome;
            }
        }
    }

    #cludo-mobile-form {
        position: relative;

        .site-header_search-button {
            top: 35%;
        }
    }

    #cludo-mobile-form * {
        box-sizing: border-box;
        text-align: left;
        text-shadow: none;
    }

    &_menu {
        margin: 0px;
        border-top: solid 1px $stockport-teal-darker;
        padding: 0.5rem;

        @media #{$desktop} {
            text-align: right;
            background-color: $stockport-green;
            padding: 0;
            margin-right: 10px;
        }

        li {
            margin: 0;
            margin-left: 5px;
            margin-bottom: 0.5rem;
            padding: 0;
            text-indent: 0;
            list-style: none;
            box-sizing: border-box;
            display: inline-block;

            @media #{$mobile, $tablet} {
                margin-right: 2em;
            }


            @media #{$desktop} {
                margin-left: 1rem;
                margin-bottom: 0em;
            }

            a {
                display: inline-block;
                color: white;

                @media #{$desktop} {
                    height: 82px;
                    line-height: 82px;
                }

                span {
                    color: $header-accent;
                    padding-right: 10px;
                }
            }
        }
    }
}

.no-header-search {
    .site-header_menu-wrapper {
        width: 100%;
    }

    .site-header_mobile-search-button, .site-header_search-wrapper {
        display: none;
    }
}