$header-accent: rgba(255, 255, 255, 0.7);

.site-header {
    background-color: $stockport-green;

    #search_autocomplete {
        top: 4.21em !important;
        border-top: 1px solid $stockport-grey;
    }

    &_logo {
        height: 50px;
        margin: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: auto;
    }

    &_search-input-wrapper {
        line-height: 82px;
    }

    &_search-input {
        color: $stockport-grey;
        font-size: 1.2rem !important;
        padding: 15px 60px 15px 15px;
        border-radius: 3px 0 0 3px !important;
        border: 0px;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        height: auto !important;

        &:focus {
            background-color: white;
        }
    }

    &_mobile-search-button {
        border: 1px solid $header-accent;
        border-radius: 0 3px 3px 0;
        color: $header-accent;
        float: right;
        font-size: 24px;
        margin: 20px 0 10px 10px;
        padding: 0 12px;
        line-height: 42px;
    }

    &_mobile-search {
        display: none;
    }

    #cludo-search-form, #cludo-mobile-form {
        position: relative;
        margin: 0;
        display: flex;
        box-sizing: border-box;
        z-index: 9999;
        margin-top: 0.778em;
        margin-bottom: 0.778em;

        .site-header_search-button {
            width: 3.15em;
            border: none;
            padding: 0;
            color: $stockport-grey;
            font-size: 1.3rem;
            background: white;
            text-align: center;
            text-indent: 0;
            overflow: hidden;
            transition: none;
            position: static;
            height: auto;

            span:before {
                font-family: FontAwesome;
            }
        }
    }

    #cludo-mobile-form * {
        box-sizing: border-box;
        text-align: left;
        text-shadow: none;
    }

    &_menu {
        margin: 0px;
        border-top: solid 1px $stockport-teal-darker;
        padding: 0.5rem;

        @media #{$desktop} {
            text-align: right;
            background-color: $stockport-green;
            padding: 0;
            margin-right: 10px;
        }

        li {
            margin: 0;
            margin-left: 5px;
            margin-bottom: 0.5rem;
            padding: 0;
            text-indent: 0;
            list-style: none;
            box-sizing: border-box;
            display: inline-block;

            @media #{$mobile, $tablet} {
                margin-right: 2em;
            }


            @media #{$desktop} {
                margin-left: 1rem;
                margin-bottom: 0em;
            }

            a {
                display: inline-block;
                color: white;

                @media #{$desktop} {
                    height: 82px;
                    line-height: 82px;
                }

                span {
                    color: $header-accent;
                    padding-right: 10px;
                }
            }
        }
    }
}

.no-header-search, .type-directory.directory-no-header-search {
    .site-header_menu-wrapper {
        width: 100%;
    }

    .site-header_mobile-search-button, .site-header_search-wrapper {
        display: none;
    }
}

html[dir="rtl"] {
    .site-header_search-input {
        border-radius: 0 3px 3px 0 !important;
    }
}