#contactForm {
    .form {
        .form-section:last-of-type {
            border-bottom: none;
        }

        .form-section {
            border-bottom: 0;
        }

        .form-section {
            border-bottom: 1px solid #bcbcbc;
            width: 100%;
            margin-bottom: 2em;


            fieldset {
                label {
                    font-weight: 600;
                    display: block;
                    width: 100%;
                    margin-top: 1em;
                    margin-bottom: 0.25em;
                }

                .form-control {
                    clear: both;
                    background-color: #fff;
                    border: 1px solid #b1b1b1cc;
                    border-radius: 3px;
                    display: block;
                    padding: 1em;
                    margin-bottom: 0.25em;
                    width: 50%;
                    float: none;
                    font-size: 1.1875rem;

                    @media #{$mobile} {
                        width: 100%;
                    }
                }

                textarea {
                    background-color: #fff;
                    border: 1px solid #b1b1b1cc;
                    border-radius: 3px;
                    display: block;
                    margin-bottom: 10px;
                    min-height: 200px;
                    padding: 10px;
                    width: 100%;
                }
            }
        }
    }
}


.form-field-validation-error.field-validation-valid, .form-field-validation-error.field-validation-valid:before {
    display: none;
}
.form-field-validation-error {
    color: #c83725;
    margin-bottom: 1em;
}
