.document {
    margin-bottom: 20px;
    padding-bottom: 5px;

    &-icon {
        float: left;
        padding-right: 0;
        transition: opacity .3s;
        vertical-align: top;
        width: 65px;

        span {
            color: $linkDefault;
            font-size: 3em;
            padding-left: 0;
        }
    }

    &-detail {
        border-bottom: none;
        border-left: 2px solid $stockport-grey-lighter;
        border-top: none;
        padding-left: 20px;
        vertical-align: top;
    }
}
