.alert-inline {
	@include body;
	padding: 1em;
	background-color: $skrm-blue-lighter;
	border-inline-start: 0.55em solid $skrm-blue;
	border-radius: 3px;
	margin-bottom: 1em;

	&-icon {
		padding-right: 0.25rem;
	}

	a {
		color: black;

		&:hover {
			color: black;
		}
	}

	h3 {
		margin-bottom: 20px;
	}
}

.alert-inline--warning {
	border-inline-start-color: $skrm-orange;
	background-color: $skrm-orange-lighter
}