.article {
    word-wrap: break-word;
    padding: 0 1.27em 1.27em;

    &-hero {
        position: relative;

        &__background {
            @media #{$tablet, $desktop} {
                height: 525px;
                width: 100%;
                background-position: center;
                background-size: cover;
                position: absolute;
            }
    
            @media #{$mobile} {
                height: 350px;
            }
        }

        &__wrapper {
            position: relative;
        }

        &__image {
            height: 300px;

            @media #{$mobile} {
                height: 200px;
            }
        }

        &__title {
            background: black;
            color: white;
            border-radius: 20px 20px 0 0;
            padding: 0.5em;
            margin: 0;
            font-weight: 400;
        }

        &__content {
            border-radius: 20px 20px 0 0;
            background: white;
        }

        &__about {
            padding: 1.27em 1.27em 0;
        }

        &__break {
            margin-inline: 0.5em;
        }
    }
}