.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;

    &-hero {
        background-color: #f2f2f2;
    }

    &-items {
        display: flex;
        list-style: none;
        transition: transform 1s ease-in-out;
        margin-bottom: 0;
    }

    &-item {
        min-width: 100%;
        box-sizing: border-box;
        margin: 0;

        img, &__hero {
            max-height: 400px;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            color: #fff;
            display: block;
            min-height: 600px;
            position: relative;

            @media #{$mobile} {
                max-height: 300px;
                min-height: 250px;
            }
        }

        &__hero {
            max-height: 750px;
            height: 750px;

            &--overlay {
                height: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
                display: flex;
                place-items: flex-end;
            }

            @media #{$mobile} {
                max-height: 500px;
                height: 500px;
            }

            &-wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        &__article {
            width: 70%;
            text-align: center;
            margin-bottom: 10rem;
            justify-items: center;

            @media #{$tablet} {
                margin-bottom: 10rem;
            }

            @media #{$mobile} {
                margin-bottom: 6.5rem;
            }
        }

        &__title {
            color: white;
            margin-bottom: 2rem !important;
        }

        &__teaser {
            @media #{$mobile} {
                &--hide-on-mobile {
                    display: none;
                }
            }
        }

        &__link {
            font-size: 1.1875rem;
            border: 2px solid white;
        }
    }

    &-icon {
        fill: white;
    }

    &-control {
        position: absolute;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.9);
        color: #fff;
        border: none;
        font-size: 2rem;
        padding: 0;
        cursor: pointer;
        z-index: 1;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        top: 50%;

        &-prev {
            left: 10px;
        }

        &-next {
            right: 10px;
        }

        &:focus {
            outline: #ef8a16 solid 3px !important;
        }

        &:hover {
            background-color: $skrm-orange;
            color: black;

            .carousel-icon {
                fill: black;
            }
        }

        &__hero {
            background-color: transparent;
        }
    }

    &-indicators {
        list-style: none;
        display: flex;
        gap: 0.75rem;
        flex-direction: row;
        justify-content: center;
        right: unset;
        position: absolute;
        bottom: 20px;
        padding-inline: 1em;
        align-items: center;

        &__container {
            text-align: center;
            margin-inline-start: 0;
            border: black;
        }

        &__item {
            width: 10px;
            height: 10px;
            border: 2px solid $skrm-grey;
            color: white;
            font-size: 1.5rem;
            padding: 0;
            font-family: inherit;
            display: block;
            background-color: $skrm-grey;
            border-radius: 50%;
            opacity: 0;
            transform: scale(0);

            @media #{$mobile} {
                font-size: 1.3rem;
            }

            &.current {
                background-color: $skrm-orange;
                color: black;
                border: 2px solid $skrm-orange;
            }

            &.big {
                opacity: 1;
                transform: scale(1);
            }

            &.small {
                opacity: 0.5;
                transform: scale(0.7);
            }

            &.hidden {
                display: none;
            }
        }

        &-wrapper {
            display: flex;
            justify-content: center;
            position: relative;
            align-items: center;
        }
    }
}
