.card {
    &-title {
        margin-top: 20px;
    }

    &-wrapper {
        display: flex;
        flex-direction: row;
        list-style: none;
    }

    &-item {
        width: calc(33.33333% - 33.33333px);
        margin: 0 25px 2em 25px;
        border-radius: 20px 20px 0 0;
        background-color: white;

        @media #{$tablet} {
            width: calc(33.33333% - 20px);
            margin: 0 15px 2em 15px;
        }

        @media #{$mobile} {
            width: calc(33.33333% - 33.33333px);
        }

        &__image {
            border-radius: 20px 20px 0 0 !important;
        }

        &__content {
            min-height: 200px;

            &-title {
                font-weight: 600;
            }

            &-teaser {
                margin-bottom: 0;
            }
        }

        &__container {
            padding: 1em .75em 1.5em;
            color: black;
            display: flex;
            flex-direction: column;

            &-btn {
                border-radius: 15px;
                padding: 0.8em;
                line-height: 1rem;
                font-size: 1.1875rem;
                border: 2px solid black;
                color: black;
                width: fit-content;
            }
        }
    }
}

.card-item:nth-child(3n+1) {
    margin-inline-start: 0;
}

.card-item:nth-child(3n+3) {
    margin-inline-end: 0;
}
