.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;

    &-items {
        display: flex;
        transition: transform 0.5s ease;
        list-style: none;
    }

    &-item {
        min-width: 100%;
        box-sizing: border-box;
        margin: 0;

        img, &__hero {
            max-height: 400px;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            color: #fff;
            display: block;
            min-height: 600px;
            position: relative;

            @media #{$mobile} {
                max-height: 300px;
                min-height: 250px;
            }
        }

        &__hero {
            &--overlay {
                height: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
                align-content: end;
            }


            @media #{$mobile} {
                max-height: 500px;
                min-height: 400px;
            }
        }

        &__article {
            @media #{$non-mobile} {
                width: 70%;
            }

            p:first-of-type {
                margin-block: 1rem;
            }

            p:last-of-type {
                margin-bottom: 2rem;
            }
        }

        &__title {
            color: white;
            text-underline-offset: .1em;

            &:hover {
                text-decoration-thickness: 8px;

                @media #{$mobile} {
                    text-decoration-thickness: 5px;
                }
            }
        }

        &__teaser {
            @media #{$mobile} {
                &--hide-on-mobile {
                    display: none;
                }
            }
        }
    }

    &-control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        border: none;
        font-size: 2rem;
        padding: 0.5rem;
        cursor: pointer;
        z-index: 1;
        width: 53px;

        @media #{$mobile} {
            display: none;
        }

        &-prev {
            left: 10px;
        }

        &-next {
            right: 10px;
        }

        &:focus {
            outline: #ef8a16 solid 3px !important;
        }

        &__hero {
            top: 35px;

            &--prev {
                left: unset;
                right: 75px;
            }

            @media #{$mobile} {
                display: block;
            }
        }
    }

    &-indicators, &-indicators-mob {
        list-style: none;
        display: flex;
        gap: 0.75rem;
        flex-direction: row;
        justify-content: center;

        li {
            text-align: center;
            margin-inline-start: 0;
            border: black;
        }

        li button {
            width: 50px;
            height: 50px;
            cursor: pointer;
            border: 2px solid black;
            background-color: $skrm-blue;
            font-size: 1.5rem;
            border-radius: 3px;

            @media #{$mobile} {
                font-size: 1.3rem;
                height: 60px;
                width: 100px;
            }

            &.current {
                background-color: $skrm-orange;
            }

            &:hover {
                background-color: white;
                color: black;
            }

            &:focus {
                outline: #ef8a16 solid 3px !important;
            }
        }

        &__hero {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    }
}
