.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;

    &-hero {
        background-color: #f2f2f2;
    }

    &-items {
        display: flex;
        transition: transform 0.5s ease;
        list-style: none;
        transition: transform 1s ease-in-out;
    }

    &-item {
        min-width: 100%;
        box-sizing: border-box;
        margin: 0;

        img, &__hero {
            max-height: 400px;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            color: #fff;
            display: block;
            min-height: 600px;
            position: relative;

            @media #{$mobile} {
                max-height: 300px;
                min-height: 250px;
            }
        }

        &__hero {
            &--overlay {
                height: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
                display: flex;
                place-items: flex-end;
            }


            @media #{$mobile} {
                max-height: 500px;
                min-height: 400px;
            }
        }

        &__article {
            width: 100%;
            text-align: center;
            margin-bottom: 5rem;
            justify-items: center;

            @media #{$tablet} {
                margin-bottom: 5.5rem;
            }

            @media #{$mobile } {
                margin-bottom: 2rem;
            }

            p:first-of-type {
                margin-block: 1rem;
            }

            p:last-of-type {
                margin-bottom: 2rem;

                @media #{$mobile } {
                    margin-bottom: 1rem;
                }
            }
        }

        &__title {
            color: white;
            text-transform: uppercase;
        }

        &__teaser {
            @media #{$mobile} {
                &--hide-on-mobile {
                    display: none;
                }
            }
        }
    }

    &-control {
        position: absolute;
        top: calc(50% - 50px);
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.9);
        color: #fff;
        border: none;
        font-size: 2rem;
        padding: 0;
        cursor: pointer;
        z-index: 1;
        width: 50px;
        height: 50px;
        border: 2px solid grey;
        border-radius: 15px;
        
        @media #{$mobile} {
            top: 50%;
        }
        
        &-prev {
            left: 10px;
        }

        &-next {
            right: 10px;
        }

        &:focus {
            outline: #ef8a16 solid 3px !important;
        }

        &:hover {
            background-color: $skrm-orange;
            color: black;
            border-color: black;
        }

        &__hero {
            top: 35px;
            position: unset;

            &--prev {
                left: unset;
                right: 75px;
                margin-right: 0.75rem;
                
            }

            @media #{$mobile} {
                display: block;
            }
        }
    }

    &-controls {
        &-wrapper {
            position: relative;
        }

        &-container {
            position: absolute;
            right: 10px;
            top: -580px;
            padding-inline: 1em;
        
            @media #{$tablet} {
                right: 0;
            }
        
            @media #{$mobile} {
                top: -380px;
                display: flex;
                padding-inline: 0.5em;
            }
        }
    }

    &-indicators {
        list-style: none;
        display: flex;
        gap: 0.75rem;
        flex-direction: row;
        justify-content: center;

        li {
            text-align: center;
            margin-inline-start: 0;
            border: black;
        }

        li button, &__item {
            width: 50px;
            height: 50px;
            cursor: pointer;
            border: 2px solid grey;
            color: white;
            background-color: rgba(0, 0, 0, 0.9);
            font-size: 1.5rem;
            border-radius: 15px;
            padding: 0;
            font-family: inherit;
            display: block;

            @media #{$mobile} {
                font-size: 1.3rem;
                height: 60px;
                width: 100px;
            }

            &.current {
                background-color: $skrm-yellow;
                color: black;
                border: 2px solid white;
            }

            &:hover {
                background-color: $skrm-orange;
                color: black;
                border-color: black;
            }

            &:focus {
                outline: #ef8a16 solid 3px !important;
            }
        }

        &__item {
            background-color: $skrm-grey;
            border-radius: 50%;
            cursor: default;
            width: 30px;
            height: 30px;
            border: $skrm-grey;

            &:hover {
                background-color: $skrm-grey;
                border-color: $skrm-grey;
            }

            &:focus {
                outline: unset;
            }

            &.current {
                background-color: $skrm-blue-darker;
                border: 2px solid $skrm-blue-darker;
            }

            &.small {
                width: 20px;
                height: 20px;
            }
        }

        &__hero {
            position: absolute;
            bottom: 20px;
            right: 10px;
            padding-inline: 1em;
            align-items: center;

            @media #{$tablet} {
                right: 0;
            }

            li button {
                background-color: rgba(0, 0, 0, 0.7);
            }
        }

        &-wrapper {
            display: flex;
            justify-content: center;
            position: relative;
            align-items: center;
        }
    }
}


.carousel-indicators__item {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.carousel-indicators__item.big {
    transform: scale(1.2);
    opacity: 1;
}

.carousel-indicators__item.small {
    transform: scale(0.8);
    opacity: 0.6;
}

.carousel-indicators__item.hidden {
    opacity: 0;
    transform: scale(0.5);
}
