.events-filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;

    &__button {
        text-align: center;
    }

    &__wrapper {
        background-color: $skrm-yellow;
        padding-block: 1em;
    }

    &__date {
        background-color: #fff;
        border: 1px solid black;
        border-radius: 3px;
        color: black;
        display: block;
        font-size: 1em;
        height: 44px;
        font-family: inherit;
        padding-inline: 0.5em;
    }

    &__radio {
        z-index: 1;
        width: 44px;
        height: 44px;
        margin: 0;
        opacity: 0;
        cursor: pointer;
        color: black;

        &-item {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            position: relative;
        }
    }

    &__label {
        align-self: center;
        max-width: calc(100% - 74px);
        margin-bottom: 0;
        padding: 7px 15px;
        cursor: pointer;
        touch-action: manipulation;
        color: black;

        &:before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            top: 2px;
            left: 2px;
            width: 40px;
            height: 40px;
            border: 2px solid;
            border-radius: 50%;
            background: white;
        }

        &:after {
            content: "";
            position: absolute;
            top: 12px;
            left: 12px;
            width: 0;
            height: 0;
            border: 10px solid;
            border-radius: 50%;
            opacity: 0;
            background: currentcolor;
        }
    }

    .events-filters__radio:checked+.events-filters__label:after {
        opacity: 1;
    }
}