.event-homepage {
    &__category {
        &-wrapper {
            background-color: #f2f2f2;

            &--padding-bottom {
                padding-bottom: 2em;
            }

            @media #{$tablet} {
                &--no-padding-bottom-non-desktop {
                    padding-bottom: 0;
                }
            }
        }
    }

    &__categories {
        list-style: none;
        text-align: center;
        margin-block: 2rem;
        display: block;

        &-item {
            display: inline;
            margin-inline-start: 0;
            padding: 0.5rem;
            white-space: nowrap;

            @media #{$mobile} {
                display: block;
            }

            a {
                text-underline-offset: 0.1em;
                text-decoration-thickness: 1px;
                color: black;

                &:hover {
                    text-decoration-thickness: 3px;
                    text-decoration-skip-ink: none;
                }
            }

            @media #{$non-mobile} {
                &:not(:last-child):after {
                    content: "\7c";
                    margin-inline: 0.5rem 1rem;
                }
            }
        }

        &--margin-top {
            margin-top: 2rem;
        }

        &--no-margin-top {
            margin-top: 0;
        }

        &--no-margin {
            margin: 0;
        }

        &-form {
            &--no-margin-bottom {
                margin-bottom: 0;       
            }
        }

        &.show {
            display: block;

            &-form {
                padding-bottom: 2em;
            }
        }
    }

    &__filter-toggle {
        display: none;
        cursor: pointer;
        margin-block: 2rem;
    }
}

@media #{$mobile} {
    .event-homepage__filter-toggle {
        display: inline;
    }

    .event-homepage__categories {
        display: none;
    }
}

@media #{$tablet} {
    .event-homepage {
        &__filter-toggle-form {
            display: inline;
        }

        &__categories-form {
            display: none;
            
            &.show {
                display: block;
                padding-bottom: 2em;
            }
        }
    }
}