.hero {
    position: relative;

    &__background {
        height: 525px;
        width: 100%;
        background-position: center;
        background-size: cover;
        position: absolute;

        @media #{$mobile} {
            height: 350px;
        }
    }

    &__wrapper {
        position: relative;
    }

    &__image {
        height: 427px;

        @media #{$mobile} {
            height: 295.5px;
        }
    }

    &__title {
        background: black;
        color: white;
        border-radius: 20px 20px 0 0;
        padding: 0.5em;
        margin: 0;
        font-weight: 400;

        @media #{$mobile} {
            padding: 0.3em;
            border-radius: 10px 10px 0 0;
        }
    }

    &__content {
        border-radius: 20px 20px 0 0;
        background: white;
    }

    &__about {
        padding: 1em 1em 0;

        @media #{$mobile} {
            padding: 1em 0.5em 0;

            &-attribution {
                span {
                    display: block;
                }

                span:first-of-type {
                    margin-bottom: 0;
                }
            }
        }

        &-break {
            margin-inline: 0.5em;

            @media #{$mobile} {
                display: none !important;
            }
        }

        &--bold {
            font-weight: 900;
        }

        &--no-margin {
            margin: 0;
        }
    }
}