.image-banner {
    position: relative;

    &__background {
        height: 750px;
        width: 100%;
        object-fit: cover;
        background-size: cover;
        background-position: 50%;
        max-height: 60vw;

        @media #{$tablet} {
            height: 60vw;
            max-height: 500px;
        }

        @media #{$mobile} {
            height: 90vw;

            &-hero {
                height: 120vw;
            }
        }
    }

    &__content {
        position: absolute;
        bottom: 0;
        max-width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);

        @media #{$mobile} {
            max-width: 100%;
        }
    }

    &__title {
        margin-block-start: 0;
        @include h-xxl;
        letter-spacing: 2px;
        font-size: 9rem;
        width: 50%;
        text-align: center;
        margin-block-end: 0.5em;

        @media #{$tablet} {
            font-size: 6rem;
        }

        @media #{$mobile} {
            width: 95%;
            font-size: 4rem;
        }

        &-hero {
            text-transform: uppercase;
            font-size: 7rem;
            width: 100%;
            margin: 0;

            @media #{$tablet} {
                font-size: 5rem;
            }

            @media #{$tablet-only} {
                font-weight: normal;
            }

            @media #{$mobile} {
                width: 95%;
                font-size: 3rem;
            }

            p {
                margin: 0;
            }
        }
    }

    a {
        &:hover {
            .image-banner__title {
                text-decoration-thickness: 3px;
            }
        }
    }
}
