.body {
    img {
        border-radius: 20px;
        width: 150%;
        height: auto;
        position: relative;
        left: -32px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}
