.body {
    img {
        border-radius: 20px;
        width: 150%;
        height: auto;
        position: relative;
        left: -32px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

img {
    border-radius: 20px;
    width: 100%;
    height: auto;
}

img[src*='#left'], img[src*='#right'] {
	display: block;
	max-width: 40%;
	margin-top: 1.1875rem;
	margin-bottom: 1.1875rem;
}

img[src*='#right'] {
	float: right;
	margin-left: 1rem;
}

img[src*='#left'] {
	float: left;
	margin-right: 1.1875rem;
}

figure {
	p {
		margin-bottom: 0 !important;
	}

	img {
		height: auto;
		width: auto;
		max-width: 100%;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

figcaption {
	background-color: black;
	color: white;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 0.55em;
}
