.placeholder {
    height: 300px;
    font-size: 1.4em;
    text-align: center;
    background-color: lightgrey;
    padding: 3em;

    &--yellow {
        background-color: $skrm-yellow;
    }

    &--blue {
        background-color: $skrm-blue;
    }

    &--margin {
        margin-top: 1em;
        margin-bottom: 2em;
    }
}
