.profile {
    overflow-wrap: break-word;

    &__title {
        margin-top: 1em;
        margin-bottom: 0.5em;
        word-wrap: break-word;
        letter-spacing: 0px;
    }

    &__figure {
        float: right;    
        max-width: 22%;
        max-height: 100%;
        margin: 0 0 1em 1em;

        @media #{$tablet} {
            max-width: 33%;
        }

        @media #{$mobile} {
            width: 100%;
            margin-inline-end: 0;
            padding: 0;
            max-width: 100%;
            margin-bottom: 0;
        }

        img {
            border-radius: 3px;
        }

        figcaption {
            background-color: white;
            color: black;
            font-weight: 700;
            padding-inline: 0;
            padding-block: 1em;
            border-bottom: 1px solid #ccc;
            border-radius: 0;

            @media #{$mobile} {
                border-bottom: none;
            }
        }
    }

}