.site-header {
    color: black;
    background-color: $skrm-yellow;

    &_logo {
        margin-block: 8px;
        height: 51px;
        width: auto;
    }

    &_menu {
        margin: 0px;
        text-align: right;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;

            li {
                display: block;
                text-align: center;
                margin-inline: 1rem;
                padding-inline: .5rem;
                text-decoration: none;
                float: right;
                color: black;
                text-transform: uppercase;

                &.primary {
                    background-color: $skrm-light-green;
                }

                &.secondary {
                    background-color: $skrm-blue;
                }

                &.tertiary {
                    background-color: $skrm-yellow;
                }

                a {
                    // font-size: 3em;
                    text-decoration: none;
                    color: black;
                    padding: .5rem;

                    &:hover {
                        background-color: $skrm-orange;
                    }
                }
            }
        }
    }
}
