.site-header {
    color: black;
    background-color: $skrm-yellow;
    min-height: 98px;

    &_logo {
        &--image {
            max-height: 60px;
            width: auto;
            margin-top: 1rem;
            display: inline-block;

            @media #{$mobile} {
                max-width:100%;
                min-height: 35px;
            }
        }

        @media #{$mobile} {
            width: 75%;
            height: auto;
        }
    }

    &_menu {
        margin: 0px;
        text-align: right;

        input[type='checkbox'], label {
            display: none;
            margin-bottom: 0px;
        }

        @media #{$tablet} {
            label {
                display: block;
                padding: 1rem;
                text-transform: uppercase;
                cursor:pointer; 

                @media #{$mobile} {
                    padding: 1.5rem;
                }
            }

            input[type='checkbox']:not(:checked) + ul {
                display: none;
            }
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;

            li {
                display: block;
                text-align: center;
                text-decoration: none;
                float: right;
                color: black;
                text-transform: uppercase;
                margin: 0px;
                margin-inline: 0.5rem;

                &.primary {
                    background-color: $skrm-light-green;
                }

                &.secondary {
                    background-color: $skrm-blue;
                }

                &.tertiary {
                    background-color: $skrm-yellow;
                }

                a {
                    display: inline-block;
                    text-decoration: none;
                    color: black;
                    padding: 1rem;

                    &:hover {
                        background-color: $skrm-orange;
                    }
                }

                @media #{$tablet} {
                    float: none;
                    margin-inline: 0;

                    a {
                        display: block;
                    }
                }

                &:first-child {
                    margin-inline-end: 0rem;
                }

                &:last-child {
                    margin-inline-start: 0rem;
                }
            }
        }
    }
}
