.topic {
    background-color: #f2f2f2;

    &__content {
        background-color: #f2f2f2;
    }

    &-secondary-item {
        &-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        &-container {
            padding: 0;
            margin: 0;
            border-bottom: 1px solid #ccc;
            margin-block-end: 0.5em;
            border-bottom: 1px solid #ccc;


            &:last-of-type {
                border-bottom: 0px;
            }
        }

        &-link {
            text-decoration: none;
            color: black;
            padding-block-end: 0.5em;
            display: block;


            &:hover {
                .topic-secondary-item-title {
                    text-decoration-thickness: 3px;
                }
            }
        }

        &-title {
            text-decoration: underline;
            text-decoration-thickness: 1px;
            font-weight: bold;
            margin-block-end: 0;
        }

        &-teaser {
            margin: 0px;
        }
    }
}
