<div id="event-listing-refine-bar">
    <div class="grid-container" >
        <div class="grid-100">

            <div class="refine">
                Refine By
            </div>

            <div class="refine">
                <a href="javascript:void(0)">Featured Events<div class="badge"><span>2</span></div></a>
                <div class="refine-filters">
                    <input type="checkbox" value="paid" />Children's half-term events
                </div>
            </div>

            @*<div class="refine">
                <a href="#">Location<div class="badge"><span>2</span></div></a>
            </div>*@

            <div class="refine">
                <a href="javascript:void(0)">Price<div class="badge"><span>2</span></div></a>
                
                <div class="refine-filters">
                    <input type="checkbox" value="paid" /> Paid
                    <div></div>
                    <input type="checkbox" value="free" /> Free
                </div>
            </div>


        </div>    
    </div>
    

</div>
