<div class="" id="event-listing-refine-bar">
    
    <div class="grid-100">

        <div class="refine">
            Refine By
        </div>

        <div class="refine hide-on-desktop hide-on-tablet">
            <a href="#">Featured Events<span class="badge">2</span></a>
        </div>

        <div class="refine">
            <a href="#">Location<span class="badge">2</span></a>
        </div>

        <div class="refine">
            <a href="#">Price<span class="badge">2</span></a>
        </div>

    </div>

</div>
