@model EventBanner

<div class="event-banner">
    <a href="@Model.Link">
        <div class="event-banner-container mobile-grid-100">
            <div class="event-banner-icon-container">              
                <span class="@Model.Icon eventbanner-icon" aria-hidden="true"></span>
            </div>
            <div class="grid-95 tablet-grid-95 mobile-grid-95 event-banner-text-container">
                <h3> @Model.Title</h3>
                <label class="hide-on-mobile">@Model.Teaser</label>
            </div>
            <div class="event-banner-chevron-container grid-5 tablet-grid-5 mobile-grid-5">
                <span class="fa fa-2x fa-angle-right event-banner-chevron" aria-hidden="true"></span>
            </div>
        </div>
    </a>
</div>