@{
    Layout = "../Shared/_LayoutError.cshtml";
}

<div class="l-background-fixed l-background-fixed-errorpage" style="background-color: #1AA9A1;">
    <div class="l-dark-overlay"></div>
</div>
<main class="grid-container" id="error-grid-container">
    <div class="l-container-square l-body-container l-body-container-pushed-errorpage l-body-container-mobile">
        <div class="error-page">
            <h1>@ViewData["ErrorHeading"]</h1>
            <p class="error-page-message">@ViewData["ErrorMessage"]</p>
            <p><a href="/">Go back to the home page.</a></p>
        </div>
    </div>
</main>

