@model ShedViewModel;
@{
    Layout = "../Shared/_Layout2023.cshtml";
    ViewData["Title"] = "Stockport Historic Environment Database";
    ViewData["og:title"] = "Stockport Historic Environment Database";
    ViewData["Description"] = "Stockport Historic Environment Database";
}

<div class="grid-container-full-width background-grey">
    <partial name="Breadcrumb2023" model='new List<Crumb> { }' />
    <partial name="ShedSearch" model="new ShedSearchViewModel(){ SearchTerm = Model.SearchTerm }" />

    <form asp-controller="Shed" asp-action="Index" method="get">
        <input type="hidden" asp-for="SearchTerm" id="persistedSearchTerm"/>

        <div class="grid-container">
            <div class="grid-100 directory-sub-title">
                <h1 class="list-title">Results in Stockport Historic Environment Database</h1>
                <span>Showing <span class="bold">@Model.FilteredEntries.Count()</span> results in <span class="bold">Stockport Historic Environment Database</span> </span>
            </div>
        </div>

        <div class="grid-container">
            <div class="grid-100">
                <div class="directory">
                    <div class="directory--30">
                        <partial name="ShedSearchResultFilters" />
                    </div>

                    <div class="directory--70">
                        <partial name="ShedSearchResults" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>