<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="c:\logs\internal-nlog.txt">

  <!-- define various log targets -->
  <targets>
    <!-- write logs to console -->
    <target xsi:type="Console" name="allfile"
                layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message}|${exception}" />
  </targets>
  
  <rules>
    <logger name="*" minlevel="Info" writeTo="allfile" />
  </rules>
</nlog>