<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="true" stdoutLogFile="C:\\Program Files\\Amazon\\ElasticBeanstalk\\logs\\webapplogs" forwardWindowsAuthToken="false" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="BUSINESS_ID" value="stockportgov" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="local" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>