@using StockportWebapp.Models.Config
@inject IApplicationConfiguration ApplicationConfiguration
@inject BusinessId BusinessId

<!DOCTYPE html>
<html lang=en-GB>
<head>
    <meta charset=utf-8 />
    <meta name=viewport content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <meta property=og:title content='@ViewData["Title"]' />
    <meta name=description content='@ViewData["Description"]' />

    <partial name=OwnershipVerificationCodes />
    <partial name=Favicon />

    @* PACKAGE / VENDOR STYLESHEETS *@
    <link rel=preload as=style onload="this.onload=null;this.rel='stylesheet'" href=~/assets/stylesheets/cludo-search-default.min.css asp-append-version=true />
    <link rel=preload as=style onload="this.onload=null;this.rel='stylesheet'" href=~/assets/stylesheets/vendor/unsemantic-grid-responsive-tablet-min.css asp-append-version=true />
   
    @* MAIN STYLESHEET *@
    <link rel=stylesheet href=~/assets/stylesheets/site-sg-overrides.min.css asp-append-version=true />

    @* FONT STYLESHEETS *@
    <link rel=preload as=style onload="this.onload=null;this.rel='stylesheet'" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel=preload as=style onload="this.onload=null;this.rel='stylesheet'" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap">
    <link rel=preload as=style onload="this.onload=null;this.rel='stylesheet'" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap">

    <link rel=alternate type=application/rss+xml href=/news/rss title="Stockport Council News Feed" />
    <link rel=alternate type=application/rss+xml href=/events/rss title="Stockport Council Events Feed" />

    <partial name=CookieBanner />
    <partial name=TagManager/TagManagerDataLayer />
    <partial name=TagManager/TagManager />

    <script type=text/javascript src=~/assets/javascript/vendor/require.min.js asp-append-version=true></script>
</head>
<body class="container-layout-free type-home">
    <partial name=TagManager/TagManagerNoScript />
    <partial name=Header />

    <main id="content" tabindex="-1">
        <div class="grid-container-full-width">
            @RenderBody()
        </div>
        <distributed-cache name=footer2023 expires-after=@TimeSpan.FromMinutes(ApplicationConfiguration.GetFooterCache(BusinessId.ToString())) enabled=true>
            @await Component.InvokeAsync("Footer2023")
        </distributed-cache>
    </main>
</body>
</html>