@{ 
    string democracyHomeLink = "https://www.stockport.gov.uk";
}

<!DOCTYPE html>
<html lang=en-GB>
    <head>
        <meta charset=utf-8 />
        <meta name=viewport content="width=device-width, initial-scale=1" />
        <title>@ViewData["Title"] - Stockport Council</title>
        <meta name=Description content="@ViewData["Description"]" />
        <meta property=og:title content="@ViewData["og:title"]" />

        <partial name=FaviconExternal />

        @* PACKAGE / VENDOR STYLESHEETS *@
        <link rel=preload as=style onload="this.onload=null;this.rel='stylesheet'" href=@democracyHomeLink/assets/stylesheets/vendor/unsemantic-grid-responsive-tablet.min.css asp-append-version=true />

        @* MAIN STYLESHEET(S) *@
        <link rel=stylesheet href=@democracyHomeLink/assets/stylesheets/site-sg-external.min.css />

        @* fonts *@
        <link rel=preload as=style onload="this.onload=null;this.rel='stylesheet'" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap">
        <link rel=preload as=style onload="this.onload=null;this.rel='stylesheet'" href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap">

        <link href="https://kit.fontawesome.com/d14fbc06e0.js" rel=preload as=script>
        <script src="https://kit.fontawesome.com/d14fbc06e0.js" crossorigin="anonymous"></script>

        <noscript>
            <link rel=stylesheet href="https://kit.fontawesome.com/d14fbc06e0.css" crossorigin="anonymous">
        </noscript>
    </head>

    <body class="container-layout-free">
        <partial name=CookieNotice />
        <partial name=TagManager/TagManagerDataLayer />
        <partial name=TagManager/TagManager />
        <partial name=TagManager/TagManagerNoScript />
        <partial name=HeaderExternal model=true />

        <main id="content">
            @RenderBody()
        </main>

        <partial name=StaticFooter />

        <script data-main=@democracyHomeLink/assets/javascript/config-external-f92ca697.min.js src=@democracyHomeLink/assets/javascript/vendor/require.min.js asp-append-version=true></script>
    </body>
</html>