@using StockportWebapp.Config
@using StockportWebapp.Models
@using StockportWebapp.ViewModels
@model string

<div class="grid-container advertisement-container" >
    <div class="advertisement-image" style="background-image: url(https://static.pexels.com/photos/97906/pexels-photo-97906.jpeg)">
        <div class="title-card">
            <div class="advertisement-banner">ADVERTISEMENT</div>
        </div>
    </div>
</div>
