@using StockportWebapp.Config
@using StockportWebapp.Models
@using StockportWebapp.ViewModels
@model Advertisement


@if (Model != null)
{
    <div class="grid-container advertisement-container">
        
        <div class="advertisement-image" style="background-image: url(@Model.Image)">
            @if (!string.IsNullOrEmpty(Model.NavigationUrl))
            {
                @:<a href="@Model.NavigationUrl">
            }
            <div class="title-card">
                @if (Model.Isadvertisement)
                {
                    <div class="advertisement-banner">ADVERTISEMENT</div>
                }
                <div class="advertisement-text">
                    <h3 class="grid-100 grid-parent advertisement-title">
                        @Model.Title
                    </h3>
                    <div class="grid-100 grid-parent advertisement-teaser hide-on-mobile">
                        @Model.Teaser
                    </div>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(Model.NavigationUrl))
            {
                @:</a>
            }
        </div>
        
    </div>
}    
