@model ArticleViewModel
@{
    var sections = Model.Article.Sections.ToList();
    var actualCount = sections.Count;
}

<nav class="article-navigation" aria-label="article navigation">
    <h2 class="visuallyhidden">Article navigation</h2>
    <ol type="1">
        @for (int i = 1; i <= actualCount; i++)
        {
            <li class="">
                @if (sections[i - 1].Slug == Model.DisplayedSection.Slug)
                {
                    <span >@sections[i - 1].Title</span>
                }
                else
                {
                    <a href="@Model.Article.NavigationLink/@sections[i - 1].Slug">@sections[i - 1].Title</a>
                }
            </li>
        }
    </ol>
</nav>