@model ArticleViewModel
<nav class="article-pagination" aria-label="Pagination">
    <div class="article-pagination__previous">
        @if (Model.ShouldShowPreviousSectionButton())
        {
            <a href="@Model.Article.NavigationLink/@Model.PreviousSection().Slug">
                <div class="article-pagination__chevron">
                    <span class="fa fa-angle-left article-pagination__icon article-pagination__icon--ltr" aria-hidden="true"></span>
                    <span class="fa fa-angle-right article-pagination__icon article-pagination__icon--rtl" aria-hidden="true"></span>
                </div>
                
                <h3>Previous Page</h3>
                <p>@Model.PreviousSection().Title</p>
            </a>
        }
    </div>

    <div class="article-pagination__next">
        @if (Model.ShouldShowNextSectionButton())
        {
            <a href="@Model.Article.NavigationLink/@Model.NextSection().Slug">
                <h3>Next Page</h3>
                <p>@Model.NextSection().Title</p>
                <div class="article-pagination__chevron">
                    <span class="fa fa-angle-right article-pagination__icon article-pagination__icon--ltr" aria-hidden="true"></span>
                    <span class="fa fa-angle-left article-pagination__icon article-pagination__icon--rtl" aria-hidden="true"></span>
                </div>
            </a>
        }
    </div>
</nav>
<hr class="article-hr">