@model SubItem
@{
    var url = (string)ViewData["url"];
}

@if(!string.IsNullOrEmpty(url))
{
    <a class="navcard--padding navcard--padding-bottom navcard__link" href="@url">
        <h3 class="navcard__title navcard__title--no-margin">All topics in @Model.Title</h3>
    </a>
}
else
{
    <a class="navcard--padding navcard__link" href="@Model.NavigationLink">
        <h3 class="navcard__title navcard__title--no-margin navcard__title--normal-weight">@Model.Title</h3>
    </a>
}