@model string
<div class="atoz">
    <h2 id="content"> Find services A-Z </h2>
    <div class="alphabet">
        @foreach (char letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ")
            {
            <div class="letter @(letter.ToString() == Model ? "active" : "")">
                <a class="letter-bordered" href="@Url.Action("Index", "AtoZ", new { letter = letter.ToString().ToLower() })">@letter</a>
            </div>
        }
    </div>
</div>