@model StockportWebapp.Models.SpotlightBanner

<a class="banner-no-icon" href="@Model.Link">
    <div>
        <h2>@Model.Title</h2>
        <p class="lead-paragraph">@Model.Teaser</p>
    </div>
    <div>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
</a>