@model ContentBlock
@if (Model is not null)
{
    <section class="content-block content-block--margin" data-cy="body-text">
        <div class="grid-container">
            <div class="grid-100">
                @if (!string.IsNullOrEmpty(Model.Title))
                {
                    <h2 class="content-block__title">@Model.Title</h2>
                    <hr />   
                }
                <div class="section__content body-text__content">
                    @Html.Raw(StockportWebapp.Utils.HtmlHelper.AddImageAttributes(Model.Body, "720", "511", "720", "937", "852"))
                </div>
            </div>
        </div>
    </section>
}