@model IEnumerable<StockportWebapp.Models.Crumb>
<nav role="navigation" aria-label="Breadcrumb">
    <div class="breadcrumb-container">
        <div class="grid-container grid-100">
            <ul class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                @{string title = ViewBag.Title != null ? ViewBag.Title.ToString() : "";}

                @{
                    foreach (var crumb in Model)
                    {
                        <li class="chevron">&rsaquo;</li>
                        <li><a href="@crumb.NavigationLink">@crumb.Title</a></li>
                    }
                }

                <li class="chevron">&rsaquo;</li>
                <li class="current"><span>@ViewBag.Title</span></li>
            </ul>
        </div>
    </div>
</nav>