<noscript>
    <div class="banner-header-container banner-header-warning-unsupported">
        <div class="grid-container grid-100">
            <div class="banner-header grid-100 mobile-grid-100 tablet-grid-100">
                <p><span class="banner-title">JavaScript off</span><span class="banner-body">To get the best experience on this website please use a browser with JavaScript enabled.</span></p>
            </div>
        </div>
    </div>
</noscript>

<div id="browser-check" role="contentinfo" aria-label="Outdated browser" class="banner-header-container banner-header-warning-unsupported hidden">
    <div class="grid-container grid-100">
        <div class="banner-header grid-100 mobile-grid-100 tablet-grid-100">
            <p><span class="banner-title">Outdated browser</span><span class="banner-body">You are currently using an old browser. To get the best experience on this website please <a href="http://browsehappy.com/" title="Learn about the latest browsers">update your browser</a></span></p>
        </div>
    </div>
</div>

<!--[if lte IE 8]>
    <div class="banner-header-container banner-header-warning-unsupported">
        <div class="grid-container grid-100">
            <div class="banner-header grid-100 mobile-grid-100 tablet-grid-100">
                <p><span class="banner-title">Outdated browser</span><span class="banner-body">You are currently using an old browser. To get the best experience on this website please <a href="http://browsehappy.com/" title="Learn about the latest browsers">update your browser</a></span></p>
            </div>
        </div>
    </div>
<![endif]-->