@model Alert

<div class="condolence-alert">
    <div class="grid-container">
        <div class="grid-100 condolence-alert-content-container">
            <div class="condolence-alert-text">
                <h3>@Model.Title</h3>
                @Html.Raw(Model.Body)
            </div>
            <div class="condolence-alert-image">
                <img src="@Model.ImageUrl" />
            </div>
        </div>
    </div>
</div>

