@model IEnumerable<Alert>

@if (Model is not null && Model.Any())
{
    foreach (Alert condolence in Model)
    {
        <div data-test="global-alert">
            <partial name="CondolenceAlert" model='condolence' />
        </div>
    }
}