@model IEnumerable<StockportWebapp.Models.Consultation>
@{

    var list = Model.Where(i => i.ClosingDate > DateTime.Now).OrderBy(i => i.ClosingDate);
}

<div class="grid-container">
    <div class="l-article-content grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
        <section>
            <div class="l-content-container grid-100 tablet-grid-100 mobile-grid-100 group-margin">
                <div class="sk-table-outer-container">
                    <div class="sk-table-body">
                        <div class="grid-100 sk-table-row grid-parent">
                            <div class="grid-100 sk-table-cell">
                                <h2 class="consultation">Current Consultations</h2>
                            </div>
                        </div>
                        @if (list.Any())
                        {
                            <div class="sk-table-header sk-table-thin-row grid-100 grid-parent hide-on-mobile">
                                <div class="grid-75 tablet-grid-60 mobile-grid-60">
                                    <span>Description</span>
                                </div>
                                <div class="grid-20 tablet-grid-35 mobile-grid-85 sk-table-header-right">
                                    <span>Closing Date</span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="grid-100 sk-table-row no-data center">
                                There are no current consultations
                            </div>
                        }

                        @foreach (var item in list)
                        {
                            var date = item.ClosingDate.Date == DateTime.Now.AddDays(1).Date ? "Tomorrow" : item.ClosingDate.ToString("dd MMMM yyyy");
                            date = item.ClosingDate.Date == DateTime.Now.Date ? "Today" : date;
                            <a href="@item.Link">
                                <div class="grid-100 sk-table-row grid-parent">
                                    <div class="sk-table-cell">
                                        <i class="row-arrow centre" aria-hidden="true"></i>
                                    </div>
                                    <div class="sk-table-cell grid-75 tablet-grid-60 mobile-grid-85">
                                        <span class="main">@item.Title</span>
                                    </div>
                                    <div class="sk-table-cell-right grid-20 tablet-grid-35 mobile-grid-85">
                                        <span class="centre"><span class="hide-on-desktop hide-on-tablet">Closing Date: </span>@date</span>
                                    </div>
                                </div>
                            </a>
                        }

                        @if (Model.Any(i => i.ClosingDate < DateTime.Now))
                        {
                            <div class="grid-100 sk-table-row center">
                                <a href="@Url.Action("PreviousConsultations", "Showcase", new { @slug = ViewData["Slug"] })">View previous consultations</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
