@model string
<div id="error-message-anchor"></div>
<div class="grid-100 tablet-grid-100 mobile-grid-100 alert alert-error contact-validation-error">    
    <div class="alert-icon">
        <i class="fa fa-exclamation fa-3x" aria-hidden="true"></i>
    </div>
    <div class="alert-content grid-80 tablet-grid-80 mobile-grid-80">
        <h3>There has been a problem: </h3>
        <p>@Html.Raw(Model)</p>
    </div>
</div>