<section class="content-disclaimer">
    <p><b>Disclaimer:</b> The content on this page has been not created by Stockport Council. For more information read the full <a href="www.google.com">Stockport local disclaimer</a>.</p>
</section>