@model string

<div id="error-message-anchor"></div>
<div class="grid-100 alert-error alert-inline alert-inline--warning">
    <h2><span class="fa-solid fa-circle-exclamation alert-inline-icon"></span>There has been a problem</h2>
    <p>@Html.Raw(Model)</p>
</div>