<link rel="stylesheet" type="text/css" href="https://cdn.websitepolicies.io/lib/cookieconsent/cookieconsent.min.css" />
<script src="https://cdn.websitepolicies.io/lib/cookieconsent/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function () {
        window.wpcc.init({
            border: "thin",
            corners: "small",
            colors: {
                popup: { background: "#285e61", text: "#ffffff", border: "#234e52" },
                button: { background: "#ffffff", text: "#234e52" }
            },
            content: {
                message: "This website uses cookies to make sure you get the best experience on our website.",
                link: "Learn more about the cookies we use.",
                href: "https://www.stockport.gov.uk/cookies",
                button: "Accept cookies"
            },
            container: '<div role="region" aria-label="Cookie notice" class="wpcc-container {{classes}} smbc-cookie-banner">{{children}}</div>',
            template: '<span class="wpcc-message">{{message}} <a class="wpcc-privacy" href="{{href}}" rel="noopener" target="{{target}}">{{link}}</a></span><div class="wpcc-compliance"><a href="#" class="wpcc-btn">{{button}}</a></div>'
        });
    });
</script>
