@model IEnumerable<StockportWebapp.Models.DidYouKnow>
<section class="did-you-know @ViewBag.additionalClass">
    <h2>Did you know?</h2>
    <ul>
        @foreach (var didyouknow in Model)
        {
            <li>
                <div class="grid-5 mobile-grid-10 tablet-grid-5"><span class="si si-@didyouknow.Icon"></span></div>
                <div class="grid-95 mobile-grid-90 tablet-grid-95">
                    <a href="@didyouknow.Link" rel="@didyouknow.Name"><h4>@didyouknow.Text</h4></a>
                </div>
            </li>
        }
    </ul>
</section>
