<div class="grid-100">
    <hr />
    <h3>Disclaimer</h3>
    <p>The content on this page has not been created by Stockport Council. For more information read the full <a href="https://www.stockport.gov.uk/terms-and-conditions">Terms and Conditions</a>.</p>
</div>