<div class="grid-60">
    <h2 class="section__title section__title--padded-bottom h-l">Something to add to the directory?</h2>
    <p>Use this form to tell us about your organisation, club or group.</p>
</div>
<div class="grid-40">
    <div class="section_content">
        <a href="https://forms.stockport.gov.uk/request-to-add-a-directory-entry/category" class="section__content--action btn btn--bold btn--full btn--chevron-forward">Request to add a directory entry</a>
    </div>
</div>