@using StockportWebapp.Model
@model IEnumerable<StockportWebapp.Model.Filter>

@if (Model is not null && Model.Any())
{
    <div class="directory__filters @((string)ViewData["AdditionalWrapperCssClasses"] ?? string.Empty)">
        <div class="directory__wrapper navcard--white @((string)ViewData["AdditionalCssClasses"] ?? string.Empty)">
            <ul class="directory__filters-facilities">
                @foreach (Filter filter in Model)
                {
                    <li class="directory__filter"><span class="fa fa-check" aria-hidden="true"></span> @filter.DisplayName</li>
                }
            </ul>
        </div>
    </div>
}