@model IEnumerable<GroupBranding>
@{
    var additionalWrapperCssClasses = ViewData["AdditionalWrapperCssClasses"];
    var additionalCssClasses = ViewData["AdditionalCssClasses"];
}
@if (Model.Any())
{
    <div class="directory--border-top directory--no-margin @additionalWrapperCssClasses">
        <partial name="LogoArea" model='Model' view-data='new ViewDataDictionary(ViewData) {{"logoAreaTitle", "In partnership with"}, {"borderTopClass", $"{additionalCssClasses} directory--padding"}}' />
    </div>
}