<div class="directory__disclaimer navcard--white navcard--border-top-6 navcard--theme-teal-lighter-top">
    <div class="grid-container">
        <div class="grid-100">
            <p><span>Disclaimer:</span> The content on this page has not been created by Stockport Council. For more information read the full <a href="https://www.stockport.gov.uk/terms-and-conditions">Terms and Conditions</a>.</p>
        </div>
    </div>
</div>