@model string

<div class="directory__description">
    <div class="directory__wrapper navcard--white @((string)ViewData["AdditionalCssClasses"] ?? string.Empty)">
        <h2>About us</h2>
        @Html.Raw(Model)
    </div>
</div>