@model MapDetails
@{
    var additionalWrapperCssClasses = ViewData["AdditionalWrapperCssClasses"];
    var additionalCssClasses = ViewData["AdditionalCssClasses"];
    var addressWithoutTags = ViewData["AddressWithoutTags"];
    bool displayMap = (bool)ViewData["DisplayMap"];
}

@if (displayMap)
{
    <div class="directory__map @additionalWrapperCssClasses">
        <div class="directory__wrapper navcard--white @additionalCssClasses">
            <h2>How to find us</h2>
            
            <div class="directory__map-container directory__map-container--padding">
                <partial name="DirectoryMap" model='Model' view-data='new ViewDataDictionary(ViewData) {{"directoryLocation", @addressWithoutTags}}'/>
            </div>

            <a class="btn btn--width-30 btn--chevron-forward btn--bold btn--chevron-bold" target="_blank" href="https://www.google.com/maps/dir/?api=1&origin=current+location&destination=@Model.MapPosition.Lat,@Model.MapPosition.Lon&travelmode=driving">Get directions</a>
            <p class="directory__map-accessible-transport">For accessible transport options visit our <a href="https://www.stockport.gov.uk/accessibleTransport">accessible transport page</a>.</p>
        </div>
    </div>
}