@model string
<div class="grid-60">
    <h2 class="section__title section__title--padded-bottom h-l">Spotted a problem?</h2>
    <p>Tell us about an update or problem with this organisation club or group.</p>
</div>
<div class="grid-40">
    <div class="section__content">
        <a href="https://forms.stockport.gov.uk/report-a-problem-with-directory-entry-fixed?name=@Model" class="section__content--action btn btn--bold btn--full btn--chevron-forward">Tell us about a problem</a>
    </div>
</div>