@model string

<div class="grid-70 section__content">
    <h2 class="section__title section__title--no-margin section__title--padded-bottom h-l">Report a problem with this page</h2>
    <p>If you need to contact, make a referral or make a complaint to the organisation or service, you must use the information in the 'our details' section of this page to contact them directly.</p>
    <p>Use the button to tell us if the information on this page is incorrect, if you have an update about this organisation or service or if they're no longer running.</p>
</div>

<div class="grid-30 section__content">
    <div>
        <a href="https://forms.stockport.gov.uk/report-a-problem-with-directory-entry-fixed?name=@Model" class="section__content--action btn btn--bold btn--full btn--chevron-forward">Report a problem</a>
    </div>
</div>