@model IEnumerable<TrustedLogo>

@if (Model.Any())
{   <div class="@((string)ViewData["AdditionalWrapperCssClasses"] ?? string.Empty) directory--border-top">
        <div class="directory__wrapper navcard--white @((string)ViewData["AdditionalCssClasses"] ?? string.Empty)">
            <div class="directory--border-top directory--no-margin">
                <partial name="LogoArea" model='Model' view-data='new ViewDataDictionary(ViewData) {{"logoAreaTitleStylingBlank", true}, {"logoAreaArticle", false}, {"logoAreaTitle", "In partnership with"}, {"borderTopClass", $"{(string)ViewData["AdditionalCssClasses"] ?? string.Empty} directory--padding"}}' />
            </div>
        </div>
    </div>
}