@model DirectorySearchResultViewModel

<div class="navcard__content">
    <div class="navcard_content--padding">
        <a href=@Url.ActionLink("DirectoryEntry", "Directory", new { slug=@Model.Slug }) data-cy="directory-entry-nav-card-link" class="navcard__link navcard__link--border navcard-content--padding">
            <div class="grid-container">
                <div class="grid-70">
                    <h3 class="navcard__title navcard__title--large">
                        @Model.Entry.Name
                    </h3>
                    <p class="navcard__sub-title">@Model.Entry.Address</p>
                    <div class="navcard__teaser">
                        @Model.Entry.Teaser
                    </div>
                </div>
                <div class="grid-30 text-align-right">
                    @if (Model.Entry.Branding.Any())
                    {
                        <img class="navcard__brand" alt="" src="@Model.Entry.Branding.FirstOrDefault()?.File.Url" />
                    }
                </div>
            </div>
        </a>
    </div>
</div>
