@model IEnumerable<string>
    
<div class="search-bar-links">
    <strong>Popular searches: </strong>

    @foreach (string term in Model)
    {
        <a href="/search?query=@term">@term</a>
    }
</div>
