@{
    string additionalCssClasses = (string)ViewData["AdditionalCssClasses"] ?? string.Empty;
    bool isOnHomepage = (bool)ViewData["isOnHomepage"];
}

<section class="section section--teal @additionalCssClasses section--padded" data-cy="personalised-services">
    <div class="grid-container">
        <div class="grid-100 grid-parent email-subsciption" data-cy="subscription">
            <div class="@(isOnHomepage ? "grid-70" : string.Empty) news-article__archive-banner">
                <h2 class="section__title section__title--white section__title--padded-bottom h-l">Subscribe to the Review Extra </h2>
                <div class="section__content">
                    <p>Get the latest news and information about your council services straight to your inbox</p>
                </div>
            </div>
            
            <div class="@(isOnHomepage ? "grid-30" : string.Empty)">
                <div class="section__content">
                    <a data-cy="subscribe-button" href="https://forms.stockport.gov.uk/newsletter-signup/signup" class="btn btn--inverse btn--bold btn--full btn--chevron-forward section__content--action">
                        <span class="btn_text">Subscribe now</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>