<section class="section section--teal section--no-margin section--padded" data-cy="personalised-services">
    <div class="grid-container">
        <div class="grid-100" data-cy="subscription">
            <h2 class="section__title section__title--white section__title--padded-bottom h-l">Subscribe to the Review Extra</h2>
            <div class="section__content">
                <p>Get the latest news and information about your council services straight to your inbox</p>
                <form asp-controller="Home" asp-action="EmailSubscribe" method="get" role="form">
                    <label for="emailAddress">
                        Your email address
                    </label>
                    <input class="input-text" type="text" id="emailAddress" name="emailAddress" />
                    <button type="submit" class="btn btn--inverse">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>



