<section class="section section--teal section--no-margin section--padded" data-cy="personalised-services">
    <div class="grid-container">
        <div class="grid-100 grid-parent email-subsciption" data-cy="subscription">
            <div class="grid-70">
                <h2 class="section__title section__title--white section__title--padded-bottom h-l">Subscribe to the Review Extra </h2>
                <div class="section__content">
                    <p>Get the latest news and information about your council services straight to your inbox</p>
                </div>
            </div>
            <div class="grid-30">
                <div class="section__content">
                    <a data-cy="subscribe-button" href="https://forms.stockport.gov.uk/newsletter-signup/signup" class="btn btn--inverse btn--bold btn--full btn--chevron-forward">
                        <span class="btn_icon fa-regular fa-envelope fa-lg"></span>Subscribe now
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>