<h2>Events</h2>
<p>What's on in Stockport Borough? Discover classes, festivals, activities and more.</p>
<a href="http://www.stockport.gov.uk/events/"><div class="button button-outline button-featured-content-more button-partialrounded">View Events</div></a>
