@using StockportWebapp.Utils
@inject ViewHelpers viewHelper
@model StockportWebapp.Models.EventHomepage

<div id="event-listing-container" class="no-margin">
@foreach (var row in Model.Rows.Where(r => r.Events.Any()))
{
    var i = 1;
    <div class="home-page-row">
        <div class="grid-container">
            <div class="event-header">
            <h3>@(row.IsLatest ? "Upcoming events" : row.Tag)</h3>
            @if (row.IsLatest)
            { 
                <a class="view-more" href="/events?datefrom=@DateTime.Now.Date">View more</a>
            }
            else
            {
                <a class="view-more" href="@Url.Action("Index", "Events", new { Tag = row.Tag } )">View more</a>
            }
            </div>
            <div class="grid-100 grid-parent event-container-row matchbox-parent">
                @foreach (var item in row.Events)
                {
                    var classname = string.Empty;
                    switch (i)
                    {
                        case 1:
                            {
                                classname = string.Empty;
                                break;
                            }
                        case 2:
                            {
                                classname = "hide-on-mobile";
                                break;
                            }
                        case 3:
                            {
                                classname = "hide-on-mobile hide-on-tablet";
                                break;
                            }
                        default:
                            {
                                classname = "hide-on-desktop hide-on-tablet hide-on-mobile";
                                break;
                            }
                    }
                    <div class="@classname">
                        @Html.Partial("EventCard", item)
                    </div>
                    i++;
                }
            </div>
        </div>
    </div>}
</div>