@model ProcessedTopic

<div class="expanding-link-box">
    <div class="expanding-list">
        <div class="expanding-list-header">
            <h2>@Model.ExpandingLinkTitle</h2>
        </div>

        <hr />
        <ul class="expanding-list-ul" >
            @foreach (var ExpandingLinkBox in Model.ExpandingLinkBoxes)
            {
                <li class="grid-50 expanding-list-item">
                    <div class="expanding-Link-text-holder">
                        <div tabindex="0"  class=" focusable expanding-Link-text">
                            <div class="expanding-Link-title expanding-link-box-button"><h3>@ExpandingLinkBox.Title</h3></div>
                            <div class="expanding-Link-items">
                                @foreach (var links in ExpandingLinkBox.Links)
                                {
                                    <div>
                                        <a href="@links.NavigationLink">
                                            @links.Title
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

<script>
    require(['/assets/javascript/config-d85cf3bb.min.js'], function() {
        require(['expandingLinks'],
            function(expandingLinks) {
                expandingLinks.Init();
            }
        );
    });
</script>