<a class="favourites-bar hide-on-mobile" href="/groups/favourites">
    <div class="grid-container grid-100">
        <i class="fa fa-star" aria-hidden="true"></i>
        <span class="favourites-text">
            <span class="count"></span>
            <span>favourites</span>
        </span>
    </div>
</a>

<stock-button class="favourites-bar hide-on-tablet hide-on-desktop" as-link="true" href="/groups/favourites">
    <i class="fa fa-star" aria-hidden="true"></i>
    <span class="favourites-text">
        <span class="count"></span>
        <span>favourites</span>
    </span>
</stock-button> 