@model IEnumerable<Topic>

<section aria-label="Featured topics" class="grid-100 mobile-grid-100">
    <div class="featured-topics featured-topics-secondary">
        <partial name="SecondaryFeaturedTopicList" model='Model'/>
    </div>
</section>