@inject StockportWebapp.Utils.ViewHelpers viewHelper
@model FeatureCardViewModel

<div class="feature-card__wrapper">
    <div class="feature-card__header">
        @if(!Model.StartTime.Equals(string.Empty)){
            <h3>Upcoming event</h3>
        }
        else{
            <h3>Latest news</h3>
        }
    </div>

    <div class="feature-card__content">
        <a href="#">
            <h3 class="feature-card__title">@Model.Title</h3>
            <p class="feature-card__date">
                @if(!Model.StartTime.Equals(string.Empty)){
                    @viewHelper.FormatEventDate(Model.Date, Model.StartTime)
                }
                else{
                    <partial name="FormattedDate" model='Model.Date'/>
                }
            </p>
            <p class="feature-card__teaser">@Model.Teaser</p>
            
            @if(!Model.StartTime.Equals(string.Empty)){
                <a href="" class="btn btn--chevron-right">View more events</a>
            }
            else{
                <a href="" class="btn btn--chevron-right">View more news</a>
            }
        </a>
    </div>
</div>