@model IEnumerable<StockportWebapp.Models.Topic>

@foreach (var topic in Model)
{
    <div id="featured-topic-children-@topic.Slug" class="featured-topic-children hidden">
        @{var count = 1;}
        @foreach (var subItem in topic.TopSubItems.Take(6))
        {
            <div class="topic-child topic-child-@count">
                <div class="darken">
                    <a href="@subItem.NavigationLink">@subItem.Title</a>
                </div>
            </div>
            count++;
        }
        <div class="topic-child topic-child-@count topic-child-more">
            <div class="darken">
                <a href="@topic.NavigationLink">
                    <div class="button button-outline button-partialrounded">See more in @topic.Name</div>
                </a>
            </div>
       </div>
  </div>
}