@model List<SubItem>
@{

}
@if (Model is not null)
{
    <section class="section section--white">
        <div class="grid-container">
            <div class="grid-100">
                <div class="placeholder placeholder-bg-green placeholder-small">
                    <h2>FIND OUT MORE BANNER</h2>
                </div>
            </div>
        </div>
    </section>
}