@model ContentBlock
@if (Model is not null && Model.SubItems.Count.Equals(3))
{
    <section class="content-block content-block--margin" data-cy="find-out-more-cards">
        <div class="grid-container">
            <div class="grid-100">
                @if(!string.IsNullOrEmpty(Model.Title))
                {
                    <h2 class="content-block__title">@Model.Title</h2>
                    <hr />   
                }
                
                <div class="section__content">
                    <ul class="navcard-wrapper navcard-wrapper--no-margin">
                        @foreach(ContentBlock contentBlock in Model.SubItems)
                        {
                            <partial name="FindOutMoreCard" model="@contentBlock" view-data="@(new ViewDataDictionary(ViewData) { {"TextColourClass", Model.TextColourClass} })" />
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>
}