@model IEnumerable<StockportWebapp.Models.SubItem>


@foreach (var link in Model)
{
<li class="grid-50 tablet-grid-50 mobile-grid-100">
    <a href="@link.NavigationLink">@link.Title</a>
</li>
}
<li class="grid-50 tablet-grid-50 mobile-grid-100">
    <a class="typeform-share link" data-mode="1" target="_blank" href="https://stockportcouncil.typeform.com/to/dXTax7">Feedback</a>
</li>
