@model LandingPageViewModel
@{
 
}
@if (Model is not null)
{
    <section class="section section--white">
        <div class="placeholder placeholder__full-width-block placeholder-bg-green placeholder-medium">
            <h2>FULL IMAGE HEADER placeholder</h2>
        </div>
    </section>
}