@model StockportWebapp.Models.GenericFeaturedItemList

@{
    var loopCount = Model.HideButton ? Model.Items.Count() : 8;
}

<div class="primary-topics">
    @for (var count = 0; count < loopCount; count += 4)
    {
        <div class="featured-topic-list generic-Featured-Items-margin-top matchbox-parent">
            <partial name="GenericFeaturedItem" model='Model.Items.Skip(count).Take(4)' />
        </div>
    }
</div>

@if (!string.IsNullOrEmpty(Model.ButtonText))
{
    <div id="see-more-container" class="generic-list-see-more-container">
        @for (var count = 8; count < Model.Items.Count(); count += 4)
        {
            <div class="featured-topic-list generic-Featured-Items-margin-top matchbox-parent">
                <partial name="GenericFeaturedItem" model='Model.Items.Skip(count).Take(4)' />
            </div>
        }
    </div>
    @if (Model.Items.Count >= 9)
    {
        <div>
            <div class="featured-content-button-wrapper">
                <stock-button id="see-more-services" class="@Model.ButtonCssClass generic-list-see-more button-up-down">@Model.ButtonText</stock-button>
            </div>
        </div>
    }
}

<script>
    require(['assets/javascript/stockportgov/config.min'], function() {
        require(['viewmoreslider.min'],
            function(viewmoreslider) {
                viewmoreslider.Init();
            }
        );
    });
</script>