@model GenericFeaturedItemList
@{
    string eventHomepageNavcard = (string)ViewData["EventHomepageNavcard"];
    
    if (!string.IsNullOrEmpty(eventHomepageNavcard))
    {
        string eventHomepageIcon = "event-homepage__icon";
    }
}

<section class="section content-block--margin section--margin-top-1 section--margin-bottom section--margin-bottom-1">
    <div class="grid-container">
        <div class="grid-100">
            <div class="section__content section__content--no-margin">
                <ul class="navcard-wrapper navcard-wrapper--no-margin @eventHomepageNavcard" data-cy="navcard">
                    @foreach (var subitem in Model.Items)
                    {
                        <partial name="GenericFeaturedItem" model='subitem' view-data='@(new ViewDataDictionary(ViewData) {{ "NavcardPaddingClasses", "navcard--no-padding-top" }, { "eventHomepageIcon", "event-homepage__icon" }})' />
                    }
                </ul>
            </div>
        </div>
    </div>
</section>

<script>
    require(['/assets/javascript/config-64f5853b.min.js'], function() {
        require(['viewmoreslider'],
            function(viewmoreslider) {
                viewmoreslider.Init();
            }
        );
    });
</script>