@model GenericFeaturedItem
@{
    string navcardPaddingClasses = (string)ViewData["NavcardPaddingClasses"];
    string eventHomepageIcon = (string)ViewData["EventHomepageIcon"];
}
    
<li class="grid-25 navcard--width-25 navcard--center event-homepage__category-item">
        <a href="@Model.Url" class="navcard__link">
            <div class="navcard__content">
                <div class="event-homepage__icon">
                    <span class="@Model.Icon" aria-hidden="true"></span>
                </div>
            </div>
            <div class="navcard-content--padding navcard--no-padding-top">
                <h3 class="navcard__title navcard__title--black">@Model.Title</h3>
        </div>
    </a>
</li>