@model StockportWebapp.Models.GenericFeaturedItemList
@{
    var take = string.IsNullOrEmpty(Model.ButtonText) ? Model.Items.Count : 4;
}
<div class="primary-topics">
    <div class="featured-topic-list generic-Featured-Items-margin-top matchbox-parent">
        @Html.Partial("GenericFeaturedItem", Model.Items.Take(take))
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.ButtonText))
{
    <div class="generic-list-see-more-container">
        @for (var count = 4; count < Model.Items.Count(); count += 4)
        {
            <div class="featured-topic-list generic-Featured-Items-margin-top matchbox-parent">
                @Html.Partial("GenericFeaturedItem", Model.Items.Skip(count).Take(4))
            </div>
        }
    </div>
    if (Model.Items.Count > 5)
    {
        <div>
            <div class="featured-content-button-wrapper">
                <stock-button id="see-more-services" class="@Model.ButtonCssClass generic-list-see-more button-up-down">@Model.ButtonText</stock-button>
            </div>
        </div>
    }

}

<script type="text/javascript" src="assets/javascript/stockportgov/EventFeatureItemFocus.js"></script>
