@model ProcessedGroup
@{
    string url = ViewBag.CurrentUrl is not null
        ? ViewBag.CurrentUrl
        : string.Empty;

    string title = (string)ViewData["Title"] ?? string.Empty;
}

<div class="groupLastUpdated">
    <p>Last updated <partial name="FormattedDate" model='Model.DateLastModified'/></p>
</div>