@model ProcessedGroup
@{
    var url = ViewBag.CurrentUrl != null ? ViewBag.CurrentUrl : string.Empty;
    var title = ViewData["Title"];
}
<div class="groupLastUpdated">
    <p>Last updated <partial name="FormattedDate" model='Model.DateLastModified'/></p>
</div>