<section class="site-header_search-input-wrapper hide-on-mobile hide-on-tablet">
    <h2 class="visuallyhidden">Search stockport.gov.uk</h2>
    <form method="get" id="cludo-search-form">
        <label class="visuallyhidden" for="search-bar">
            search input box
        </label>
        
        <input class="site-header_search-input" id="search-bar" data-cy="search-bar" type="text" name="query" placeholder="Search" autocomplete="off">
        <button value="Submit search" class="site-header_search-button" data-cy="search-submit" type="submit">
            <span class="fa fa-search" aria-hidden="true"></span><span class="visuallyhidden"> Submit Search</span>
        </button>
    </form>
</section>