<div class="search-bar-header-container hide-on-mobile hide-on-tablet">
    <div class="search-bar-header">
        @Html.Partial("Search", new Tuple<string, string>("cludo-search-form", "Search"))
    </div>
</div>
<a href="#" class="show-search-button hide-on-desktop"><span class="visuallyhidden"> submit search</span>
    <i class="fa fa-search" aria-hidden="true"></i>
</a>
