<ul class="site-header_menu">
    <li>
        <a href="#" id="reciteMe"><span class="fa fa-headphones" aria-hidden="true"></span>Accessibility</a>
    </li>
    <li>
        <a href="/our-accounts" aria-label="Account Log In"><span class="fa fa-user" aria-hidden="true"></span>Account Log In</a>
    </li>
</ul>