@inject IStaticAssets StaticAssets
<!-- used for articles, news, events, groups,  -->

<div class="l-header-container">
    <nav aria-label="Skip to main content">
        <div class="skip-to-main-content">
            <a href="#content" class="skip-main">Skip to main content</a>
        </div>
    </nav>
    <header role="banner" id="header" class="grid-container grid-100" data-cy="header">
        <div class="grid-20 mobile-grid-100 tablet-grid-30 logo-main">
            <a href="https://www.stockport.gov.uk">
                <img src='@StaticAssets.UrlFor("logo-stockport-full%402x.png")'
                    data-mobile-image='@StaticAssets.UrlFor("logo-stockport-mobile%402x.png")'
                    data-desktop-image='@StaticAssets.UrlFor("logo-stockport-full%402x.png")'
                    alt="Stockport Council Logo Homepage Link"
                    class="logo-main-image"
                    width="245"
                    height="60">
            </a>
        </div>
        <div class="grid-80 mobile-grid-100 tablet-grid-70 grid-parent">
            <div class="header-container grid-100 grid-parent">
                <div class="grid-70 grid-parent header-myaccount">
                    <div class="menu">
                        <div class="menu-logged-out">
                            <a href="#" id="reciteMe"><span class="fa fa-headphones hide-on-mobile" aria-hidden="true"></span>Accessibility</a>
                        </div>
                        <div class="menu-logged-out">
                            <a href="/our-accounts" aria-label="Account log in"><span class="fa fa-user hide-on-mobile" aria-hidden="true"></span>Account log in</a>
                        </div>
                        <div class="menu-logged-out">
                            <a href="#" aria-label="Cookie preferences" id="open_preferences_center"><span class="fa fa-cookie-bite" aria-hidden="true"></span>Cookies</a>
                        </div>
                    </div>
                </div>
                <div class="grid-30 grid-parent pull-right header-search-bar">
                    <partial name="HeaderSearchBar" />
                </div>
            </div>
        </div>
    </header>
</div>
<partial name="MobileSearchBar" />
<partial name="BrowserCheck" />

<script>
    require(['/assets/javascript/config-80795c2e.min.js'], function() {
        require(['startup', 'utils', 'reciteMe', 'cludo', 'Cludo'],
            function(startup, utils, reciteMe, cludo, _) {
                reciteMe.Init();
                startup.Init();
                utils.Init();
                cludo.Init();
            }
        );
    });
</script>