<div class="search-bar-header-container hide-on-mobile hide-on-tablet">
    <div class="search-bar-header">
        @await Component.InvokeAsync("Search", new { id = "cludo-search-form", placeholder = "Search" })
    </div>
</div>

<a href="#" class="show-search-button hide-on-desktop">
    <i class="fa fa-search" aria-hidden="true"></i>
</a>
