@inject IStaticAssets StaticAssets
@model bool
@*Model value determines whether search shown true=visible*@

<div class="site-header grid-container-full-width">
    <nav aria-label="Skip to main content">
        <div class="skip-to-main-content">
            <a href="#content" class="skip-main">Skip to main content</a>
        </div>
    </nav>
    <header role="banner" id="header" class="grid-container" data-cy="header-new">
        <div class="grid-20 tablet-grid-100 mobile-grid-100">
            <a href="https://www.stockport.gov.uk">
                <img src='@StaticAssets.UrlFor("logo-stockport-full%402x.png")'
                    data-mobile-image='@StaticAssets.UrlFor("logo-stockport-mobile%402x.png")'
                    data-desktop-image='@StaticAssets.UrlFor("logo-stockport-full%402x.png")'
                    alt="Stockport Council Logo Homepage Link"
                    class="site-header_logo"
                    width="245"
                    height="60">
            </a>
            @if(Model)
            {
                <partial name="MobileSearchBar2023" />
            }
        </div>

        <div class="grid-80 tablet-grid-100 mobile-grid-100 grid-parent">
            <div class="grid-60 site-header_menu-wrapper">
                <partial name="HeaderMenu" />
            </div>
            @if(Model)
            {
                <div class="grid-40 site-header_search-wrapper">
                    <partial name="HeaderSearchBar2023" />
                </div>
            }
        </div>
    </header>
</div>


<partial name="BrowserCheck" />

<script type="text/plain" data-cookie-consent="strictly-necessary">
    require(['/assets/javascript/config-80795c2e.min.js'], function() {
        require(['startup', 'cludo', 'Cludo'],
            function (startup, cludo, _) {
                startup.Init();
                cludo.Init();
            }
        );
    });
</script>

<script type="text/plain" data-cookie-consent="functionality">
    require(['/assets/javascript/config-80795c2e.min.js'], function() {
        require(['utils', 'reciteMe'],
            function(utils, reciteMe, _) {
                reciteMe.Init();
                utils.Init();
            }
        );
    });
</script>