<ul class="site-header_menu">
    <li>
        <a href="#" id="reciteMe"><span class="fa fa-headphones" aria-hidden="true"></span>Accessibility</a>
    </li>
    <li>
        <a href="/our-accounts" aria-label="Account log in"><span class="fa fa-user" aria-hidden="true"></span>Account log in</a>
    </li>
    <li>
        <a href="#" aria-label="Cookies" id="open_preferences_center"><span class="fa fa-cookie-bite" aria-hidden="true"></span>Cookies</a>
    </li>
</ul>