@inject IStaticAssets StaticAssets
@inject StockportWebapp.Utils.ILoggedInHelper loggedInHelper
@{ 
    var user = loggedInHelper.GetLoggedInPerson();
}

<div class="site-header grid-container-full-width">
    <nav aria-label="Skip to main content">
        <div class="skip-to-main-content">
            <a href="#content" class="skip-main">Skip to main content</a>
        </div>
    </nav>
    <header role="banner" id="header" class="grid-container">
        <div class="grid-30 tablet-grid-30 mobile-grid-100">
            <a href="https://www.stockport.gov.uk">
                <img src='@StaticAssets.UrlFor("logo-stockport-full%402x.png")'
                    data-mobile-image='@StaticAssets.UrlFor("logo-stockport-mobile%402x.png")'
                    data-desktop-image='@StaticAssets.UrlFor("logo-stockport-full%402x.png")'
                    alt="Stockport Council Logo Homepage Link"
                    class="site-header_logo"
                    width="245"
                    height="60">
            </a>
            <partial name="MobileSearchBar2023" />
        </div>

        <div class="grid-70 tablet-grid-70 mobile-grid-100 grid-parent">
            <div class="grid-50 tablet-grid-70 site-header_menu-wrapper">
                <partial name="HeaderMenu" />
            </div>
            <div class="grid-50 tablet-grid-30 site-header_search-wrapper">
                <partial name="HeaderSearchBar2023" />
            </div>
        </div>
    </header>
</div>


<partial name="BrowserCheck" />

<script>
    require(['/assets/javascript/config-1f826b90.min.js'], function() {
        require(['startup', 'utils', 'reciteMe', 'cludo', 'Cludo'],
            function(startup, utils, reciteMe, cludo, _) {
                reciteMe.Init();
                startup.Init();
                utils.Init();
                cludo.Init();
            }
        );
    });
</script>