<ul class="site-header_menu">
    <li>
        <a href="#" id="reciteMe"><span class="fa fa-headphones" aria-hidden="true"></span>Accessibility</a>
    </li>
    <li>
        <a href="https://myaccount.stockport.gov.uk/" aria-label="Go to My Account"><span class="fa fa-user" aria-hidden="true"></span>My Account</a>
    </li>
</ul>