@model string

<div class="grid-70 section__content">
    <h2 class="section__title section__title--no-margin section__title--padded-bottom h-l">Help us improve this page</h2>
    <p>Tell us about an update to this description or upload an image.</p>
</div>

<div class="grid-30 section__content">
    <div>
        <a href="http://int-formbuilder-v2-origin.smbcdigital.net/make-comment-about-a-historic-asset?name=@Model" class="section__content--action btn btn--bold btn--full btn--chevron-forward">Make a suggestion</a>
    </div>
</div>