@model HomepageViewModel

@if (Model.FeaturedEvent is not null || Model.FeaturedNews is not null)
{
    <section class="section section--grey section--padded section--no-margin" data-cy="feature-card__wrapper">
        <div class="grid-container">
            <div class="grid-100">
                <h2 class="section__title">What's happening in Stockport</h2>
                <p class="section__teaser section__teaser--padded-bottom">Keep up to date with council news and local events.</p>

                <div class="feature-card">
                    @if (Model.FeaturedNews is not null)
                    {
                        <partial name="FeatureCard" model='Model.FeaturedNews.MapToFeatureCard()' />
                    }

                    @if (Model.FeaturedEvent is not null)
                    {
                        <partial name="FeatureCard" model='Model.FeaturedEvent.MapToFeatureCard()' />
                    }
                </div>
            </div>
        </div>
    </section>
}