@model HomepageViewModel

<section class="section section--white">
    <div class="grid-container">
        <div class="grid-100" data-cy="navcard-list">
            <h2 class="section__title section__title--padded-bottom">Our services</h2>
            <div class="section__content section__content--no-margin">
                <partial name="NavCardList" model='Model.HomepageContent.Services' />
                <a class="btn btn--center btn--width-30 btn--margin-25 btn--chevron-forward" data-cy="view-more-services" href="topic/our-council-services">View more services</a>
            </div>
        </div>
    </div>
</section>