@model List<GroupBranding>
@{
    string borderTopClass = (string)ViewData["borderTopClass"];
    bool isLogoOnArticle = (bool)ViewData["logoAreaArticle"];
}

@if (Model.Any() && isLogoOnArticle)
{
    <section class="section section--white section--no-margin @borderTopClass" data-cy="logo-area">
        <partial name="LogoAreaImage" model='@Model' />
    </section>
}
else if (Model.Any())
{
    <section class="section section--white section--no-margin @borderTopClass" data-cy="logo-area">
        <div class="grid-container">
            <div class="grid-100">
                <partial name="LogoAreaImage" model='@Model' />
            </div>
        </div>
    </section>
}