@model List<GroupBranding>
@{
    string borderTopClass = (string)ViewData["borderTopClass"];
    bool isLogoOnArticle = (bool)ViewData["logoAreaArticle"];
    bool displayInSection = ViewData["displayInSection"] is null 
        ? false 
        : (bool)ViewData["displayInSection"];
}

@if (displayInSection && Model.Any() )
{
    <section class="section section--white section--no-margin @borderTopClass" data-cy="logo-area">
        @if(isLogoOnArticle)
        {
            <partial name="LogoAreaImage" model='@Model' />
        }
        else
        {
            <div class="grid-container">
                <div class="grid-100">
                    <partial name="LogoAreaImage" model='@Model' />
                </div>
            </div>
        }   
    </section>
}
else if (Model.Any())
{
    <partial name="LogoAreaImage" model='@Model' />
}