@{
    int count = (int)ViewData["Count"];
    bool highlighted = (bool)ViewData["Highlighted"];
    var pinCssClass = $"pin_graphic--" + (highlighted ? "pink" : "teal");
    var showPinsOnLoad = (bool)ViewData["ShowPinsOnLoad"];
}<span class="pin" style="@if(!showPinsOnLoad) @("display: none")"><span class='pin_graphic @pinCssClass'></span><span class='pin_content'>@count</span></span>