<section class="section section--pink section--padded news-article__subscription-banner" data-cy="personalised-services">
    <div class="grid-container">
        <div class="grid-100 grid-parent email-subsciption" data-cy="subscription">
            <div class="news-article__archive-banner">
                <h2 class="section__title section__title--white section__title--padded-bottom h-l">Send us a media enquiry</h2>
                <div class="section__content">
                    <p>Contact us for press and media enquiries or to join our news release list.</p>
                </div>
            </div>
            
            <div>
                <div class="section__content">
                    <a data-cy="subscribe-button" href="https://www.stockport.gov.uk/start/send-a-media-enquiry" class="btn btn--inverse btn--pink btn--bold btn--full btn--chevron-forward section__content--action">
                        <span class="btn_text">Send an enquiry</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>