<button 
    type="button"
    class="site-header_mobile-search-button hide-on-desktop"
    data-cy="show-search"
    aria-controls="siteHeaderMobileSearchInput"
    aria-expanded="false"
    aria-label="Open search">
    <span class="fa fa-search" aria-hidden="true"></span>
</button>

<div id="siteHeaderMobileSearchInput" class="grid-100 site-header_mobile-search" >
    <section class="site-header_search-input-wrapper hide-on-desktop">
        <form method="get" id="cludo-mobile-form">
            <label class="visuallyhidden" for="mobile-search-bar">
                Search stockport.gov.uk
            </label>

            <input class="site-header_search-input" id="mobile-search-bar" data-cy="search-bar" type="text" name="query" placeholder="Search" autocomplete="off">
            
            <button value="Submit search" class="site-header_search-button" data-cy="search-submit" type="submit">
                <span class="fa fa-search" aria-hidden="true"></span><span class="visuallyhidden"> Submit search</span>
            </button>
        </form>
    </section>
</div>