<div id="mobileSearchInput" class="grid-100 mobile-search-input search-bar-mobile-header-container">
    <div class="search-bar-mobile-header">
        <partial name="Search" model='new Tuple<string, string, string>("cludo-search-mobile-form", "Hi there! What are you looking for?", "mobile-search-bar")'/>
    </div>
</div>