<div id="mobileSearchInput" class="grid-100 mobile-search-input search-bar-mobile-header-container">
    <div class="search-bar-mobile-header">
        <partial name="Search" model='new Tuple<string, string, string, string>("cludo-search-mobile-form", "Search", "mobile-search-bar", "mobile search")'/>
    </div>
</div>