<div id="mobileSearchInput" class="grid-100 mobile-search-input search-bar-mobile-header-container">
    <div class="search-bar-mobile-header">
        @await Component.InvokeAsync("Search", new { id = "cludo-search-mobile-form", placeholder = "Hi there! What are you looking for?" })
    </div>
</div>