<a href="#" class="site-header_mobile-search-button hide-on-desktop hide-on-tablet" data-cy="show-search">
    <span class="visuallyhidden"> submit search</span>
    <span class="fa fa-search" aria-hidden="true"></span>
</a>

<div id="siteHeaderMobileSearchInput" class="grid-100 site-header_mobile-search" >
    <section class="site-header_search-input-wrapper hide-on-desktop hide-on-tablet">
        <h2 class="visuallyhidden">Search stockport.gov.uk</h2>
        <form method="get" id="cludo-search-form">
            <label class="visuallyhidden" for="search-bar">
                search input box
            </label>
            <input class="site-header_search-input" id="search-bar" data-cy="search-bar" type="text" name="query" placeholder="Search" autocomplete="off">
            <button value="Submit search" class="site-header_search-button" data-cy="search-submit" type="submit">
                <span class="fa fa-search" aria-hidden="true"></span><span class="visuallyhidden"> Submit Search</span>
            </button>
        </form>
    </section>
</div>