@model NavCard

<a href="@Model.Url" data-cy="nav-card-link" class="navcard__link navcard__link--padding">
    <h3 class="navcard__title">@Model.Title</h3>
    <p class="navcard__teaser">@Model.Teaser</p>
</a>