@model NavCardList
@{
    string borderTealDesktop = " navcard--border-top-6-desktop navcard--theme-teal-lighter-top-desktop ";
    string borderTealTablet = " navcard--border-top-6-tablet navcard--theme-teal-lighter-top-tablet";
    string borderTealMobile = " navcard--border-left-6-mobile navcard--theme-teal-lighter-left-mobile";
    string borderTealMobileRtl = " navcard--border-rtl-right-6-mobile navcard--theme-teal-lighter-rtl-right-mobile";
    
    string borderCssClasses = $"{borderTealDesktop} + {borderTealTablet} + {borderTealMobile} + {borderTealMobileRtl}";
}

<ul class="navcard-wrapper">
    @foreach (NavCard navCard in Model.Items.Take(12))
    {
        <li class="navcard navcard--width-25 navcard--visible @borderCssClasses navcard--border-rtl-left-0-mobile">
            <partial name="NavCard" model="navCard" />
        </li>
    }
</ul>