@model NavCardList

<ul class="navcard-wrapper">
    @foreach (var navCard in Model.Items.Take(12))
    {
        <li class="navcard navcard--width-25 navcard--visible 
                    navcard--border-top-6-desktop navcard--theme-teal-lighter-top-desktop 
                    navcard--border-top-6-tablet navcard--theme-teal-lighter-top-tablet 
                    navcard--border-left-6-mobile navcard--theme-teal-lighter-left-mobile
                    navcard--border-rtl-right-6-mobile navcard--theme-teal-lighter-rtl-right-mobile
                    navcard--border-rtl-left-0-mobile">
            <partial name="NavCard" model="navCard" />
        </li>
    }
</ul>