<section class="section section--teal section--no-margin section--padded" data-cy="personalised-services">
    <div class="grid-container">
        <div class="grid-100 grid-parent email-subsciption" data-cy="subscription">
            <div class="grid-60">
                <h2 class="section__title section__title--white section__title--padded-bottom h-l">News archive</h2>
                <div class="section__content">
                    <p>View articles in our news archive</p>
                </div>
            </div>
            
            <div class="grid-40">
                <div class="section__content">
                    <a href="@Url.Action("NewsArchive", "News")"
                        class="btn btn--inverse btn--bold btn--full btn--chevron-forward section__content--action">
                        View the archive
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>