@model NavCardList
@if (Model is not null & Model?.Items.Any() is true)
{
    bool twoGrid = (bool)ViewData["twoGrid"];
    string borderCssClass = (string)ViewData["BorderCssClass"];

    <ul class="navcard-wrapper navcard-wrapper--no-margin">
        @foreach (NavCard navCard in Model.Items)
        {
            <li class="navcard navcard--grey @(twoGrid ? "navcard--width-50" : "navcard--width-33") navcard--no-padding-right-rtl event-cards event-cards--margin-bottom news-article__card">
                <partial name="NewsPageNewsCard" model="navCard" view-data='@(new ViewDataDictionary(ViewData) { { "BorderColourClass", borderCssClass } })'/>
            </li>
        }
    </ul>
}