@model SubItem
@{

}
@if (Model is not null)
{
    <section class="section section--white">
        <div class="grid-container">
            <div class="grid-100">
                <div class="placeholder placeholder-bg-pink placeholder-small">
                    <h2>NEWS BANNER</h2>
                    <p>@Model.Title</p>
                </div>
            </div>
        </div>
    </section>
}