@model StockportWebapp.Models.PaymentResponse

<div class="grid-container-full-width">
    <div class="grid-container grid-100">
        <div class="l-body-section-filled l-group-content mobile-grid-100 tablet-grid-100 grid-100">
                <div class="l-content-container grid-100 grid-parent group-margin" id="group-padding">
                    <partial name="PaymentConfirmationBody" model='Model'/>
                </div>
        </div>
    </div>
</div>
