@using StockportWebapp.ViewModels
@model PrimaryFilter

<form asp-controller="Groups" asp-action="Results" method="get" class="primary-filter-form primary-filter-form-mobile mobile-grid-100">
    <input asp-for="Latitude"  type="hidden" id="latitudeMobile" name="latitude"/>
    <input asp-for="Longitude" type="hidden" id="longitudeMobile" name="longitude" />
    <div class="mobile-grid-100"><label>Choose a category</label></div>
    <select asp-for="Category" asp-items="@(new SelectList(Model.Categories, "Slug", "Name"))" class="primary-filter-select custom-arrow mobile-grid-100" id="selectCategory">
        <option selected value="all">All</option>
    </select>
    <div class="mobile-grid-100"><label>Enter a location</label></div>
    <input asp-for="Location" type="text" readonly="readonly" id="postcodeMobile" class="primary-filter-select custom-arrow mobile-grid-100" />
    <div id="getLocationMobile"  style="left: 5px">
        <span>Enter postcode or place name</span>
        <input type="text" name="Location" id="locationMobile" />
        <a id="currentLocationMobile" href="#"><i class="fa fa-crosshairs"></i><span>Find my current location</span></a>
        <button class="button-default" id="btnLocationMobile">Use this location</button>
    </div>
    <button id="filterButtonMobile" type="submit" class="button-default" >Search groups</button>   
    
    <input id="sortBy" style="display: none" name="Order"/>
     
</form>
