@using StockportWebapp.ViewModels
@model PrimaryFilter

<div style="background-color: rgba(5, 92, 88, 0.68); position: absolute; bottom: 0; width: 100%; height: 34%; display: flex; justify-content: center">
    <div style="text-align: center; color: white; align-self: center; font-size: 24px; font-weight: 600">
        <form asp-controller="Groups" asp-action="Results" method="get">
            Show me
            <select id="category" name="category">
                <option selected value="">
                    All Categories
                </option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Name">@category.Name</option>
                }
            </select>
            groups in
            <select id="location" name="location">
                <option value="stockport">Stockport</option>
            </select>
            sorted by
            <select id="order" name="orderBy">
                <option value="a-z">Name A-Z</option>
                <option value="z-a">Name Z-A</option>
                <option value="nearest">Nearest</option>
            </select>
            <button type="submit" class="button-default">Search local groups</button>
        </form>

    </div>
</div>