@using StockportWebapp.ViewModels
@model PrimaryFilter

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPMO2lE7np9cG_zG63JH_pNVmRfoajZjg&libraries=places"></script>

<form asp-controller="Groups" asp-action="Results" method="get" class="primary-filter-form primary-filter-form-autocomplete">

    <input asp-for="Latitude" type="hidden" id="latitude" name="latitude" />
    <input asp-for="Longitude" type="hidden" id="longitude" name="longitude" />

    <div class="grid-100">
        <div class="primary-filter-form-section">
            <label class="hide-on-mobile primary-filter-label">Show me</label>
            <label class="hide-on-desktop hide-on-tablet filter-label">Choose a category</label>
            <select asp-for="Category" asp-items="@(new SelectList(Model.Categories, "Slug", "Name"))" class="primary-filter-select custom-arrow" id="selectCategory">
                <option selected value="all">All</option>
            </select>
        </div>
        <div class="primary-filter-form-section location-search-section">
            <label class="hide-on-mobile primary-filter-label">groups in</label>
            <label class="hide-on-desktop hide-on-tablet primary-filter-label">Enter a location</label>
            <input asp-for="Location" type="text" readonly="readonly" id="postcode" class="primary-filter-select custom-arrow" />
            <div id="getLocation">
                <label class="location-search-label">Enter postcode or place name</label>
                    <input type="text" id="location-autocomplete" class="location-search-input" />
                <a id="currentLocation" class="current-location" href="#"><i class="fa fa-crosshairs"></i><span>Find my current location</span></a>
                <button class="button-default location-search-button" id="btnLocationAutoComplete">Use this location</button>
            </div>
        </div>

        <div class="primary-filter-form-section hide-on-mobile">
            <label class="primary-filter-label">sorted by</label>
            <select asp-for="Order" asp-items="@(new SelectList(Model.Orders))" class="primary-filter-select custom-arrow" id="selectOrder"></select>
        </div>
        <div class="primary-filter-form-section-button">
            <button type="submit" class="button-default primary-filter-button" id="filterButton">Search groups</button>
        </div>
    </div>
    @* HIDDEN - Used for auto-resizing selects *@
    <select id="hiddenSelectCategory" class="primary-filter-select hidden"></select>
    <select id="hiddenSelectOrder" class="primary-filter-select hidden"></select>
    <select id="hiddenSelectLocation" class="primary-filter-select hidden"></select>
</form>