@using StockportWebapp.ViewModels
@model PrimaryFilter

    <form asp-controller="Groups" asp-action="Results" method="get" class="primary-filter-form">
        <label>Show me</label>
        <select asp-for="Category" asp-items="@(new SelectList(Model.Categories,"Slug","Name"))" class="primary-filter-select">  
            <option selected value="all">All</option>
        </select>
        <label>groups in</label>
        <select id="location" name="location" class="primary-filter-select">
            <option value="stockport">Stockport</option>
        </select>
        <label>sorted by</label>
        <select asp-for="Order" asp-items="@(new SelectList(Model.Orders))" class="primary-filter-select"></select>
        <button style="min-width: 250px; font-size: 18px;" type="submit" class="button-default">Search local groups</button>
    </form>


