@using StockportWebapp.ViewModels
@model PrimaryFilter



    <form asp-controller="Groups" asp-action="Results" method="get" class="primary-filter-form">
        Show me
        <select id="category" name="category">
            <option selected value="all">All</option>
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Name">@category.Name</option>
            }
        </select>
        groups in
        <select id="location" name="location">
            <option value="stockport">Stockport</option>
        </select>
        sorted by
        <select id="order" name="orderBy">
            <option value="a-z">Name A-Z</option>
            <option value="z-a">Name Z-A</option>
            <option value="nearest">Nearest</option>
        </select>
        <button type="submit" class="button-default">Search local groups</button>
    </form>


