@model ContentBlock
@if (Model is not null && Model.SubItems?.Any() is true)
{
    string borderColour = Model.IsDefaultColourScheme
        ? string.Empty
        : Model.BorderColourClass;

    <section class="content-block content-block--margin" data-cy="profile-cards">
        <div class="grid-container">
            <div class="grid-100">
                @if (!string.IsNullOrEmpty(Model.Title))
                {
                    <h2 class="content-block__title">@Model.Title</h2>
                    <hr />
                }

                <ul class="navcard-wrapper navcard-wrapper--no-margin">
                    @foreach (ContentBlock contentBlock in Model.SubItems)
                    {
                        <partial name="ProfileCard" model="@contentBlock" view-data="@(new ViewDataDictionary(ViewData) {{"BorderColourClass", borderColour}})" />
                    }
                </ul>                
            </div>
        </div>
    </section>
}