@model SubItem
@{

}
@if (Model is not null)
{
    <section class="section section--white">
        <div class="grid-container">
            <div class="grid-100">
                <div class="placeholder placeholder-bg-grey placeholder-small">
                    @foreach(var subItem in Model.SubItems)
                    {
                        <div class="placeholder placeholder-bg-green placeholder-small placeholder-inline-margin">
                            <h2>PROFILE CARDS</h2>
                            <p>@subItem.Title</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}