@model ContentBlock
@if (Model is not null && Model.SubItems.Any() is true)
{
    @if (Model.SubItems.Count.Equals(3))
    {
        string additionalCssClass = ViewData["AdditionalCssClass"] as string ?? string.Empty;

        EColourScheme effectiveColourScheme = Model.ColourScheme == EColourScheme.OS_Multi
            ? EColourScheme.OS_Purple
            : Model.ColourScheme;

        string backgroundColourClass = Model.BackgroundColourClass.Contains("os-")
            ? Model.SolidBackgroundColourClass + " trivia-card--publication-os"
            : Model.BackgroundColourClass;

        if (Model.ColourScheme.Equals(EColourScheme.OS_Multi) || Model.ColourScheme.Equals(EColourScheme.OS_Purple) || Model.ColourScheme.Equals(EColourScheme.One_Stockport_Purple))
            backgroundColourClass = $"bg-solid{CssClassMapper.GetCssClass(EColourScheme.OS_Purple)} trivia-card--publication-os trivia-card--publication-os-multi";

        string textColourClass = Model.TextColourClass;
        
        if (Model.TextColourClass is "text-os-purple" or "text-one-stockport-purple" || effectiveColourScheme.Equals(EColourScheme.OS_Purple))
        {
            textColourClass = "text-white";
        }
        else if (Model.TextColourClass.Contains("os-"))
        {
            textColourClass = $"text{CssClassMapper.GetCssClass(EColourScheme.One_Stockport_Purple)}";
        }

        string bodyTextClass = textColourClass.Equals("text-white")
            ? textColourClass
            : string.Empty;

        <section class="content-block content-block--margin-medium @additionalCssClass" data-cy="trivia-cards">
            <ul class="navcard-wrapper navcard-wrapper--no-margin">
                @foreach (ContentBlock contentBlock in Model.SubItems)
                {
                    <partial name="TriviaCard" model="@contentBlock" view-data="@(new ViewDataDictionary(ViewData) { {"BackgroundColourClass", backgroundColourClass}, {"BorderClass", Model.BorderClass}, {"TextColourClass", textColourClass}, {"CardType", "trivia-card"}, {"NoMarginInline", "trivia-card--no-margin-inline"}, {"IsFromPublicationPage", true}, {"BodyTextClass", bodyTextClass} })" />
                }
            </ul>
        </section>
    }
    else if (Model.SubItems.Count > 3)
    {
        <partial name="PublicationTemplateTriviaList" model="@Model" />
    }
}