@{
    Layout = "../Shared/_Layout2023.cshtml";
}

<div class="grid-container-full-width" data-cy="search-results">
    <div class="grid-container">
        <div class="grid-100">
            <div class="article--70">
                <h1 class="article__title">Search results</h1>
            </div>

            <section class="section">
                <div id="cludo-search-results">
                    <div class="article">
                        <div class="article--70">
                            <div class="search-result-count"></div>
                            <div class="search-did-you-mean"></div>
                            <div class="search-results"></div>
                        </div>

                        <div class="article--30">
                            <div class="search-filters__title">
                                <h2 class="h-ml h--no-top-margin h--no-bottom-margin">Categories</h2>
                            </div>

                            <div class="search-filters">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script type="text/plain" data-cookie-consent="functionality">
    require(['/assets/javascript/config-2184c33b.min.js'], function() {
        require(['searchResults'],
            function(searchResults, _) {
                searchResults.Init();
            }
        );
    });
</script>