@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="grid-container-full-width">
    <div class="grid-container grid-100 article-cols">
        <div tabindex="-1" id="content"></div>
        <article id="uitest-page-has-loaded" class="article-col l-body-section-filled grid-parent mobile-grid-100 tablet-grid-100 grid-100">
            <section aria-label="content" class="grid-100 mobile-grid-100 ">
                <div class="l-content-container">
                    <div class="grid-100">
                        <h1>Search results</h1>
                    </div>
                    <div class="title-spacer"></div>

                    <div class="grid-100">
                        <div class="grid-100">
                            <div id="cludo-search-results">
                                <div class="cludo-r">
                                    <div class="cludo-c-3">
                                        <div class="search-filters" role="navigation"></div>
                                    </div>
                                    <div class="cludo-c-9" role="main">
                                        <div class="search-result-count"></div>
                                        <div class="search-did-you-mean"></div>
                                        <div class="search-results"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </div>
</div>

