@using StockportWebapp.FeatureToggling
@model StockportWebapp.ProcessedModels.ProcessedTopic
@inject FeatureToggles FeatureToggles

<div class="subitem-outer-container">
    <div class="subitems-secondary-two-column">
        <div class="subitems grid-100">
            <ul class="grid-100 mobile-grid-100 tablet-grid-100">
                @foreach (var subItem in Model.SecondaryItems)
                {
                    <li>
                        <a href="@subItem.NavigationLink" class="subitem-secondary">
                            <div >
                                <div class="subitem-title">
                                    <span>@subItem.Title</span>
                                </div>
                                
                                <div class="subitem-teaser">
                                    <span>@subItem.Teaser</span>
                                </div>

                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>