@model IEnumerable<StockportWebapp.Models.Crumb>
@{
    string title = ViewData["Title"] != null ? ViewData["Title"].ToString() : "";
}

<nav id="breadcrumb" class="@((bool?)ViewData["Form"] ?? false ? "breadcrumb hidden" : "breadcrumb")">
    <h2 class="sr-only">Breadcrumb navigation</h2>
    <ul class="center-wrapper">
        <li><a href="https://www.stockport.gov.uk/">Home</a></li>
        @if (Model != null)
        {
            foreach (var crumb in Model)
            {
                <li><a href="@crumb.NavigationLink">@crumb.Title</a></li>
            }
        }
        <li class="current">
            <span>@title</span>
        </li>
    </ul>
</nav>