<!-- used for showcase, news-room -->
<div class="skip-to-main-content" role="navigation">
    <a href="#content">Skip to main content</a>
</div>
<div class="center-wrapper" data-cy="semantic-header">
    <div id="header-logo">
        <a href="https://www.stockport.gov.uk">Stockport Metropolitan Borough Council Homepage</a>
    </div>
    <div id="header-my-account">
        <a href="#" id="reciteMe">
            <span class="fa fa-headphones hide-on-mobile" aria-hidden="true"></span>
            Accessibility
        </a>

        <a id="form-myaccount-link"  href="/our-accounts" aria-label="Account log in"><span class="fa fa-user" aria-hidden="true"></span>Account log in</a>

        <a href="#" class="show-search-button hide-on-desktop">
            <span class="visuallyhidden"> submit search</span>
            <span class="fa fa-search" style="display: inline-block !important; color: #83aeac;" aria-hidden="true"></span>
        </a>
    </div>
    <form method="get" role="search" id="cludo-search-form" class="cludo-search_autocomplete">
        <fieldset class="input-group"></fieldset>
        <label for="search" class="sr-only">Search Stockport council website</label>
        <input id="search" class="search-input" name="query" placeholder="Search" autoComplete="off" type="text" />
        <button type="submit" title="Search Stockport Gov website"><span class="fa fa-search" aria-hidden="true"></span></button>
    </form>
</div>
<partial name="BrowserCheck" />

<script>
    require(['/assets/javascript/config-80795c2e.min.js'], function() {
        require(['startup', 'utils', 'reciteMe', 'cludo', 'Cludo'],
            function(startup, utils, reciteMe, cludo) {
                reciteMe.Init();
                startup.Init();
                utils.Init();
                cludo.Init();
            }
        );
    });
</script>