<footer>
    <div class="center-wrapper">
        <div id="footer-logo">
            <a href="http://www.stockport.gov.uk">Stockport Metropolitan Borough Council Homepage</a>
        </div>
        <ul class="footer-links">
            <li><a href="#">Contact us</a></li>
            <li><a href="#">About our website</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">Data protection</a></li>
            <li><a href="#">Freedom of information</a></li>
            <li><a href="#">Terms and conditions</a></li>
            <li><a href="#">Feedback</a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li>@Html.ActionLink("Sign out", "Logout", "Account", null, new { @class = "sign-out" })</li>
            }
        </ul>
    </div>
    <div class="footer-copyright">
        <div class="center-wrapper">
            <p><i class="fa fa-copyright" aria-hidden="true"></i>&nbsp;@DateTime.Now.Year Stockport Metropolitan Borough Council</p>
        </div>
    </div>
</footer>