@{
    var url = ViewBag.CurrentUrl != null ? ViewBag.CurrentUrl : string.Empty;
    var title = ViewData["Title"];
}

<h2>Share this</h2>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_toolbox">
    <div class="custom_images">
        <a class="addthis_button_facebook" href="http://www.facebook.com/share.php?url=@url"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a class="addthis_button_twitter" href="http://twitter.com/intent/tweet?url=@url&text=@title"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="mailto:?body=@url&subject=@title"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    </div>
</div>