@{
    var url = ViewBag.CurrentUrl != null ? ViewBag.CurrentUrl : string.Empty;
    var title = ViewData["Title"];
}


<div class="share grid-20">
    <h6>Share this</h6>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_toolbox">
        <div class="custom_images">
            <a class="addthis_button_facebook" href="http://www.facebook.com/share.php?url=http://stockportgov.local:5555/events/hats-amazing?date=2019-06-07"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a class="addthis_button_twitter" href="http://twitter.com/intent/tweet?url=http://stockportgov.local:5555/events/hats-amazing?date=2019-06-07&text=UITEST: Hats Amazing"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a href="mailto:?body=http://stockportgov.local:5555/events/hats-amazing?date=2019-06-07&subject=UITEST: Hats Amazing"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="share grid-80">
    <h6>Print this page</h6>
    <div class="addthis_toolbox">
        <div class="custom_images">
            <a class="print-this" href="#"><i class="fa fa-print" aria-hidden="true"></i></a>
        </div>
    </div>
</div>

