@model Tuple<string, string>
@using StockportWebapp.FeatureToggling
@inject FeatureToggles FeatureToggles
@{
    var url = ViewBag.CurrentUrl != null ? ViewBag.CurrentUrl : string.Empty;
    var title = ViewData["Title"];
}


<div class="share border grid-20" id="share">
    <h2>Share this</h2>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_toolbox">
        <div class="custom_images">
            <a class="addthis_button_facebook" href="http://www.facebook.com/share.php?url=@url"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a class="addthis_button_twitter" href="http://twitter.com/intent/tweet?url=@url&text=@title"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a href="mailto:?body=@url&subject=@title"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="share border grid-20" id="print">
    <h2>Print this page</h2>
    <div class="addthis_toolbox">
        <div class="custom_images">
            <a class="print-this" href="#"><i class="fa fa-print" aria-hidden="true"></i></a>
        </div>
    </div>
</div>

<div class="share border grid-60" id="download-pdf">
    <h2>Download as PDF</h2>
    <div class="addthis_toolbox">
        <div class="custom_images">
            <a class="export-as-pdf" href="/@Model.Item1/exportpdf/@Model.Item2" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
        </div>
    </div>
</div>


