@model string
@{
    var url = ViewBag.CurrentUrl != null ? ViewBag.CurrentUrl : string.Empty;
    var title = ViewData["Title"];
}

<h2>Share this</h2>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_toolbox">
    <div class="custom_images">
        <a class="addthis_button_facebook" href="http://www.facebook.com/share.php?url=@url" aria-label="share @Model on facebook"><span class="fa fa-facebook-official" aria-hidden="true"></span></a>
        <a class="addthis_button_twitter" href="http://twitter.com/intent/tweet?url=@url&text=@title" aria-label="share @Model on twitter"><span class="fa fa-twitter-square" aria-hidden="true"></span></a>
        <a href="mailto:?body=@url&subject=@title"><span class="fa fa-envelope" aria-hidden="true" aria-label="share @Model by email"></span></a>
    </div>
</div>