@model string

@if (!string.IsNullOrEmpty(Model))
{
    <div class="directory__description">
        <div class="directory__wrapper navcard--white @((string)ViewData["AdditionalCssClasses"] ?? string.Empty)">
            <h2>Description</h2>
            
            @{  
                string formattedDescription = Model
                .Replace("\r\n", "<br>")
                .Replace("\r", "<br>");
            }

            @Html.Raw(formattedDescription)
        </div>
    </div>
}