@model List<string>

@if (Model is not null && Model.Any())
{
    <div class="directory__filters @((string)ViewData["AdditionalWrapperCssClasses"] ?? string.Empty)">
        <div class="directory__wrapper navcard--white @((string)ViewData["AdditionalCssClasses"] ?? string.Empty)">
            <h2>Images</h2>

            @foreach (var image in Model)
            {
                <img src="@image?w=350&q=89&fm=webp"
                    class="directory__logo"
                    alt=""
                    width="350"
                    height="150">
            }
        </div>
    </div>
}