@model StockportWebapp.Models.ProcessedShowcase

<div class="showcase-hero-image" style="background-image: url(@Model.HeroImageUrl)">
    <div class="title-card">
        <h1>
            <span>@Model.Title</span>
        </h1>
        <h2>
            <span>@Model.Teaser</span>
        </h2>
        <div class="showcase-hero-image-anchor hide-on-desktop hide-on-tablet">
            <a href="#icons" class="hero-image-chevron"><i class="fa fa-chevron-down chevron-bordered" aria-hidden="true"></i></a>
        </div>
    </div>
</div>