<section class="sign-up-alert">
    <form action="/subscribe?EmailAlertsTopicId=@ViewData["SignUpAlertsTopicIdTopicId"]" method="POST">
        <label for="emailAddress">Sign up to receive our news and email alerts in your inbox</label>
        <input type="email" name="emailAddress" id="emailAddress" placeholder="Enter your email address">
        <button class="button-primary-white" type="submit">Subscribe</button>
    </form>
</section>