@using StockportWebapp.Config
@inject IApplicationConfiguration ApplicationConfiguration

@{ var democracyHomeLink = ApplicationConfiguration.GetDemocracyHomeLink();}
<footer>
    <div class="atoz">
        <h2> Find services A-Z </h2>
        <div class="alphabet">
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/a">A</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/b">B</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/c">C</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/d">D</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/e">E</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/f">F</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/g">G</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/h">H</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/i">I</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/j">J</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/k">K</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/l">L</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/m">M</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/n">N</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/o">O</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/p">P</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/q">Q</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/r">R</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/s">S</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/t">T</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/u">U</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/v">V</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/w">W</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/x">X</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/y">Y</a>
            </div>
            <div class="letter ">
                <a class="letter-bordered" href="@democracyHomeLink/atoz/z">Z</a>
            </div>
        </div>
    </div>
    <div class="l-container-footer grid-container">
        <div class="grid-container grid-parent">
            <div class="grid-100 grid-parent">
                <div class="grid-30 tablet-grid-35 tablet-push-65 push-65 footer-social-container">
                    <div class="footer-social-links">
                        <a href="https://twitter.com/StockportMBC">
                            <div class="icon-bordered icon-bordered-fixed icon-container icon-twitter icon-twitter">
                                <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
                            </div>
                        </a>
                        <a href="https://www.facebook.com/StockportMBC">
                            <div class="icon-bordered icon-bordered-fixed icon-container icon-twitter icon-facebook">
                                <i class="fa fa-2x fa-facebook" aria-hidden="true"></i>
                            </div>
                        </a>
                        <a href="https://www.youtube.com/user/StockportCouncil">
                            <div class="icon-bordered icon-bordered-fixed icon-container icon-twitter icon-youtube">
                                <i class="fa fa-2x fa-youtube" aria-hidden="true"></i>
                            </div>
                        </a>
                        <a href="https://www.instagram.com/stockportcouncil">
                            <div class="icon-bordered icon-bordered-fixed icon-container icon-twitter icon-instagram">
                                <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid-25 tablet-grid-25 tablet-pull-35 pull-30 mobile-grid-100">
                    <div class="footer-stockport-logo">
                        <a href="http://www.stockport.gov.uk"><img src="https://s3-eu-west-1.amazonaws.com/live-iag-static-assets/logo-stockport-footer%402x.png" alt="Stockport Council Logo" /></a>
                    </div>
                </div>
                <div class="footer-links tablet-grid-40 pull-30 tablet-pull-35 grid-45 grid-100-mobile ">
                    <div class="grid-100 tablet-grid-100 mobile-grid-100">
                        <ul class="footer-nav">
                            <li class="grid-50 tablet-grid-50 mobile-grid-100">
                                <a href="@democracyHomeLink/topic/about-our-website">About our website</a>
                            </li>
                            <li class="grid-50 tablet-grid-50 mobile-grid-100">
                                <a href="@democracyHomeLink/accessibility-statement">Accessibility statement</a>
                            </li>
                            <li class="grid-50 tablet-grid-50 mobile-grid-100">
                                <a href="@democracyHomeLink/topic/contact-us">Contact us</a>
                            </li>
                            <li class="grid-50 tablet-grid-50 mobile-grid-100">
                                <a href="@democracyHomeLink/how-to-find-us">How to find us</a>
                            </li>
                            <li class="grid-50 tablet-grid-50 mobile-grid-100">
                                <a href="@democracyHomeLink/topic/data-protection">Data protection</a>
                            </li>
                            <li class="grid-50 tablet-grid-50 mobile-grid-100">
                                <a href="@democracyHomeLink/terms-and-conditions">Terms and conditions</a>
                            </li>
                            <li class="grid-50 tablet-grid-50 mobile-grid-100">
                                <a href="@democracyHomeLink/freedom-of-information">Freedom of Information</a>
                            </li>
                            <li class="grid-50 tablet-grid-50 mobile-grid-100">
                                <a href="@democracyHomeLink/website-feedback">Feedback</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="grid-parent grid-container footer-logo-links">
        <a href="https://www.gov.uk/" target="_blank" class="grid-20">
            <img src="https://s3-eu-west-1.amazonaws.com/live-iag-static-assets/gov-uk-logo.png" alt="GOV UK" />
        </a>
        <a href="https://www.greatermanchester-ca.gov.uk/" target="_blank" class="grid-20">
            <img src="https://s3-eu-west-1.amazonaws.com/live-iag-static-assets/GMCA-logo.png" alt="Greater Manchester Combined Authority" />
        </a>
        <a href="https://idea.org.uk/" target="_blank" class="grid-20">
            <img src="https://s3-eu-west-1.amazonaws.com/live-iag-static-assets/Pioneer-logo.png" alt="Pioneer" />
        </a>
    </div>

    <div class="grid-100 footer-bottom">
        <p>
            &#xA9; @DateTime.Now.Year Stockport Metropolitan Borough Council
        </p>
    </div>
</footer>