@model List<SubItem>
@{

}
@if (Model is not null)
{
    <section class="section section--white">
        <div class="grid-container">
            <div class="grid-100">
                <div class="placeholder placeholder-bg-blue placeholder-small">
                    <h2>STATEMENT BANNER SCREEN WIDTH</h2>
                    <p>@Model.FirstOrDefault().Title</p>
                </div>
            </div>
        </div>
    </section>
}