@using StockportWebapp.FeatureToggling
@model StockportWebapp.Models.Topic
@inject FeatureToggles FeatureToggles

<div class="subitems-tertiary-padding grid-100">

    @{
        var firstHalfOfItems = (int)Math.Ceiling((decimal)Model.TertiaryItems.Count() / 2);
    }

    <div class="subitems-tertiary-two-column">
        <ul class="grid-50 mobile-grid-100 tablet-grid-100">
            @foreach (var subItem in Model.TertiaryItems.Take(firstHalfOfItems)) {
                <li>
                    <div class="subitem-tertiary">
                        <a href="@subItem.NavigationLink">
                            @subItem.Title
                        </a>
                    </div>
                </li>
            }
        </ul>

        @if (Model.TertiaryItems.Skip(firstHalfOfItems).Any()) {
            <ul class="grid-50 mobile-grid-100 tablet-grid-100">
                @foreach (var subItem in Model.TertiaryItems.Skip(firstHalfOfItems)) {
                    <li>
                        <div class="subitem-tertiary">
                            <a href="@subItem.NavigationLink">
                                @subItem.Title
                            </a>
                        </div>
                    </li>
                }
                @if (Model.TertiaryItems.Count() % 2 > 0) {
                    <li>
                        <div class="subitem-tertiary no-chevron">

                        </div>
                    </li>
                }
            </ul>
        }
        <div class="clearfix"></div>
    </div>
</div>