@model TopicViewModel
@{
    bool displayImage = Model.Topic.PrimaryItems.Items.All(item => !string.IsNullOrEmpty(item.Image));
    string dataCy = displayImage ? "primary-items-images" : "primary-items";
}

@if (Model.Topic.PrimaryItems.Items.Any())
{
    <section class="section section--white section--no-margin section--margin-top" data-cy="@dataCy">
        <h2 class="visuallyhidden">Popular in @Model.Topic.Name</h2>
        
        <div class="grid-container">
            <div class="grid-100" data-cy="navcard-list">
                <div class="section__content section__content--no-margin">
                    <partial name="TopicNavCardList" model="Model.Topic.PrimaryItems" view-data='new ViewDataDictionary(ViewData) { { "ShowLastUpdated", false }, { "twoGrid", false } }' />
                </div>
            </div>
        </div>
    </section>
}