@model NavCard
<a href="@Model.Url" class="navcard__link navcard__link--padding" data-cy="nav-card-link">
    <h3 class="navcard__title navcard__title--black">@Model.Title</h3>
    <p class="navcard__teaser">@Model.Teaser</p>
</a>
