@model NavCardList

<ul class="navcard-wrapper navcard-wrapper--no-margin">
    @foreach (var navCard in Model.Items)
    {
        <li class="navcard navcard--width-33 navcard--grey navcard--border-top navcard--border-around">
            <partial name="TopicNavCard" model="navCard" />
        </li>
    }
</ul>