@model ContentBlock
@if (Model is not null)
{
    string backgroundColourClass = (string)ViewData["BackgroundColourClass"] ?? string.Empty;
    string noMarginInline = (string)ViewData["NoMarginInline"] ?? string.Empty;
    string textColourClass = (string)ViewData["textColourClass"] ?? string.Empty;
    string borderClass = (string)ViewData["BorderClass"] ?? string.Empty;
    string cardType = (string)ViewData["CardType"] ?? string.Empty;
    string cardSize = (string)ViewData["CardSize"] ?? string.Empty;
    bool isFromPublicationPage = ViewData["IsFromPublicationPage"] as bool? ?? false;
    string bodyTextClass = (string)ViewData["BodyTextClass"] ?? string.Empty;

    string navcardPadding = !string.IsNullOrEmpty(cardType) && cardType.Equals("trivia-banner")
        ? "navcard-content--padding-trivia"
        : string.Empty;

    string navcardWidthClass = !string.IsNullOrEmpty(cardSize) && cardSize.Equals("two-figures")
        ? "navcard--width-50"
        : "navcard--width-33";

    <li class="navcard @navcardWidthClass navcard--center @cardType @backgroundColourClass @borderClass @noMarginInline" data-cy="trivia-card">
        @if (!string.IsNullOrEmpty(Model.Link) && cardType.Equals("trivia-card") && !isFromPublicationPage)
        {
            <a href="@Model.Link" class="navcard__link">
                <partial name="TriviaCardContent" model="Model" view-data="@(new ViewDataDictionary(ViewData) { {"subTitleIsLink", "trivia-card__subtitle-link"}, {"IsPublication", isFromPublicationPage} })" />
            </a>
        }
        else
        {
            <partial name="TriviaCardContent" model="Model" view-data="@(new ViewDataDictionary(ViewData) { {"IsPublication", isFromPublicationPage}, {"ContentBodyTextClass", bodyTextClass} })"  />
        }
    </li>
}