@model ContentBlock
@if (Model is not null && Model.SubItems.Any() is true)
{
    @if (Model.SubItems.Count.Equals(3))
    {
        <section class="section section--extra-margin section--white" data-cy="trivia-cards">
            <div class="grid-container">
                <div class="grid-100">
                    <div class="section__content">
                        @if (!string.IsNullOrEmpty(Model.Title))
                        {
                            <div class="trivia-title">
                                <h2 class="section__title section__title--no-padding section__title--margin-bottom">@Model.Title</h2>
                                <hr />
                            </div>
                        }
                        <ul class="navcard-wrapper navcard-wrapper--no-margin">
                            @foreach (ContentBlock contentBlock in Model.SubItems)
                            {
                                if (contentBlock.Type.Equals("informationList"))
                                {
                                    <partial name="TriviaCard" model="@contentBlock" view-data="@(new ViewDataDictionary(ViewData) { {"BackgroundColourClass", Model.BackgroundColourClass}, {"BorderClass", Model.BorderClass}, {"TextColourClass", Model.TextColourClass},  {"CardType", "trivia-card"} })" />
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    }
    else if (Model.SubItems.Count > 3)
    {
        <partial name="TriviaList" model="@Model" />
    }
}