@model ContentBlock
@{
    string textColour = Model.ColourScheme is EColourScheme.OS_Pink or EColourScheme.OS_Yellow
        ? $"text{CssClassMapper.GetCssClass(EColourScheme.OS_Purple)}"
        : Model.TextColourClass;
}

<section class="content-block content-block--padding-medium content-block--screen content-block--margin-top content-block--margin-bottom-non-mobile trivia-banner-two-figures" data-cy="trivia-banner-two-figures">
    <div class="trivia-banner__section">
        <div class="grid-container">
            <div class="grid-100">
                <ul class="navcard-wrapper navcard-wrapper--no-margin">
                    @foreach (ContentBlock contentBlock in Model.SubItems)
                    {
                        <partial name="TriviaCard" model="@contentBlock"
                                view-data="@(new ViewDataDictionary(ViewData)
                                {
                                    { "BackgroundColourClass", "trivia-banner--background" },
                                    { "BorderClass", string.Empty },
                                    { "TextColourClass", $"text-default {textColour}" },
                                    { "CardType", "trivia-banner" },
                                    { "CardSize", "two-figures" },
                                    { "IsFromPublicationPage", false }
                                })" />
                    }
                </ul>
            </div>
        </div>
    </div>
</section>