@model ContentBlock
@{
    bool anyStatistic = Model.SubItems.Any(contentBlock => !string.IsNullOrWhiteSpace(contentBlock.Statistic));
    bool anyWithoutStatistic = Model.SubItems.Any(contentBlock => string.IsNullOrWhiteSpace(contentBlock.Statistic));

    bool allItemsHaveStatistic = anyStatistic && !anyWithoutStatistic;
    bool hasMixedStatistics = anyStatistic && anyWithoutStatistic;
}

<section class="content-block content-block--padding-medium content-block--screen content-block--margin-top content-block--margin-bottom-non-mobile" data-cy="trivia-banner">
    <div class="trivia-banner__section">
        <div class="grid-container">
            <div class="grid-100">
                <ul class="navcard-wrapper navcard-wrapper--no-margin">
                    @foreach (ContentBlock contentBlock in Model.SubItems)
                    {
                        <partial name="TriviaCard" model="@contentBlock"
                                view-data="@(new ViewDataDictionary(ViewData)
                                {
                                    { "BackgroundColourClass", "trivia-banner--background" },
                                    { "BorderClass", string.Empty },
                                    { "TextColourClass", $"text-default {Model.TextColourClass}" },
                                    { "CardType", "trivia-banner" },
                                    { "IsFromPublicationPage", allItemsHaveStatistic ? true : hasMixedStatistics }
                                })" />
                    }
                </ul>
            </div>
        </div>
    </div>
</section>