@model List<SubItem>
@{
    
}

@if (Model is not null)
{
    <section class="section section--white">
        <div class="grid-container">
            <div class="grid-100">
                <div class="placeholder placeholder-bg-green placeholder-large">
                    <h2>VIDEO</h2>
                    <p>@Model.FirstOrDefault().Title</p>
                </div>
            </div>
        </div>
    </section>
}