@model EmailBannerViewModel

<section class="banner">
    <div class="hide-on-tablet hide-on-mobile">
        <span class="si-envelope-open" aria-hidden="true"></span>
    </div>
    <div class="email-alert">
        <form method="post" role="form" action="/subscribe">
            <h2 class="h3">@Model.EmailAlertsText</h2>       
            <button type="submit" id="test-subscribe" class="button-primary">Subscribe</button>
            @Html.HiddenFor(o => o.EmailAlertsTopicId)
        </form>
    </div>
</section>