@using StockportWebapp.ViewModels
@model EmailBannerViewModel

<section class="banner">
    <div class="hide-on-tablet hide-on-mobile">
        <span class="si-envelope-open" aria-hidden="true"></span>
    </div>
    <div>
        <h2 class="h3">@Model.EmailAlertsText</h2>
        <form method="get" role="form" action="/subscribe">
            <input type="email" name="emailAddress" placeholder="Enter your email address" title="Enter your email address" aria-label="Enter your email address">
            <button type="submit" id="test-subscribe" class="button-primary">Subscribe</button>
            @Html.HiddenFor(o => o.EmailAlertsTopicId)
        </form>
    </div>
</section>