@using StockportWebapp.Models
@using StockportWebapp.Utils
@inject ICookiesHelper CookiesHelper
@model Alert

@{
    var icons = new Dictionary<string, string>()
{
{Severity.Error, "exclamation-circle"},
{Severity.Information, "info-circle"},
{Severity.Warning, "exclamation-triangle"},
{Severity.Success, "check-circle"},
};
}

<section class="alert-@Model.Severity.ToLower()-fullwidth">
    <div class="alert-body">
        <div class="icon">
            <i class="fa fa-@icons[@Model.Severity]"></i>
        </div>
        <div class="content">
            <p class="h2">@Model.Title</p>
            <p>@Html.Raw(Model.Body)</p>
        </div>
        <div class="dismiss">
            <a href="javascript:void(0)" aria-label="Close @Model.Title alert" data-parent="alert-@Model.Severity.ToLower()-fullwidth" data-slug="@Model.Slug">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
</section>

<script>
    require(['/assets/javascript/config.min.js'], function() {
        require(['alerts.min'],
            function(alerts) {
                alerts.Init();
            }
        );
    });
</script>