@{
    ViewData["Title"] = "Building control";
    ViewData["Form"] = "true";
    Layout = "../Shared/_Layout.cshtml";
}

@model StockportWebapp.QuestionBuilder.Entities.Page


<div class="container-header grid-container building-regs">
    <div class="grid-100">
        <h1>Building control</h1>

        @Html.Partial("Components/QuestionRenderer/QuestionForm")
    </div>
</div>

@*<script>
    require(["questionComponent/questionModule"], function (module) {
        module.init("building-regs");
    })
</script>*@