@using Microsoft.AspNetCore.Html
@using System.Text.Json
@model PublicationTemplateViewModel
@{
    PublicationTemplate publicationTemplate = Model.PublicationTemplate;
    ViewData["Title"] = publicationTemplate.Title;
    ViewData["Description"] = publicationTemplate.MetaDescription;
    ViewData["og:title"] = publicationTemplate.Title;
    Layout = "../Shared/_Layout2023.cshtml";
}

<div class="grid-container-full-width" style="background-color:white;" data-cy="landing-page">
    <partial name="Breadcrumb2023" model='new List<Crumb> { new Crumb("About your council", "landing/about-our-website", "Article") }' view-data='@(new ViewDataDictionary(ViewData) {{"backgroundColour", "topic-breadcrumb-container"}, {"landingBreadcrumb", "landing-breadcrumb-container"}})' />
    @if (Model.HasPrevious() is false)
    {
        <partial name="FullImageHeader" model="Model.PageHeader" />
    }

    <div class="grid-container">
        <div class="grid-100">
            <div class="article--70 article-navigation" style="margin-bottom: 1.5em;">
            </div>

            <section class="article">
                <div class="article--70">
                    <partial name="PublicationPage" model="Model.CurrentPage" view-data='@(new ViewDataDictionary(ViewData) { { "currentSection", Model.CurrentSection } })' />
                    <partial name="PublicationTemplatePagination" />
                </div>

                <div class="article--30 section">
                    <partial name="PublicationSidebarNavCardList" model="@Model.Sidebar" />
                </div>
            </section>
        </div>
    </div>
</div>