@inject IRichTextHelper RichTextHelper
@using Microsoft.AspNetCore.Html
@using System.Text.Json
@model PublicationPage

@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.MetaDescription;
    ViewData["og:title"] = Model.Title;

    PublicationSection currentSection = ViewData["currentSection"] as PublicationSection;
}

@if (Model.PublicationSections?.Any() is true)
{
    IEnumerable<PublicationSection> sectionsToRender = currentSection is null
        ? Model.PublicationSections
        : Model.PublicationSections.Where(publicationSection => publicationSection.Slug.Equals(currentSection.Slug));

    foreach (PublicationSection publicationSection in sectionsToRender)
    {
        <h2 class="publication-template__page-title">@publicationSection.Title</h2>

        <partial name="PublicationSection" model="publicationSection" />
    }
}
else
{
    JsonElement content = Model.Body.GetProperty("content");

    @for (int i = 0; i < content.GetArrayLength(); i++)
    {
        object rendered = RichTextHelper.RenderNode(content, i);

        if (rendered is EmbeddedPartial partial)
        {
            @await RenderEmbeddedPartialAsync(partial)
        }
        else if (rendered is string html)
        {
            @Html.Raw(html)
        }
    }
}

@functions {
    private async Task<IHtmlContent> RenderEmbeddedPartialAsync(EmbeddedPartial partial)
    {
        string contentType = partial.Model?.ContentType;

        switch (contentType)
        {
            case "CallToAction":
                return await RenderCallToActionAsync(partial.Model);
            case "TriviaList":
                return await Html.PartialAsync("PublicationTemplateTriviaList", partial.Model);
            case "TriviaCards":
                return await Html.PartialAsync("PublicationTemplateTriviaCards", partial.Model);
            default:
                return await Html.PartialAsync(partial.PartialName, partial.Model, new ViewDataDictionary(ViewData) { { "AllowTwo", true } });
        }
    }

    private async Task<IHtmlContent> RenderCallToActionAsync(dynamic model)
    {
        if (model is null)
            return HtmlString.Empty;

        CallToActionBanner banner = new()
        {
            Image = model.Image,
            AltText = model.Title,
            ButtonText = model.ButtonText,
            Colour = model.ColourScheme,
            Link = model.Link,
            Teaser = model.Teaser,
            Title = model.Title
        };
        
        return await Html.PartialAsync("CallToAction", banner, new ViewDataDictionary(ViewData)
        {
            { "AdditionalCssClass", "content-block content-block--margin-extra" }
        });
    }
}