@inject StockportWebapp.Utils.ViewHelpers viewHelper
@model HomepageViewModel
@{
    ViewData["Title"] = "Welcome to Stockport Council";
    ViewData["og:title"] = "Welcome to Stockport Council";
    ViewData["Description"] = @Model.HomepageContent.MetaDescription;
    Layout = "../Shared/_LayoutHome2023.cshtml";
}

@section BackgroundImage
{
}

@section CarouselBackgroundImage
{
}

@if (Model.HomepageContent.CondolenceAlerts is not null && Model.HomepageContent.CondolenceAlerts.Any())
{
    foreach (var condolence in Model.HomepageContent.CondolenceAlerts)
    {
        <div data-test="global-alert">
            <partial name="CondolenceAlert" model='condolence'/>
        </div>
    }
}

@if (Model.HomepageContent.Alerts is not null && Model.HomepageContent.Alerts.Any())
{
    foreach (var alert in Model.HomepageContent.Alerts)
    {
        <div data-cy="global-alert-wrapper">
            <partial name="GlobalAlert" model='alert'/>
        </div>
    }
}

<section class="section top-tasks-wrapper" data-cy="search-and-top-tasks">
    <div class="grid-container">
        <div class="grid-100">
            <partial name="Search2023" model='new Tuple<string, string, string, string>("cludo-search-hero-form", "Search on stockport.gov.uk", "cludo-search-bar", "website search")'/>            
            <partial name="TopTasks" model='Model.HomepageContent.FeaturedTasks'/>
        </div>
    </div>

    <div class="skyline-wrapper"></div>
</section>

<section class="section section--white">
    <div class="grid-container">
        <div class="grid-100" data-cy="navcard-list">
            <h2 class="section__title section__title--padded-bottom h-l">Our services</h2>
            <div class="section__content section__content--no-margin">
                <partial name="NavCardList" model='Model.HomepageContent.Services'/>
                <a class="btn btn--center btn--width-30 btn--chevron-right" data-cy="view-more-services" href="topic/our-council-services">View more services</a>
            </div>
        </div>
    </div>
</section>

<section class="section section--grey section--padded">
    <div class="grid-container">
        <div class="grid-100">
            <h2 class="section__title section__title--padded-bottom-m h-l">What's happening in Stockport</h2>
            <p class="section__teaser section__teaser--padded-bottom">Keep up to date with what's happening in Stockport</p>
            <div class="section__content">
                <div class="feature-card">
                    <partial name="FeatureCard" model='new FeatureCardViewModel { 
                        Title = Model.FeaturedNews.Title, 
                        Teaser = Model.FeaturedNews.Teaser, 
                        Date = Model.FeaturedNews.SunriseDate, 
                        StartTime = string.Empty, 
                        Image = Model.FeaturedNews.Image, 
                        ButtonText = "View More News",
                        Slug = String.Concat("/news/", Model.FeaturedNews.Slug),
                        ButtonUrl = "Comms"
                    }'/>

                    <partial name="FeatureCard" model='new FeatureCardViewModel { 
                        Title = Model.FeaturedEvent.Title, 
                        Teaser = Model.FeaturedEvent.Teaser, 
                        Date = Model.FeaturedEvent.EventDate, 
                        StartTime = Model.FeaturedEvent.StartTime, 
                        Image = Model.FeaturedEvent.ImageUrl, 
                        ButtonText = "View more events",
                        Slug = String.Concat("/events/", Model.FeaturedEvent.Slug),
                        ButtonUrl = "Events"
                    }'/>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--white">
    <div class="grid-container">
        <div class="grid-100">
            <partial name="CallToAction" model='Model.HomepageContent.CallToAction'/>
        </div>
    </div>
</section>

<div class="large-gray-placeholder placeholder">
    <h2>Spotlight on</h2>
</div>

<partial name="EmailSubscribe2023" />
