@inject StockportWebapp.Utils.ViewHelpers viewHelper
@model HomepageViewModel
@{
    ViewData["Title"] = "Welcome to Stockport Council";
    ViewData["og:title"] = "Welcome to Stockport Council";
    ViewData["Description"] = @Model.HomepageContent.MetaDescription;
    Layout = "../Shared/_LayoutHome2023.cshtml";
}

@section BackgroundImage
{
}

@section CarouselBackgroundImage
{
}

<div class="condolence-banner-placeholder placeholder">
    <h2>Condolence Banner</h2>
</div>

@if (Model.HomepageContent.Alerts is not null && Model.HomepageContent.Alerts.Any())
{
    foreach (var alert in Model.HomepageContent.Alerts)
    {
        <div data-test="global-alert">
            <partial name="GlobalAlert" model='alert'/>
        </div>
    }
}

<section class="section top-tasks-wrapper" data-test="search-and-top-tasks">
    <div class="grid-container">
        <div class="grid-100">
            <h1 class="section__title section__title--padded-bottom--m section__title--margin-top h-xl">Welcome to Stockport</h1>
            <section class="search-bar">
                <h2 class="visuallyhidden">Search stockport.gov.uk</h2>
                <partial name="Search" model='new Tuple<string, string, string, string>("cludo-search-hero-form", "Search on stockport.gov.uk", "cludo-search-bar", "website search")'/>
            </section>

            <div class="top-tasks-placeholder placeholder">
                <h2>Top tasks</h2>
            </div>
        </div>
    </div>
    <div class="skyline-wrapper"></div>
</section>

<section class="section section--white">
    <div class="grid-container">
        <div class="grid-100" data-cy="navcard-list">
            <h2 class="section__title section__title--padded-bottom h-l">Our services</h2>
            <partial name="NavCardList" model='Model.HomepageContent.Services'/>
            
            <div class="featured-content-button-wrapper">
                <a class="button button-outline button-partialrounded button-call-to-action" data-cy="view-more-services" href="topic/our-council-services">View more services</a>
            </div>
        </div>
    </div>
</section>

<div class="large-gray-placeholder placeholder">
    <h2>What's happening in stockport</h2>
</div>

<div class="call-to-action-banner-placeholder placeholder">
    <h2>Call to action</h2>
</div>

<div class="large-gray-placeholder placeholder">
    <h2>Spotlight on</h2>
</div>

<section class="personalised-services" data-test="personalised-services">
    <h2 class="visuallyhidden">Subscription </h2>
    <div class="grid-container">
        <div class="grid-100 enhanced_service" id="test-email-alerts">
            <partial name="EmailSubscribe" />
        </div>
    </div>
</section> 
