// Some inspiration for names came from MIT "X11" Standard
// see: https://www.w3schools.com/colors/colors_x11.asp

$lightTealPale: #1ea28d; //         hsl(170, 69%, 38%)
$paleLightTeal: #07d0b0; //         hsl(170, 93%, 42%)
$accessibleTeal: #1a8c7a; //        hsl(171, 69%, 33%)
$tealPale: #059e86; //              hsl(171, 94%, 32%)
$tealDark: #00937c; //              hsl(171, 100%, 29%)
$lightTeal: #00b79b; //         	  hsl(171, 100%, 36%)
$primaryPaleOpaque2: rgba(0,183,155,.2); //hsl(171, 100%, 36%)
$tealDarker: #188479; //           	hsl(174, 69%, 31%)
$colorPrimaryPalest: #c7d6d5; //    hsl(176, 15%, 81%)
$colorPOpaque5: rgba(7,40,38,0.5); //hsl(176, 70%, 9%)
$primarypale7123: #11635e; //       hsl(176, 71%, 23%)
$colorPrimaryPale: #83aeac; //      hsl(177, 21%, 60%)
$greenBlue2316: #203332; //         hsl(177, 23%, 16%)
$colorPrimaryLight: #3a716e; // 	  hsl(177, 32%, 34%)
$primary4530: #2A6F6B; //           hsl(177, 45%, 30%)
$colorPrimarySuperDark: #124a47; // hsl(177, 61%, 18%)
$easternBlue: #1aa9a1; //           hsl(177, 73%, 38%)
$primaryShadow: #07312f; //         hsl(177, 75%, 11%)
$colourPrimary8323: #0a6964; //     hsl(177, 83%, 23%)
$colorPrimary: #055c58; // 	        hsl(177, 90%, 19%)
$colorPrimaryDark: #1d3837; //      hsl(178, 32%, 17%)
$colorPrimaryDarkest: #092726; // 	hsl(178, 63%, 9%)
$dark: #0b0c0c; //               	  hsl(180, 4%, 5%)
$teal: #008080; //                  hsl(180, 100%, 25%)
$colorPrimaryLightest: #99a6a7; //	hsl(184, 7%, 63%)
$mediumDarkCyan: #00818a; //        hsl(184, 100%, 27%)
$darkCyan: #09656c; //              hsl(184, 85%, 23%)

$red: #ff0000; //                   hsl(0, 100%, 50%)
$dullRed: #e52d27; //               hsl(2, 79%, 53%)
$salmon: #fa8072; //             	  hsl(6, 93%, 71%)
$tallPoppyRed: #c83725; //          hsl(7, 69%, 46%)
$brickRed: #a62d1e; //              hsl(7, 69%, 38%)

$softBlue: #207eab; //          	  hsl(199, 68%, 40%)
$greyDarker: #505a5f; //            hsl(200, 9%, 34%)
$blueDarkGrey: #303e49; //          hsl(206, 21%, 24%)
$blueLightSky: #69ace0; //          hsl(206, 66%, 65%)
$steelBlue3: #4f94cd; //        	  hsl(207, 56%, 56%)
$blueLightRoyal: #3a589a; //        hsl(221, 45%, 42%)

$darkOrchid3: #8a3ab9; //           hsl(278, 52%, 48%)

$green: #15863A; //             	  hsl(140, 73%, 30%)
$green1457932: #119046; //          hsl(145, 79%, 32%)
$green1467233: #18914c; //          hsl(146, 72%, 33%)

$tuscanyOrange: #cd5334; //         hsl(12, 60%, 50%)
$darkOrange2: #ff6600; //           hsl(24, 100%, 50%)
$tan3: #cd853f; //                  hsl(30, 59%, 53%)
$carrotOrange: #ef8a17; //          hsl(32, 87%, 51%)
$fireBushOrange: #e39024; //        hsl(34, 77%, 52%)
$navajoWhite: #ffdead; //           hsl(36, 100%, 84%)
$orange: #ffa500; //            	  hsl(39, 100%, 50%)
$goldenRod15: #ffb733; //           hsl(39, 100%, 60%)
$goldenRod25: #f2af29; //           hsl(40, 89%, 55%)

$purple2444: #8C5573; //            hsl(327, 24%, 44%)
$purple: #8e5572; //             	  hsl(329, 25%, 45%)
$purple2544: #8D5472; //            hsl(328, 25%, 44%)
$maroon: #fc329b; //                hsl(329, 97%, 59%)
$purple5237: #8f2d56; //            hsl(335, 52%, 37%)

$whiteOpaque1: rgba(255,255,255,0.1); //hsl(0, 0%, 100%)
$whiteOpaque2: rgba(255,255,255,0.2); //hsl(0, 0%, 100%)
$whiteOpaque3: rgba(255,255,255,0.3); //hsl(0, 0%, 100%)
$whiteOpaque5: rgba(255,255,255,0.5); //hsl(0, 0%, 100%)
$whiteOpaque6: rgba(255,255,255,0.6); //hsl(0, 0%, 100%)
$whiteOpaque7: rgba(255,255,255,0.7); //hsl(0, 0%, 100%)
$whiteOpaque8: rgba(255,255,255,0.8); //hsl(0, 0%, 100%)
$white: #ffffff; //             	  hsl(0, 0%, 100%)
$grey95: #f2f2f2; //             	  hsl(0, 0%, 95%)
$galleryGrey: #eeeeee; //           hsl(0, 0%, 93%)
$offWhite: #ebebeb; //              hsl(0, 0%, 92%)
$grey89: #e3e3e3; //                hsl(0, 0%, 89%)
$greyLightest: #e1e1e1; //          hsl(0, 0%, 88%)
$grey875: #dfdfdf; //               hsl(0, 0%, 87%)
$darkerEbbGrey: #d8d8d8; //         hsl(0, 0%, 85%)
$lightGrey: #d3d3d3; //             hsl(0, 0%, 83%)
$greyLighter: #cccccc; //          	hsl(0, 0%, 80%)
$grey75: #bebebe; //                hsl(0, 0%, 75%)
$greyLight: #bcbcbc; //            	hsl(0, 0%, 74%)
$greyLightMiddle: #b1b1b1; //       hsl(0, 0%, 69%)
$greyLMOpaque8: rgba(177,177,177,0.8); //hsl(0, 0%, 69%)
$grey63: #a0a0a0; //                hsl(0, 0%, 63%)
$grey61: #9b9b9b; //                hsl(0, 0%, 61%)
$greyMiddle: #999999; //           	hsl(0, 0%, 60%)
$grey55: #8c8c8c; //                hsl(0, 0%, 55%)
$grey46: #757575; //                hsl(0, 0%, 46%)
$greyDark: #666666; //              hsl(0, 0%, 40%)
$grey33: #555555; //                hsl(0, 0%, 33%)
$mineShaftGrey: #373737; //         hsl(0, 0%, 22%)
$greyDarkest: #333333; //           hsl(0, 0%, 20%)
$greyDarkestOpaque8: rgba(51,51,51,0.8); //hsl(0, 0%, 20%)
$grey8Opaque5: rgba(20,20,20,.5); //hsl(0, 0%, 8%)
$black: #000000; //                 hsl(0, 0%, 0%)
$blackOpaque05: rgba(0,0,0,0.05); //hsl(0, 0%, 0%)
$blackOpaque1: rgba(0,0,0,0.1); //  hsl(0, 0%, 0%)
$blackOpaque2: rgba(0,0,0,0.2); //  hsl(0, 0%, 0%)
$blackOpaque25: rgba(0,0,0,0.25); //hsl(0, 0%, 0%)
$blackOpaque3: rgba(0,0,0,0.3); //  hsl(0, 0%, 0%)
$blackOpaque5: rgba(0,0,0,0.5); //  hsl(0, 0%, 0%)
$blackOpaque7: rgba(0,0,0,0.7); //  hsl(0, 0%, 0%)
