// Primary Colours
$colorPrimary: #055c58;
$colorPrimaryDark: #1d3837;
$colorPrimaryDarkest: #092726;
$colorPrimaryLight: #3a716e;
$colorPrimaryPale: #83aeac;
$colorPrimaryLightest: #99a6a7;
$colorPrimarySuperDark: #124a47;

// Secondary Colours
$teal: #06b79b;
$teal-darker: #188479;
$softBlue: #207eab;
$green: #15863A;
$orange: #ef8a16;
$red: #c83725;

// Tertiary
$purple: #8e5572;
$tealDark: #00937c;

// Greys
$white: #ffffff;
$offWhite: #ebebeb;
$greyLightest: #e1e1e1;
$greyLighter: #cccccc;
$greyLight: #bcbcbc;
$greyMiddle: #999999;
$greyDark: #666;
$greyDarker: #505A5F;
$greyDarkest: #333333;
$black: #000000;

$mediumDarkCyan: #00818a;
$darkCyan: #09656c;
$easternBlue: #1AA9A1;
$tuscanyOrange: #CD5334;
$carrotOrange: #EF8A17;
$mercuryGray: #E5E5E5;
$galleryGray: #EEEEEE;
$doveGray: #666666;
$fireBushOrange: #E39024;
$mineShaftGray: #373737;
$ebbGray: #EBEBEB;
$darkerEbbGray: #D8D8D8;
$dustyGray: #999999;
$blackHazeGray: rgba(0,0,0,0.1);
$alabasterGray: rgba(0,0,0,0.2);
$transparentWhite: rgba(255,255,255,0.2);
$silverChaliceGray: #AAAAAA;
$tallPoppyRed: #C83725;
