$mobile: "only screen and (max-width: 42.664em)";
$non-mobile: "only screen and (min-width: 42.667em)";
$tablet: "only screen and (max-width: 56.889em)";
$desktop: "only screen and (min-width: 56.9449em)";