$small-mobile: "only screen and (max-width: 17.49375em)";
$mobile: "only screen and (max-width: 47.99375em)";
$non-mobile: "only screen and (min-width: 48em)";
$tablet: "only screen and (max-width: 64.05625em)";
$desktop: "only screen and (min-width: 64.0625em)";