@using StockportWebapp.Models;
@model ProfileViewModel
@{
    Profile profile = Model.Profile;
    ViewData["Title"] = profile.Title;
    ViewData["FullWidth"] = "full-width profile";
    var articleTitle = profile.Breadcrumbs.LastOrDefault() != null ? profile.Breadcrumbs.LastOrDefault().Title + " - " : string.Empty;
    ViewData["og:title"] = articleTitle + profile.Title;
    Layout = "../Shared/_LayoutSemantic.cshtml";
}

@section Breadcrumbs {
    <partial name="SemanticBreadcrumb" model='profile.Breadcrumbs' />
}

<article class="page-container" data-cy="profile-page">
    <h1 tabindex="-1">@ViewData["Title"]</h1>
    <p class="lead-paragraph">@profile.Subtitle</p>
    <hr class="thick-divider" />
    <section>
        @Html.Raw(profile.Body)
    </section>

    @if (Model.Profile.TriviaSection is not null)
    {
        <hr class="thick-divider" />
        <partial name="Components/Trivia/Default" model="Model.Profile.TriviaSection" view-data='@(new ViewDataDictionary(ViewData) {{ "TriviaTitle", profile.TriviaSubheading }})'/>
    }
</article>

@if (!string.IsNullOrEmpty(profile.EventsBanner.Title))
{
    <div class="banner-section">
        <section>
            <partial name="Events/Semantic/EventBanner" model='profile.EventsBanner'/>
        </section>
    </div>
}