.footer-social-links {
  text-align: right;

  @media #{$mobile} {
    a:not(:last-child) .icon-container {
      border-right: 1px solid rgba(255,255,255,0.3);
    }
  }

  .icon-container {
    border-color: #ffffff;
    color: #ffffff;
    width: 31px;
    height: 31px;
    margin-right: 0;
    margin-left: 6px;
    border-width: 1px;

    @media #{$desktop, $tablet} {
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }

    @media #{$mobile} {
      width: 50%;
      height: auto;
      text-align: center;
      color: #ffffff;
      float: left;
      border: none;
      border-radius: 0;
      margin: 0;
      padding: 16px 0 10px 0;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(255,255,255,0.3);
      background-color: #00818a;

      &.icon-twitter:hover {
        background-color: #69ace0;

        a {
          color: #ffffff;
        }
      }

      &.icon-fb:hover {
        background-color: #3a589a;

        a {
          color: #ffffff;
        }
      }

      &.icon-facebook:hover {
        background-color: #3a589a;

        a {
          color: #ffffff;
        }
      }

      &.icon-youtube:hover {
        background-color: $dullRed;

        a {
          color: #ffffff;
        }
      }

      &.icon-rss:hover {
        background-color: #ff6600;

        a {
          color: #ffffff;
        }
      }

      &.icon-flickr:hover {
        background-color: #fc329b;

        a {
          color: #ffffff;
        }
      }

      &.icon-instagram:hover {
        background-color: #8a3ab9;

        a {
          color: #ffffff;
        }
      }
    }

    @media #{$tablet} {
      height: 24px;
      width: 22px;
      padding: 11px 13px 15px;
      margin-left: 0px;
      margin-bottom: 4px;

      i {
        font-size: 1.7em;
      }
    }

    @media #{$desktop} {
      margin-bottom: 10px;
    }

    i {
      margin-top: 0px;

      @media #{$mobile} {
        font-size: 3em;
      }
    }
  }

  a:hover {
    text-decoration: none;

    .icon-bordered-fixed {
      color: #ffffff;
    }
  }
}
