.input-form input[type=text] {
  @include border-radius(20px);
  font-size: 16px;
  padding: 12px;
  margin: 0;
  border: 1px solid $borderTextInputPrimary;
  color: #ffffff;
  background-color: $backgroundTextInputPrimary;
}

.input-form input[type=text]:focus {
  background-color: $borderTextInputPrimaryFocus;
  @include transition(background-color 0.5s);
  outline: none;
}

.input-form input[type=text]:focus + button[type=submit] {
  background-color: $borderTextInputPrimaryFocus;
  @include transition(background-color 0.5s);
}

.input-field, fieldset input[type="text"], select, textarea {
  background-color: $inputBackground;
  border: 1px solid $inputBorder;
  border-radius: 3px;
  color: $inputColor;
  display: table-cell;
  font-family: $fontStack;
  font-size: 1em;
  font-weight: 400;
  padding: 10px 2%;
  position: relative;
}

.form {
  margin-bottom: 20px;
  margin-right: 20px;

  .form-section {
    padding-bottom: 20px;

    label {
      max-width: 160px;
      width: 27%;
      float: left;
    }

    input {
      padding: 4px 4px 4px 30px;
      width: 100%;

      @media #{$desktop} {
        width: 71%;
      }
    }

    textarea {
      width: 100%;
      padding: 4px;

      @media #{$desktop} {
        width: 95%;
      }
    }

    select {
      padding: 4px;
    }

    .field-validation-error {
      color: red;
      display: block;
      font-size: 80%;
    }
  }

  .no-margin {
    margin-top: -20px;
  }
}
