/*------------------- Woo! Buttons -------------------*/
.button-small {
  color: $greyDarkest;
  font-size: $fontSmall;
  font-weight: $fontWeightMedium;
  text-transform: uppercase;
  padding: 5px;

  &:hover {
    color: #2A6F6B;
  }
}

.button {
  text-decoration: none;
  display: inline-block;
  color: $white;
  font-size: 1em;
  letter-spacing: 0px;
  font-family: 'Open Sans';
  position: relative;
  padding: 15px;
  line-height: 20px;

  &:hover {
    text-decoration: none;
    color: $white;
  }
}

.button-outline {
  border: 1px solid $borderDefault;
}

.button-partialrounded {
  @include border-radius(5px);
}

.button-dark {
  background-color: $buttonDarkBackground;
}

.button-sidebar {
  background-color: $buttonSidebarBackground;
}

.button-small img {
  vertical-align: middle;
  margin-right: 5px;
  opacity: 0.5;
  height: 12px;
}

.button-fullwidth {
  display: block;
  text-align: center;
}

.button i {
  vertical-align: middle;
  margin-right: 5px;
  opacity: 0.5;
  font-size: 16px;
  line-height: 16px;
  margin-top: -3px;
}

.button-close {
  position: absolute;
  top: 18px;
  right: 20px;
  z-index: 401;
}

.button-chevron {
  text-align: right;
  padding-left: 40px;

  @media #{$mobile} {
    padding-left: 12%;
  }

  i {
    margin-left: 20px;
    font-size: 23px;
    color: $white;
    opacity: 1;
  }
}

.button-action {
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;

  a, button {
    padding: 10px 0;
    display: block;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: none;
    }
  }
}

.button-featured-content-more {
  border-radius: 5px;
  text-align: center;
  width: auto;
  color: $greyDarkest;
  text-decoration: none;
  font-weight: bold;
  font-weight: 600;

  &.button {
    box-shadow: none;
  }

  &:before {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    text-align: right;
    float: right;
    margin-top: 2px;
    padding-left: 10px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -10px;
  }

  &:hover {
    text-decoration: none;
    color: $greyDarkest;
    background-color: #e0e0e0;
  }
}

.button-call-to-action {
  border-radius: 5px;
  text-align: center;
  @include button-colors($buttonCallToActionBackground, $white);
  width: auto;
  min-width: 300px;
  padding: 15px 30px;

  @media #{$mobile} {
    display: block;
    min-width: inherit;
  }

  &:before {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    text-align: right;
    float: right;
    padding-left: 10px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
  }

  a, button {
    padding: 10px 0;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: $white;

    &:hover {
      text-decoration: none;
    }
  }
}

.button-bold {
  font-weight: bold;
}

.button-menu i {
  font-size: 20px;
  margin: -3px 0 0;
  padding: 0 2px;
}

.button-muted {
  @include button-colors($greyMiddle, $white);
}

.button.button-disabled {
  background-color: $greyLightest;
  border-color: $greyLightest;
  box-shadow: none;

  &:hover, &:focus, &:active {
    background-color: $greyLightest;
    box-shadow: none;
  }
}
