.footer-links {
  ul {
    margin-bottom: 0;

    li {
      padding-left: 0;
    }
  }

  ul.footer-nav {
    li {
      margin: 0;
      padding: 0;
      margin-bottom: 10px;

      a {
        margin-left: 30px;

        @media #{$tablet} {
          margin-left: 0;
        }

        padding-right: 10px;
        line-height: 1.5em;
        display: block;
      }
    }
  }

  @media #{$mobile} {
    margin-left: 20px;
  }
}

.footer-bottom {
  background-color: $footerBottomBackground;
  text-align: center;
  padding-top: 12px;

  p {
    margin-bottom: 15px;

    a {
      font-weight: 800;
    }
  }
}

footer h6 {
  text-transform: none;
  margin-bottom: 0;
}

footer a {
  color: $white;
  text-decoration: none;
}

.footer-social-container {
  @media #{$mobile} {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: -10px;
    margin-right: -10px;
  }
}

.footer-social-links {
  text-align: right;

  @media #{$mobile} {

    a:not(:last-child) .icon-container {
      border-right: 1px solid rgba(255, 255, 255, 0.3);
    }
  }

  .icon-container {
    border-color: $white;
    color: $white;
    width: 31px;
    height: 31px;
    margin-right: 0;
    margin-left: 6px;
    border-width: 1px;

    @media #{$desktop, $tablet} {
      opacity: 0.7;


      &:hover {
        opacity: 1;
      }
    }

    @media #{$mobile} {
      width: 25%;
      height: auto;
      text-align: center;
      color: $white;
      float: left;
      border: none;
      border-radius: 0;
      margin: 0;
      padding: 16px 0 10px 0;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      background-color: $teal;

      &.icon-twitter:hover {
        background-color: #69ace0;

        a {
          color: $white;
        }
      }

      &.icon-fb:hover {
        background-color: #3a589a;

        a {
          color: $white;
        }
      }

      &.icon-facebook:hover {
        background-color: #3a589a;

        a {
          color: $white;
        }
      }

      &.icon-youtube:hover {
        background-color: #e52d27;

        a {
          color: $white;
        }
      }

      &.icon-rss:hover {
        background-color: #ff6600;

        a {
          color: $white;
        }
      }

      &.icon-flickr:hover {
        background-color: #FC329B;

        a {
          color: $white;
        }
      }

      &.icon-instagram:hover {
        background-color: #8a3ab9;

        a {
          color: $white;
        }
      }
    }

    @media #{$tablet} {
      height: 24px;
      width: 22px;
      padding: 11px 13px 15px;
      margin-left: 0px;
      margin-bottom: 4px;

      i {
        font-size: 1.7em;
      }
    }

    @media #{$desktop} {
      margin-bottom: 10px;
    }

    i {
      margin-top: 0px;

      @media #{$mobile} {
        font-size: 3em;
      }
    }
  }

  a:hover {
    text-decoration: none;

    .icon-bordered-fixed {
      color: #fff;
    }
  }
}
