form {
  margin-bottom: 10px;
}

.form-section {
  border-bottom: 1px solid $greyLight;
  padding-bottom: 20px;
  margin-bottom: 20px;
  float: left;
  width: 100%;

  &:last-of-type {
    border-bottom: none;
  }

  textarea {
    background-color: $white;
    color: $greyDark;
    border: 1px solid rgba(177, 177, 177, 0.8);
    border-radius: 3px;
    font-size: 1.5em;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    border-radius: 3px;
    min-height: 200px;
    font-family: "Noto Sans","sans-serif";
  }

  h2 {
    margin: 0;
  }

  label {
    display: block;
    clear: both;
    font-family: $fontStackHeadings;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: -1px;
  }

  .visually-hidden {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    top: auto;
    left: -9999em;
  }

  fieldset {
    margin-bottom: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  .form-control {
    background-color: $white;
    border: 1px solid rgba(177, 177, 177, 0.8);
    border-radius: 3px;
    color: $greyDark;
    font-size: 1.5em;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    height: 52px;
  }

  .form-control[type="file"] {
    height: auto;
  }

  .form-example {
    font-style: italic;
    color: $greyDark;
  }

  .form-description, .form-example {
    line-height: 1.5em;
  }

  .input-group {
    position: relative;
    width: 100%;

    .input-addon {
      background-color: $offWhite;
      border: 1px solid rgba(177, 177, 177, 0.8);
      border-radius: 3px 0 0 3px;
      padding: 10px;
      text-align: center;
      position: absolute;
      line-height: 30px;
      font-size: 1.5em;
      top: 0;
      left: 0;
      z-index: 10;
    }

    .currency {
      padding-left: 45px;
    }

    .input-validation-error + .input-addon {
      border-top: 2px solid $red;
      border-left: 2px solid $red;
      border-bottom: none;
      padding: 9px 10px;
    }
  }

  .input-validation-error {
    border: 2px solid $red;
    border-radius: 3px 3px 0 0;
    margin-bottom: 0;
  }
}

.form-field-validation-error {
  background-color: #c83725;
  margin-bottom: 20px;
  padding: 10px 10px 11px 10px;
  color: #fff;

  &:before {
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0d8";
    z-index: 100;
    color: #c83725;
    visibility: visible;
    font-size: 30px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    padding-bottom: 10px;
    margin-top: -32px;
    margin-left: 5px;
  }

  > span {
    background-color: #c83725;
    position: relative;
    margin-bottom: 20px;
    font-family: "Noto Sans", sans-serif;
  }

  &.field-validation-valid,
  &.field-validation-valid:before {
    display: none;
  }

  &.field-validation-error,
  &.field-validation-error:before {
    display: block;

    @media #{$mobile} {
      display: inline-block;
    }
  }
}
