input[type=submit].button,
input[type=button].button {
  background-image: url("/assets/images/ui-images/icon-chevron-right_2x.png");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 7px;

  @media #{$mobile} {
    min-width: 100%;
  }
}

input.light-on-dark-field {
  font-family: $fontStackHeadings;
  font-size: 1.125em;
  border-radius: 3px;
  padding: 12px 15px;
  background-color: $colorPrimaryLight;
  color: $white;
  border: solid 1px #779897;
  min-width: 300px;
  box-sizing: border-box;

  @media #{$mobile} {
    min-width: 100%;
  }
}

.input-error {
  background-color: $red;
  color: #fff;
  position: relative;
  margin-bottom: 20px;

  p {
    margin-bottom: 0;
  }

  .input-content {
    padding: 10px;
  }

  .fa-caret-up {
    color: $red;
    font-size: 30px;
    left: 10px;
    position: absolute;
    top: -20px;
    z-index: 10;
  }
}

.checkbox {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;

  input[type="checkbox"] {
    position: absolute;
    top: 50%;
    left: 10px;
    height: 30px;
    width: 30px;
    margin-top: -15px;
    cursor: pointer;
    border: 2px solid transparent;
  }

  label {
    background-color: $offWhite;
    border-radius: 3px;
    display: inline-block;
    padding: 10px 20px 10px 55px;
    cursor: pointer;
    border: 2px solid transparent;
  }

  input[type="checkbox"]:checked + label {
    background-color: $greyDarkest;
    color: $white;
  }

  input[type="checkbox"]:focus + label,
  input[type="checkbox"]:focus {
    border-color: $orange;
  }

  input[type="checkbox"]:disabled {
    &:checked + label {
      background-color: $greyMiddle;
    }
  }
}

.radio-list {
  margin-bottom: 0;

  li {
    list-style: none;
    margin-left: 0;
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    position: relative;

    input[type=radio] {
      position: absolute;
      top: 50%;
      left: 10px;
      height: 30px;
      width: 30px;
      margin-top: -15px;
      cursor: pointer;
      border: 2px solid transparent;
    }

    label {
      display: inline-block;
      background-color: $offWhite;
      border-radius: 3px;
      padding: 10px 20px 10px 55px;
      cursor: pointer;
      border: 2px solid transparent;
    }

    input[type=radio]:checked + label {
      background-color: $greyDarkest;
      color: $white;
    }

    input[type=radio]:focus + label,
    input[type=radio]:focus {
      border-color: $orange;
    }

    input[type=radio]:disabled {
      &:checked + label {
        background-color: $greyMiddle;
      }
    }
  }
}

/* ------- Dropdown menu ------- */
.address-list {
  margin-bottom: 10px;

  label {
    color: $greyMiddle;
    margin-bottom: 5px;
    display: block;
  }

  .dropdown {
    border-radius: 3px;
    border: 1px solid rgba(177, 177, 177, 0.8);

    @media #{$desktop} {
      max-width: 450px;
    }

    .fa {
      float: right;
      right: 10px;
      position: relative;
      bottom: 25px;
    }
  }

  .dropdown100 {
    max-width: 100% !important;
  }

  select {
    background-color: $white;
    border: none;
    color: $greyDark;
    font-family: "Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    width: 100%;
    text-overflow: ellipsis;
    outline: none;
    padding: 5px;

    &:focus + span {
      border: none;
      transform: rotate(180deg);
    }

    optgroup {
      font-style: normal;
    }
  }
}
