.service-info-item {
  padding: 0 5px 10px 0;
}

.service-item {
  background-color: $serviceContainerBackground;
  border: 1px solid $serviceContainerBorder;
  border-radius: 5px;
  display: table;
  width: 100%;
  margin-bottom: 15px;

  &:last-of-type {
    margin-bottom: 0px;
  }

  .sub-title {
    color: $serviceContainerSubTitle;
  }

  h3 {
    margin-top: 0px;
    margin-bottom: -15px;
  }

  p {
    margin-bottom: 0px;
  }

  .service-item-image {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
  }

  .service-item-content {
    padding-right: 0;
  }
}

.service-item-blue {
  border-left: 5px solid $serviceContainerBlue;

  .service-item-image {
    width: 70px;
  }

  h3 {
    color: $serviceContainerBlue;
  }
}

.service-item-black {
  border-left: 5px solid $serviceContainerBlack;

  .service-item-image {
    width: 70px;
  }

  h3 {
    color: $serviceContainerBlack;
  }
}

.service-item-green {
  border-left: 5px solid $serviceContainerGreen;

  .service-item-image {
    width: 70px;
  }

  h3 {
    color: $serviceContainerGreen;
  }
}

.service-item-brown {
  border-left: 5px solid $serviceContainerBrown;

  .service-item-image {
    width: 70px;
  }

  h3 {
    color: $serviceContainerBrown;
  }
}

.service-info {
  background-color: $white;
  border: 1px solid $offWhite;
  border-top: 3px solid;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05)
}

.service-info-header {
  padding: 5px 10px;

  h3 {
    margin: 0;
  }

  p {
    color: $greyMiddle;
    margin-top: -10px;
    margin-bottom: 10px;
  }
}

.report-link {
  text-decoration: none;
  color: black;
}

.report-link :hover {
  color: black;
}

.service-info-block {
  border-top: 1px solid $offWhite;
  padding: 10px;

  .button {
    display: block;
  }

  ul {
    @include list-no-style;
  }

  .service-info-block-heading {
    color: $greyDark;
  }

  .service-info-block-additional {
    @media #{$desktop} {
      width: 50%;
    }

    margin-top: 5px;
    background-color: $white;
    border: 1px solid $offWhite;
    padding: 5px 10px;
  }
}

.right-arrow-parent {
  position: relative;
}

.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  left: 94%;

  @media #{$tablet} {
    left: 93%;
  }

  @media #{$mobile} {
    left: 90%;
  }
}

.report-icon {
  color: $greyMiddle
}

.service-info-summary {
  p:first-of-type {
    margin-bottom: -10px;
  }

  h2:first-of-type {
    margin: 0 0 -10px;
  }

  *:last-child {
    margin-bottom: 0px;
  }
}
