.transactions-list {
  line-height: 24px;
  padding-left: 0px;
  padding-right: 0px;

  &.service-info-block {
    padding: 0px;
  }

  li {
    list-style: none;

    &:nth-child(odd) {
      background-color: $offWhite;
    }
  }

  .details {
    padding: 15px 0;
  }

  .amount {
    float: right;
    text-align: right;
  }

  .transaction-list-heading {
    color: $greyDark;
    padding: 10px 10px 20px 10px;
  }
}
