@model TopicViewModel
@{
    var topic = Model.Topic;
    ViewData["Title"] = topic.Name;
    ViewData["og:title"] = topic.Name;
    ViewData["Description"] = topic.MetaDescription;
    Layout = "../Shared/_Layout2023.cshtml";
}

@section Alerts {
@* <div class="placeholder placeholder-small placeholder__full-width placeholder-bg-orange">
        <h2>Alerts</h2>
    </div> *@
    <div class="placeholder placeholder-bg-orange placeholder__full-width-block placeholder-xs">
            <h2>Alerts</h2>
    </div>
}

@section Breadcrumbs {
    @* <partial name="Breadcrumb" model='topic.Breadcrumbs' /> *@
    <div class="placeholder placeholder-bg-green placeholder__left-align placeholder__padded-top">
        <div class="grid-container">
            <p>Breadcrumbs</p>
        </div>
    </div>
}

    <div class="placeholder placeholder-bg-green placeholder__left-align" id="topic-page-content">
        <div class="grid-container">
            <h1 class="placeholder-topic-title">Title</h1>
        </div>
    </div>

    <div class="placeholder placeholder-bg-green placeholder__left-align placeholder__padded-bottom" id="topic-page-content">
        <div class="grid-container">
            <h2 class="placeholder-topic-header-description">Description text</h2>
        </div>
    </div>

    <div class="placeholder placeholder-medium">
        <h2>Primary items</h2>
    </div>

     <div class="placeholder placeholder-medium placeholder-bg-grey">
        <h2>Secondary items</h2>
    </div>

    <div class="placeholder placeholder-small">
        <h2>Events calandar link</h2>
    </div>
</div>