<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
    <tr>
        <td valign="top" class="bodyContent" mc:edit="body_content">
            <h1>You have been removed as a user from {{ groupname }}</h1>
            <p>You will not be able to make any changes to the group's information.</p>
            <p>If you think this has been done in error, you will need to contact the group's administrator.</p>
            <p>Thank you,</p>
            <p>Stockport Council</p>
        </td>
    </tr>
</table>

<plaintext>
    You have been removed as a user from {{ groupname }}

    You will not be able to make any changes to the group's information.

    If you think this has been done in error, you will need to contact the group's administrator.

    Thank you,

    Stockport Council
</plaintext>