<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
    <tr>
        <td valign="top" class="bodyContent" mc:edit="body_content">
            <h1>Your role in {{ name }} has changed</h1>
            <p>You have been made an {{ role }} of {{ name }}.</p>
            <p>You were previously an {{ previousrole }}.</p>
            <p>Administrators are able to edit group's information and add or remove users.</p>
            <p>Editors are only able to edit the group's information.</p>
            <p>If you think this has been done in error, you will need to contact the group's administrator.</p>
            <p>Thank you,</p>
            <p>Stockport Council</p>
        </td>
    </tr>
</table>

<plaintext>
    Your role in {{ name }} has changed

    You were previously an {{ previousrole }}.

    Administrators are able to edit group's information and add or remove users.
    
    Editors are only able to edit the group's information.
    If you think this has been done in error, you will need to contact the group's administrator.
    
    Thank you,
    
    Stockport Council
    
</plaintext>