<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
    <tr>
        <td valign="top" class="bodyContent" mc:edit="body_content">
            <h1>{{ title }} has been successfully updated</h1>
            <p>Your event's information is now:</p>
            <p>
                Event name: {{ title }}<br />
                Event date: {{ eventdate }}<br />
                Start time: {{ starttime }}<br />
                End time: {{ endtime }}<br />
                Frequency: {{ frequency }}<br />
                End date: {{ enddate }} {{ occurrences }}<br />
                Price: {{ fee }}<br />
                Location: {{ location }}<br />
                Organiser name: {{ submittedby }}<br />
                Description: {{ description }}<br />
                Categories: {{ categories }}<br />
                Updated by: {{ submitteremail }}<br />
                {{ groupname }}
            </p>
            <h2>Changes to your event</h2>
            <p>You can let us know about a change to this event by emailing us at:</p>
            <p><a href="mailto:website.updates@stockport.gov.uk">website.updates@stockport.gov.uk</a></p>
            <p>Thank you,</p>
            <p>Stockport Council</p>
        </td>
    </tr>
</table>

<plaintext>
    {{ title }} has been successfully updated
    
    Your event's information is now:

    Event name: {{ title }}
    Event date: {{ eventdate }}
    Start time: {{ starttime }}
    End time: {{ endtime }}
    Frequency: {{ frequency }}
    End date: {{ enddate }} {{ occurrences }}
    Price: {{ fee }}
    Location: {{ location }}
    Organiser name: {{ submittedby }}
    Description: {{ description }}
    Categories: {{ categories }}
    Updated by: {{ submitteremail }}
    {{ groupname }}
    
    Thank you,

    Stockport Council

</plaintext>