<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
    <tr>
        <td valign="top" class="bodyContent" mc:edit="body_content">
            <h1>{{ title }} has been successfully deleted</h1>
            <p>Your event has now been removed from the council's event calendar.</p>
            <p>Please note, your event information has been completely deleted from our systems.</p>
            <p>Thank you,</p>
            <p>Stockport Council</p>
        </td>
    </tr>
</table>

<plaintext>
    {{ title }} has been successfully deleted.

    Your event has now been removed from the council's event calendar.
    Please note, your event information has been completely deleted from our systems.
    
    Thank you,
    Stockport Council

</plaintext>