<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
    <tr>
        <td valign="top" class="bodyContent" mc:edit="body_content">
            <h1>Thank you for submitting a group.</h1>
            <p>Before your group is added to the group directory, it will be reviewed and if it is successful then it will be published on the website.</p>
            <p>The information you provided is below.</p>

            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td align="right" valign="middle" class="tableContent">GROUP NAME</td>
                        <td align="left" valign="middle" class="tableContent">{{ name }}</td>
                    </tr>
                    <tr>
                        <td align="right" valign="middle" class="tableContent">LOCATION</td>
                        <td align="left" valign="middle" class="tableContent">{{ location }}</td>
                    </tr>
                    <tr>
                        <td align="right" valign="middle" class="tableContent">DESCRIPTION</td>
                        <td align="left" valign="middle" class="tableContent">{{ description }}</td>
                    </tr>
                    <tr>
                        <td align="right" valign="middle" class="tableContent">CATEGORIES</td>
                        <td align="left" valign="middle" class="tableContent">{{ categories }}</td>
                    </tr>
                    <tr>
                        <td align="right" valign="middle" class="tableContent">EMAIL</td>
                        <td align="left" valign="middle" class="tableContent">{{ email }}</td>
                    </tr>
                    <tr>
                        <td align="right" valign="middle" class="tableContent">WEBSITE</td>
                        <td align="left" valign="middle" class="tableContent">{{ website }}</td>
                    </tr>
                    <tr>
                        <td align="right" valign="middle" class="tableContent">PHONE</td>
                        <td align="left" valign="middle" class="tableContent">{{ phone }}</td>
                    </tr>
                    <tr>
                        <td align="right" valign="middle" class="tableContent">IMAGE</td>
                        <td align="left" valign="middle" class="tableContent">{{ image }}</td>
                    </tr>
                    <tr>
                        <td align="right" valign="middle" class="tableContent">VOLUNTEERING NEEDED</td>
                        <td align="left" valign="middle" class="tableContent">{{ volunteeringneeded }}</td>
                    </tr>
                    <tr>
                        <td align="right" valign="middle" class="tableContent">VOLUNTEERING TEXT</td>
                        <td align="left" valign="middle" class="tableContent">{{ volunteeringtext }}</td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>

<plaintext>
    Thank you for submitting a group.

    Before your group is added to the group directory, it will be reviewed and if it is successful then it will be published on the website.
    The information you provided is below.

    GROUP NAME: {{ name }}
    LOCATION: {{ location }}
    DESCRIPTION: {{ description }}
    CATEGORIES: {{ categories }}
    EMAIL: {{ email }}
    WEBSITE: {{ website }}
    PHONE: {{ phone }}
    IMAGE: {{ image }}
    VOLUNTEERING NEEDED: {{ volunteeringneeded }}
    VOLUNTEERING TEXT: {{ volunteeringtext }}
</plaintext>