<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
	<tr>
		<td valign="top" class="bodyContent" mc:edit="body_content">
			<p>Hello,</p>
			<p>{{ groupname }} on Stockport Local has not been updated in almost 6 months.</p>
			<p> Check the group or service details are right, it's important to keep your information up to date so that people can easily find and contact you.</p>
			<p>If your information is not checked in the next 2 weeks, we'll archive the page. This means that people will not be able to find or view it on the Stockport Council website.</p>
			<p> You can <a href=”https:myaccount.stockport.gov.uk”> log in to My Account</a> using this email address to republish the group at any time.</p>
			<p>If you have any questions, email <a href="mailto:website.updates@stockport.gov.uk?Subject=Groups%20query%20-%20{{ groupname }}" target="_top">website.updates@stockport.gov.uk</a>.</p>
			<p>Thank you,</p>
			<p>Stockport Council</p>
		</td>
	</tr>
</table>

<plaintext>
	Hello,
	{{ groupname }} on Stockport Local has not been updated in almost 6 months.
	Check the group or service details are right, it's important to keep your information up to date so that people can easily find and contact you.
	If your information is not checked in the next 2 weeks, we'll archive the page. This means that people will not be able to find or view it on the Stockport Council website.
	You can log in to My Account using this email address to republish the group at any time.
	If you have any questions, email website.updates@stockport.gov.uk.
	Thank you,
	Stockport Council
</plaintext>