<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
    <tr>
        <td valign="top" class="bodyContent" mc:edit="body_content">
            <p>Hello,</p>
            <p>{{ groupname }} has now been archived as you have not checked the details for 6 months. We have unpublished the group or service and people will not be able to find or view it on the Stockport Council website.</p>
            <p><a href=”https:myaccount.stockport.gov.uk”> Log in to My Account</a> using this email address to republish the group or service at any time.</p>
            <p>Thank you,</p>
            <p>Stockport Council</p>
        </td>
    </tr>
</table>

<plaintext>
    Hello,
    {{ groupname }} has now been archived as you have not checked the details for 6 months. We have unpublished the group or service and people will not be able to find or view it on the Stockport Council website.
    Log in to My Account using this email address to republish the group or service at any time.
    Thank you,
    Stockport Council
</plaintext>