<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
    <tr>
        <td valign="top" class="bodyContent" mc:edit="body_content">
            <h1>{{ name }} has been successfully changed</h1>
            <p>Your group's information is now:</p>

            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td align="right" valign="middle" class="tableContent">Group Name</td>
                    <td align="left" valign="middle" class="tableContent">{{ name }}</td>
                </tr>
                <tr>
                    <td align="right" valign="middle" class="tableContent">Group Meeting Location</td>
                    <td align="left" valign="middle" class="tableContent">{{ location }}</td>
                </tr>
                <tr>
                    <td align="right" valign="middle" class="tableContent">Description</td>
                    <td align="left" valign="middle" class="tableContent">{{ description }}</td>
                </tr>
                <tr>
                    <td align="right" valign="middle" class="tableContent">Category</td>
                    <td align="left" valign="middle" class="tableContent">{{ categories }}</td>
                </tr>
                    <tr>
                        <td align="right" valign="middle" class="tableContent">Suitabilities</td>
                        <td align="left" valign="middle" class="tableContent">{{ suitabilities }}</td>
                    </tr>
                    <tr>
                        <td align="right" valign="middle" class="tableContent">Age Ranges</td>
                        <td align="left" valign="middle" class="tableContent">{{ ageranges }}</td>
                    </tr>
                <tr>
                    <td align="right" valign="middle" class="tableContent">Email Address</td>
                    <td align="left" valign="middle" class="tableContent">{{ email }}</td>
                </tr>
                <tr>
                    <td align="right" valign="middle" class="tableContent">Website</td>
                    <td align="left" valign="middle" class="tableContent">{{ website }}</td>
                </tr>
                <tr>
                    <td align="right" valign="middle" class="tableContent">Phone Number</td>
                    <td align="left" valign="middle" class="tableContent">{{ phone }}</td>
                </tr>
                <tr>
                    <td align="right" valign="middle" class="tableContent">Facebook</td>
                    <td align="left" valign="middle" class="tableContent">{{ facebook }}</td>
                </tr>
                <tr>
                    <td align="right" valign="middle" class="tableContent">Twitter</td>
                    <td align="left" valign="middle" class="tableContent">{{ twitter }}</td>
                </tr>
                </tbody>
            </table>
            <p>Thank you,</p>
            <p>Stockport Council</p>
        </td>
    </tr>
</table>

<plaintext>
    {{ name }} has been successfully changed

    Your group's information is now:

    Group name: {{ name }}
    Group Meeting Location: {{ location }}
    Description: {{ description }}
    Category: {{ categories }}
    Email Address: {{ email }}
    Website: {{ website }}
    Phone Number: {{ phone }}
    Facebook: {{ facbook }}
    Twitter: {{ twitter }}
</plaintext>