<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
    <tr>
        <td valign="top" class="bodyContent" mc:edit="body_content">
            <h1>{{ name }} has been successfully deleted</h1>
            <p>Your group has been removed from the website straight away.</p>
            <p>Please note, your group's information has been completely deleted from our systems and you will not be able to recover it.</p>
        </td>
    </tr>
</table>

<plaintext>
    {{ name }} has been successfully deleted.

    Your group has been removed from the website straight away.
    Please note, your group's information has been completely deleted from our systems and you will not be able to recover it.
</plaintext>