<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
    <tr>
        <td valign="top" class="bodyContent" mc:edit="body_content">
            <h1>Your group {{ GroupName }} on our website has not been updated in almost 11 months and 3 weeks on the groups page.</h1>
            <p>We like to keep the groups up to date so that our users get the right information they are looking for so if you could take some time to check your group and let us know if you need any help doing so.</p>
            <p>Once your group has been inactive for 12 months it will be automatically archived.</p>
            <p> If you have any questions don’t hesitate to ask by emailing the website updates inbox: website.updates@stockport.gov.uk</p>
            <p> Thank you,</p>
            <p> Stockport Council</p>


        </td>
    </tr>
</table>

<plaintext>
    Your group {{ GroupName }} on our website has not been updated in almost 11 months and 3 weeks on the groups page. We like to keep the groups up to date so that our users get the right information they are looking for so if you could take some time to check your group and let us know if you need any help doing so.
    Once your group has been inactive for 12 months it will be automatically archived.
    If you have any questions don’t hesitate to ask by emailing the website updates inbox: website.updates@stockport.gov.uk
    Thank you,
    Stockport Council
</plaintext>