<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
    <tr>
        <td valign="top" class="bodyContent" mc:edit="body_content">
            <h1>{{ groupname }} has been successfully archived.</h1>
            <p>Your group has been archived due to being inactive for 12 months. This means it has been unpublished and that people will not be able to view it on the website. </p>
            <p>Don’t worry though as you will be able to republish the group at any time.</p>
            <p>Thank you,</p>
            <p>Stockport Council</p>
        </td>
    </tr>
</table>

<plaintext>
    {{ groupname }} has been successfully archived.
    Your group has been archived due to being inactive for 12 months. This means it has been unpublished and that people will not be able to view it on the website.
    Don’t worry though as you will be able to republish the group at any time.
    Thank you,
    Stockport Council
</plaintext>