<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
    <tr>
        <td valign="top" class="bodyContent" mc:edit="body_content">
            <h1>{{ name }} has been successfully published</h1>
            <p>Your group has been published and can be accessed straight away.</p>
            <p>You are receiving this email because you are either an administrator or editor of the group.</p>
            <p>You can view your group by visiting:<a href="https://www.stockport.gov.uk/groups/{{ slug }}">https://www.stockport.gov.uk/groups/{{ slug }}</a> </p>
            <p>Thank you,</p>
            <p>Stockport Council</p>
        </td>
    </tr>
</table>

<plaintext>
    {{ name }} has been successfully published.

    Your group has been published and can be accessed straight away.
    You are receiving this email because you are either an administrator or editor of the group.
    You can view your group by visiting: LINK TO GROUP

    Thank you,
    Stockport Council
</plaintext>