<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
    <tr>
        <td valign="top" class="bodyContent" mc:edit="body_content">
			<h1>Hi, we've noticed that your group {{ groupname }} on Stockport Local hasn't been updated in almost 3 months.</h1>
			<p>It's important to keep your information up to date so that people can easily find and contact you. Please take some time to check the details are right.</p>
			<p>If your information isn't updated within the next 3 months, we'll automatically archive the page. Don’t worry though as you'll be able to republish the group at any time.</p>
			<p> If you have any questions just ask us by emailing website.updates@stockport.gov.uk</p>
			<p>Thank you,</p>
			<p>Stockport Council</p>

</td>
    </tr>
</table>

<plaintext>
	Hi, we've noticed that your group {{ groupname }} on Stockport Local hasn't been updated in almost 3 months.
	It's important to keep your information up to date so that people can easily find and contact you. Please take some time to check the details are right.
	If your information isn't updated within the next 3 months, we'll automatically archive the page. Don’t worry though as you'll be able to republish the group at any time.
	If you have any questions just ask us by emailing website.updates@stockport.gov.uk</p>
	Thank you,
	Stockport Council
</plaintext>