<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
	<tr>
		<td valign="top" class="bodyContent" mc:edit="body_content">
			<p>Hello,</p>
			<p>{{ groupname }} on Stockport Local hasn't been updated in almost 3 months.</p>
            <p>It's important to keep your information up to date so that people can easily find and contact you. Please take some time to check the groups details are right.</p>
            <p>If your information is not updated within the next 3 months, we'll automatically archive the page. This means that people will not be able to find or view it on the Stockport Council website.</p>
            <p>If you have not signed up yet, <a href="https://myaccount.stockport.gov.uk">register for a My Account</a> to manage your group or service. When you register and validate this email address you can visit your group or service page. Log in to My Account and follow the instructions to update information, add events or add other administrators.</p>
            <p>If you have any questions, email <a href="mailto:website.updates@stockport.gov.uk?Subject=Groups%20query%20-%20{{ groupname }}" target="_top">website.updates@stockport.gov.uk</a></p>
            <p>Thank you,</p>
            <p>Stockport Council</p>
		</td>
	</tr>
</table>

<plaintext>
	Hello,
	{{ groupname }} on Stockport Local hasn't been updated in almost 3 months.</p>
	It's important to keep your information up to date so that people can easily find and contact you. Please take some time to check the groups details are right.
	If your information is not updated within the next 3 months, we'll automatically archive the page. This means that people will not be able to find or view it on the Stockport Council website.
	If you have not signed up yet, register for a My Account to manage your group or service. When you register and validate this email address you can visit your group or service page. Log in to My Account and follow the instructions to update information, add events or add other administrators.
	If you have any questions, email website.updates@stockport.gov.uk
	Thank you,
	Stockport Council
</plaintext>