<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
    <tr>
        <td valign="top" class="bodyContent" mc:edit="body_content">
            <h1>Thank you for reporting an inappropriate group.</h1>
            <p>We will take a look at the changes you have suggested so that we can make sure that they are correct.</p>
            <p>The information you provided is below.</p>

            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td align="right" valign="middle" class="tableContent">SENDER</td>
                        <td align="left" valign="middle" class="tableContent">{{ name }}</td>
                    </tr>
                    <tr>
                        <td align="right" valign="middle" class="tableContent">EMAIL</td>
                        <td align="left" valign="middle" class="tableContent">{{ email }}</td>
                    </tr>
                    <tr>
                        <td align="right" valign="middle" class="tableContent">SUBJECT</td>
                        <td align="left" valign="middle" class="tableContent">{{ subject }}</td>
                    </tr>
                    <tr>
                        <td align="right" valign="middle" class="tableContent">MESSAGE</td>
                        <td align="left" valign="middle" class="tableContent">{{ message }}</td>
                    </tr>
                    <tr>
                        <td align="right" valign="middle" class="tableContent">FROM&nbsp;PAGE</td>
                        <td align="left" valign="middle" class="tableContent"><a href="https://www.stockport.gov.uk/groups/{{ slug }}">https://www.stockport.gov.uk/groups/{{ slug }}</a></td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>

<plaintext>
    Thank you for letting us know about a change to a group's information.

    We will take a look at the changes you have suggested so that we can make sure that they are correct.
    The information you provided is below.

    SENDER: {{ name }}
    EMAIL: {{ email }}
    SUBJECT: {{ subject }}
    MESSAGE: {{ message }}
    FROM PAGE: https://www.stockport.gov.uk/groups/{{ slug }}
</plaintext>