aside {
  display: none;
}

.hide-on-mobile {
  display: block !important;
}

.manage-group-section,
.map-container,
.volunteering-section,
.donations-section,
.share,
.add-favourite,
.remove-favourite,
.mobile-show-more,
.group-calender-container-image,
.view-more-mobile,
.directions-list,
.favourites-bar,
.group-information-section {
  display: none !important;
}

.display-on-pdf {
  display: block !important;
}

body {
  background-color: white;
}

.event-li,
.group-li {
  -webkit-print-color-adjust: exact;
  margin-bottom: 30px;
  page-break-inside: avoid !important;
  display: inline-block;
  vertical-align: top;

  a {
    display: inline-block;
  }

  .event-card-text {
    margin-top: -5px;
  }

  .event-image {
    margin-bottom: 10px;
  }

  .event-title h3 {
    font-size: 1.1em;
  }

  .more-information-link {
    text-align: right;
  }
}

.content-disclaimers {
  display: none !important;
}

.embed-map-container {
  display: block;
  width: 100%;
  height: 330px;
  clear: both;
  text-align: center;
}

.link-inside-text {
  text-decoration: underline;
  color: #055c58;
}