@media only print {
    .l-header-container,
    .banner-header-container,
    .breadcrumb-container,
    footer, #shareThis,
    .group-calender-container-image,
    .event-image,
    .video-container,
    iframe,
    .carousel,
    .base-akita-container,
    .button,
    .volunteering-section,
    .manage-group-section,
    #favourites-bar,
    .add-remove-favourites,
    .favourites-bar,
    .group-information-section,
    .donations-section {
        display: none !important;
    }

    p > img {
        display: none !important;
    }

    #contactForm > form {
        display: none !important;
    }

    .group-map-container {
        display: none !important;
    }

    .group-article-title {
        font-size: 1.8em !important;
        color: #000000 !important;
    }

    .upcoming-events-heading {
        position: relative !important;
    }

    .event-card {
        position: relative !important;
        box-shadow: none !important;
        page-break-inside: avoid !important;

        .event-image {
            display: none !important;
        }

        .event-card-informtion {
            border-bottom: none !important;
            border-left: none !important;
            border-right: none !important;
        }
    }

    .group-listing-container {
        .group-li {
            width: 100% !important;


            .group-card {
                box-shadow: none;
                padding-bottom: 0px;
                height: 230px !important;

                &:hover {
                    box-shadow: none;
                }

                .group-card-main {
                    .group-image {
                        width: 45%;
                    }

                    .group-card-information {
                        width: 50%;
                        float: right;
                        height: auto !important;
                    }
                }
            }
        }
    }
}