@{
    ViewData["Title"] = "Edit your group";
    ViewData["og:title"] = "Edit your group";
    Layout = "../Shared/_Layout.cshtml";
}
@section Breadcrumbs {
    <partial name="Breadcrumb" model='new List<Crumb> { new Crumb("Stockport Local", "groups", "Group"), new Crumb("Manage your groups", "manage", "groups"), new Crumb(ViewBag.GroupName, "manage/" + ViewBag.Slug, "groups") }'/>
}

<div class="grid-container-full-width">
    <div class="grid-container grid-100">

        <div class="l-body-section-filled l-group-content mobile-grid-100 tablet-grid-100 grid-100">
            <section aria-label="@ViewData["Title"] content">
                <div class="l-content-container grid-100 grid-parent group-margin" id="group-padding">
                    <div class="grid-100 centre word-wrap">
                        <h1 class="group-article-title">@ViewData["Title"]</h1>
                        <div class="icon-bordered icon-bordered-fixed green tick">
                            <span class="fa fa-check fa-5x" aria-hidden="true"></span>
                        </div>
                        <h2>You've successfully changed @ViewBag.GroupName</h2>
                    </div>
                    <div class="grid-100 centre">
                        <p>The change you've made will happen shortly so you won't have to do anything.</p>
                    </div>
                    <div class="grid-100 centre mixed-buttons">
                        <stock-button as-link="true" href="@Url.Action("ManageGroup", "Groups", new { slug = ViewBag.Slug})">Go back to manage your group</stock-button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

