@using StockportWebapp.Models
@using StockportWebapp.ViewModels
@model GroupStartPage

    @{
        ViewData["Title"] = "Find a local group";
        ViewData["og:title"] = "Groups";
        ViewData["Description"] = "Groups Start Page";
        ViewData["Beta"] = true;
        ViewData["BetaForm"] = "https://stockportcouncil.typeform.com/to/kEAxqh";
        ViewData["Type"] = "Group";
        Layout = "../Shared/_Layout.cshtml";
    }

@section Breadcrumbs {
    @Html.Partial("Breadcrumb", new List<Crumb>())
}

<div class="l-page-content" style="margin-bottom: 0px;">
    <div class="full-width-title">
        <div class="grid-container grid-parent grid-100">
            <div class="grid-70 tablet-grid-70 mobile-grid-100">
                <h1 class="full-width-title-with-button">Find a local group</h1>
            </div>    
            <div class="header-right-button grid-30 tablet-grid-30 mobile-grid-100">
                <stock-button as-link="true" class="button-outline-white-transparent" href="@Url.Action("AddAGroup", "Groups")">Add a group</stock-button>
            </div>              
        </div>
    </div>
    <div class="group-startpage-image hide-on-mobile" style="background-image: url('/assets/images/content/Groups_hero_image.jpg'); position:relative;">
        <div style="background-color: rgba(5, 92, 88, 0.68); position: absolute; bottom: 0; width: 100%; height: 34%; display: flex; justify-content: center">
            <div style="text-align: center; color: white; align-self: center">
                <form>
                    Show me
                    <select>
                        
                        <option value="armedForces">Armed Forces</option>
                        <option value="somethingElse">Something Else</option>
                        <option value="another">Another</option>
                    </select>
                    groups in 
                    <select>
                        <option value="stockport">Stockport</option>
                    </select>
                    sorted by
                    <select>
                        <option value="a-z">Name A-Z</option>
                        <option value="z-a">Name Z-A</option>
                        <option value="nearest">Nearest</option>
                    </select>
                    <button class="button-default">Search local groups</button>
                </form>
                
            </div>
        </div>
    </div>   
    <div class="group-startpage">
        <div class="featured-category-items-wrapper">    
            <div class="featured-group-category-list">
                <h3 class="group-category-list-title hide hide-on-desktop">Discover something new in Stockport</h3>
                <h2 class="group-category-list-title hide-on-mobile hide-on-tablet">Discover something new in Stockport</h2>        
                @{
                    foreach (var item in Model.Categories)
                    {
                        <div class="grid-20 tablet-grid-20 mobile-grid-33 featured-group-category">
                            <div class="featured-group-category-content">
                                <a href="/groups/results?category=@item.Slug">
                                    <div class="featured-group-category-icon">
                                        <i class="@item.Icon si-default"></i>
                                    </div>
                                    <div class="featured-group-category-name">@item.Name</div>
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>


