@using StockportWebapp.Models
@model Group

@{
    ViewData["Title"] = "Publish " + ViewBag.GroupName;
    ViewData["og:title"] = "Publish " + ViewBag.GroupName;
    Layout = "../Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    @Html.Partial("Breadcrumb", new List<Crumb> { new Crumb("Stockport Local", "groups", "Group"), new Crumb("Manage your groups", "manage", "groups"), new Crumb(ViewBag.GroupName, "manage/" + ViewBag.Slug, "groups") })
}

<div class="grid-container-full-width">
    <div class="grid-container grid-100">
        <div class="l-body-section-filled l-group-content mobile-grid-100 tablet-grid-100 grid-100">
            <section aria-label="@ViewData["Title"] content">
                <div class="l-content-container grid-100 grid-parent group-margin" id="group-padding">
                    <div class="grid-100 centre">
                        <h1 class="group-article-title">@ViewData["Title"]</h1>
                        <div class="icon-bordered icon-bordered-fixed green tick">
                            <i class="fa fa-check fa-5x" aria-hidden="true"></i>
                        </div>
                        <h2>Your group has been successfully published</h2>
                    </div>
                    <div class="grid-100 centre">
                        <p>Your group will appear on the website straight away.</p>
                        <p>If your group has any other administrators or editors, we will let them know that the group has been published.</p>
                    </div>
                    <div class="grid-100 centre mixed-buttons">
                        <stock-button as-link="true" href="@Url.Action("Manage", "Groups")">Go back to manage your groups</stock-button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

