/* Brand colors*/
$colorBrand: #00818a;
$brandSecondary: #cd5334;

/* Text colors */
$bodyText: #373737;
$headingColor: #373737;

/* Layout colors */
$backgroundSite: #ebebeb;
$backgroundContent: #ffffff;
$borderDefault: rgba(0,0,0,0.1);
$borderLight: #b1b1b1;
$footerBackground: #00818a;
$footerIconBackground: #00818a;
$footerBottomBackground: #09656c;
$footerText: #ffffff;
$footerHeadingText: #ffffff;
$pageIconBackground: #c7d6d5;
$completedSectionBackground: #dfdfdf;

/* Menu colors */
$menuLightText: #ffffff;
$menuLightDetail: rgba(255,255,255,0.2);
$menuLightActive: rgba(0,0,0,0.1);
$menuLightActiveDetail: rgba(0,0,0,0.2);
$menuLightHover: rgba(255,255,255,0.2);

/* Input fields */
$backgroundTextInputPrimary: rgba(0,0,0,0.1);

/* Link colors */
$linkDefault: #00818a;

/* Profile colors */
$profileHeader: #eeeeee;
$profileHeaderText: #ffffff;
$profileBackgroundLight: #eeeeee;
$profileSubtitle: $greyDark;

/* Button colors */
$buttonTextLight: #ffffff;
$buttonDarkBackground: $greyDark;
$buttonSidebarBackground: #e39024;
$buttonCallToActionBackground: #00818a;

/* Banner Colors */
$searchBarBanner: #124a47;

/* Radio List Colors */
$radioListtextColorSelected: #ffffff;
$radiolistBackground: #dfdfdf;
$radioListBackgroundSelected: #333333;
$radioListinputBackgroundSelected: $colorBrand;
$radioListinputBorder: #333333;
$radioListinputBorderselected: #333333;
$radioListinputBoxShadowSelected: #ffffff;

/* Alert Colors */
$alertText: #ffffff;

/*Error*/
$alertErrorBackground: #c83725;
$alertErrorIconBackground: #a62d1e;
$alertErrorHeading: #ffffff;
$alertErrorIcon: #fa8072;

/*Warning*/
$alertWarningBackground: #ffa500;
$alertWarningIconBackground: #cd853f;
$alertWarningHeading: #ffffff;
$alertWarningIcon: #0c0b0a;

/*Information*/
$alertInformationBackground: #4f94cd;
$alertInformationIconBackground: #207eab;
