// Colours method inspired by https://standards.usa.gov/colors/

// Primary Colours
$colorPrimary: #1AA9A1;
$colorBrand: #086964;
$colorPrimary: #055c58;
$colorPrimaryDark: #1d3837;
$colorPrimaryDarkest: #092726;
$colorPrimaryLight: #3a716e;
$colorPrimaryPale: #83aeac;
$colorPrimaryLightest: #99a6a7;
// Greys
$white: #ffffff;

$easternBlue: #1AA9A1;

$greyDarkest: #333333; 
$greyMiddle: #999999;
$colorPrimaryPale: #83aeac;
$searchBarBanner:#1A5E63;