//TODO: Copied from styleguide, needs to be checked for redundancies
.container-layout-mobile{
    @media #{$mobile}{
        background-color: #fff;
    }
}
.l-header-container {
    width: 100%;
    height: 80px;
    top: 0px;
    z-index: 10;
    background-color:#1AA9A1;

    @media #{$mobile} {
        height: 60px;
    }
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    #header {
        max-width:1200px;
        margin: 0px auto;
        z-index: 10;

        @media #{$mobile} {
            padding-left:0;
            padding-right:0;
        }
    }
}

.l-body-section-filled {
    border-radius:4px 4px 0 0;

    @media #{$tablet}
    {
        border-radius: 0px;
    }
}

.l-body-section-filled-radius {
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
}

.i-grid-container-tablet {
    @media #{$tablet} {
        padding-left:40px;
        padding-right:40px;
        background-color: $white;
    }
}

.l-body-container {
    z-index: 5;	
    margin-top: 110px;

    @media #{$mobile} {
        margin-top:140px;
    }
}

.l-homepage-body-container{
    margin-left: -10px; 
    margin-right: -10px;
} 

.background-image {
    background-position: center center;
    background-size: cover;
    height:100%;

    @media #{$desktop} {
        top: 120px;
    }

    @media #{$mobile, $tablet} {
        height:35%;
    }

   
}

.type-home .background-image {
    height:100%;
}

.type-home
{
    @media #{$mobile}{
        background-color: white;
    }
    
}

// Copied from shared stockportgov styles, needs checking to remove redundancy:

.l-background {
    position:relative;
	width: 100%;
	z-index: 1;
    display: block;   
    background-repeat:no-repeat;
    @media #{$desktop} {
        overflow: hidden;
        padding-top: 180px;
        background-color: #ebebeb
    }

    img {
        max-height: none;
    }
    
    background-size: contain;  
    
    @media (max-width:350px){
         background-size: 350px 200px;
    }   
}

// Copied from shared styles, needs checking to remove redundancy:
.l-background-fixed {
	position: absolute;
	width: 100%;
	z-index: 1;
    display: block;
    background-color: $easternBlue;
    @media #{$desktop} {
        overflow: hidden;
    }

    img {
        max-height: none;
    }
}

.l-background-fixed-errorpage {
    height: 80%;
    position: absolute;
	width: 100%;
	z-index: 1;
    display: block;
    background-color: #1AA9A1;

    @media #{$desktop} {
        overflow: hidden;
    }  

    @media #{$mobile} {
        height: 100%;
    }
}

.l-container {
    @media #{$desktop} {
       -webkit-border-radius: 10px;
       border-radius:10px;    
       margin-left: 1.5%;
       margin-right: 1.5%;
    }
}

/*.l-background-fixed {
    height: 80%;
}*/

.l-body-container {
	position: relative;
}

.l-body-container-pushed {
    @media #{$mobile}{
        margin-top:20px;             
    }

    @media #{$tablet}{
        margin-top: 82px;
        margin-left: -10px;
        margin-right: -10px;
    }
    @media #{$desktop} {
        margin-top: 0px;
    }   

    @media (max-width:350px){
         margin-top: 0px;
    }
}

.l-body-container-pushed-errorpage {
     margin-top: 180px;
    @media #{$mobile}{
        margin-top:50px;             
    }  
}

.l-body-section-filled {
	position: relative;
	z-index: 5;
	background-color: $white;

    @media #{$mobile} {
        padding-left: 0;
        padding-right: 0;
    }
}

.l-body-section-filled > section {
        padding-left:0;
        padding-right:0;
}

.l-background-image-container {
    background-size:cover;
    background-position-x:center;
    background-position-y:center;
    @media #{$desktop} {
        background-image: none !important;
    }
}

.l-body-section-transparent {
    -webkit-border-radius: 10px;
    border-radius:10px;    
    position: relative;
	z-index: 5;
	overflow: hidden;
    padding-bottom: 80px;

    @media #{$mobile} {
       padding-top: 0;
       padding-bottom: 40px;
    }
    @media #{$tablet} {
      padding-bottom: 110px;
    }

    @media (max-width:350px){
         height: 200px;
         padding-bottom: 0px;
         padding-top: 10px;
    }
}
 .alert-wrapper {
            padding-top:10px;
}

.l-body-section-container{
    text-align: center;

    
    .l-body-section-container-holder {
       
        
        h2 {
            font-size: 2em;
            margin-bottom: 10px;
        }

        hr {
            width: 10%;
            margin: 0 auto 30px;
            border-color: #1AA9A1;
            border-width: 1.7px;
            @media #{$mobile} {
              width: 20%;
            }
            @media #{$tablet} {
              width: 15%;
            }
        }
        @media #{$desktop} {
            padding-left: 32px;
            padding-right: 32px;
        }

        @media #{$mobile, $tablet} {
            padding-left: 0;
            padding-right: 0;
        }

        @media #{$desktop, $tablet} {
            margin-top:10px;
        }
    }

    .l-body-section-container-contactus {

        @media #{$mobile, $tablet} {
            padding-left: 0;
            padding-right: 0;
        }

        p {
            margin-bottom: 10px; 
            color: grey;
        }

        div {
            margin-left: 10px;
            margin-right: 10px;
            @media #{$mobile, $tablet} {
                padding-left: 0;
                padding-right: 0;
            }
            @media #{$desktop} {
                margin-left: 30px;
                margin-right: 30px;
            }   
            @media #{$mobile} {
                margin-left: 0;
                margin-right: 0;
            }              
                     
           .top-line {               
               margin-bottom: 10px;
            }

          .bottom-line {             
               margin-top: 20px;
            }
        }
    }
}

.l-content-container {
    padding-bottom: 50px;

    h1 {
        margin-bottom: 10px; 
        margin-top: 15px;
    }

    h2 {
        margin-bottom: 3px; 
    }

    article {
        padding-bottom: 7px;
        h2 {
            line-height:44px;
        }
        h3 {
          margin-bottom: 3px; 
        }
    }

    @media #{$mobile} {
        padding-left: 0;
        padding-right: 0;
    }
}

.l-container-square {
    -webkit-border-radius: 10px;
    border-radius:10px;       
    background-color: $white;
    margin-bottom: 120px;
        
    @media #{$desktop} {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
   }
 }

.l-vertical-align-middle {
	display: table !important;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.l-vertical-align-middle > *{
    vertical-align: middle;
	display: table-cell !important;
}

.l-vertical-list {
    margin-bottom: 0;

    li {
	    list-style: none;
	    padding: 0;
    }
}

.l-vertical-list-no-margin {
    margin-bottom: 0;

    li {
	    list-style: none;
	    margin: 0;
	    padding: 0;
    }
}

.l-dark-overlay {
    background-color: rgba(0,0,0,0.2);
    z-index:5;
    height:100%;
    width:100%;
}

.l-dashed-list {
  list-style-type: none;

    li {
        &:before {
            color: $colorPrimary;
            content: "-";
            padding-right: 30px;
        }
    }
}

footer .l-dashed-list {
    li:first-of-type {
        margin-left: 0;

        &:before {
            content: "";
            padding: 0;
        }
    }

    @media (max-width: 767px){
        li{
            list-style-type:none;
            border-bottom: 1px solid;
            padding: 15px 0;
            margin-left: 0px;
            border-bottom-color: #203332;
            display: block;

            &:last-of-type{
                border-bottom: none;
            }

            &:before {
                content: "";
                padding: 0;
            }
        }
    }
}

.l-horizontal-list > li{
    display: inline;
}

.l-list-line-seperator li {
    list-style-type:none;
    border-bottom: 1px solid;
    padding: 15px 0;

    &:last-of-type{
        border-bottom: none;
    }
}

.l-container-footer {
    padding-bottom:20px;
    padding-top:30px;
    @media #{$mobile} {
        margin-left: 0;
        padding-top: 0;
    }
}

.grid-22 {
    @media #{$desktop}{
            
            float: left;
            width: 22%;
            /* <IE7> */
            *width: expression(Math.floor(0.22 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + 'px');
            /* </IE7> */ 
    }
}

.l-container-footer > div {
    padding-left: 0;
}

.l-no-padding-left {
    padding-left: 0;
}

.l-no-padding-right {
    padding-right: 0;
}

.l-right-align {
    text-align: right;
}

.l-left-align {
    text-align: left;
}

.l-no-scroll {
	overflow: hidden;
    height: 100%;
}

/*------------ Desktop specific stylez ---------*/

.l-short-page-content {
    border-radius:10px;
    background-color: $white;

    @media #{$mobile} {
        border-radius:10px 10px 0 0;
        padding-left: 0;
        padding-right: 0;
    }
}
.l-short-page-background {
    height:100%;
}

.l-max-width-950 {
    max-width:950px;
}

.l-no-margin {
    margin:0;
}

