//TODO: Copied from styleguide, needs to be checked for redundancies
.l-header-container {
    width: 100%;
    height: 80px;
    top: 0px;
    z-index: 10;
    background-color:$colorPrimary;

    @media #{$mobile} {
        height: 60px;
    }
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    #header {
        max-width:1200px;
        margin: 0px auto;
        z-index: 10;

        @media #{$mobile} {
            padding-left:0;
            padding-right:0;
        }
    }
}

.l-body-section-filled {
    border-radius:10px 10px 0 0;
}

.l-body-container {
    z-index: 5;	
    margin-top: 110px;

    @media #{$mobile} {
        margin-top:140px;
    }
}
.l-body-container-mobile {
    @media #{$mobile} {
        margin-top:60px !important;
    }
}

.l-homepage-body-container{
    margin-left: -10px; 
    margin-right: -10px;
} 

.background-image {
    background-position: center center;
    background-size: cover;
    height:100%;

    @media #{$desktop} {
        top: 80px;
    }
}

.type-home .background-image {
    height:100%;
}

// Copied from shared stockportgov styles, needs checking to remove redundancy:

.l-background {
    position:relative;
	width: 100%;
	z-index: 1;
    display: block;
    background-color: #ebebeb;
    background-repeat:no-repeat;
    @media #{$desktop} {
        overflow: hidden;
        padding-top: 180px;
    }

    img {
        max-height: none;
    }

    @media #{$tablet}{
        background-size:cover;
    }
    
    background-size: contain; 
    background-color: #dedede;
}



// Copied from shared styles, needs checking to remove redundancy:
.l-background-fixed {
	position: fixed;
	width: 100%;
	z-index: 1;
    display: block;
    background-color: $colorBrand;
    @media #{$desktop} {
        overflow: hidden;
    }

    img {
        max-height: none;
    }
}

.l-container {
    @media #{$desktop} {
       -webkit-border-radius: 10px;
       border-radius:10px;    
       margin-left: 2.5%;
       margin-right: 2.5%;
    }
}

.l-body-container {
	position: relative;
}

.l-body-container-pushed {
    @media #{$mobile}{
        margin-top:61px;             
    }

    @media #{$tablet}{
        margin-top: 82px;
        margin-left: -10px;
        margin-right: -10px;
    }
    @media #{$desktop} {
        margin-top: 0px;
    }   
}

.l-body-section-filled {
	position: relative;
	z-index: 5;
	background-color: $white;

    @media #{$mobile} {
        padding-left: 0;
        padding-right: 0;
    }
}

.l-body-section-filled > section {
        padding-left:0;
        padding-right:0;
}

.l-background-image-container {
    background-size:cover;
    background-position-x:center;
    background-position-y:center;
    @media #{$desktop} {
        background-image: none !important;
    }
}

.l-body-section-transparent {
    -webkit-border-radius: 10px;
    border-radius:10px;    
    position: relative;
	z-index: 5;
	overflow: hidden;
    padding-bottom: 80px;
    @media #{$mobile} {
       padding-top: 40px;
       padding-bottom: 40px;
    }
    @media #{$tablet} {
      min-height: 480px;
      padding-top: 80px;
      padding-bottom: 40px;
    }
}

.l-content-container {
    padding-bottom: 50px;

    h1 {
        margin-bottom: 10px; 
        margin-top: 15px;
    }

    h2 {
        margin-bottom: 3px; 
    }

    article {
        padding-bottom: 7px;
        h2 {
            line-height:44px;
        }
        h3 {
          margin-bottom: 3px; 
        }
    }

    @media #{$desktop} {
        border-right: 1px solid rgba(0,0,0,0.1);
    }

    @media #{$mobile} {
        padding-left: 0;
        padding-right: 0;
    }
}

.l-container-square {
    -webkit-border-radius: 10px;
    border-radius:10px;       
    background-color: $white;
    margin-bottom: 120px;
        
    @media #{$desktop} {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
   }
 }

.l-vertical-align-middle {
	display: table !important;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.l-vertical-align-middle > *{
    vertical-align: middle;
	display: table-cell !important;
}

.l-vertical-list {
    margin-bottom: 0;

    li {
	    list-style: none;
	    padding: 0;
    }
}

.l-vertical-list-no-margin {
    margin-bottom: 0;

    li {
	    list-style: none;
	    margin: 0;
	    padding: 0;
    }
}

.l-dark-overlay {
    background-color: rgba(0,0,0,0.2);
    z-index:5;
    height:100%;
    width:100%;
}

.l-dashed-list {
  list-style-type: none;

    li {
        &:before {
            color: $colorPrimary;
            content: "-";
            padding-right: 30px;
        }
    }
}

footer .l-dashed-list {
    li:first-of-type {
        margin-left: 0;

        &:before {
            content: "";
            padding: 0;
        }
    }

    @media (max-width: 767px){
        li{
            list-style-type:none;
            border-bottom: 1px solid;
            padding: 15px 0;
            margin-left: 0px;
            border-bottom-color: #203332;
            display: block;

            &:last-of-type{
                border-bottom: none;
            }

            &:before {
                content: "";
                padding: 0;
            }
        }
    }
}

.l-horizontal-list > li{
    display: inline;
}

.l-list-line-seperator li {
    list-style-type:none;
    border-bottom: 1px solid;
    padding: 15px 0;

    &:last-of-type{
        border-bottom: none;
    }
}

.l-container-footer {
    padding-bottom:20px;
    padding-top:30px;
    @media #{$mobile} {
        margin-left: 0;
        padding-top: 0;
    }
}

.grid-22 {
    @media #{$desktop}{
            
            float: left;
            width: 22%;
            /* <IE7> */
            *width: expression(Math.floor(0.22 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + 'px');
            /* </IE7> */ 
    }
}

.l-container-footer > div {
    padding-left: 0;
}

.l-no-padding-left {
    padding-left: 0;
}

.l-no-padding-right {
    padding-right: 0;
}

.l-right-align {
    text-align: right;
}

.l-left-align {
    text-align: left;
}

.l-no-scroll {
	overflow: hidden;
    height: 100%;
}

/*------------ Desktop specific stylez ---------*/

.l-short-page-content {
    border-radius:10px;
    background-color: $white;

    @media #{$mobile} {
        border-radius:10px 10px 0 0;
        padding-left: 0;
        padding-right: 0;
    }
}
.l-short-page-background {
    height:100%;
}

.l-max-width-950 {
    max-width:950px;
}

.l-no-margin {
    margin:0;
}

