@model EventBanner

<a class="banner" href="@Model.Link">
    <div>
        <span class="@Model.Icon" aria-hidden="true"></span>
    </div>
    <div>
        <h3>@Model.Title</h3>
        <p>@Model.Teaser</p>
    </div>
</a>