@model StockportWebapp.Models.LiveChat
<div class="l-left-side-bar-section side-bar-section-live-chat">
    <h3>@Model.Title</h3>
    <div id="OnlineChat" class="online-chat"></div> 
    <p >
        @Model.Text
    </p>  
</div>