
<div class="l-left-side-bar-section side-bar-section-live-chat">
    <h3>Live Chat</h3>
    <div id="OnlineChat" class="online-chat"></div>
    <p>Our Live chat service is here to help you complete your website journey and subject to availability our advisers are online Monday to Friday between 9am and 4pm (excluding bank holidays).</p>
</div>