/* ------ Cookie Banner : Override WPCC imported style ------- */
.smbc-cookie-banner {
  z-index: 10000000 !important;

  @media #{$mobile, $tablet} {
    position: initial !important;
    border-radius: initial !important;
    max-width: initial !important;

    div a {
      overflow: visible !important;
    }
  }

  overflow: visible !important;

  div a {
    width: 90% !important;
  }
}

.wpcc-btn {
  box-sizing: border-box;
  text-decoration: none;
}

.wpcc-privacy {
  opacity: 1 !important;
}