/* ------ Cookie Banner : Override WPCC imported style ------- */
.smbc-cookie-banner {
  @media #{$mobile, $tablet} {
    position: initial !important;
    border-radius: initial !important;
    max-width: initial !important;

    div a {
      overflow: visible !important;
    }
  }

  overflow: visible !important;

  div a {
    width: 90% !important;
  }
}
