.error-page {
  box-shadow: 0 33px 120px $blackOpaque5;
  padding-bottom: 15px;
  height: unset;

  .error-page-message {
    line-height: 1.4;
  }

  h1 {
    padding-top: 25px;
    font-weight: 600;
    font-size: 1.875em;
  }
}
