input[type=submit].button,
input[type=button].button {
  background-image: url("/assets/images/ui-images/icon-chevron-right_2x.png");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 7px;

  @media #{$mobile} {
    min-width: 100%;
  }

  @media #{$tablet} {
    min-width: 100%;
  }
}


input.light-on-dark-field {
  font-family: $fontStackHeadings;
  font-size: 1.125em;
  border-radius: 3px;
  padding: 12px 15px;
  background-color: $colorPrimaryLight;
  color: $white;
  border: solid 1px #779897;
  min-width: 300px;
  box-sizing: border-box;

  @media #{$mobile} {
    min-width: 100%;
  }
}

/* ------- Dropdown menu ------- */
.no-js {
  .radio-list {
    .radio-item &.horizontal {
      .radio-container {
        .radio-inner {
          .radio-image {
            cursor: copy;
          }
        }
      }
    }
  }
}
