/*------------------- Main Logo ---------------------*/
.logo-main {
  > a {
    display: inline-block;
  }
}

.logo-main-image {
  margin: 0;
  padding-top: 10px;
  height: 50px;
  width: auto;

  @media #{$mobile} {
    height: 28px;
    padding-top: 4px;
  }
}

.footer-stockport-logo {
  margin-top: 0;

  img {
    height: auto;
    width: 100%;
  }

  a {
    display: inline-block;
  }

  @media #{$mobile} {
    margin-top: 25px;
    padding-bottom: 20px;

    img {
      max-width: 246px;
    }
  }
}
