.breadcrumb {
  padding: 5px 0;
  border-bottom: 1px solid $borderDefault;
  margin-bottom: 0px;

  li {
    display: inline-block;
    margin-left: 0;

    a {
      text-transform: uppercase;
      font-weight: $fontWeightMedium;
      font-size: $fontSmall;
    }
  }

  li.chevron {
    margin: 0 5px;
  }
}

/*------------------- Article Navigation -------------------*/
.article-navigation li a {
  padding-left: 10px;
  border-left: 5px solid $linkDefault;
  font-size: 1.250em;
}

.single-column ul {
  li div {
    padding-left: 0px;
    width: 18px;
  }
}

.split-article-into-columns ul {
  li {
    display: inline-block;
    line-height: 1.25;
  }

  li div {
    padding-left: 0px;
    font-size: 1em;
    display: inline;
    width: 18px;
  }

  @media #{$desktop,$tablet} {
    column-count: 2;
    column-gap: 2em;
  }
}

a.anchor {
  display: block;
  visibility: hidden;
}

iframe {
  width: 100%;
}

.header-background-color {
  background-color: $colorBrand;
}

/*------------------- Sidebar -------------------*/
aside.sidebar-right {
  padding-bottom: 20px;

  @media #{$desktop} {
    padding: 15px;
  }

  @media #{$mobile} {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.sidebar-block {
  padding-bottom: 20px;

  @media #{$desktop} {
    padding-right: 5px;
    padding-left: 5px;
  }

  h6 {
    margin-bottom: 10px;
  }
}

/*------------------- Images -------------------*/
img {
  height: auto;
  width: auto;
  max-width: 100%;
}

/*------------------- Fullscreen Overlay -------------------*/
.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 400;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  background: $colorBrand;

  &.is-open {
    opacity: 0.95;

    .overlay-content {
      @include transform(scale(1, 1));
    }
  }
}

.white-background {
  background-color: $white;
  padding: 20px;
}

/*------------------- Topic Block -------------------*/
.topic-block-list {
  margin-bottom: 25px;
  display: inline-block;
  min-width: 100%;
  text-align: center;

  @media (max-width: 1025px) {
    border-top: 1px solid $borderDefault;
    text-align: center;
  }

  .topic-block-container {
    float: none;
    display: inline-block;
  }
}

/*------------- Mobile & Tablet ----------------*/
.mobile-menu ul {
  list-style: none;
}

.mobile-menu li {
  border-top: 1px solid $whiteOpaque1;
  border-bottom: 1px solid $whiteOpaque1;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;

  &.menu-active a {
    border-top-color: $menuLightActiveDetail;
    background-color: $menuLightActive;
  }

  a {
    color: $white;
    width: 100%;
    height: 100%;
    display: block;
    background: transparent;
    padding: 10px 0;
    @include transition(background 0.25s);
    font-size: $fontMedium;

    &:hover {
      background: $menuLightHover;
      text-decoration: none;
    }
  }
}

/*--------------- Desktop --------------------*/
.header-search {
  @media #{$desktop} {
    margin: 18px 0 0 0;
  }
}

/* ------------ Address Finder ------------------- */
.info-block {
  margin-bottom: 15px;

  .info-block-actions {
    text-align: center;

    button {
      margin: auto;
      min-width: 300px;
    }
  }
}

/* ------------ Error Page ------------------- */
.error-page {
  height: 300px;
  text-align: center;

  h1 {
    font-weight: bold;
    font-size: 3.0em;
    padding-top: 15px;

    @media #{$mobile} {
      font-size: 2.0em;
      line-height: 1.5;
    }
  }
}