.timeline-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.timeline-container::after {
  content: '';
  display: table;
  clear: both;
}

#timeline {
  position: relative;
  margin-bottom: 2em;
}

#timeline .timeline-block::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: $greyLighter;
}

.timeline-block {
  position: relative;
  padding-top: 2em;

  p {
    padding: 5px 0px;
    font-size: 1.125em;
    margin-bottom: 0px
  }

  h2 {
    font: 1em/2 "Noto Sans",sans-serif;
  }
}

.timeline-block::after {
  content: "";
  display: table;
  clear: both;
}

.timeline-block:first-child {
  margin-top: 0;
}

.timeline-block:last-child {
  margin-bottom: 0;
}


.timeline-img {
  position: absolute;
  top: 45px;
  left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 0 7px rgba(0,183,155,.2);

  img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
  }
}

.timeline-img.icon-green {
  background: $tealDark;
}


#timeline .timeline-block:last-child:before {
  height: 3em;
}

.timeline-content {
  position: relative;
  margin-left: 60px;
  background: $white;
  border-radius: 0.25em;
  padding: .6em .8em .6em .8em;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,.1);

  h2 {
    color: #303e49;
    margin: 0 0 0 0;
  }

  p {
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
}

.timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-content::before {
  content: '';
  position: absolute;
  top: 18px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid $white;
}

.timeline-background {
  background-color: $offWhite;

  h1 {
    margin: 0 0 0 30px;
    padding: 0;
  }
}

/*
*
*Timeline Header Section
*
*/
#timeline-header {
  margin-bottom: 0;
  padding: 0;
  position: relative;
}

/*Vertical Line*/
#timeline-header::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #54aB9B;
}

.full-width-timeline-header {
  background: $tealDark;
}

.heaader-timeline-background {
  background-color: $tealDark;
}

.timeline-block-header {
  padding: 0;
}

.timeline-header-content {
  position: relative;
  margin-left: 60px;
  padding: 5px 0 5px 0;

  p {
    color: white;
  }

  h2 {
    font-size: 2em;
    font-weight: bold;
    color: $white;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px 0 10px 0;
    line-height: 1.3em;
  }
}

.icon-header-bulb {
  background: $teal;
  color: white;

  i {
    padding: 9px 16px 10px;
  }
}

.timeline-img-header {
  position: absolute;
  top: 20px;
  left: -5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 0 7px rgba(0,183,155,.2);

  img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
  }
}

.timeline-img-header::before {
  padding-bottom: 10px;
}

.timeline-header-content .status p {
  margin-right: 5px;
  display: inline;
}

.timeline-header-content .status h3 {
  outline: $white thick;
  background: white;
  color: $tealDark;
  border-radius: 5px;
  padding: 3px 10px;
  display: inline;
}

.report-information {
  padding-top: 5px;

  p {
    display: inline;
    padding: 5px 0 5px 0;
  }

  h3 {
    font-weight: 700;
    font-size: 1.25em;
    display: inline;
    color: $white;
    padding: 5px 0 5px 0;
  }
}
