@model StockportWebapp.ViewModels.AtoZViewModel
@{
    ViewData["Title"] = Model.CurrentLetter;
    ViewData["og:title"] = Model.CurrentLetter;
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Description"] = "Stockport Council A to Z";
}

@section Breadcrumbs {
    <partial name="Breadcrumb" model='Model.Breadcrumbs'/>
}

<div class="grid-container-full-width">
    <div class="grid-container grid-100">
        <div class="l-body-section-filled mobile-grid-100 tablet-grid-100 grid-100">
            <section aria-label="A to Z Listing" class="grid-100 mobile-grid-100">
                <div class="l-content-container l-article-container">
                    <h1 tabindex="-1" id="content">@Model.CurrentLetter</h1>
                    @if (ViewBag.Error != null)
                    {
                        <p>No results found</p>
                    }
                    <div class="atoz-listing">
                        @foreach (var item in Model.Items)
                        {
                            <div class="atoz-listing-item">
                                <h2><a href="@item.NavigationLink">@item.Title</a></h2>
                                <p>@item.Teaser</p>
                            </div>
                        }
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>