@model AtoZViewModel
@{
    ViewData["Title"] = Model.CurrentLetter;
    ViewData["og:title"] = Model.CurrentLetter;
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Description"] = "Stockport Council A to Z";
}

@section Breadcrumbs {
    <partial name="Breadcrumb" model='Model.Breadcrumbs'/>
}

<div class="grid-container-full-width">
    <div class="grid-container grid-100">
        <div class="l-body-section-filled mobile-grid-100 tablet-grid-100 grid-100">
            <section class="grid-100 mobile-grid-100">
                <div class="l-content-container l-article-container">
                    <h1 tabindex="-1" id="content">@Model.CurrentLetter</h1>
                    <h2 class="visuallyhidden">Find services A-Z</h2>
                    <ul class="atoz-links">
                        <li><a href="/atoz/a" aria-label="Find services A to Z A service">A</a></li>
                        <li><a href="/atoz/b" aria-label="B service">B</a></li>
                        <li><a href="/atoz/c" aria-label="C service">C</a></li>
                        <li><a href="/atoz/d" aria-label="D service">D</a></li>
                        <li><a href="/atoz/e" aria-label="E service">E</a></li>
                        <li><a href="/atoz/f" aria-label="F service">F</a></li>
                        <li><a href="/atoz/g" aria-label="G service">G</a></li>
                        <li><a href="/atoz/h" aria-label="H service">H</a></li>
                        <li><a href="/atoz/i" aria-label="I service">I</a></li>
                        <li><a href="/atoz/j" aria-label="J service">J</a></li>
                        <li><a href="/atoz/k" aria-label="K service">K</a></li>
                        <li><a href="/atoz/l" aria-label="L service">L</a></li>
                        <li><a href="/atoz/m" aria-label="M service">M</a></li>
                        <li><a href="/atoz/n" aria-label="N service">N</a></li>
                        <li><a href="/atoz/o" aria-label="O service">O</a></li>
                        <li><a href="/atoz/p" aria-label="P service">P</a></li>
                        <li><a href="/atoz/q" aria-label="Q service">Q</a></li>
                        <li><a href="/atoz/r" aria-label="R service">R</a></li>
                        <li><a href="/atoz/s" aria-label="S service">S</a></li>
                        <li><a href="/atoz/t" aria-label="T service">T</a></li>
                        <li><a href="/atoz/u" aria-label="U service">U</a></li>
                        <li><a href="/atoz/v" aria-label="V service">V</a></li>
                        <li><a href="/atoz/w" aria-label="W service">W</a></li>
                        <li><a href="/atoz/x" aria-label="X service">X</a></li>
                        <li><a href="/atoz/y" aria-label="Y service">Y</a></li>
                        <li><a href="/atoz/z" aria-label="Z service">Z</a></li>
                    </ul>

                    @if (ViewBag.Error is not null)
                    {
                        <p>No results found</p>
                    }

                    <div class="atoz-listing">
                        @foreach (AtoZ item in Model.Items)
                        {
                            <div class="atoz-listing-item">
                                <h2><a href="@item.NavigationLink">@item.Title</a></h2>
                                <p>@item.Teaser</p>
                            </div>
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>