.direction{
    margin-top: 20px;

    @media #{$desktop} {
        padding-right: 10px;

        &:last-child {
            padding-right: 0px;
        }
    }

    @media #{$tablet,$mobile} {
        padding-bottom: 10px;
        border-bottom: solid 1px #ccc;
    }

    .button-default {
        background-color: #ffffff;
        color: #000000;
        box-sizing: border-box;
        min-width: 100px;
        width: 100%;
        text-decoration: none;
        color: #3a716e;
        transition-duration: 0.5s;
        &:hover{ 
            -webkit-box-shadow: 5px 5px 10px #ccc;
        box-shadow: 5px 5px 10px #ccc;
        }

        i {
            color: #999999;
            width:20px;
        }

        @media #{$tablet,$mobile} {
            border: none;
            box-shadow: none;
            -webkit-box-shadow: none;
            text-decoration: none;
            color: #000000;
            font-size: 1.2em;
            font-weight: 800;
            text-align: left;

            i {
                margin-right: 20px;
            }
        }
    }
}

.embed-map-container {
     display: none;
 }
