@using StockportWebapp.Models
@{
    ViewData["BannerTypeformUrl"] = Model.TypeformUrl;
    ViewData["Title"] = Model.Title;
    ViewData["Form"] = true;
    Layout = "../Shared/_LayoutSemantic";   
}

@model StockportWebapp.ViewModels.SmartAnswerViewModel
<div class="page-container" id="smart-answers-container">
    <h1>@ViewData["Title"]</h1>
    <partial name="Components/QuestionRenderer/Semantic/QuestionForm" model='Model.Page'/>
</div>
@section Scripts
    {
    <script type="text/javascript">
        require(["stockportgov/questioncomponent/questionmodule"],
            function(module) {
                module.Init("smart/@Model.Slug");
            });
    </script>
}