.webcast {
    color: $white;
    background-image:url("/assets/images/content/runners.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height:600px;
    display:block;
    position: relative;

    @media #{$mobile}{
        min-height: 235px;
        max-height: 235px;
    }

    .webcast-gradient {
        position: relative;
        min-height: 600px;
        z-index: 10;
        @media #{$mobile}{
            min-height: 300px;
            max-height: 300px;
        }
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%);
    }

    .webcast-text {
        border-left:solid $white 5px;
        line-height:0.6;
        padding: 10px;
        position: absolute;
        bottom: 10%;
        left: 10%; 
        z-index: 20;      

        h2, p {
              color:$white;
        }

        h2 {
            margin-top: 0;
            @media #{$mobile}{
                font-size: 1.3em;
                line-height: 1.5em;
            }
        }

        p {
            line-height: 1.2;
            margin-bottom: 0;
            @media #{$mobile}{
                font-size: 0.8em;
            }
        }
    }
}