@using StockportWebapp.Models

@model ProfileNew
@{
    ViewData["Title"] = Model.Title;
    var articleTitle = Model.Breadcrumbs.LastOrDefault() != null ? Model.Breadcrumbs.LastOrDefault().Title + " - " : string.Empty;
    ViewData["og:title"] = articleTitle + Model.Title;
    ViewData["Description"] = Model.Teaser;
    Layout = "../../Shared/_LayoutSemantic.cshtml";
}

@section Breadcrumbs {
    <partial name="SemanticBreadcrumb" model='Model.Breadcrumbs' />
}

<div class="page-container">
    <h1 tabindex="-1" id="content">@ViewData["Title"]</h1>
    <p class="lead-paragraph">@Model.LeadParagraph</p>
    <hr class="thick-divider"/>
    <article>
        @Html.Raw(Model.Body)
    </article>
    <hr class="thick-divider"/>
    <h2>Did you know?</h2>
    @foreach(DidYouKnow item in Model.DidYouKnowSection)
    {
        <p><span class="si si-@item.Icon"></span>@item.Text</p>

    }
</div>

