@using StockportWebapp.Enums
@using StockportWebapp.Models

@model Profile
@{
    ViewData["Title"] = Model.Title;
    var articleTitle = Model.Breadcrumbs.LastOrDefault() != null ? Model.Breadcrumbs.LastOrDefault().Title + " - " : string.Empty;
    ViewData["og:title"] = articleTitle + Model.Title;
    Layout = "../../Shared/_LayoutSemantic.cshtml";
}

@section Breadcrumbs {
    <partial name="SemanticBreadcrumb" model='Model.Breadcrumbs' />
}

<article class="page-container">
    <p class="lead-paragraph">@Model.Subtitle</p>
    <hr class="thick-divider" />
    <section>
        @Html.Raw(Model.Body)
    </section>

    @if (Model.TriviaSection?.Count() > 0)
    {
        <hr class="thick-divider" />
        @await Component.InvokeAsync("InformationList", new {
           model = Model.TriviaSection,
           heading = Model.TriviaSubheading
       })
    }
</article>
