@using StockportWebapp.Models

@model ProfileNew
@{
    ViewData["Title"] = Model.Title;
    var articleTitle = Model.Breadcrumbs.LastOrDefault() != null ? Model.Breadcrumbs.LastOrDefault().Title + " - " : string.Empty;
    ViewData["og:title"] = articleTitle + Model.Title;
    ViewData["Description"] = Model.Teaser;
    Layout = "../../Shared/_LayoutSemantic.cshtml";
}

@section Breadcrumbs {
    <partial name="SemanticBreadcrumb" model='Model.Breadcrumbs' />
}

<div class="page-container">
    <h1 tabindex="-1" id="content">@ViewData["Title"]</h1>
    <p class="lead-paragraph">@Model.LeadParagraph</p>
    <hr class="thick-divider" />
    <article>
        @Html.Raw(Model.Body)
    </article>
    <hr class="thick-divider" />

    <article class="did-you-know">
        <h2>Did you know?</h2>
        @foreach (var didyouknow in Model.DidYouKnowSection)
        {
            <div class="grid-5 mobile-grid-10 tablet-grid-5"><span class="si si-@didyouknow.Icon"></span></div>

            <div class="grid-95 mobile-grid-90 tablet-grid-95"><p>@didyouknow.Text</p></div>
        }
    </article>
</div>
