@model ProcessedEvents
@{
    string eventWrapperCssClasses = (string)ViewData["eventWrapperCssClasses"];
    string borderTop = (string)ViewData["BorderTop"];
}

<div class="event-detail--100">
    <div class="@borderTop directory--border-top">
        <div class="@eventWrapperCssClasses">
            <partial name="LogoArea" model='@Model.EventBranding' view-data='new ViewDataDictionary(ViewData) {{"logoAreaTitleStylingBlank", true}, {"logoAreaArticle", false}, {"logoAreaTitle", "Our partners"}, {"borderTopClass", "directory--padding"}, {"eventDetailHeading", "event-detail__heading"}}' />
        </div>
    </div>
</div>