@model GenericFeaturedItemList

<section class="section event-homepage__category">
    <div class="grid-container">
        <div class="grid-100">
            <div class="section__content section__content--no-margin">
                <h2 class="visuallyhidden">Event categories</h2>

                <ul class="navcard-wrapper navcard-wrapper--no-margin event-homepage__navcard-wrapper" data-cy="navcard">
                    @foreach (GenericFeaturedItem subItem in Model.Items)
                    {
                        <partial name="EventHomepageCategory" model="subItem" />
                    }
                </ul>
            </div>
        </div>
    </div>
</section>