@using StockportWebapp.Models
@using StockportWebapp.ViewModels

@model EventCalendar
@{
    var category = Model.Homepage.Categories.Where(c => c.Slug == Model.Category).FirstOrDefault();
    ViewData["og:title"] = string.IsNullOrWhiteSpace(Model.Category) ? "What's on in Stockport" : category == null ? Model.Category : category.Name;
    ViewData["Title"] = ViewData["og:title"];
    ViewData["Description"] = "Whats on in Stockport"
    Layout = "../Shared/_Layout.cshtml";
}

@if (string.IsNullOrWhiteSpace(Model.Category))
{
    @section Breadcrumbs {
       <partial name="Breadcrumb" model='new List<Crumb>()'/>
    }
}
else
{
    @section Breadcrumbs {
        <partial name="Breadcrumb" model='new List<Crumb>() { new Crumb("What’s on in Stockport", "events", "event") }' />
    }
}

<div class="l-page-content">
    <div class="full-width-title">
        <div class="grid-container grid-parent grid-100">
            <div tabindex="-1" id="content" class="grid-70 tablet-grid-70 mobile-grid-100">
                <h1 class="full-width-title-with-button">What's on in Stockport</h1>
            </div>
            <div class="header-right-button grid-30 tablet-grid-30 hide-on-mobile">
                <stock-button as-link="true" class="button-outline-white-transparent" href="@Url.Action("AddYourEvent", "Events")">Add your event</stock-button>
            </div>
        </div>
    </div>
    
    <partial name="Events/EventsFilterBar" model='Model'/>

    @if (Model.FromSearch)
    {
        <partial name="Events/EventsResultsList" model='Model'/>
    }
    else
    {
        <partial name="Events/EventHomepage" model='Model.Homepage'/>
    }
    
    <div class="full-width-title hide-on-desktop hide-on-tablet add-button-container">
        <div class="grid-container grid-parent mobile-grid-100">
            <div class="header-right-button mobile-grid-100">
                <stock-button as-link="true" class="button-outline-white-transparent" href="@Url.Action("AddYourEvent", "Events")">Add your event</stock-button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    require(['startup', 'favourites', 'expandinglinks', 'events', 'primaryfilter', 'filters', 'matchboxconfig', 'matchHeight', 'viewmoreslider'],
        function (startup, favourites, expandinglinks, events, primaryfilter, filters, matchboxconfig, matchHeight, viewmoreslider) {
        startup.Init();
        favourites.Init();
        events.Init();       
        expandinglinks.Init();          
        primaryfilter.Init();
        filters.Init();
        matchboxconfig.Init();
        viewmoreslider.Init();
    })
</script>