@using StockportWebapp.ViewModels

@{
    ViewData["Title"] = "Events";
    Layout = "../Shared/_Layout.cshtml";
}

@section Breadcrumbs {
  
}

<div class="l-page-content">
    <div class="full-width-title">
        <div class="grid-container grid-parent grid-100">
            <div class="grid-70 tablet-grid-70 mobile-grid-100">
                <h1 class="full-width-title-with-button">Events</h1>
            </div>

        </div>
    </div>  
</div>