@{
    ViewData["Title"] = "Add Your Event - Thank You";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="grid-container-full-width">
    <div class="grid-container grid-100">
        <div class="l-body-section-filled mobile-grid-100 tablet-grid-100 grid-100">
            <section aria-label="" class="grid-100 mobile-grid-100">
                <div class="l-content-container thank-you">
                    <div class="grid-100">
                        <h1>Add your event</h1>
                        <div class="icon-bordered icon-bordered-fixed">
                            <i class="fa fa-check fa-5x" aria-hidden="true"></i>
                        </div>
                        <h2>Thank you for adding your event</h2>
                        
                        <div class="thank-you-text">
                            <h3>What happens next?</h3>
                            <p>Before your event is added to the calendar, it will be reviewed and if it is successful then it will be published on the website.</p>
                            <p>You can let us know about a change to this event by emailing us at:</p>
                            <p><a href="mailto:website.updates@stockport.gov.uk">website.updates@stockport.gov.uk</a></p>
                            <stock-button href="@Url.Action("Index", "Events")" as-link="true">Go back to Events</stock-button>
                        </div>
                        
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>