@{
    ViewData["Title"] = "Submit Event - Thank You";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="grid-container-full-width">
    <div class="grid-container grid-100">
        <div class="l-body-section-filled mobile-grid-100 tablet-grid-100 grid-100">
            <section aria-label="" class="grid-100 mobile-grid-100">
                <div class="l-content-container">
                    <div class="grid-100">
                        <h1>Submit Event</h1>
                        <p>Thank you for submitting your event</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>