@model PaymentSuccess
@{
    ViewData["Title"] = $"{Model.Title} payment successful";
    ViewData["og:title"] = $"{Model.Title} payment successful";
    ViewData["Description"] = $"{Model.Title} payment successful";
    ViewData["Type"] = "Payment";
    Layout = "../Shared/_Layout2023.cshtml";
}

<div class="grid-container-full-width" style="background-color:white;" data-cy="payment-page">
    <partial name="Breadcrumb2023" model="Model.Breadcrumbs" />

    <div class="grid-container">
        <div class="grid-100">
            <div class="article--70">
                <h1 class="h-xl article_title">@Model.Title</h1>
             </div>
            <section class="article">
                <article class="article--70">
                    <h2 class="h-l">
                        <span class="fa-regular fa-check"></span>
                        Your payment has been successful
                    </h2>
                        
                    <p>Your reference is <strong>@Model.ReceiptNumber</strong>.</p>
                    
                    <hr />
                    <p><a href="@Url.Action("Index", "Home") class="button-secondary">Go to the homepage</a></p>
                </article>
            </section>
            
        </div>
    </div>
</div>