<div class="grid-100 notification notification-error">
    <div class="icon-bordered icon-bordered-fixed">
        <i class="fa fa-exclamation fa-5x" aria-hidden="true"></i>
    </div>
    <p><strong>We're having a few problems showing you this information</strong></p>
    <p>Try again in a couple of minutes and we'll get things back up and running</p>
</div>