@{
    Layout = "../Shared/_LayoutError.cshtml";
}

<main class="grid-container">
    <div class="l-container-square l-body-container l-body-container-pushed l-body-container-mobile">
        <div class="error-page">
            <h1>Something's missing</h1>
            <p class="error-page-message">Sorry, the page you are looking for cannot be found. It may have been removed, had its name changed, or is temporarily unavailable.</p>
            <p><a href="/">Go back to the home page</a></p>
        </div>
    </div>
</main>