@{
    ViewData["Title"] = "Error";
    ViewData["og:title"] = "Error";
    Layout = "../Shared/_Layout2023.cshtml";
}

<div class="grid-container-full-width" style="background-color:white;" data-cy="error-page">
    <div class="grid-container">
        <div class="grid-100">
            <div class="article--70 article--margin-bottom error-page">
                <h1 class="article__title error-page__title">Page not found</h1>

                <div class="error__page-description" itemprop="description">
                    <div class="error__icon-heading">
                        <h2 class="h-l">
                            Sorry, the page you were looking for has either moved or is no longer available.
                        </h2>
                    </div>
                </div>

                <a href="/" id="homepage-link" class="invisible btn btn--chevron-forward btn--width-30 btn--margin-bottom  btn--margin-top">Go to the homepage</a>

                <hr class="hr-to-hide" />

                <script id="cludo-404-script" data-cid="112" data-eid="1144">
                    (function () {
                        var s = document.createElement('script');
                        s.type = 'text/javascript';
                        s.async = true;
                        s.src = 'https://customer.cludo.com/scripts/404/cludo-404.js';
                        var x = document.getElementsByTagName('script')[0];
                        x.parentNode.insertBefore(s, x);
                    })();
                </script>
                
                <script type="text/javascript">
                    (function () {
                        const target = document.querySelector('#content');
                        const config = { attributes: true, childList: true, subtree: true };
                        const observerCallback = function (mutationsList, observer) {
                            const cludoModule = document.querySelector('#cludo-404');

                            for (const mutation of mutationsList) {
                                if (mutation.type === 'attributes' && cludoModule !== null && cludoModule.classList.contains("loaded")) {
                                    observer.disconnect();

                                    if (cludoModule.classList.contains("hide-module")) {
                                        document.querySelector("#homepage-link").classList.remove("invisible");
                                        document.querySelector("hr.hr-to-hide")?.classList.add("hidden");
                                    }
                                }
                            }
                        }

                        const observer = new MutationObserver(observerCallback);
                        observer.observe(target, config);
                    })();
                </script>
            </div>
        </div>
    </div>
</div>