@{
    Layout = "../Shared/_LayoutError.cshtml";
}

<main class="grid-container">
    <div class="l-container-square l-body-container l-body-container-pushed l-body-container-mobile">
        <div class="error-page">
            <h1 id="content">@ViewData["ErrorHeading"]</h1>
            <p class="error-page-message">@ViewData["ErrorMessage"]</p>
            <p><a href="/">Go back to the home page</a></p>
        </div>
    </div>
</main>
