@using Microsoft.AspNetCore.Html
@model PublicationsTemplateViewModel
@{
    PublicationsTemplate publicationsTemplate = Model.PublicationsTemplate;
    ViewData["Title"] = publicationsTemplate.Title;
    ViewData["Description"] = publicationsTemplate.MetaDescription;
    ViewData["og:title"] = publicationsTemplate.Title;
    Layout = "../Shared/_Layout2023.cshtml";
}

<div class="grid-container-full-width" style="background-color:white;" data-cy="landing-page">
    <h1>@Model.PublicationsTemplate.Title</h1>

    @foreach (var node in publicationsTemplate.Body.GetProperty("content").EnumerateArray())
    {
        var nodeType = node.GetProperty("nodeType").GetString();

        if (nodeType == "embedded-entry-block")
        {
            var contentBlock = RichTextRenderer.GetEmbeddedContentBlock(node);
            <partial name="@contentBlock.ContentType" model="@contentBlock" />
        }
        else
        {
            @Html.Raw(RichTextRenderer.RenderTextNode(node))
        }
    }
</div>