@inject IApplicationConfiguration ApplicationConfiguration
@inject BusinessId BusinessId

<!DOCTYPE html>
<html lang=en-GB>
<head>
    <meta charset=utf-8 />
    <meta name=viewport content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type=image/png href=~/assets/images/ui-images/Favicon.png />
    <title>@ViewData["Title"]</title>
    <link rel=stylesheet href=~/assets/stylesheets/cludo-search-default.min.css asp-append-version=true />
    <link rel=stylesheet href=~/assets/stylesheets/site-hs.min.css asp-append-version=true />
    <link rel=stylesheet href=https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css />

    <partial name=CookieBanner />
    @await Component.InvokeAsync("GoogleAnalytics")

    <script type=text/javascript src=~/assets/javascript/vendor/require.min.js></Script>
</head>
<body class="@(string.Concat("type-", ViewContext.RouteData.Values["controller"].ToString().ToLower()))">
    <partial name=Header />
    @RenderBody()
    <div id="error-footer">
        <distributed-cache name=footer-hs expires-after=@TimeSpan.FromMinutes(ApplicationConfiguration.GetFooterCache(BusinessId.ToString())) enabled=true>
            @await Component.InvokeAsync("Footer")
        </distributed-cache>
    </div>

    <script>
        require(['/assets/javascript/config.js'], function() {
            require(['jquery'], function () { } );
        });
    </script>
</body>
</html>