@model CallToAction
@if (Model is null) return;
@{
    string target = Model.Link.IsExternal ? "_blank" : "_self";
    string containerClass = string.Empty;
    if (string.IsNullOrEmpty(Model.ImageUrl))
    {
        containerClass = "call-to-action__text-container no-image";
    }
    else
    {
        containerClass = "call-to-action__text-container";
    }
}

<div class="topic-container-holder-item">
    <a href=@Model.Link.Url target=@target class=call-to-action>
        <div class="@containerClass">
            <h2 class=call-to-action__text-header>@Model.Title</h2>
            @if (string.IsNullOrEmpty(Model.ImageUrl))
            {
                <p class=call-to-action__text-paragraph>@Model.Text</p>
            }
            <div class=call-to-action__text-button>@Model.Link.Text</div>
        </div>
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src=@Model.ImageUrl alt="" class=call-to-action__image />
        }
    </a>
</div>
