@model CallToActionBanner
@if (Model is null) return;
@{
    string containerClass = string.IsNullOrEmpty(Model.Image)
        ? "call-to-action__text-container no-image"
        : "call-to-action__text-container";
}

<div class="topic-container-holder-item">
    <a href=@Model.Link class=call-to-action>
        <div class="@containerClass">
            <h2 class=call-to-action__text-header>@Model.Title</h2>

            @if (string.IsNullOrEmpty(Model.Image))
            {
                <p class=call-to-action__text-paragraph>@Model.Teaser</p>
            }

            <div class=call-to-action__text-button>@Model.ButtonText</div>
        </div>
        
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <img src=@Model.Image alt=@Model.AltText class=call-to-action__image />
        }
    </a>
</div>