@using System.Threading.Tasks
@using StockportWebapp.Models
@inject IStaticAssets StaticAssets

<footer>
    @*This script enables the feedback button.*@
    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>

    <div class="grid-container">
        <div class="grid-100">
            <div class="l-container l-container-footer grid-container">
                <div class="grid-30 tablet-grid-30 tablet-push-70 push-70 footer-social-container">
                    <div class="footer-social-links">
                        <a href="https://twitter.com/healthstockport">
                            <div class="icon-bordered icon-bordered-fixed icon-container icon-twitter">
                                <i class="fa fa-twitter fa-2x"></i>
                            </div>
                        </a>
                        <a href="https://www.facebook.com/Healthy-Stockport-574374342701977">
                            <div class="icon-bordered icon-bordered-fixed icon-container icon-fb">
                                <i class="fa fa-facebook fa-2x"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid-30 tablet-grid-30 tablet-pull-30 pull-30 mobile-grid-100">
                    <div class="footer-stockport-logo">
                        <h6>Funded By</h6>
                        <a href="http://www.stockport.gov.uk">
                            <img src="@StaticAssets.UrlFor("logo-stockport-footer.png")" alt="Stockport Council Logo"/>
                        </a>
                    </div>
                </div>
                <div class="footer-links tablet-grid-40 pull-30 tablet-pull-30 grid-40 grid-100-mobile">
                    <div class="grid-50 tablet-grid-50 mobile-grid-100">
                        <ul>
                            <li>
                                <a href="/contact-us">Contact Us</a>
                            </li>
                            <li>
                                <a href="/about">About Us</a>
                            </li>
                            <li>
                                <a href="/accessibility">Accessibility</a>
                            </li>
                            <li>
                                <a href="/privacy-policy">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid-50 tablet-grid-50 mobile-grid-100">
                        <ul>
                            <li>
                                <a href="/terms-and-conditions">Terms and Conditions</a>
                            </li>
                            <li>
                                <a href="/cookies">Cookies</a>
                            </li>
                            <li>
                                <a class="typeform-share link" href="https://stockportcouncil.typeform.com/to/X5KuXC" data-mode="1" target="_blank">Feedback</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-100 footer-bottom">
        <p>
            &copy; Copyright @DateTime.Now.Year <a href="http://www.stockport.gov.uk">Stockport Council</a> All Rights Reserved
        </p>
    </div>
</footer>
