<div class="l-header-container">
    <header id="header" class="grid-100 mobile-grid-100">
        <div class="grid-25 mobile-grid-60 tablet-grid-50 logo-main">
            <a href="/"><img src="/assets/images/ui-images/logo-main@2x.png" alt="Healthy Stockport" title="Welcome to Healthy Stockport" class="logo-main-image"></a>
        </div>
    </header>
</div>