@inject StockportWebapp.FeatureToggling.FeatureToggles featureToggles

<div class="l-header-container">
    <nav class="skip-to-main-content healthy-skip" aria-label="skip to main content">
        <a href="#content" class="skip-main"> Skip to main content </a>
    </nav>
    <header id="header" class="grid-container grid-100">
        <div class="grid-50 mobile-grid-50 tablet-grid-50 logo-main">
            <a href="/"><img src="/assets/images/ui-images/logo-main@2x.png" alt="Healthy Stockport Logo Homepage Link " title="Welcome to Healthy Stockport" class="logo-main-image"></a>
        </div>
        <div class="grid-50 mobile-grid-50 tablet-grid-50 grid-parent">
            <div class="header-container grid-100 grid-parent">
                <div class="grid-50 grid-parent header-myaccount">
                    <div class="menu">
                        @if (featureToggles.ReciteMeTrial)
                        {
                            <div class="menu-logged-out pull-right">
                                <a href="#" id="reciteMe"><span class="fa fa-headphones hide-on-mobile" aria-hidden="true"></span>Accessibility</a>
                            </div>
                        }
                    </div>
                </div>
                <div class="grid-parent pull-right header-search-bar">
                    <partial name="HeaderSearchBar" />
                </div>
            </div>
        </div>

    </header>

</div>
<partial name="MobileSearchBar" />
