<div class="search-bar-header-container hide-on-mobile hide-on-tablet">
	<div class="search-bar-header">
		<partial name="Search" model='new Tuple<string, string, string, string>("cludo-search-form", "Search", "search-bar", "search website")' />
	</div>
</div>

<a href="#" class="show-search-button hide-on-desktop"><span class="visuallyhidden"> submit search</span>
    <span class="fa fa-search" aria-hidden="true"></span>
</a>
