
<div class="l-header-container">
    <div  tabindex="-1" class="skip-to-main-content hide-on-mobile hide-on-tablet healthy-skip">
        <a href="#content" class="skip-main"> Skip to main content </a>
    </div>
    <header id="header" class="grid-container grid-100">
        <div class="grid-75 mobile-grid-60 tablet-grid-50 logo-main">
            <a href="/"><img src="/assets/images/ui-images/logo-main@2x.png" alt="Healthy Stockport" title="Welcome to Healthy Stockport" class="logo-main-image"></a>
        </div>
        <div class="grid-25 mobile-grid-25 tablet-grid-50 grid-parent pull-right">
            <div class="header-container grid-100 grid-parent">
                <div class="grid-parent pull-right header-search-bar">
                    @Html.Partial("HeaderSearchBar")
                </div>
            </div>
        </div>
        
    </header>

</div>
@Html.Partial("MobileSearchBar")