@model SubItem

<li class="article-list-item grid-100 topic-secondary__item">
    <a href="@Model.NavigationLink">
        <div class="article-list-container topic-secondary__header">
            <h2 class="topic-secondary__title">@Model.Title</h2>
            <p>@Model.Teaser</p>
        </div>
    </a>

    @if (!(bool)ViewData["IsLast"])
    {
        <hr>
    }

</li>
