@model StockportWebapp.ViewModels.ArticleViewModel

<header class="article-navigation-header">
    <nav class="l-vertical-list-no-margin article-navigation">
        <ul>
            @{var i = 1;}
            @foreach (var sec in Model.Article.Sections)
            {
                <li class="@(sec.Slug == Model.DisplayedSection.Slug ? "nav-active" : "")">
                    <a href="@Model.Article.NavigationLink/@sec.Slug#content">@i.ToString(). @sec.Title</a>
                </li>
                i++;
            }
        </ul>
    </nav>
</header>