@model SiteHeader;

<div class="site-header grid-container-full-width">
    <nav aria-label="Skip to main content">
        <div class="skip-to-main-content">
            <a href="#content" class="skip-main">Skip to main content</a>
        </div>
    </nav>

    <header role="banner" id="header" class="grid-container" data-cy="header-new">
        <div class="grid-25 tablet-grid-80 mobile-grid-80">
            <a href="/" style="float:left" class="site-header_logo">
                <img src="@Model.Logo?fm=webp" 
                    class="site-header_logo--image"
                    width="330"
                    height="50"
                    alt="Stockroom logo">
            </a>
        </div>

        <nav class="site-header_menu font--bold-extra-squeezed">
            <label for='menu'>
                <svg viewBox="0 0 24 24" width="50" height="50" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier"></g><g id="SVGRepo_iconCarrier"><g clip-path="url(#clip0_429_11066)"><path d="M3 6.00092H21M3 12.0009H21M3 18.0009H21" stroke="#292929" stroke-width="3"></path></g><defs><clipPath id="clip0_429_11066"><rect width="24" height="24" fill="white" transform="translate(0 0.000915527)"></rect></clipPath></defs></g></svg>
                <span class="visuallyhidden">Menu</span>
            </label>
            
            <input id='menu' type='checkbox' />

            <ul>    
                @foreach(SubItem item in Model.Items)
                {
                    <li class="site-header_menu-item">
                        <a href="@item.NavigationLink">
                            @item.Title
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </header>
</div>