@model SiteHeader;

<div class="site-header grid-container-full-width">
    <nav aria-label="Skip to main content">
        <div class="skip-to-main-content">
            <a href="#content" class="skip-main">Skip to main content</a>
        </div>
    </nav>

    <header role="banner" id="header" class="grid-container" data-cy="header-new">
        <a href="/" style="float:left" class="site-header_logo">
            <img src="@Model.Logo" 
                    class="site-header_logo--image"
                    width="394"
                    height="50"
                    alt="Stockroom logo">
        </a>
        
        <nav class="site-header_menu font--bold-extra-squeezed">
            <label class="h-xxl" for='menu' tabindex="0">
                Menu
            </label>
            <input id='menu' type='checkbox' />

            <ul>    
                @foreach(var item in Model.Items)
                {
                    <li class="site-header_menu-item h-xxl">
                        <a href="@item.NavigationLink">
                            @item.Title
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </header>
</div>