@model StockportWebapp.QuestionBuilder.Entities.Question

@* Temporarily adding inline styling for the error message *@
<style>
    .input-error-content {
        padding: 6px;
        margin-top: 50px;
    }

    .input-error-content:before {
        display: none;
    }
</style>


<span data-questionid="@Model.QuestionId" aria-atomic="true" role="alert" style="display: none;" class="input-error-content field-validation-error">
    <span>@(Model.ValidationResult?.Message ?? "")</span>
</span>
