@model StockportWebapp.QuestionBuilder.Entities.Question

@* Temporarily adding inline styling for the error message *@
<style>
    .input-error-content {
        padding: 5px 0 5px 10px;
    }

     .input-error-content:before {
        top: -45px;
     }

    @@media only screen and (max-width: 767px)
    {
        .input-error-content:before {
            top: -38px;
        }
    }
</style>


<span data-questionid="@Model.QuestionId" aria-atomic="true" role="alert" style="display: none;" class="input-error-content field-validation-error">
    <span>@(Model.ValidationResult?.Message ?? "")</span>
</span>
