@model StockportWebapp.QuestionBuilder.Entities.Page

<div>
    <section class="alert-information-form">
        <span class="fa fa-info-circle"></span>
        <p>@Model.Alert.Content</p>
    </section>
</div>