@model StockportWebapp.QuestionBuilder.Entities.Question

    <div class="form-section question-section">
        <div class="g-recaptcha reCaptcha" data-sitekey="6LfAeSIUAAAAAGsx6tYHz4MIvhP0pSx9Tq7Hf8Yx" data-callback="enableBtn"></div> 
    </div>

<script type="text/javascript">
    require(['startup', 'jquery.steps', 'recaptcha', 'utils', 'unobtrusive'],
        function(startup) {
            startup.Init();
        });
    
   function enableBtn(){
       console.log("enable button");

       document.getElementById("button").removeAttribute("disabled");
       document.getElementById("button").classList.remove("button-disabled");
   }
</script>