@model StockportWebapp.QuestionBuilder.Entities.Page

<div>
    <section class="alert-warning-form">
        <span class="fa fa-exclamation-circle"></span>
        <p>@Model.Alert.Content</p>
    </section>
</div>